<div class="mamufas">
  <section class="block modal <%= modal_type %>">
    <div class="head">
      <h3><%= title %></h3>
    </div>
    <div class="content">
      <div class="sample">
      <h4>Example response</h4>
        <p>http://saleiva.cartodb.com/api/v2/sql?q=SELECT * FROM JCD_2014</p>
      </div>
      <h4>Example response</h4>
      <p><%= description %></p>
      <code>
        <pre>
 {”time”:0.062,”fields”:
 {
    ”timestamp”:{”type”:”string”},
    ”gender”:{”type”:”string”},
    ”age”:{”type”:”string”},”
    usual_location”:{”type”:”string”},
    ”_4_twitter_username”:{”type”:”string”},
    ”_5_approximate_year_and_month_when_you_first_became...
        </pre>
      </code>
    </div>
    <div class="foot">
      <p>
        Remember that using the CartoDB SQL API you can perform any SQL query to either yours or other users tables
      </p>
      <a href="#go" class="right ok <%= ok_button_classes %>"><%= ok_title %></a>
    </div>
  </section>
</div>
