<div class="js-avatarSelector">
  <div class="Form-rowLabel">
    <label class="Form-label">
      <% if (inputName == "user[avatar_url]") { %>
        Avatar
      <% } else if (inputName == "organization[avatar_url]") { %>
        Organization logo
      <% } %>
    </label>
  </div>
  <div class="Form-rowData Form-avatar">
    <div class="Form-avatarPreview">
      <img src="<%- avatarURL %>" title="<%- username %>" alt="<%- username %>" class="Form-avatarPreviewImage" />
      <% if (state === "loading") { %>
        <div class="Form-avatarPreviewLoader">
          <div class="Spinner Form-avatarPreviewSpinner"></div>
        </div>
      <% } %>
    </div>
    <input class="js-fileAvatar" type="file" value="Choose image" accept="image/*" />
    <input class="js-inputAvatar" id="user_avatar_url" name="<%- inputName %>" type="hidden" value="<%- avatarURL %>" />
    <div class="Form-rowInfo Form-rowInfo--marginLeft">
      <% if (state === "error") { %>
        <p class="Form-rowInfoText Form-rowInfoText--error Form-rowInfoText--multipleLines">There was an error uploading your avatar. Check the height and size (max 1MB) of the image</p>
      <% } else { %>
        <p class="Form-rowInfoText">Recommended images should be 128x128 pixels of size</p>
      <% } %>
    </div>
  </div>
</div>
