<div class="js-avatarSelector">
  <div class="FormAccount-rowLabel">
    <label class="FormAccount-label">
      <% if (inputName == "user[avatar_url]") { %>
        Avatar
      <% } else if (inputName == "organization[avatar_url]") { %>
        Organization logo
      <% } %>
    </label>
  </div>
  <div class="FormAccount-rowData FormAccount-avatar">
    <div class="FormAccount-avatarPreview">
      <img src="<%- avatarURL %>" title="<%- username %>" alt="<%- username %>" class="FormAccount-avatarPreviewImage" />
      <% if (state === "loading") { %>
        <div class="FormAccount-avatarPreviewLoader">
          <div class="Spinner FormAccount-avatarPreviewSpinner"></div>
        </div>
      <% } %>
    </div>
    <% var formated_extensions = avatar_valid_extensions.join(",").replace(/\./g, 'image/') %>
    <input class="js-fileAvatar" type="file" value="Choose image" accept="<%= formated_extensions %>" />
    <input class="js-inputAvatar" id="user_avatar_url" name="<%- inputName %>" type="hidden" value="<%- avatarURL %>" />
    <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
      <% if (state === "error") { %>
        <p class="FormAccount-rowInfoText FormAccount-rowInfoText--error FormAccount-rowInfoText--maxWidth">There was an error uploading your avatar. Check the height and size (max 1MB) of the image</p>
      <% } else { %>
        <p class="FormAccount-rowInfoText FormAccount-rowInfoText--smaller">Recommended images should be 128x128 pixels of size</p>
      <% } %>
    </div>
  </div>
</div>