<div class="mamufas">
  <section class="block modal <%= modal_type %>">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3><%= title %></h3>
      <% if (description) { %>
        <p class="margin5"><%= description %></p>
      <% } %>
    </div>
    <div class="content">
      <ul>
        <li class="option public">
          <a class="radiobutton" data-privacy="PUBLIC"><span class="radio"></span><span>Make it available to anyone</span><i></i></a>
        </li>
        <li class="option private">
          <a class="radiobutton" data-privacy="PRIVATE"><span class="radio"></span><span>Keep this table private</span><i></i></a>
        </li>
      </ul>
    </div>
    <% if(include_footer) { %>
      <div class="foot">
        <a href="#go" class="right ok <%= ok_button_classes %>"><%= ok_title %></a>
      </div>
    <% } %>
  </div>
</div>
