<% if (name == "the_geom" && joinType == "regular") { %>
<a href="#<%= name %>" title="<%= name %>" class="radiobutton small disabled"><span class="radio"></span><%= name %></a>
<% } else if (name == "the_geom" && joinType == "spatial") { %>

<% if (source == 'destiny') { %>
<a href="#<%= name %>" title="<%= name %>" class="radiobutton small selected"><span class="radio"></span><%= name %></a>
<% } else { %>
<a href="#<%= name %>" title="<%= name %>" class="small"><%= name %></a>
<% } %>

<% } else if (name != "the_geom" && joinType != "regular") { %>

<% if (source == 'origin') { %>
<a href="#<%= name %>" title="<%= name %>" class="small"><%= name %></a>
<% } else { %>
<a href="#<%= name %>" title="<%= name %>" class="radiobutton small"><span class="radio"></span><%= name %></a>
<% } %>


<% } else { %>
<a href="#<%= name %>" title="<%= name %>" class="radiobutton small"><span class="radio"></span><%= name %></a>
<% } %>

<% if (joinType != "spatial" || (joinType == 'spatial' && source == 'origin')) { %>
<a href="#switch" class="right switch <%= switchSelected ? "enabled" : "disabled" %>"><span class="handle"></span></a>
<% } %>

