<% if (name == "the_geom" && joinType == "regular") { %>
  <a href="#<%= name %>" class="radiobutton small disabled"><span class="radio"></span><%= name %></a>
<% } else if (name == "the_geom" && joinType == "spatial") { %>
  <a href="#<%= name %>" class="radiobutton small selected"><span class="radio"></span><%= name %></a>
<% } else if (name != "the_geom" && joinType != "regular") { %>
  <a href="#<%= name %>" class="radiobutton small disabled"><span class="radio"></span><%= name %></a>
<% } else { %>
  <a href="#<%= name %>" class="radiobutton small"><span class="radio"></span><%= name %></a>
<% } %>
<a href="#switch" class="right switch <%= columnSelected ? "enabled" : "disabled" %>"><span class="handle"></span></a>