<div class="mamufas">
  <section class="block modal <%= modal_type %>">
  <a href="#close" class="close">x</a>
  <div class="head">
    <h3><%= title %></h3>
    <% if (description) { %>
    <p class="margin5"><%= description %></p>
    <% } %>
  </div>
  <div class="content"></div>
  <div class="foot">
    <% if (show_upgrade_message && account_type === 'free') { %>
    <p class="left info">
    Since you are under the free plan your data cannot be private.
    Need private data? <a href="<%= upgrade_url %>?utm_source=Dashboard_Importing_Table&utm_medium=referral&utm_campaign=Upgrade_from_Dashboard&utm_content=Upgrade%20your%20account">Upgrade your account</a> (14 days free trial)
    <% } %>
    </p>
    <a href="#go" class="right ok <%= ok_button_classes %>"><%= ok_title %></a>
  </div>
  </section>

  <section class="block modal error">
  <a href="#close" class="close">x</a>
  <div class="head">
    <h3>An error ocurred when importing your data</h3>
  </div>
  <div class="error_content">
  </div>
  <div class="foot">
    <a href="#go" class="right button cancel grey">Ok, close</a>
  </div>
  </section>
</div>
