<div class="mamufas">
  <section class="block modal <%= modal_type %>">
  <a href="#close" class="close">x</a>
  <div class="head">
    <h3><%= title %></h3>
    <% if (description) { %>
    <p class="margin5"><%= description %></p>
    <% } %>
  </div>
  <div class="content"></div>
  <div class="foot">
    <!--
    <div class="privacy left">
      <a href="#switch" class="<%= private_tables ? 'enabled' : 'disabled' %> switch" data-tipsy="Private tables are only<br />included in paid plans<br /><a href='#'>Upgrade your account</a>"><span class="handle"></span></a> 
      <label>Create as private</label>
    </div>
    -->
    <a href="#go" class="right ok <%= ok_button_classes %>"><%= ok_title %></a>
  </div>
  </section>

  <section class="block modal error">
  <a href="#close" class="close">x</a>
  <div class="head">
    <h3>An error ocurred when importing your data</h3>
  </div>
  <div class="error_content">
  </div>
  <div class="foot">
    <a href="#go" class="right button cancel grey">Ok, close</a>
  </div>
  </section>
</div>
