<div class="msg <%= type %>">
  <% if (type == "dependent") { %>
    <a href="#/open" class="open"><%= visualizations.length %> <%= visualizations.length == 1 ? "visualization" : "visualizations" %></a> will be deleted since this is the only layer on them.
  <% } else if (type == "non_dependent") { %>
    This layer will dissapear from <a href="#/close" class="open"><%= visualizations.length %> <%= visualizations.length == 1 ? "visualization" : "visualizations" %></a>
  <% } else if (type == "synced"){ %>
    This table is synced by url, if you delete it, it will stop synchronizing.
  <% } %>
</div>
<div class="visualizations">
  <%= visualization_list %>
</div>