<div class="Dialog-header ErrorDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--negative">
    <i class="CDB-IconFont CDB-IconFont-cloud"></i>
  </div>
  <h3 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m">
    <%- title %> <% if (errorCode) { %>(<%- errorCode %>)<% } %>
  </h3>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">
    <% if (itemQueueId) { %>
      Don’t panic, here's some info that might help
    <% } else { %>
      Check errors
    <% } %>
  </p>
</div>
<div class="Dialog-body ErrorDetails-body">
  <ul class="ErrorDetails-list CDB-Text CDB-Size-medium u-altTextColor">
    <% if (httpResponseCode) { %>
      <li class="ErrorDetails-item">
        <div class="ErrorDetails-itemStep">1</div>
        <div class="ErrorDetails-itemText">
          The remote server returned a <span class="ErrorDetails-itemTextStrong"><%- httpResponseCode %></span> code. <%- httpResponseCodeMessage %>
        </div>
      </li>
      <li class="ErrorDetails-item">
        <div class="ErrorDetails-itemStep">2</div>
        <div class="ErrorDetails-itemText">
          Check that the URL you provided is OK: <br/>
          <span class="ErrorDetails-itemTextStrong"><a href="<%- originalUrl %>"><%- originalUrl %></a></span>
        </div>
      </li>
    <% } else { %>
      <li class="ErrorDetails-item">
        <div class="ErrorDetails-itemStep">1</div>
        <div class="ErrorDetails-itemText">
          <% if (text) { %>
          <%= cdb.core.sanitize.html(text) %>
          <% } else { %>
          An unknown error has happened
          <% } %>
        </div>
      </li>
    <% } %>
    <% if (itemQueueId) { %>
      <li class="ErrorDetails-item">
        <div class="ErrorDetails-itemStep">!</div>
        <div class="ErrorDetails-itemText">
          Persisting error? Please <a href="mailto:support@carto.com">send us</a> your username and the following code: <br/>
          <span class="ErrorDetails-itemTextStrong"><%- itemQueueId %></span>
        </div>
      </li>
    <% } %>
  </ul>
</div>
<div class="Dialog-footer ErrorDetails-footer">
  <button class="CDB-Button CDB-Button--secondary cancel">
    <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-upperCase">close</span>
  </button>
</div>
