<div class="mamufas">
  <section class="block modal <%= modal_type %>">
    <% if (cancelEnabled) { %>
      <a href="#/close" class="close">x</a>
    <% } %>
    <div class="head">
      <h3><%= title %></h3>
    </div>
    <div class="content">
      <% if (description) { %>
        <p class="margin5"><%= description %></p>
      <% } %>
    </div>
    <% if(include_footer) { %>
      <div class="foot">
        <% if (cancelEnabled) { %>
          <a href="#/cancel" class="left cancel margin15 <%= cancel_button_classes %>"><%= cancel_title %></a>  
        <% } else { %>
          <a href="#/back-to-dashboard" class="left back margin15">Back to dashboard</a>  
        <% } %>
        <a href="#/go" class="right ok <%= ok_button_classes %>"><%= ok_title %></a>
      </div>
    <% } %>
  </section>
</div>