<div class='PublicPage-body PublicPage-background--navyBlue PublicPage-centerContainer'>
  <div class='PublicPage-container'>

    <div class='PublicPage-header'>
      <a href="<%- home %>">
        <svg width="92" height="36" viewBox="0 0 92 36" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="evenodd"><path d="M74 36c9.94 0 18-8.06 18-18S83.94 0 74 0 56 8.06 56 18s8.06 18 18 18z" fill-opacity=".2"/><path d="M6.253 23.982c2.514 0 3.968-1.1 5.045-2.592l-2.384-1.705c-.685.836-1.388 1.394-2.58 1.394-1.6 0-2.726-1.346-2.726-3.068v-.033c0-1.674 1.126-3.05 2.726-3.05 1.094 0 1.846.54 2.5 1.344l2.383-1.854c-1.013-1.394-2.515-2.378-4.85-2.378-3.462 0-6.01 2.624-6.01 5.97v.033c0 3.427 2.63 5.937 5.896 5.937zm10.48-.23h3.314l.816-2.066h4.425l.817 2.066H29.5L24.636 12.19h-3.053l-4.85 11.562zm5.06-4.543l1.29-3.248 1.275 3.247h-2.564zM35.67 23.75h3.168v-3.477h1.404l2.302 3.477h3.642L43.46 19.75c1.42-.606 2.35-1.77 2.35-3.542v-.033c0-1.13-.343-2-1.012-2.673-.768-.77-1.976-1.23-3.723-1.23H35.67v11.48zm3.168-5.97v-2.77h2.09c1.045 0 1.714.458 1.714 1.376v.033c0 .838-.637 1.362-1.698 1.362h-2.106zm16.423 5.97h3.168V15.06h3.43v-2.788h-10.01v2.788h3.413v8.692zM74 24c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6z"/></g></svg>
      </a>
    </div>

    <p class='CDB-Text CDB-Size-large is-light u-whiteTextColor u-bSpace--xl'><%- title %></p>

    <div class='PublicPage-form'>
      <div class="PublicPage-field-withTooltip">
        <input type="password" autocomplete="off" class="js-input PublicPage-form--inputText RoundBorders-all CDB-Text CDB-Size-medium is-light u-whiteTextColor <% if (hasError) { %>is-alert<% } %>" placeholder="<%- placeholder %>">

        <% if (hasError) { %>
        <div class="PublicPage-inputTooltip CDB-InfoTooltip CDB-InfoTooltip--left u-lSpace--xl is-error">
          <p class='CDB-Text CDB-Size-medium CDB-InfoTooltip-text'><%- error %></p>
        </div>
        <% } %>
      </div>
    </div>

    <p class='CDB-Text CDB-Size-medium is-light u-hintTextColor u-tSpace-xl'><%- hint %></p>
  </div>
</div>
