<ul>
  <li>
    <a class="small" href="<% if (isInsideOrg) {%><%= cdb.config.organizationUrl() %><% } %>/your_apps">
      Your API keys
    </a>
  </li>
  <% if ( !isOrgAdmin ) { %>
    <li>
      <a class="small" href="
      <% if (isInsideOrg) { %>
        <%= cdb.config.organizationUrl() %>/organization/users/<%= username %>/edit
      <% } else { %>
        //<%= account_host %>/account/<%= username %>
      <% } %>
      ">Account settings</a>
    </li>
  <% } else { %>
    <li><a class="small" href="<%= cdb.config.organizationUrl() %>/organization">Organization</a></li>
  <% } %>
  <li><a class="small" href="/logout">Close session</a></li>
</ul>
