<li data-type="<%= title %>">
  <h4>$<%= price %><small>/mo</small></h4>
  <p class="sub"><%= desc %></p>
  <div class="top">
    <ul class="info">
      <li><p><%= tables_quota %></p></li>
      <li><p><%= bytes_quota %></p></li>
    </ul>
  </div>
  <div class="bottom">
    <a href="#upgrade" class="button grey small radiobutton"><span class="radio"></span>Upgrade</a>
    <p class="margin20 light">Or pay <a href="#jam" class="pay">xxx/yr</a></p>
  </div>
</li>