<li data-type="<%= title %>">
  <h4>$<%= price %><small>/mo</small></h4>
  <p class="sub"><%= desc %></p>
  <ul class="info">
    <li><p><%= tables_quota %></p></li>
    <li><p><%= bytes_quota %></p></li>
  </ul>
  <a href="#upgrade" class="button green small radiobutton"><span class="radio"></span>Upgrade</a>
</li>