<% if (totalAnalyzed === totalItems) { %>
  <% if (totalSuccess > 0) { %>
    <div class="ImportItem-text is-completed">
      We discovered <%= totalSuccess %> interesting map<%- (totalSuccess === 1) ? '' : 's' %>!
    </div>
    <button class="Button Button-importShowDetails js-show_dialog">SHOW</button>
    <% } else {%>
    <div class="ImportItem-text is-failed">
      We couldn't discover any interesting map in this in this dataset.
    </div>
    <% } %>
  <button class="ImportItem-closeButton js-close">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } else { %>
  <div class="ImportItem-text">
    Analyzing columns (<%= totalAnalyzed %>/<%= totalItems %>)
  </div>
  <div class="ImportItem-progress">
    <div class="progress-bar">
      <span class="bar-2" style="width:<%= progress %>%"></span>
    </div>
  </div>
  <button class="ImportItem-closeButton js-abort">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } %>
