<div class="Dialog-header BackgroundPollingDetails-header TwitterImportDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--positive">
    <i class="CDB-IconFont CDB-IconFont-twitter"></i>
    <span class="Badge Badge--positive Dialog-headerIconBadge">
      <i class="CDB-IconFont CDB-IconFont-check"></i>
    </span>
  </div>
  <h3 class="Dialog-headerTitle">Your Twitter <%- type %> is created</h3>
  <p class="Dialog-headerText">
    <% if (datasetTotalRows === 0) { %>
      Your search query was correct but returned no results, please try with a different set of parameters before running it again
    <% } else { %>
      We've created a new <%- type %> containing a total of <%- datasetTotalRowsFormatted %> <br/>tweet<%- datasetTotalRows != 1 ? 's' : '' %> with your search terms
    <% } %>
  </p>
</div>
<div class="BackgroundPollingDetails-body">
  <div class="LayoutIcon BackgroundPollingDetails-icon <%- tweetsCost > 0 ? 'is-nonFree' : 'is-free' %>">
    <i class="CDB-IconFont CDB-IconFont-dollar"></i>
  </div>
  <div class="BackgroundPollingDetails-info">
    <h4 class="BackgroundPollingDetails-infoTitle">
      <% if (tweetsCost > 0) { %>
        $<%- tweetsCostFormatted %> will be charged to your account
      <% } else { %>
        No extra charges have been done
      <% } %>
    </h4>
    <p class="BackgroundPollingDetails-infoText DefaultParagraph">
      <% if (tweetsCost > 0 || availableTweets <= 0) { %>
        You have consumed all your credits during this billing cycle (price is $<%- blockPriceFormatted %>/<%- blockSizeFormatted %> extra credits).
      <% } else { %>
        You still have <%- availableTweetsFormatted %> credit<%- availableTweets != 1 ? 's' : ''  %> left for this billing cycle.
      <% } %>
    </p>
  </div>
</div>
<div class="Dialog-footer BackgroundPollingDetails-footer">
  <a href="<%- mapURL %>" class="Button Button--secondary BackgroundPollingDetails-footerButton">
    <span>view <%- type %></span>
  </a>
</div>
