<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon">
    <i class="iconFont iconFont-Trash"></i>
    <span class="Badge Dialog-headerIconBadge"><%= totalCount %></span>
  </div>
  <p class="Dialog-headerTitle">You are about to delete <%= totalCount %> <%= pluralizedContentType %>.</p>
  <p class="Dialog-headerText">We recommend you to export your <%= pluralizedContentType %> before deleting <%= totalCount > 1 ? 'them' : 'it' %>.</p>
</div>
<% if (affectedUsersCount > 0) { %>
  <div class="Dialog-body DeleteItems-affectedUsers">
    <p class="DefaultParagraph"><%= affectedUsersCount %> users will loose access to your <%= pluralizedContentType %></p>
    <div>
      <% affectedUsersSample.forEach(function(user) { %>
        <span class="UserAvatar">
          <img class="UserAvatar--medium" src="<%= user.get('avatar_url') %>" alt="<%= user.get('name') || user.get('username') %>" title="<%= user.get('name') || user.get('username') %>" />
        </span>
      <% }); %>
      <% if (affectedUsersCount > affectedUsersSampleCount) { %>
        <div class="UserAvatar">
          <span class="UserAvatar--medium UserAvatar--moreItems" />
        </div>
      <% } %>
    </div>
  </div>
<% } %>
<div class="Dialog-footer u-inner DeleteItems-footer">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="Button Button--negative js-ok">
    <span>Ok, delete</span>
  </button>
</div>
