<div class="Dialog-header">
  <div class="Dialog-headerIcon">
    <i class="iconFont iconFont-Trash"></i>
    <span class="Dialog-headerIconBadge"><%= totalCount %></span>
  </div>
  <p class="Dialog-headerTitle">You are about to delete <%= totalCount %> <%= pluralizedContentType %>.</p>
  <p class="Dialog-headerText">We recommend you to export your <%= pluralizedContentType %> before deleting <%= totalCount > 1 ? 'them' : 'it' %>.</p>
</div>
<!--
<div class="Dialog-body">
</div>
-->
<div class="Dialog-footer">
  <button class="Button Button--secondary cancel">
    <span>cancel</span>
  </button>
  <button class="Button Button--negative js-ok">
    <span>Ok, delete</span>
  </button>
</div>
