<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon">
    <i class="iconFont iconFont-Trash"></i>
    <span class="Badge Dialog-headerIconBadge"><%= selectedCount %></span>
  </div>
  <p class="Dialog-headerTitle">You are about to delete <%= selectedCount %> <%= pluralizedContentType %>.</p>
  <p class="Dialog-headerText">
    <% if (affectedVisCount > 0) { %>
      Doing so will imply changes in <strong><%= affectedVisCount %> affected <%= pluralizedMaps %></strong>.
    <% } %>
    We recommend you to export your <%= pluralizedContentType %> before deleting <%= selectedCount > 1 ? 'them' : 'it' %>.
  </p>
</div>

<% if (affectedVisCount > 0) { %>
  <div class="Dialog-body DeleteItems-affectedMaps">
    <% visibleAffectedVis.forEach(function(vis) { %>
      <div class="MapCard DeleteItems-affectedMapsCard">
        <div class="MapCard-header MapCard-header--compact"></div>
        <div class="MapCard-content">
          <div class="MapCard-contentBody">
            <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
              <h3 class="DefaultTitle">
                <p class="DefaultTitle-link u-ellipsLongText" title="<%= vis.name %>"><%= vis.name %></p>
              </h3>
              <% if (vis.showPermissionIndicator) { %>
                <span class="PermissionIndicator"></span>
              <% } %>
            </div>
            <div class="MapCard-contentBodyTimeDiff DefaultTimeDiff">
              <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
              <%= vis.timeDiff %>
              <% if (!vis.isOwner) { %>
                by <span class="UserAvatar">
                  <img class="UserAvatar--smaller" src="<%= vis.owner.avatar_url %>" alt="<%= vis.owner.name || vis.owner.username  %>" title="<%= vis.owner.name || vis.owner.username  %>" />
                </span>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
<% } %>

<% if (affectedEntitiesCount > 0) { %>
  <div class="Dialog-body DeleteItems-affectedEntities">
    <p class="DefaultParagraph"><%= affectedEntitiesCount %> users will loose access to your <%= pluralizedContentType %></p>
    <div>
      <% affectedEntitiesSample.forEach(function(user) { %>
        <span class="UserAvatar DeleteItems-affectedEntitiesAvatar">
          <img class="UserAvatar--medium" src="<%= user.get('avatar_url') %>" alt="<%= user.get('name') || user.get('username') %>" title="<%= user.get('name') || user.get('username') %>" />
        </span>
      <% }); %>
      <% if (affectedEntitiesCount > affectedEntitiesSampleCount) { %>
        <div class="UserAvatar DeleteItems-affectedEntitiesAvatar">
          <span class="UserAvatar--medium UserAvatar--moreItems" />
        </div>
      <% } %>
    </div>
  </div>
<% } %>

<div class="Dialog-footer u-inner DeleteItems-footer">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="Button Button--negative js-ok">
    <span>Ok, delete</span>
  </button>
</div>
