<div class="MergeDatasets">
  <div class="MergeDatasets-list">
    <div class="List List--selections">
      <div class="List-row is-disabled">
        <div class="List-rowItem List-rowItem--tight">
          <select disabled="disabled">
            <option><%- leftTableName %></option>
          </select>
        </div>
      </div>
      <div class="List-row is-disabled">
        <div class="List-rowItem">
          <div class="List-rowItemContentLeft">
            <div class="RadioButton">
              <button class="RadioButton-input is-checked is-disabled" />
            </div>
            <div>
              <div class="DefaultTitle"><%- leftKeyColumn.get('name') %></div>
              <p class="DefaultParagraph DefaultParagraph--tertiary"><%- leftKeyColumn.get('type') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="List js-left-columns"></div>

    <% /* temporary fix until the list styles are done, so select-all-toggle is visible… */ %>
    <br/><br/><br/><br/><br/>
  </div>

  <div class="MergeDatasets-list">
    <div class="List List--selections">
      <div class="List-row is-disabled">
        <div class="List-rowItem List-rowItem--tight">
          <select disabled="disabled">
            <option><%- rightTableName %></option>
          </select>
        </div>
      </div>
      <div class="List-row is-disabled">
        <div class="List-rowItem">
          <div class="List-rowItemContentLeft">
            <div class="RadioButton">
              <button class="RadioButton-input is-checked is-disabled" />
            </div>
            <div>
              <div class="DefaultTitle"><%- rightKeyColumn.get('name') %></div>
              <p class="DefaultParagraph DefaultParagraph--tertiary"><%- rightKeyColumn.get('type') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="List js-right-columns"></div>

    <% /* temporary fix until the list styles are done, so select-all-toggle is visible… */ %>
    <br/><br/><br/><br/><br/>
  </div>
</div>
