<div class="MergeDatasets">
  <div class="MergeDatasets-list">
    <div class="List">
      <select disabled="disabled">
        <option><%- actualTableName %></option>
      </select>

      <div class="List">
        <div class="List-row">
          <div class="List-rowItem">
            <div class="RadioButton">
              <button class="RadioButton-input is-checked" />
            </div>
            <div>
              <div class="DefaultTitle"><%- actualKeyColumn.get('name') %></div>
              <p class="DefaultParagraph DefaultParagraph--tertiary"><%- actualKeyColumn.get('type') %></p>
            </div>
          </div>
          <div></div>
        </div>
      </div>

      <div class="List js-actual-columns">
      </div>
    </div>
  </div>
  <div class="MergeDatasets-list">
    <div class="List">
      <select disabled="disabled">
        <option><%- mergeTableName %></option>
      </select>

      <div class="List">
        <div class="List-row">
          <div class="List-rowItem">
            <div class="RadioButton">
              <button class="RadioButton-input is-checked" />
            </div>
            <div>
              <div class="DefaultTitle"><%- mergeKeyColumn.get('name') %></div>
              <p class="DefaultParagraph DefaultParagraph--tertiary"><%- mergeKeyColumn.get('type') %></p>
            </div>
          </div>
          <div></div>
        </div>
      </div>

      <div class="List js-merge-columns"></div>
    </div>
  </div>
</div>
