<div class="info">

  <div class="user-info">

    <div class="avatar">
      <a href="<%= public_visualizations_home_url(user_domain: params[:user_domain]) %>" class="circle">
        <img src="<%= @avatar_url %>" />
      </a>
    </div>

    <div class="details">
      <%= content_tag :h2, @organization.name || @organization.display_name %>

      <%= link_to "@#{@twitter_username}", "http://twitter.com/#{@twitter_username}", :class => :twitter if @twitter_username.present? %>

      <%= content_tag :p, @organization.description if @organization.description.present? %>

      <% if @website.present? %>

        <% if @description.present? || @twitter_username.present?  %>
        <div class="separator"></div>
        <% end %>

        <div class="website"><%= link_to @website_clean, @website %></div>
      <% end %>
    </div>

    <ul>
      <li><div class="count"><strong></strong></div></li>
      <li><div class="count"><strong></strong></div></li>
    </ul>

  </div>