<% if @tags.size > 0 %>
  <ul class="tags">
    <li><strong>Browse by tag</strong></li>

    <% @tags.each_with_index do |tag, i| %>
      <li<%= " class='#{i == 0 ? "first" : "last" }'" if i == 0 || i == @tags.size - 1 %>>
        <% if params[:tag] && params[:tag] == tag %>
          <%= tag.capitalize.truncate(40) %>

          <% if action_name == 'datasets' %>
          <%= link_to "x", "/datasets", { :class => "close" } %>
          <% else %>
          <%= link_to "x", "/", { :class => "close" } %>
        <% end %>

        <% else %>

          <% if action_name == 'datasets' %>
          <%= link_to tag.capitalize.truncate(40), public_datasets_tag_url(user_domain: params[:user_domain], tag: tag) %>
          <% else %>
          <%= link_to tag.capitalize.truncate(40), public_tag_url(user_domain: params[:user_domain], tag: tag) %>
          <% end %>

        <% end %>
      <% end %>
      </li>
    </ul>
  <% end %>
