<div class="info">

  <div class="user-info">

    <div class="avatar">
      <a href="/" class="circle">
        <img src="<%= @avatar_url %>" />
      </a>
    </div>

    <div class="details">
      <%= content_tag :h2, @name if @name.present? %>

      <%= link_to "@#{@twitter_username}", "http://twitter.com/#{@twitter_username}", :class => :twitter if @twitter_username %>

      <%= content_tag :p, @description if @description.present? %>

      <% if @website.present? %>

        <% if @description.present? || @twitter_username.present?  %>
        <div class="separator"></div>
        <% end %>

        <div class="website"><%= link_to @website_clean, @website %></div>
      <% end %>
    </div>
    <ul>
      <% if action_name == 'datasets' %>
        <li><div class="count"><strong><%= @tables_num %></strong>dataset<%= @tables_num == 1 ? '' : 's' %></div></li>
        <li><a href="/" class="count"><strong><%= @vis_num %></strong>visualization<%= @vis_num == 1 ? '' : 's' %></a></li>
      <% else %>
        <li><a href="/datasets" class="count"><strong><%= @tables_num %></strong>dataset<%= @tables_num == 1 ? '' : 's' %></a></li>
        <li><div class="count"><strong><%= @vis_num %></strong>visualization<%= @vis_num == 1 ? '' : 's' %></div></li>
      <% end %>
    </ul>

  </div>
