  <% content_for(:page_title) do %>
    <%= current_user.username %> |
  <% end %>

  <%= content_for(:js) do %>
    <%= javascript_include_tag 'cdb.js', 'models.js', 'templates.js', 'application.js', 'common_data.js' %>
    <script type="text/javascript">
      var username = "<%= current_user.username %>"
      var user_data = <%= safe_js_object current_user.data.to_json %>;
      var config = <%= safe_js_object frontend_config %>;
      var mixpanel_token = "<%= Cartodb.config[:mixpanel]['token'] if Cartodb.config[:mixpanel].present? %>";
    </script>
  <% end %>

  <%= content_for(:css) do %>
    <%= stylesheet_link_tag 'common.css', 'dashboard.css', 'common_data.css', :media => 'all' %>
  <% end %>

  <div class="subheader active">
    <div class="inner">
      <h2>Enhance your maps by importing any of these free-to-use helpful datasets</h2>
    </div>
  </div>

  <div class="main_loader">
    <span class="loader"></span>
    <p>Getting datasets...</p>
  </div>

  <div class="content">
    <article class="empty">
      <div class="inner">
        <h3>Oops! There was an error</h3>
        <p>Unfortunately our CartoFante can't show you all the available common datasets, please come back in a while. If the problem persists, don't hesitate to contact us at <a href="mailto:support@cartodb.com">support@cartodb.com</a>.</p>
      </div>
    </article>

    <article class="public_tables">
      <div class="inner">
        <aside class="options"></aside>
        <section class="tables"></section>
      </div>
    </article>

    <article class="support">
      <div class="inner">
        <section class="left">
        <h3>Don’t find what you are looking for?</h3>
        <p>Try in our <a href="https://groups.google.com/forum/#!forum/cartodb" title="CartoDB Google Group">Google Group</a> or in our <a href="http://gis.stackexchange.com/questions/tagged/cartodb">community forums</a>, there may be some users looking forward to helping you.</p>
        </section>
      </div>
    </article>
  </div>
