<%= content_for(:title) do %>
  Datasets by <%= @name %> on CartoDB
<% end %>

<%= content_for(:description) do %>
  <%= @name %> is creating and sharing public datasets using CartoDB
<% end %>

<div class="PublicBody-content">
  <% if @datasets.size == 0 %>
    <%= render 'admin/shared/new_no_results', is_maps: false, alt_url: public_visualizations_home_url(user_domain: params[:user_domain]) %>
  <% else %>
    <ul class="DatasetsList">
      <% @datasets.each do |vis| %>
        <% user_domain = vis[:owner].organization ? vis[:owner].username : nil %>
        <li class="DatasetsList-item">
          <div class="DatasetsList-itemPrimaryInfo">
            <div class="DatasetsList-itemCategory is--<%= vis[:geometry_type] %>Dataset"></div>
            <div class="DatasetsList-itemInfo">
              <h3 class="DatasetsList-itemTitle DefaultTitle">
                <a href="<%= public_table_url(user_domain: user_domain, id: vis[:title]) %>" title="<%= vis[:title] %>" class="DefaultTitle-link u-ellipsLongText"><%= vis[:title] %></a>
              </h3>
              <p class="DefaultDescription u-ellipsLongText"><%= raw vis[:desc] %></p>
            </div>
          </div>
          <div class="DatasetsList-itemSecondaryInfo">
            <div class="DatasetsList-itemMeta">
              <%= render 'admin/pages/shared/new_like_button', vis: vis %>
              <div class="RowsIndicator">
                <i class="iconFont iconFont-Rows RowsIndicator-icon"></i>
                <%= pluralize(vis[:rows_count], 'row') %>
              </div>
              <div class="SizeIndicator">
                <i class="iconFont iconFont-Floppy SizeIndicator-icon"></i>
                <%= number_to_human_size(vis[:size_in_bytes]) %>
              </div>
              <div class="DatasetsList-itemTimeDiff DefaultTimeDiff">
                <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
                <%= time_ago_in_words(vis[:updated_at]) %>
              </div>
            </div>
            <div class="DatasetsList-itemTags">
              <div class="DefaultTags">
                <% if vis[:tags].size > 0 %>
                  <% formatted_tags(vis[:tags]) do |tag| %><a class="DefaultTags-item js-tag-link" href="<%= public_datasets_tag_url(user_domain: user_domain, tag: tag) %>"><%= tag %></a><% end %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render 'admin/shared/new_pagination' %>
