<%= content_for(:title) do %>
  Datasets by <%= @name %> on CartoDB
<% end %>

<%= content_for(:description) do %>
  <%= @name %> is creating and sharing public datasets using CartoDB
<% end %>

<div class="PublicBody-content">
  <% if @datasets.size == 0 %>
    <%= render 'admin/shared/new_no_results', is_maps: false, alt_url: CartoDB.url(self, 'public_visualizations_home') %>
  <% else %>
    <ul class="DatasetsList">
      <% @datasets.each do |vis| %>
        <li class="DatasetsList-item">
          <div class="DatasetsList-itemCategory is--<%= vis[:geometry_type] %>Dataset"></div>
          <div class="DatasetsList-itemInfo">
            <div class="DatasetsList-itemPrimaryInfo">
              <h3 class="DatasetsList-itemTitle DefaultTitle">
                <a href="<%= CartoDB.url(self, 'public_table', {id: vis[:title]}, vis[:owner]) %>" title="<%= vis[:title] %>" class="DefaultTitle-link u-ellipsLongText"><%= vis[:title] %></a>
              </h3>
              <div class="DefaultDescription DatasetsList-itemDescription u-ellipsLongText"><%= raw vis[:description_html_safe] %></div>
            </div>
            <div class="DatasetsList-itemSecondaryInfo">
              <div class="DatasetsList-itemMeta">
                <%= render 'admin/pages/shared/new_like_button', vis: vis %>
                <div class="RowsIndicator">
                  <i class="iconFont iconFont-Rows RowsIndicator-icon"></i>
                  <%= pluralize(vis[:rows_count], 'row') %>
                </div>
                <div class="SizeIndicator">
                  <i class="iconFont iconFont-Floppy SizeIndicator-icon"></i>
                  <%= number_to_human_size(vis[:size_in_bytes]) %>
                </div>
                <div class="DatasetsList-itemTimeDiff DefaultTimeDiff">
                  <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
                  <%= time_ago_in_words(vis[:updated_at]) %>
                </div>
              </div>
              <div class="DatasetsList-itemMeta">
                <div class="DefaultTags">
                  <% if vis[:tags].size > 0 %>
                    <% formatted_tags(vis[:tags]) do |tag| %><a class="DefaultTags-item js-tag-link" href="<%= CartoDB.url(self, 'public_datasets_tag', {tag: tag}, vis[:owner]) %>"><%= tag %></a><% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render 'admin/pages/shared/pagination' %>
