<%= content_for(:title) do %>
  Maps by <%= @name %> on CartoDB
<% end %>

<%= content_for(:description) do %>
  <%= @name %> is creating maps and visualizations using CartoDB
<% end %>

<div class="PublicBody-content">
  <% if @visualizations.size == 0 %>
    <%= render 'admin/shared/new_no_results', is_maps: true, alt_url: public_datasets_home_url(user_domain: params[:user_domain]) %>
  <% else %>
    <ul class="MapsList">
      <% @visualizations.each do |vis| %>
        <% user_domain = vis[:owner].organization ? vis[:owner].username : nil %>
        <li class="MapsList-item">
          <div class="MapCard" data-vizjson-url="<%= api_v2_visualizations_vizjson_url(user_domain: user_domain, id: vis[:id]) %>.json">
            <a href="<%= public_visualizations_public_map_url(user_domain: user_domain, id: vis[:id]) %>" class="MapCard-header js-header">
              <div class="MapCard-loader js-header-loader"></div>
            </a>
            <div class="MapCard-content">
              <div class="MapCard-contentBody">
                <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
                  <h3 class="DefaultTitle">
                    <a href="<%= public_visualizations_public_map_url(user_domain: user_domain, id: vis[:id]) %>" class="DefaultTitle-link u-ellipsLongText" title="<%= vis[:title] %>"><%= vis[:title] %></a>
                  </h3>
                </div>

                <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
                  <% if vis[:desc] %>
                    <p class="DefaultDescription" title="<%= vis[:desc] %>"><%= raw truncate(vis[:desc], :length => 85) %></p>
                  <% else %>
                    <span class="DefaultDescription is--empty"></span>
                  <% end %>
                </div>

                <div class="DefaultTags MapCard-contentBodyRow">
                  <% if vis[:tags].size > 0 %>
                    <% formatted_tags(vis[:tags]) do |tag| %>
                      <a class="DefaultTags-item js-tag-link" href="<%= public_tag_url(user_domain: user_domain, tag: tag) %>"><%= tag %></a>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="MapCard-contentFooter">
                <div class="MapCard-contentFooterDetails--left">
                  <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
                    <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
                    <%= time_ago_in_words(vis[:updated_at]) %>
                  </div>
                </div>
                <div class="MapCard-contentFooterDetails--right">
                  <%= render 'admin/pages/shared/new_like_button', vis: vis %>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      <%# at most 3 cards per line, visbility is handled by CSS depending on viewport size %>
      <% ((3 - @visualizations.size + 3) % 3).times.each do %>
        <li class="MapsList-item MapsList-item--fake">
          <div class="MapCard">
            <div class="MapCard-header MapCard-header--fake"></div>
            <div class="MapCard-content"></div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render 'admin/pages/shared/pagination' %>
