<%= content_for(:title) do %>CartoDB · Datasets by <%= @name %><% end %>
<%= content_for(:description) do %><%= @page_description %><% end %>

<div class="PublicBody-content">
  <% if @datasets.size == 0 %>
    <%= render 'admin/shared/no_results', is_maps: false, alt_url: CartoDB.url(self, 'public_visualizations_home') %>
  <% else %>
    <ul class="MapsList">
      <% @datasets.each do |vis| %>
        <li class="MapsList-item">
          <div class="MapCard MapCard--squared MapCard--borderless" data-zoom="<%= vis[:map_zoom] %>" data-vizjson-url="<%= CartoDB.url(self, 'api_v2_visualizations_vizjson', { id: vis[:id] }, vis[:owner]) %>.json">
            <a href="<%= CartoDB.url(self, 'public_table', { id: vis[:title] }, vis[:owner]) %>" class="MapCard-header js-header">
              <div class="MapCard-loader"></div>
            </a>
            <div class="MapCard-content">
              <div class="MapCard-contentFooter MapCard-contentFooter--with-icon">
                <div class="MapCard-contentFooterIcon">
                  <div class="DatasetsList-itemCategory is--<%= vis[:geometry_type] %>Dataset"></div>
                </div>
                <div class="MapCard-contentFooterDetails">
                  <div class="MapCard-contentFooterTitle u-ellipsLongText">
                    <h3 class="MapCard-title DefaultTitle u-ellipsLongText">
                      <a href="<%= CartoDB.url(self, 'public_table', {id: vis[:title]}, vis[:owner]) %>" class="DefaultTitle-link u-ellipsLongText" title="<%= vis[:title] %>"><%= vis[:title] %></a>
                    </h3>
                  </div>

                  <div class="MapCard-contentFooterDetails-actions">
                    <%= render 'shared/pages/like_button', vis: vis %>
                    <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
                      <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
                      <%= time_ago_in_words(vis[:updated_at]) %> ago
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render 'admin/pages/shared/pagination' %>
