<%= content_for(:title) do %>CartoDB · Datasets by <%= @name %><% end %>

<%= content_for(:description) do %><%= @page_description %><% end %>

<div class="PublicBody-content">
  <% if @datasets.size == 0 %>
    <%= render 'admin/shared/no_results', is_maps: false, alt_url: CartoDB.url(self, 'public_visualizations_home') %>
  <% else %>
    <ul class="DatasetsList">
      <% @datasets.each do |vis| %>
        <li class="DatasetsList-item">
          <div class="DatasetsList-itemCategory is--<%= vis[:geometry_type] %>Dataset"></div>
          <div class="DatasetsList-itemInfo">
            <div class="DatasetsList-itemPrimaryInfo">
              <h3 class="DatasetsList-itemTitle DefaultTitle">
                <a href="<%= CartoDB.url(self, 'public_table', {id: vis[:title]}, vis[:owner]) %>" title="<%= vis[:title] %>" class="DefaultTitle-link u-ellipsLongText"><%= vis[:title] %></a>
              </h3>
              <div class="DefaultDescription DatasetsList-itemDescription u-ellipsLongText"><%= raw vis[:description_html_safe] %></div>
            </div>
            <div class="DatasetsList-itemSecondaryInfo">
              <div class="DatasetsList-itemMeta">
                <%= render 'admin/pages/shared/like_button', vis: vis %>
                <% if !vis[:rows_count].blank? %>
                  <div class="RowsIndicator">
                    <i class="iconFont iconFont-Rows RowsIndicator-icon"></i>
                    <% if vis[:rows_count] < 10000 %>
                      <%= number_with_delimiter(vis[:rows_count]) %>
                    <% else %>
                      <%= number_to_human(vis[:rows_count], units: { unit:"", thousand: "K", million: "M" }, precision: 2, format: '%n%u') %>
                    <% end %>
                    <%= 'row'.pluralize(vis[:rows_count]) %>
                  </div>
                <% end %>
                <div class="SizeIndicator">
                  <i class="iconFont iconFont-Floppy SizeIndicator-icon"></i>
                  <%= number_to_human_size(vis[:size_in_bytes]) %>
                </div>
                <div class="DatasetsList-itemTimeDiff DefaultTimeDiff">
                  <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
                  <%= time_ago_in_words(vis[:updated_at]) %> ago
                </div>
              </div>
              <div class="DatasetsList-itemMeta">
                <div class="DatasetsList-itemTags DefaultTags">
                  <% if vis[:tags].size > 0 %>
                    <%# Keep on one line to avoid unwanted spaces %>
                    <% formatted_tags(vis[:tags]) do |tag| %><a class="DefaultTags-item js-tag-link" href="<%= CartoDB.url(self, 'public_datasets_tag', {tag: tag}, vis[:owner]) %>"><%= tag %></a><% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render 'admin/pages/shared/pagination' %>
