<%= content_for(:js) do %>

  <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&v=3.12"></script>

    <% if !Rails.env.production? %>
      <%= javascript_include_tag 'cdb.js', 'public_dashboard' %>
    <% else %>
      <script src="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/cartodb.js"></script>
      <%= javascript_include_tag 'public_dashboard' %>
    <% end %>

  <!--[if lt IE 9]>
  <%= javascript_include_tag "respond.js" %>
  <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('footer');
  </script>
  <![endif]-->

<% end %>

<%= content_for(:css) do %>

  <%= stylesheet_link_tag "common", "dashboard", "public_dashboard" %>
  <link rel="stylesheet" href="//cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/themes/css/cartodb.css" />
  <!--[if lte IE 8]>
  <%= stylesheet_link_tag "public_dashboard_ie" %>
  <![endif]-->
<% end %>

<div class="content empty">

  <div class="inner">
    <%= render(:partial => 'organization_info') %>
    <%#= render(:partial => 'tags', :locals => {:collection => @tags }) %>
  </div>

  <div class="visualizations">
    <div class="empty_placeholder">
      <%= @organization.name %> doesn't have any public maps
    </div>
  </div>

</div>

