<%= content_for(:title) do %>
  Maps by <%= @name %> on CartoDB
<% end %>

<%= content_for(:description) do %>
  <%= @name %> is creating maps and visualizations using CartoDB
<% end %>

<%= content_for(:js) do %>
  
  <% urls = [] %>

  <% @visualizations.map do |v| 
    urls.push(
      :url => vis_json_url(v[:id], self, v[:owner]),
      :layer_visibility => v[:layers].map{ |layer| { visible: layer.options["visible"] ? true : false } },
    )
  end %>

  <script type="text/javascript">
    var visualizations = <%= safe_js_object urls.to_json %>;
    var no_cdn =  <%= !Rails.env.production? ? true : false %>;
    var user_name = '<%= @username %>';
    var cartodb_com_hosted = <%= cartodb_com_hosted? %>;
  </script>

  <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&v=3.12"></script>
  <%= javascript_include_tag 'cdb.js', 'templates', 'public_dashboard' %>
<% end %>


<div class="content<%= " empty" if @visualizations.size == 0 %>">
  <div class="inner">
    <div class="info">
      <%= render(:partial => 'admin/pages/shared/user_info') %>
      <%= render(:partial => 'admin/pages/shared/tags', :locals => {:collection => @tags }) %>
    </div>

    <div class="visualizations">
      <% if @visualizations.size == 0 %>
        <div class="empty_placeholder">
          <%= @name %> <%= 'organization' if defined?(@organization) %> doesn't have any public maps
        </div>
      <% end %>

      <% if @visualizations.size > 0 %>
        <ul>
          <% @visualizations.each_with_index do |vis, i| %>

            <li>
              <div class="map-wrapper<%= " headless" if vis[:tags].size == 0 %>">

                <div class="backdrop"></div>
                <div id="map_<%= i %>" class="map"></div>

                <div class="title">
                  <h2><a href="<%= CartoDB.url(self, 'public_visualizations_public_map', {id: vis[:id]}, vis[:owner]) %>"><%= vis[:title] %></a></h2>
                  <p><%= raw (vis[:description_html_safe] ? vis[:description_html_safe] : "") %></p>
                </div>
                <div class="gradient"></div>

                <a href="<%= CartoDB.url(self, 'public_visualizations_show', {id: vis[:id]}, vis[:owner]) %>" class="edit button grey small">edit this</a>
              </div>

              <% if vis[:tags].size > 0 %>
              <div class="header">
                <% if vis[:tags].size > 0 %>
                  <ul class="tags">
                    <% vis[:tags].each do |tag| %>
                      <li><h3><%= link_to tag, CartoDB.url(self, 'public_tag', {tag: tag}, vis[:owner]), :rel => "tag" %></h3></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if @visualizations.size > 0 %>
        <div class="pagination">
          <% if @pages > 1 %>

            <% if @pages > 1 && params[:page].to_i > 1 %>
              <% p = params[:page] || 1 %>
              <% if params[:tag] %>
                <a class="prev" href="<%= CartoDB.url(self, 'public_tag_page', {tag: params[:tag], page: (p.to_i-1)}) %>">Prev</a>
              <% else %>
                <a class="prev" href="<%= CartoDB.url(self, 'public_page', {page: (p.to_i-1)}) %>">Prev</a>
              <% end %>
            <% end %>

            <ul>
              <% @pages.times do |i| %>
                <% if params[:tag] %>
                  <li <%= "class='selected'" if ((!params[:page] && i == 0) || (params[:page].to_i - 1) == i) %>>

                    <a href="<%= CartoDB.url(self, 'public_tag_page', {tag: params[:tag], page: (i+1)}) %>"></a>
                  </li>
                <% else %>
                  <li <%= "class='selected'" if ((!params[:page] && i == 0) || (params[:page].to_i - 1) == i) %>>
                    <a href="<%= CartoDB.url(self, 'public_page', {page: (i+1)}) %>"></a>
                  </li>
                <% end %>
              <% end %>
            </ul>

            <% if @pages > 1 && (params[:page].to_i < @pages) %>
              <% p = params[:page] || 1 %>
              <% if params[:tag] %>
                <a class="next" href="<%= CartoDB.url(self, 'public_tag_page', {tag: params[:tag], page: (p.to_i+1)}) %>">Next</a>
              <% else %>
                <a class="next" href="<%= CartoDB.url(self, 'public_page', {page: (p.to_i+1)}) %>">Next</a>
              <% end %>
            <% end %>

          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
