<% content_for(:page_title) do %>
  <%= current_user.username %> |
<% end %>

<%= content_for(:js) do %>
  <%= javascript_include_tag :application %>
  <script type="text/javascript">
    $(function() {

      var $a = $("a.copy");
      $a.attr('data-tipsy', 'Copy to your tables');
      $a.tipsy({ title:"data-tipsy", fade: true, gravity: 's' });

    });
  </script>
<% end %>

<%= content_for(:css) do %>
  <%= stylesheet_link_tag :common, :tables, :pages, :media => 'all' %>
<% end %>

<div class="content">
  <article class="public_tables">
  <div class="inner">   

    <div class="header">
      <h2><i class="table"></i>16 Common data tables</h2>
      <p>Import any of them to your account and start playing with them</p>
    </div>

    <table>

      <tr>

        <td class="name">
          <a href="http://cartodb.s3.amazonaws.com/static/TM_WORLD_BORDERS_SIMPL-0.3.zip" class="name">World borders</a>
          <p>World countries borders</p>
        </td>

        <td class="info">
          <div class="stats">231 KB &middot; 13 ROWS</div>
        </td>

        <td class="separator">
          <div class="separator"></div>
        </td>

        <td class="copy">
          <a href="#" class="copy">copy</a>
        </td>

      </tr>

      <tr>

        <td class="name">
          <a href="http://cartodb.s3.amazonaws.com/static/european_countries.zip" class="name">European countries</a>
          <p>European countries geometries</p>
        </td>

        <td class="info">
          <div class="stats">165 KB &middot; 13 ROWS</div>
        </td>

        <td class="separator">
          <div class="separator"></div>
        </td>

        <td class="copy">
          <a href="#" class="copy">copy</a>
        </td>

      </tr>

      <tr>
        <td class="name">
          <a href="http://cartodb.s3.amazonaws.com/static/50m-urban-area.zip" class="name">Urban Areas</a>
          <p>Areas of human habitation</p>
        </td>
        <td class="info">
          <div class="stats">449 KB &middot; 13 ROWS</div>
          <div class="author">by <a href="http://naturalearthdata.com">naturalearthdata.com</a></div>
        </td>
        <td class="separator">
          <div class="separator"></div>
        </td>
        <td class="copy">
          <a href="#" class="copy">copy</a>
        </td>
      </tr>

      <tr>
        <td class="name">
          <a href="http://cartodb.s3.amazonaws.com/static/10m-populated-places-simple.zip" class="name">Populated places</a>
          <p>Most populated places</p>
        </td>
        <td class="info">
          <div class="stats">682 KB &middot; 13 ROWS</div>
          <div class="author">by <a href="http://naturalearthdata.com">naturalearthdata.com</a></div>
        </td>
        <td class="separator">
          <div class="separator"></div>
        </td>
        <td class="copy">
          <a href="#" class="copy">copy</a>
        </td>
      </tr>

      <tr>
        <td class="name">
          <a href="http://cartodb.s3.amazonaws.com/static/50m-rivers-lake-centerlines-with-scale-ranks.zip" class="name">World rivers</a>
          <p>Most of the world rivers</p>
        </td>
        <td class="info">
          <div class="stats">430 KB &middot; 13 ROWS</div>
          <div class="author">by <a href="http://naturalearthdata.com">naturalearthdata.com</a></div>
        </td>
        <td class="separator">
          <div class="separator"></div>
        </td>
        <td class="copy">
          <a href="#" class="copy">copy</a>
        </td>
      </tr>

      <tr>
        <td class="name">
          <a href="http://cartodb.s3.amazonaws.com/static/counties_ny.zip" class="name">New York Counties</a>
          <p>All the New York counties</p>
        </td>
        <td class="info">
          <div class="stats">16 KB &middot; 13 ROWS</div>
        </td>
        <td class="separator">
          <div class="separator"></div>
        </td>
        <td class="copy">
          <a href="#" class="copy">copy</a>
        </td>
      </tr>

      <tr>
        <td class="name">
          <a href="http://cartodb.s3.amazonaws.com/static/nyc_subway_entrance.zip" class="name">NYC Subways</a>
          <p>All the NYC Subways</p>
        </td>
        <td class="info">
          <div class="stats">62 KB &middot; 13 ROWS</div>
        </td>
        <td class="separator">
          <div class="separator"></div>
        </td>
        <td class="copy">
          <a href="#" class="copy">copy</a>
        </td>
      </tr>

    </table>

  </div>
  </article>

  <article class="support" style="display: inline-block;">
  <div class="inner">   
    <section class="left">
    <h3>Don’t find what you are looking for?</h3>
    <p>Try in our <a href="https://groups.google.com/forum/#!forum/cartodb" title="CartoDB Google Group">Google Group</a>, there may be some users looking forward to help you.</p>
    </section>
  </div>
  </article>
</div>
