<div class="PublicBody-content PublicBody--marginless PublicBody--grey">
  <div class="PublicUserProfile">
    <div class="PublicUserProfile-profile">

      <h2 class="PublicUserProfile-name"><%= @viewed_user.name || @viewed_user.username %></h2>

      <% unless @viewed_user.description.nil? %>
        <p class="PublicUserProfile-description"><%= @viewed_user.description %></p>
      <% end %>

      <ul class="PublicUserProfile-details">
        <% unless @viewed_user.twitter_username.nil? %>
          <li class="PublicUserProfile-detail"><i class="iconFont iconFont-Twitter iconFont--with-label"></i> <a href="http://twitter.com/<%= @viewed_user.twitter_username %>"><%= @viewed_user.twitter_username %></a></li>
        <% end %>

        <% unless @viewed_user.website.nil? %>
          <li class="PublicUserProfile-detail"><i class="iconFont iconFont-Anchor iconFont--with-label"></i> <a href="<%= @viewed_user.website %>"><%= @viewed_user.website %></a></li>
        <% end %>

        <li class="PublicUserProfile-detail"><i class="iconFont iconFont-Clock iconFont--with-label"></i> CartoDB</li>

        <li class="PublicUserProfile-detail"><i class="iconFont iconFont-Email iconFont--with-label"></i> <a href="mailto:<%= @viewed_user.email %>"><%= @viewed_user.email %></a></li>
        <li class="PublicUserProfile-detail"><i class="iconFont iconFont-Clock iconFont--with-label"></i> Madrid</li>
        <li class="PublicUserProfile-detail"><i class="iconFont iconFont-Calendar iconFont--with-label"></i> Member since <%= @viewed_user.created_at.strftime("%B %Y") %></li>
      </ul>
    </div>

    <div class="PublicUserFeed js-feed"></div>

    <ul class="PublicUserFeed" style="display:none">
      <li class="PublicUserFeed-item">
        <div class="PublicUserFeed-avatar">
          <% if @avatar_url %>
            <img src="<%= @avatar_url %>" class="UserAvatar-img UserAvatar-img--big" />
          <% else %>
            <div class="UserAvatar-img UserAvatar-img--big UserAvatar-img--no-src"></div>
          <% end %>
        </div>

        <div class="MapCard MapCard--borderless MapCard--long" data-zoom="1" data-vizjson-url="http://development.localhost.lan:3000/api/v2/viz/38062724-4662-11e5-a60c-080027880ca6/viz.json">
          <a href="#" class="MapCard-header js-header">
            <div class="MapCard-loader"></div>
            <div class="MapCard-error" style="display: block;"></div></a>

          <div class="MapCard-content">
            <div class="MapCard-contentBody">
              <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
                <h3 class="MapCard-title DefaultTitle">
                  <a href="http://development.localhost.lan:3000/viz/38062724-4662-11e5-a60c-080027880ca6/public_map" class="DefaultTitle-link u-ellipsLongText" title="fadslf jasdñlfjasdñlfjsdañl fjasdfasdfa+ fas dfasdfadslf jasdñlfjasdñlfjsdañl fjasdfasdfa">fadslf jasdñlfjasdñlfjsdañl fjasdfasdfa+ fas dfasdfadslf jasdñlfjasdñlfjsdañl fjasdfasdfa</a>
                </h3>
              </div>
            </div>

            <div class="MapCard-contentFooter MapCard-contentFooter--lefty">
              <a href="#/like" class="LikesIndicator is-likeable" data-vis-id="bb7a666a-464e-11e5-af67-080027880ca6" data-show-count="true" data-show-label="true" data-likes-count="0"><i class="iconFont iconFont-Heart--fill LikesIndicator-icon "></i><span class="LikesIndicator-count">0 likes </span>
              </a>
              <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
                <i class="iconFont iconFont-Eye DefaultTimeDiff-icon"></i>
                32 visualizations
              </div>
              <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
                <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
                2 public datasets
              </div>
              <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
                <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
                8 minutes ago
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="PublicUserFeed-item">
        <div class="PublicUserFeed-avatar">
          <% if @avatar_url %>
            <img src="<%= @avatar_url %>" class="UserAvatar-img UserAvatar-img--big" />
          <% else %>
            <div class="UserAvatar-img UserAvatar-img--big UserAvatar-img--no-src"></div>
          <% end %>
        </div>

        <div class="DatasetCard DatasetCard--long">
          <div class="DatasetCard-content">
              <div class="DatasetCard-contentBodyRow DatasetCard-contentBodyRow--flex">
              <div class="DatasetCard-contentBodyDetails--left">
                <div class="DatasetsList-itemCategory is--polygonDataset"></div>
              </div>
              <div class="DatasetCard-contentBodyDetails--right">

                <h3 class="DatasetCard-title DefaultTitle">
                  <a href="#" class="DefaultTitle-link u-ellipsLongText" title="title">Title</a>
                </h3>

                <div class="DatasetCard-contentFooter">
                  <a href="#/like" class="LikesIndicator is-likeable" data-vis-id="bb7a666a-464e-11e5-af67-080027880ca6" data-show-count="true" data-show-label="true" data-likes-count="0"><i class="iconFont iconFont-Heart--fill LikesIndicator-icon "></i><span class="LikesIndicator-count">0 likes </span>
                  </a>

                  <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
                    <i class="iconFont iconFont-Eye DefaultTimeDiff-icon"></i>
                    32 visualizations
                  </div>
                  <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
                    <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
                    2 public datasets
                  </div>
                  <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
                    <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
                    8 minutes ago
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        </li><li class="PublicUserFeed-item">
        <div class="PublicUserFeed-avatar">
          <% if @avatar_url %>
            <img src="<%= @avatar_url %>" class="UserAvatar-img UserAvatar-img--big" />
          <% else %>
            <div class="UserAvatar-img UserAvatar-img--big UserAvatar-img--no-src"></div>
          <% end %>
        </div>

        <div class="MapCard MapCard--borderless MapCard--long" data-zoom="1" data-vizjson-url="http://development.localhost.lan:3000/api/v2/viz/38062724-4662-11e5-a60c-080027880ca6/viz.json">
          <a href="#" class="MapCard-header js-header">
            <div class="MapCard-loader"></div>
            <div class="MapCard-error" style="display: block;"></div></a>

          <div class="MapCard-content">
            <div class="MapCard-contentBody">
              <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
                <h3 class="MapCard-title DefaultTitle">
                  <a href="#" class="DefaultTitle-link u-ellipsLongText" title="fadslf jasdñlfjasdñlfjsdañl fjasdfasdfa+ fas dfasdfadslf jasdñlfjasdñlfjsdañl fjasdfasdfa">fadslf jasdñlfjasdñlfjsdañl fjasdfasdfa+ fas dfasdfadslf jasdñlfjasdñlfjsdañl fjasdfasdfa</a>
                </h3>
              </div>
            </div>

            <div class="MapCard-contentFooter">
              <div class="MapCard-contentFooterDetails--left">
                <a href="#/like" class="LikesIndicator is-likeable is-liked" data-vis-id="38062724-4662-11e5-a60c-080027880ca6" data-likes-count="1"><i class="iconFont iconFont-Heart--fill LikesIndicator-icon "></i>
                </a>

              </div>
              <div class="MapCard-contentFooterDetails--right">
                <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
                  <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
                  11 days ago
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

