<%= form_for @mobile_app, url: (@mobile_app.persisted? ? CartoDB.url(self, 'mobile_app', { id: @mobile_app.id }) : CartoDB.url(self, 'mobile_apps')) do |f| %>

  <span class="FormAccount-separator"></span>

  <div class="FormAccount-row js-iconSelector">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">App icon</label>
    </div>
    <div class="FormAccount-rowData FormAccount-avatar">
      <div class="FormAccount-avatarPreview">
        <img src="" class="FormAccount-avatarPreviewImage" />
      </div>
      <div class="FormAccount-avatar--input">
        <%= f.file_field :icon_url, :class => "FormAccount-fileAvatar js-fileIcon", :value => "Change image" %>
        <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
          <p class="FormAccount-rowInfoText FormAccount-rowInfoText--smaller">Recommended images should be 128x128 pixels of size</p>
        </div>
      </div>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">Name</label>
    </div>
    <div class="FormAccount-rowData">
      <%= f.text_field :name, :class => "FormAccount-input FormAccount-input--med" %>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">Description</label>
    </div>
    <div class="FormAccount-rowData">
      <%= f.text_area :description, :class => "FormAccount-textarea FormAccount-input FormAccount-input--totalwidth" %>
    </div>
    <div class="FormAccount-rowInfo">
      <p class="FormAccount-rowInfoText"></p>
    </div>
  </div>

   <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">Platform</label>
    </div>

    <div class="FormAccount-rowData">
      <div class="RadioButton u-rspace--20">
        <input class="RadioButtonInput" type="radio" name="mobile_app[platform]" value="android" <%= @mobile_app.platform == 'android' ? 'checked' : '' %>>
        <span class="RadioButtonInput-face"></span>
        <label class="RadioButton-label dark-color">Android</label>
      </div>
      <div class="RadioButton u-rspace--20">
        <input class="RadioButtonInput" type="radio" name="mobile_app[platform]" value="ios" <%= @mobile_app.platform == 'ios' ? 'checked' : '' %>>
        <span class="RadioButtonInput-face"></span>
        <label class="RadioButton-label dark-color">iOS</label>
      </div>
      <div class="RadioButton u-rspace--20">
        <input class="RadioButtonInput" type="radio" name="mobile_app[platform]" value="xamarin-android" <%= @mobile_app.platform == 'xamarin-android' ? 'checked' : '' %>>
        <span class="RadioButtonInput-face"></span>
        <label class="RadioButton-label dark-color">Xamarin Android</label>
      </div>
      <div class="RadioButton u-rspace--20">
        <input class="RadioButtonInput" type="radio" name="mobile_app[platform]" value="xamarin-ios" <%= @mobile_app.platform == 'xamarin-ios' ? 'checked' : '' %>>
        <span class="RadioButtonInput-face"></span>
        <label class="RadioButton-label dark-color">Xamarin iOS</label>
      </div>
      <div class="RadioButton u-rspace--20">
        <input class="RadioButtonInput" type="radio" name="mobile_app[platform]" value="windows-phone" <%= @mobile_app.platform == 'windows-phone' ? 'checked' : '' %>>
        <span class="RadioButtonInput-face"></span>
        <label class="RadioButton-label dark-color">Windows Phone</label>
      </div>
    </div>
  </div>

   <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">Aplication ID</label>
    </div>
    <div class="FormAccount-rowData">
      <%= f.text_field :app_id, :class => "FormAccount-input FormAccount-input--med #{'is-disabled' if @mobile_app.persisted?}", :readonly => @mobile_app.persisted? %>

      <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
        <p class="FormAccount-rowInfoText">This side note will change depending on the platform selected.</p>
      </div>
    </div>
  </div>

   <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">App type</label>
    </div>
    <div class="FormAccount-rowData in-block u-vspace-s">
      <div class="RadioButton">
        <input class="RadioButtonInput" type="radio" name="mobile_app[app_type]" value="open" <%= @mobile_app.app_type == 'open' ? 'checked' : '' %>>
        <span class="RadioButtonInput-face"></span>
        <label class="RadioButton-label dark-color">Open</label>
      </div>
      <div class="FormAccount-rowInfo u-lspace-28">
        <p class="FormAccount-rowInfoText">Limits based on your CartoDB plan. <a href="#">Learn more</a>.</p>
      </div>
    </div>

    <div class="FormAccount-rowData in-block u-vspace-s">
      <div class="RadioButton">
        <input class="RadioButtonInput" type="radio" name="mobile_app[app_type]" value="dev" <%= @mobile_app.app_type == 'dev' ? 'checked' : '' %>>
        <span class="RadioButtonInput-face"></span>
        <label class="RadioButton-label dark-color">Dev</label>
      </div>
      <div class="FormAccount-rowInfo u-lspace-28">
        <p class="FormAccount-rowInfoText">Charged, unlimited feature-wise. <a href="#">Learn more</a>.</p>
      </div>
    </div>

    <div class="FormAccount-rowData in-block">
      <div class="RadioButton">
        <input class="RadioButtonInput" type="radio" name="mobile_app[app_type]" value="private" <%= @mobile_app.app_type == 'private' ? 'checked' : 'disabled' %>>
        <span class="RadioButtonInput-face"></span>
        <label class="RadioButton-label dark-color">Private</label>
      </div>
      <div class="FormAccount-rowInfo u-lspace-28">
        <p class="FormAccount-rowInfoText">Only for enterprise. <a href="#">Learn more</a>.</p>
      </div>
    </div>
  </div>

  <div class="FormAccount-footer">
    <p class="FormAccount-footerText"></p>
    <%= button_tag(type: 'submit', class: 'Button Button--main') do %>
      <% content_tag(:span, 'Save') %>
    <% end %>
  </div>
<% end %>
