<% content_for(:page_title) do %>
  Edit mobile application |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var config = <%= safe_js_object frontend_config %>;
    var user_data = <%= safe_js_object current_user.data.to_json %>;
    var mobile_app_name = "<%= @mobile_app.name %>";
    var mobile_app_icon = "<%= @mobile_app.icon_url %>";
    var icon_valid_extensions = <%= raw @icon_valid_extensions %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'mobile_apps_templates.js', 'mobile_apps_deps.js', 'mobile_apps.js' -%>
<% end %>

<%= render :partial => 'shared/flash_message' %>

<div class="FormAccount-Section u-inner">
  <%= render :partial => 'admin/shared/pages_subheader' %>

  <div class="FormAccount-Content">

    <div class="Filters is-relative">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row">
          <ul class="Filters-group">
            <li>
              <a href="<%= CartoDB.url(self, 'mobile_apps', {}, current_user) %>" class="Filters-typeLink Filters-actionButton NavButton NavButton--back">
                <i class="CDB-IconFont CDB-IconFont-arrowPrev"></i>
              </a>
            </li>
            <li class="Filters-typeItem">
              <div class="FormAccount-title"><p class="FormAccount-titleText">Edit application</p></div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%= render :partial => 'admin/mobile_apps/form' %>
  </div>

</div>

<%= render 'admin/shared/footer' %>
