  <span class="Filters-separator"></span>

  <div class="Filters-row">
    <div class="Filters-type">
      <ul class="Filters-list">
        <li class="Filters-typeItem Filters-searchEnabler">
          <button class="Filters-searchLink js-search-link">
            <i class="Filters-searchLinkIcon iconFont iconFont-Lens"></i>Search
          </button>
        </li>
        <li class="Filters-typeItem Filters-searchItem">
          <form class="Filters-searchForm js-search-form">
            <input class="Filters-searchInput js-search-input" type="text" value="<%= ( tag && (':' + tag) ) || q %>" placeholder="by name or :tag" />
            <% if (tag || q) { %>
              <button type="button" class="Filters-cleanSearch js-clean-search">
                <i class="iconFont iconFont-Close"></i>
              </button>
            <% } %>
          </form>
        </li>
        <li class="Filters-typeItem">
          <button class="Filters-typeLink js-connect <%= listingState === "import" ? 'is-selected' : '' %> <%= !canCreateDataset ? 'is-disabled' : '' %>">
            Connect dataset
          </button>
        </li>
        <% if (createType === "map") { %>
          <li class="Filters-typeItem">
            <button class="Filters-typeLink js-datasets <%= listingState === "list" && shared !== 'only' && !liked && !library ? 'is-selected' : '' %>">
              <% if (totalItems) { %>
                <strong><%= totalItems %></strong>
              <% } %>
              <%= pluralizedContentType.charAt(0).toUpperCase() + pluralizedContentType.substring(1) %>
            </button>
          </li>
          <% if (isInsideOrg) { %>
            <li class="Filters-typeItem">
              <button class="Filters-typeLink js-shared <%= listingState === "list" && shared === "only" ? 'is-selected' : '' %>">
                <% if (totalShared) { %>
                  <strong><%= totalShared %></strong>
                <% } %>
                Shared with you
              </button>
            </li>
          <% } %>
          <li class="Filters-typeItem">
            <button class="Filters-typeLink js-liked <%= listingState === "list" && liked ? 'is-selected' : '' %>">
              <% if (totalLiked) { %>
                <strong><%= totalLiked %></strong>
              <% } %>
              Liked
            </button>
          </li>
        <% } %>
        <li class="Filters-typeItem">
          <button class="Filters-typeLink js-library <%= listingState === "list" && library ? 'is-selected' : '' %>">
            Data library
          </button>
        </li>
      </ul>
    </div>
    <div class="Filters-order">
      <ul>
        <li class="Filters-typeItem">
          <button class="Filters-typeLink js-create_empty <%= listingState === "scratch" ? 'is-selected' : '' %> <%= !canCreateDataset ? 'is-disabled' : '' %>">
            Create empty <%= createType %>
          </button>
        </li>
      </ul>
    </div>
  </div>