<div class="twitter-quota">
  <div class="message">
    Create different categories if you want to apply different styles to your tweets.
  </div>
  <div class="twitter-progress">
    <p class="small">
      <% if ((quota - monthly_use) > 0) { %>
        <%= cdb.Utils.formatNumber(quota - monthly_use) %> tweets left
      <% } else { %>
        0 tweets left
      <% } %>
      <i class="icon help" title="
        <% if ((quota - monthly_use) > 0) { %>
          <% if (!hard_limit) { %>
            If you reach the limit, the task will be an estimate of $<%= block_price/100 %>/<%= block_size %> tweets. 
          <% } else { %>
            Your table will have as max rows as your available credits.
          <% } %>
        <% } else { %>
          <% if (!hard_limit) { %>
            The task will be an estimate of $<%= block_price/100 %>/<%= block_size %> tweets. 
          <% } %>
        <% } %>
      ">?</i>
    </p>

    <div class="progress-bar">
      <% var per = ( monthly_use * 100 ) / quota %>
      <% var type = '' %>
      <% if (per > 75) { type = per > 90 ? 'danger' : 'caution' } %>
      <span class="bar-2 <%= type %>" style="width:<%= per %>%"></span>
    </div>
  </div>
</div>
<div class="margin20">
  <div class="twitter-categories"></div>
  <div class="twitter-date"></div>
  <div class="infobox"></div>
</div>
<div class="twitter-terms">
  <p>By clikcing on 'Create table' you are accepting the <a href="http://cartodb.com/terms" target="_blank">terms and conditions</a> for Twitter data.</p>
</div>