<div class="service-state token">
  <div class="loader">
    <span class="loader"></span>
    <p>Checking if you've already logged with your <%= service %> token...</p>
  </div>
</div>
<div class="service-state oauth">
  <div class="loader">
    <span class="loader"></span>
    <p>A popup will appear in order to log into <%= service %> service.</p>
    <p>When the proccess is finished, the list of your available files will appear.</p>
  </div>
</div>
<div class="service-state error">
  <p class="error">There was an error trying to get your <%= service %> token or you didn't finish the oAuth process, <a href="#/refresh" class="refresh">try again</a>.</p>
</div>
<div class="service-state list">
  <div class="render">
    <div class="top">
      <a href="#/refresh" class="refresh">refresh</a>
      <a href="#/revoke" class="revoke">revoke token</a>
    </div>
    <div class="cont">
      <ul></ul>
    </div>
  </div>
  <div class="loader loading">
    <span class="loader"></span>
    <p>Getting your <%= service %> files</p>
  </div>
</div>
<div class="service-state input">
  <div class="upload">
    <a href="#/choose-<%= service %>-file" class="service">Choose from <%= service %></a>
    <p class="filename"></p>
  </div>
  <label class="light small">(CSV, XLS, ZIP, KML, GPX) <a href="http://developers.cartodb.com/documentation/using-cartodb.html#formats_accepted" target="_blank">see all formats</a></label>
  <div class="infobox"></div>
</div>