<p class="twitter-quota">
  <% if ((quota - monthly_use) > 0) { %>
    You still have <%= quota - monthly_use %> available tweets this month. 
    <% if (!hard_limit) { %>
      If you reach the limit, the task will be an estimate of <em>$<%= block_price/100 %>/<%= block_quota %></em> tweets. 
    <% } else { %>
      That means your table will have as max rows as your available credits.
    <% } %>
  <% } else { %>
    Unfortunately you don't have any available tweets this month.
    <% if (!hard_limit) { %>
      That means the task will be an estimate of <em>$<%= block_price/100 %>/<%= block_quota %></em> tweets. 
    <% } %>
  <% } %>
  Create different categories if you want to apply different styles to your tweets.
</p>
<div class="margin20">
  <div class="twitter-categories"></div>
  <div class="twitter-date"></div>
  <div class="infobox"></div>
</div>