<div class="input">
  <div class="upload">
    <a href="#/connect-with-<%= service %>" class="button grey <%= service %> service-button left">Connect with <%= service %></a>
    <a href="#/choose-other-file" class="button grey change right">Choose other <%= item_kind %></a>
    <p class="msg light italic"></p>
    <p class="filename italic"></p>
    <span class="loader"></loader>
  </div>

  <label class="light small">
    <% if (label) { %>
      <%= label %>
    <% } else { %>
      (CSV, XLS, KML, GPX) 
    <% } %>
    <% if (show_formats_link) { %>
    <a href="http://developers.cartodb.com/documentation/using-cartodb.html#formats_accepted" target="_blank">see all formats</a>
    <% } %>
  </label>
  <div class="infobox"></div>
</div>

<div class="list">
  <div class="list_header">
    <h5>Select a <%= item_kind %></h5>
  </div>
  <ul class="files"></ul>
</div>
