<div class="u-inner">
  <a href="#/category" class="Categories-breadcrumb DropdownLink"><%- currentCategory ? currentCategory : 'By category' %></a>
  <ul class="Categories-list">
    <li class="Category-listItem">
      <a href="#/all" data-title="All" class="Categories-option <%- !currentCategory ? 'is-selected' : '' %>">
        <i class="iconFont iconFont-Dribbble Categories-optionIcon"></i>
      </a>
    </li>
    <% for (var i = 0, l = categories.length; i < l; i++) { %>
      <li class="Categories-listItem">
        <a href="#/<%- category[i].get('name') %>" data-title="<%- category[i].get('name') %>" class="Categories-option <%- currentCategory === category[i].get('name') ? 'is-selected' : '' %>">
          <i class="iconFont iconFont-<%- category[i].get('name') %> Categories-optionIcon"></i>
        </a>
      </li>
    <% } %>
  </ul>
</div>