<div class="IntermediateInfo
  <% if (page === 1 && !isSearching && !liked && totalItems === 0 && totalEntries === 0 && type == 'maps' && !locked && shared !== "only") { %>
    IntermediateInfo--no-result
  <% } %>">
  <div class="LayoutIcon <% isSearching ? 'LayoutIcon--negative' : '' %>">
    <i class="CDB-IconFont
      <% if (shared === "only") { %> CDB-IconFont-defaultUser
      <% } else if (liked) { %> CDB-IconFont-heartEmpty
      <% } else if (locked == 'true') { %> CDB-IconFont-lock
      <% } else { %> CDB-IconFont-lens <% } %>" />
  </div>
  <h4 class="IntermediateInfo-title">
    <% if (!category && page > 1 && totalItems === 0 && totalEntries > 0) { %>
      There are no results in this page
    <% } %>

    <% if (liked && totalEntries === 0 ) { %>
      There are no <%- type %> in favorites
    <% } %>

    <% if (isSearching && totalItems === 0) { %>
      No <%- type %> with '<%- tag || q %>' found
    <% } %>

    <% if (page === 1 && !isSearching && !liked && totalItems === 0 && totalEntries === 0) { %>
      <% if (type == 'maps' && !locked && shared !== "only") { %>
        You have no saved maps.<br>Click 'New Map' to get started.<!--br><br><a href='https://blinks.bloomberg.com/screens/LPFT 430'>Learn more about making a map</a-->
      <% } else if (type == 'datasets') { %>
        Datasets that you have used or uploaded will be shown in this tab.<br>Select a dataset in the 'Datasets' tab to start creating your map.
      <% } else { %>
        There are no <%- shared === "only" ? 'shared' : '' %> <%- locked ? 'locked' : '' %> <%- type %>
      <% } %>
    <% } %>
  </h4>
  <p class="DefaultParagraph DefaultParagraph--short">
    <% if (isSearching && totalItems === 0) { %>
      Back to <a class="ContentResult-urlLink" href="<%- defaultUrl %>">All <%- type %></a>
    <% } else { %>
      <% if (liked && totalEntries === 0 ) { %>
        To save your favorite <%- type %>, click the star icon on the <%- type %>
      <% } else if (category) { %>
        There are no <%- type %> in this category.<br>Back to <a class="ContentResult-urlLink" href="<%- defaultUrl %>">All <%- type %></a>
      <% } else if (page > 1 || totalItems === 0 && totalEntries > 0) { %>
        Back to your <a class="ContentResult-urlLink" href="<%- defaultUrl %>">first page</a>
      <% } %>

    <% } %>
  </p>
</div>
