<div class="IntermediateInfo">
  <div class="LayoutIcon <% isSearching ? 'LayoutIcon--negative' : '' %>">
    <i class="CDB-IconFont
      <% if (shared === "only") { %> CDB-IconFont-defaultUser
      <% } else if (liked) { %> CDB-IconFont-heartEmpty
      <% } else if (locked) { %> CDB-IconFont-lock
      <% } else { %> CDB-IconFont-lens <% } %>" />
  </div>
  <h4 class="IntermediateInfo-title">
    <% if (page > 1 && totalItems === 0 && totalEntries > 0) { %>
      There are no results in this page
    <% } %>

    <% if (liked && totalEntries === 0 ) { %>
      There are no <%- type %> in favorites
    <% } %>

    <% if (isSearching && totalItems === 0 && totalEntries === 0) { %>
      0 <%- tag || q %> <%- type %> found
    <% } %>

    <% if (page === 1 && !isSearching && !liked && totalItems === 0 && totalEntries === 0) { %>
      There are no <%- shared === "only" ? 'shared' : '' %> <%- locked ? 'locked' : '' %> <%- type %>
    <% } %>
  </h4>
  <p class="DefaultParagraph DefaultParagraph--short">
    <% if (page > 1 || totalItems === 0 && totalEntries > 0) { %>
      Back to your <a class="ContentResult-urlLink" href="<%- defaultUrl %>">first page</a>
    <% } %>

    <% if (isSearching && totalItems === 0 && totalEntries === 0) { %>
      Back to your <a class="ContentResult-urlLink" href="<%- defaultUrl %>"><%- type %></a>
    <% } %>

    <% if (!liked && !isSearching && totalItems === 0 && totalEntries === 0) { %>
      <!-- No <%- type %>, no fun -->
    <% } %>

    <% if (liked && totalEntries === 0 ) { %>
      To save your favorite <%- type %>, click the star icon on the <%- type %>
    <% } %>
  </p>
</div>
