<div class="DatasetsList-fake"></div>
<div class="DatasetsList-itemCategory is--<%- isRaster ? 'raster' : geometryType %>Dataset">
  <% if (syncStatus) { %>
    <i
    <% if (syncStatus === "failure") { %>
      data-title="Synced failed, last attempt was <%- syncRanAt %>"
    <% } else if (syncStatus === "syncing") { %>
      data-title="Syncing"
    <% } else { %>
      data-title="Synced <%- syncRanAt %>"
    <% } %>
    class="iconFont iconFont-Wifi DatasetsList-itemStatus is-<%- syncStatus %>"></i>
  <% } %>
  <% if (from_external_source) { %>
    <i data-title="Public dataset" class="iconFont iconFont-Book DatasetsList-itemStatus DatasetsList-aditionalItemStatus is-public"></i>
  <% } %>
</div>
<div class="DatasetsList-itemInfo">
  <div class="DatasetsList-itemPrimaryInfo">
    <h3 class="DatasetsList-itemTitle">
      <% if (isRaster) { %>
        <p title="<%- title %>" class="DatasetsList-itemTitle is--disabled u-ellipsLongText"><%- title %></p>
      <% } else { %>
        <a href="<%- datasetUrl %>" title="<%- title %>" class="DefaultTitle-link u-ellipsLongText"><%- title %></a>
      <% } %>
      <% if (showPermissionIndicator) { %>
        <span class="DatasetsList-itemTitlePermission PermissionIndicator">READ</span>
      <% } %>
    </h3>
    <div class="DatasetsList-itemDescription js-item-description"></div>
  </div>
  <div class="DatasetsList-itemSecondaryInfo">
    <div class="DatasetsList-itemMeta">
      <button class="PrivacyIndicator is-<%- privacy %> js-privacy"><%- privacy %></button>
      <span class="js-likes-indicator" />
      <% if (rowCount) { %>
        <span class="RowsIndicator">
          <i class="iconFont iconFont-Rows RowsIndicator-icon"></i>
          <%- rowCount %> <%- pluralizedRows %>
        </span>
      <% } %>
      <% if (datasetSize) { %>
        <span class="SizeIndicator">
          <i class="iconFont iconFont-Floppy SizeIndicator-icon"></i>
          <%- datasetSize %>
        </span>
      <% } %>
      <span class="DatasetsList-itemTimeDiff DefaultTimeDiff">
        <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
          <%- timeDiff %>
          <% if (!isOwner) { %>
            by
            <span class="UserAvatar" data-title="<%- owner.name || owner.username  %>">
              <img class="UserAvatar-img UserAvatar-img--smaller" src="<%- owner.avatar_url %>" />
            </span>
          <% } %>
      </span>
    </div>
    <div class="DatasetsList-itemMeta DatasetsList-itemTags js-item-tags">
    </div>
  </div>
</div>
