<div class="DatasetsList-fake"></div>
<div class="DatasetsList-itemCategory is--<%- isRaster ? 'raster' : geometryType %>Dataset">
</div>
<div class="DatasetsList-itemInfo">
  <div class="DatasetsList-itemPrimaryInfo">
    <h3 class="DatasetsList-itemTitle">
      <% if (isRaster) { %>
        <p title="<%- title %>" class="DatasetsList-itemTitle is-disabled u-ellipsLongText"><%- title %></p>
      <% } else { %>
        <a href="<%- datasetUrl %>" title="<%- title %>" class="DefaultTitle-link u-ellipsLongText"><%- title %></a>
      <% } %>
      <% if (showPermissionIndicator) { %>
        <span class="DatasetsList-itemTitlePermission PermissionIndicator">READ</span>
      <% } %>
    </h3>
    <div class="DatasetsList-itemDescription js-item-description"></div>
  </div>
  <div class="DatasetsList-itemSecondaryInfo">
    <div class="DatasetsList-itemMeta">
      <span class="js-likes-indicator" />
      <% if (rowCount) { %>
        <span class="RowsIndicator">
          <i class="CDB-IconFont CDB-IconFont-rows RowsIndicator-icon"></i>
          <%- rowCount %> <%- pluralizedRows %>
        </span>
      <% } %>
      <% if (datasetSize) { %>
        <span class="SizeIndicator">
          <i class="CDB-IconFont CDB-IconFont-floppy SizeIndicator-icon"></i>
          <%- datasetSize %>
        </span>
      <% } %>
      <span class="DatasetsList-itemTimeDiff DefaultTimeDiff">
        <i class="CDB-IconFont CDB-IconFont-clock DefaultTimeDiff-icon"></i>
          <%- timeDiff %>
          <% if (!isOwner) { %>
            by
            <span class="UserAvatar" data-title="<%- owner.name || owner.username  %>">
              <img class="UserAvatar-img UserAvatar-img--smaller" src="<%- owner.avatar_url %>" />
            </span>
          <% } %>
      </span>
    </div>
    <div class="DatasetsList-itemMeta DatasetsList-itemTags js-item-tags">
    </div>
  </div>
</div>
