  <%
    var bbgProUI = $.inArray("bbg_pro_ui", user_data.feature_flags) !== -1;
    var bbgPrivacyLinks = $.inArray("bbg_privacy_links", user_data.feature_flags) !== -1;
  %>
  <div class="Filters-row">
    <div class="Filters-group Filters-actions">
      <ul class="Filters-actionsList">
        <li class="Filters-actionsItem">
          <a href="#/<%- isMaps ? 'new-map' : 'connect-dataset' %>" class="
            Button
            Button--toolbar
            <%- !isMaps && !canCreateDatasets ? 'is-disabled' : ''  %>
            <%- isMaps ? 'js-new_map' : 'js-new_dataset' %>
            ">
            <span><%- isMaps ? 'New Map' : 'Upload' %></span>
          </a>
        </li>

        <% if (!isMaps && !liked) { %>
          <li class="Filters-actionsItem">
            <% if (selectedItemsCount <= maxLayersByMap) { %>
              <a class="Button Button--toolbar <%= (selectedItemsCount <= 0) ? 'is-disabled' : '' %> js-create_map" href="#/create-map"><span>Open in Map</span></a>
            <% } else { %>
              <span class="Filters-actionsText">Max map layers selected (<%- maxLayersByMap %> max)</span>
            <% } %>
          </li>
        <% } %>

        <% if (isMaps) { %>
          <li class="Filters-actionsItem">
            <a class="Button Button--toolbar <%= (selectedItemsCount != 1) ? 'is-disabled' : '' %> js-duplicate_map" href="#/duplicate-map">Duplicate</a>
          </li>
        <% } %>

        <% if (isMaps || bbgProUI) { %>
          <li class="Filters-actionsItem">
            <a class="Button Button--toolbar <%= ((!q && !tag && !liked) || selectedItemsCount <= 0) ? 'is-disabled' : '' %> js-lock" href="#/lock">
              <%- locked ? 'Unlock' : 'Lock' %>
            </a>
          </li>
        <% } %>

        <li class="Filters-actionsItem">
          <a class="Button Button--toolbar <%= (!canDeleteItems || selectedItemsCount <= 0) ? 'is-disabled' : '' %> js-delete" href="#/delete">Delete</a>
        </li>

        <% if (bbgProUI || bbgPrivacyLinks) { %>
          <li class="Filters-actionsItem">    
            <a class="Button Button--toolbar <%= ((shared !== "only" && shared !== "yes" && !library) || selectedItemsCount != 1) ? 'is-disabled' : '' %> js-privacy" href="#/change-privacy">Change privacy</a>   
          </li>
        <% } %>

      </ul>
    </div>
  </div>
