
    <span class="Filters-separator"></span>

    <div class="Filters-row">
      <div class="Filters-group">
        <div class="Filters-typeItem Filters-typeItem--searchEnabler js-search-enabler">
          <a href="#/search" class="Filters-searchLink js-search-link">
            <i class="Filters-searchLinkIcon CDB-IconFont CDB-IconFont-lens"></i>Search
          </a>
        </div>

        <ul class="Filters-group js-links-list">
          <li class="Filters-typeItem">
            <a href="<%- currentDashboardUrl %>" class="Filters-typeLink js-link <%- shared === "no" && !liked && !library ? 'is-selected' : '' %>">
              <%- pluralizedContentType.charAt(0).toUpperCase() + pluralizedContentType.substring(1) %>
              <% if (totalItems) { %>
                <strong>(<%- totalItems %>)</strong>
              <% } %>
            </a>
          </li>
          <% if (isInsideOrg) { %>
            <li class="Filters-typeItem">
              <a class="Filters-typeLink js-link <%- shared === "only" ? 'is-selected' : '' %>" href="<%- currentDashboardUrl.sharedItems() %>">
                Shared with you
                <% if (totalShared) { %>
                  <strong>(<%- totalShared %>)</strong>
                <% } %>
              </a>
            </li>
          <% } %>
          <li class="Filters-typeItem">
            <a class="Filters-typeLink js-link <%- liked ? 'is-selected' : '' %>" href="<%- currentDashboardUrl.likedItems() %>">
              Favorites
              <% if (totalLiked) { %>
                <strong>(<%- totalLiked %>)</strong>
              <% } %>
            </a>
          </li>
          <% if (!isMaps) { %>
            <li class="Filters-typeItem">
              <a class="Filters-typeLink js-link <%- library ? 'is-selected' : '' %>" href="<%- currentDashboardUrl.dataLibrary() %>">
                Data library
              </a>
            </li>
          <% } %>
        </ul>
      </div>

      <div class="Filters-typeItem Filters-typeItem--searchField js-search-field">
        <form class="Filters-searchForm js-search-form" action="<%- router.currentUrl({ search: '', shared: 'yes', locked: false, liked: false  }) %>">
          <input class="Filters-searchInput js-search-input" type="text" value="<%- ( tag && (':' + tag) ) || q %>" placeholder="by name, description or :tag" />
          <% if (tag || q) { %>
            <a href="<%- router.currentUrl({ search: '', tag: '', shared: 'no' }) %>" class="Filters-cleanSearch js-clean-search">
              <i class="CDB-IconFont CDB-IconFont-close"></i>
            </a>
          <% } %>
        </form>
      </div>

      <div class="Filters-group js-order-list">
        <a href="#/<%- isMaps ? 'new-map' : 'connect-dataset' %>" class="
          Button
          Button--positive
          <%- !isMaps && !canCreateDatasets ? 'is-disabled' : ''  %>
          <%- isMaps ? 'js-new_map' : 'js-new_dataset' %>
          ">
          <span><%- isMaps ? 'New Map' : 'New dataset' %></span>
        </a>
      </div>
    </div>

    <div class="Filters-row">
      <label class="Filters-selectedItems"><%- selectedItemsCount %> <%- pluralizedContentTypeSelected %> selected</label>
      <div class="Filters-actions">
        <ul class="Filters-actionsList">
          <% if (shared !== "only" && shared !== "yes" && !library && !liked) { %>
            <li class="Filters-actionsItem">
              <% if (selectedItemsCount < pageItems) { %>
                <a class="Filters-actionsLink js-select_all" href="#/select-all">Select all <%- tag || q ? 'yours' : '' %></a>
              <% }%>
              <% if (selectedItemsCount > 1) { %>
                <a class="Filters-actionsLink js-deselect_all" href="#/deselect-all">Deselect all <%- tag || q ? 'yours' : '' %></a>
              <% } %>
            </li>
          <% } %>
          <% if (!isMaps && canCreateDatasets && selectedItemsCount === 1 ) { %>
            <% if (isSelectedItemLibrary) { %>
              <li class="Filters-actionsItem">
                <a class="Filters-actionsLink js-import_remote" href="#/connect-dataset">Connect dataset</a>
              </li>
            <% } %>
          <% } %>
          <% if (!isMaps && canCreateDatasets && selectedItemsCount === 1 && !library && !liked && !isSelectedItemLibrary) { %>
            <li class="Filters-actionsItem">
              <a class="Filters-actionsLink js-duplicate_dataset" href="#/duplicate-dataset">Copy</a>
            </li>
          <% } %>
          <% if (!isMaps && !liked) { %>
            <li class="Filters-actionsItem">
              <% if (selectedItemsCount <= maxLayersByMap) { %>
                <a class="Filters-actionsLink js-create_map" href="#/create-map">Create map</a>
              <% } else { %>
                <span class="Filters-actionsText">Max map layers selected (<%- maxLayersByMap %> max)</span>
              <% } %>
            </li>
          <% } %>
          <% if (shared !== "only" && shared !== "yes" && !library) { %>
            <% if (selectedItemsCount === 1 && !liked) { %>
              <% if (isMaps) { %>
                <li class="Filters-actionsItem">
                  <a class="Filters-actionsLink js-duplicate_map" href="#/duplicate-map">Copy</a>
                </li>
              <% } %>
            <% } %>
            <% if (!q && !tag && !liked) { %>
              <li class="Filters-actionsItem">
                <a class="Filters-actionsLink js-lock" href="#/lock">
                  <%- locked ? 'Unlock' : 'Lock' %>
                </a>
              </li>
            <% } %>
          <% } %>
          <% if (canDeleteItems) { %>
            <li class="Filters-actionsItem">
              <a class="Filters-actionsLink is--critical js-delete" href="#/delete">Delete</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
