<div class="inner">
  <div class="filters <%= visible ? 'visible' : '' %>">
    <ul class="filter_options">
      <% if (belongsToOrg) { %>
        <li><a class="<%= !exclude_shared ? 'selected' : '' %>" href="/dashboard/<%= model %>">All <%= model %></a></li>
        <li><a class="<%= exclude_shared ? 'selected' : '' %>" href="/dashboard/<%= model %>/mine">My <%= model %></a></li>
      <% } %>
      <li class="search-filter">
        <form action="/dashboard/search">
          <i class="lens"></i>
          <input type="text" value="<%= ( tag ? ( ':' + tag ) : q ) %>" name="q" placeholder="Search by name or :tag..." />
        </form>
      </li>
    </ul>

    <div class="tags-filter">
      <a href="#/filter" class="filter">Filter by tag</a>
    </div>
  </div>
</div>