  <%
    var bbgProUI = $.inArray("bbg_pro_ui", user_data.feature_flags) !== -1;
    var bbgPrivacyLinks = $.inArray("bbg_privacy_links", user_data.feature_flags) !== -1;
    function allAreOfType(coll, type) {
      var numItems = coll.length, i;
      if (numItems == 0) {
        return false;
      }
      for (i = 0; i < numItems; ++i) {
        if (coll[i].get("type") != type) {
          return false;
        }
      }
      return true;
    }

    function isSelectionLocked(coll) {
      var numItems = coll.length, i;
      var hasLocked = false, hasUnlocked = false, isLocked;
      if (numItems == 0) {
        return false;
      }
      for (i = 0; i < numItems; ++i) {
        isLocked = coll[i].get("locked");
        hasLocked |= isLocked;
        hasUnlocked |= !isLocked;
      }
      return (hasLocked && !hasUnlocked) ?
        'true' : ((!hasLocked && hasUnlocked) ? 'false' : 'mixed');
    }
  %>
  <div class="Filters-row">
    <div class="Filters-group Filters-actions">
      <ul class="Filters-actionsList">
        <% if (isMaps) { %>
          <li class="Filters-actionsItem">
            <a href="#/new-map" class="Button Button--toolbar js-new_map">
              <span>New Map</span>
            </a>
          </li>
        <% } %>

        <% if (!isMaps) { %>
          <li class="Filters-actionsItem">
            <% if (selectedItemsCount <= maxLayersByMap) { %>
              <a class="Button Button--toolbar <%= (selectedItemsCount <= 0) ? 'is-disabled' : '' %> js-create_map" href="#/create-map"><span>Open in Map</span></a>
            <% } else { %>
              <span class="Filters-actionsText">Max map layers selected (<%- maxLayersByMap %> max)</span>
            <% } %>
          </li>
        <% } %>

        <% if (!isMaps) { %>
          <li class="Filters-actionsItem">
            <a href="#/connect-dataset" class="Button Button--toolbar js-new_dataset <%- !canCreateDatasets ? 'is-disabled' : ''  %>">
              <span>Upload Dataset</span>
            </a>
          </li>
        <% } %>

        <% if (isMaps) { %>
          <li class="Filters-actionsItem">
            <a class="Button Button--toolbar <%= (selectedItemsCount != 1) ? 'is-disabled' : '' %> js-duplicate_map" href="#/duplicate-map">Duplicate</a>
          </li>
        <% } %>

        <% if (isMaps || bbgProUI) { %>
          <% var selectionLockState = isSelectionLocked(selectedItems); %>
          <li class="Filters-actionsItem">
            <a class="Button Button--toolbar <%= (selectedItemsCount > 0 && selectionLockState != 'mixed' && (isMaps || allAreOfType(selectedItems, 'table'))) ? '' : 'is-disabled' %> js-lock" href="#/lock">
              <%- (selectionLockState == 'true') ? 'Unlock' : 'Lock' %>
            </a>
          </li>
        <% } %>

        <li class="Filters-actionsItem">
          <a class="Button Button--toolbar <%= (!canDeleteItems || selectedItemsCount <= 0) ? 'is-disabled' : '' %> js-delete" href="#/delete">Delete</a>
        </li>

        <% if (bbgProUI || bbgPrivacyLinks) { %>
          <li class="Filters-actionsItem">    
            <a class="Button Button--toolbar <%= (selectedItemsCount == 1 && (isMaps || selectedItems[0].get("type") == "table")) ? '' : 'is-disabled' %> js-privacy" href="#/change-privacy">Change privacy</a>   
          </li>
        <% } %>

      </ul>
    </div>
  </div>
