<div class="inner">
  <div class="filters <%= visible ? 'visible' : '' %>">
    <ul class="filter_options">
      <% if (belongsToOrg) { %>
        <li><a class="<%= only_shared ? '' : 'selected' %>" href="/dashboard/<%= model %>">Your <%= model %></a></li>
        <li><a class="<%= !only_shared ? '' : 'selected' %>" href="/dashboard/<%= model %>/shared">Only shared with you</a></li>
      <% } %>
      <li class="search-filter">
        <form action="/dashboard/search">
          <i class="lens"></i>
          <input type="text" value="<%= q || '' %>" name="q" placeholder="Search by name..." />
        </form>
      </li>
    </ul>

    <div class="tags-filter">
      <a href="#/filter" class="filter">Filter by tag</a>
    </div>
  </div>
</div>