<div class="vis-info-item <%= username ? "shared" : "" %>">
  <div class="value" title="<%= name %>" alt="<%= name %>"><%= name %></div>
  <div class="by">
    <% if (username) { %>
      <% if (permission) { %>
        <span class="permission round grey"><%= permission %></span>
      <% } %>
      <span class="username">by <%= username %></span>
      <% if (avatar) { %>
        <img class="avatar" src="<%= avatar %>" title="<%= username %>" alt="<%= username %>"/>
      <% } %>
    <% } %>
    <a href="#/remove" class="remove"></a>
  </div>
</div>
