<div class="DatasetsList-fake"></div>
<div class="DatasetsList-itemCategory is--<%- isRaster ? 'raster' : geometryType %>Dataset">
  <i data-title="Public dataset" class="CDB-IconFont CDB-IconFont-book DatasetsList-itemStatus <%- canImportDataset ? 'is-public' : 'is-banned' %>"></i>
</div>
<div class="DatasetsList-itemInfo">
  <div class="DatasetsList-itemPrimaryInfo">
    <h3 class="DatasetsList-itemTitle DefaultTitle u-ellipsLongText"><%- title %></h3>
    <% if (description && description.length > 0) { %>
      <p class="DefaultDescription DatasetsList-itemDescription u-ellipsLongText" title="<%- description %>"><%- description %></p>
    <% } else { %>
      <span class="NoResults DatasetsList-itemDescription">No description</span>
    <% } %>
  </div>
  <div class="DatasetsList-itemSecondaryInfo">
    <ul class="DatasetsList-itemMeta CDB-Text CDB-Size-small u-secondaryTextColor">
      <% if (rowCount) { %>
        <li>
          <%- rowCount %> <%- pluralizedRows %>
        </li>
      <% } %>
      <% if (datasetSize) { %>
        <li>
          <%- datasetSize %>
        </label>
      <% } %>
      <li>
        <%- timeDiff %> <span class="DatasetsList-itemSource js-source"><% if (source) { %>from <%= cdb.core.sanitize.html(source) %><% } %></span>
      </li>
    </ul>
    <div class="DatasetsList-itemMeta">
      <% if (tagsCount > 0) { %>
        <div class="DefaultTags DatasetsList-itemTags">
          <% for (var i = 0, l = Math.min(maxTagsToShow, tags.length); i < l; ++i) { %>
            <a class="CDB-Tag CDB-Text CDB-Size-small is-semibold u-upperCase js-tag-link" href="<%- router.currentUrl({ search: ':'+ tags[i], library: false, page: 1 }) %>"><%- tags[i] %></a><% if (i !== (l-1)) { %>,<% } %>
          <% } %>
          <% if (tagsCount > maxTagsToShow) { %>
            and <%- tagsCount - maxTagsToShow %> more
          <% } %>
        </div>
      <% } else { %>
        <span class="NoResults DefaultTags-item">No tags</span>
      <% } %>
    </div>
  </div>
</div>
