<%
  var dashboardUrl = router.currentDashboardUrl();
  var routerParams = router.model.attributes;
%>
<div class="LeftMenuContent">
<ul>
  <li><div class="MenuItem 
    <%= !(routerParams.category || routerParams.liked || routerParams.imported || routerParams.locked === 'true') ? 'selected' : '' %>
    " data-params="" data-order="updated_at"><a href="javascript:void(0)">All</a></div></li>
  <li><div class="MenuItem <%= routerParams.liked ? 'selected' : '' %>" data-params="/liked"><a href="javascript:void(0)">Favorites<a/></div></li>
  <% if (content_type == "datasets") { %>
    <li><div class="MenuItem <%= routerParams.imported ? 'selected' : '' %>" data-params="/imported"><a href="javascript:void(0)">Recently Used</a></div></li>
  <% } else { %>
    <li><div class="MenuItem <%= routerParams.locked === 'true' ? 'selected' : '' %>" data-params="/locked"><a href="javascript:void(0)">Locked</a></div></li>
    <li><div class="MenuItem" data-params="/samples"><a href="javascript:void(0)">Sample Maps</a></div></li>
  <% } %>
  <% if (content_type == "datasets") { %>
    <li style="margin-top:20px;font-weight:bold">
      <label>Categories</label>
    </li>
    <ul class="CategoryTree">
    <% for (var i = 0, l = categories.length; i < l; ++i) { %>
      <%
        var category = categories[i];
        var categoryId = category.get('id');
        var subCategories = category.get('children');
        var selected = "";
        var expanded = "";
        var parentClass = subCategories.length > 0 ? "ParentChevron" : "ChevronPlaceholder";
        if (categoryId == current_category) {
          selected = "selected";
        } else if (_.findWhere(subCategories, {id: current_category})) {
          expanded = "expanded";
        }
      %>
      <li>
        <div class="MenuItem <%- selected %> <%- expanded %>" data-category="<%- categoryId %>">
          <div class="<%- parentClass %>"></div>
          <a href="javascript:void(0)"><%- category.get('name') %></a>
          <div class="CategoryCount"><%- category.get('count') %></div>
        </div>
        <% if (subCategories.length > 0) { %>
          <ul class="SubCategories <%- expanded %> SubCategories-<%- categoryId %>">
          <% for (var s = 0, sl = subCategories.length; s < sl; ++s) { %>
            <% var subCategory = subCategories[s]; %>
            <li class="SubCategory">
              <div class="MenuItem <%- (subCategory.id == current_category ? "selected" : "") %>" data-category="<%- subCategory.id %>"><a href="javascript:void(0)"><%- subCategory.name %></a><div class="CategoryCount"><%- subCategory.count %></div></div>
            </li>
          <% } %>
          </ul>
        <% } %>
      </li>
  <% } %>
  </ul>
  <% } %>
</ul>
</div>