<div class="table-item-inner <%= organization ? 'shared' : '' %> <%= kind %>">
  <div class="table-desc">
    <div class="table-title">
      <% if (kind !== "geom") { %>
        <h3><%= name %></h3>
      <% } else { %>
        <h3><a href="<%= url %>" title="<%= name %>"><%= name %></a></h3>
      <% } %>
      
      <% if (isOwner) { %>
        <a href="#/privacy">
          <i class="privacy-status <%= privacy.toLowerCase() %>">
            <% if (shared_users !== 0) { %>
              <span class="shared_users"><%= shared_users %></span>
            <% } %>
          </i>
        </a>
        <a href="#/lock">
          <i class="<% if (!locked) { %>lock<% } else { %>unlock<% } %> tooltip" data-table="<%= name %>" title="<% if (!locked) { %>Lock<% } else { %>Unlock<% } %>"></i>
        </a>
        <a href="#/delete"><i class="delete tooltip" data-table="<%= name %>" title="Delete"></i></a>
      <% } else { %>
        <i class="privacy-status disabled <%= privacy.toLowerCase() %>" title="It is not your table, you can't change the privacy or the permissions"></i>
      <% } %>
    </div>
    <% if (description) { %><p class="table-description" title="<%= description %>"><% print(description || '') %></p><% } %>
  </div>

  <div class="table-info">
    <div class="table-list-info">
      <ul>
        <li class="table-order">
          <span>
            <% if (order == 'updated_at') { %>
              Updated <% print(moment(updated_at).fromNow()) %>
            <% } else { %>
              Created <% print(moment(created_at).fromNow()) %>
            <% } %>
          </span>
          <span class="dot-separator"></span>
        </li>

        <li>
          <a href="#like" class="LikeButton js-like<% if (liked) {%> is-highlighted<% } %>">
            <span class="LikeButton-icon js-icon"></span>
            <span class="LikeButton-counter js-counter"><%= likes %></span>
          </a>
          <span class="dot-separator"></span>
        </li>
        <!-- Table kind -->
        <% if (kind !== "geom") { %>
          <li class="table-kind">
            <span class="table-kind"><%= kind %> table</span>
            <span class="dot-separator"></span>
          </li>
        <% } %>

        <!-- Shared? -->
        <% if (organization) { %>
          <li class="table-shared">
            <% if (current_user_permission) { %>
              <span class="permission round grey"><%= current_user_permission %></span>
            <% } %>
            <% if (owner.avatar_url) { %>
              <img class="avatar" src="<%=owner.avatar_url %>" title="<%= owner.username %>" alt="<%= owner.username %>"/>
            <% } %>
            <span class="username"><%= owner.username %></span>
            <span class="dot-separator"></span>
          </li>
        <% } %>

        <% if (table_size !== '') { %>
          <li class="table-size">
            <span><%= table_size %></span>
            <span class="dot-separator"></span>
          </li>
        <% } %>

        <% if (row_count !== '') { %>
          <li class="table-rows">
            <span><%= row_count %> <%= table.row_count == 1 ? 'row' : 'rows' %></span>
            <span class="dot-separator"></span>
          </li>
        <% } %>

        <!-- Sync? -->
        <% if (sync_status) {%>
          <li class="table-sync">
            <span class="feed <%= sync_status %>" <% if (sync_tooltip) { %> title="<%= sync_tooltip %>" <% } %>>
              <i class="sync <%= sync_status %>"></i>
              <%= sync_message %>
            </span>
            <span class="dot-separator"></span>
          </li>
        <% } %>
      </ul>
    </div>

    <!-- More tags thingy TO BE DONE -->
    <% if (tags) { %>
      <div class="table-tags">
        <%= tags %>
        <% if (extra_tags_count > 0) { %>
          <span class="more"><%= extra_tags_count %> more tag<% if (extra_tags_count > 1) { %>s<% } %> </span>
        <% } %>
      </div>
    <% } %>
  </div>

</div>
