<div class="table_info">
  <hgroup>
  <h3><a href="/tables/<%= id %>/"><%= name %></a></h3>
  <a href="#change_status" class="status <%= privacy.toLowerCase() %>"><%= privacy %></a>
  <a href="#delete" class="delete tooltip" data-table="<%= name %>" title="Delete">delete</a>
  </hgroup>
  <hgroup class="options">
  <p class="time smaller light">created <% print(moment(updated_at).fromNow()); %></p>
  <p class="size uppercase strong smaller light"><%= table_size.toString().bytesToSize() %><span class="separator"></span><%= rows_counted %> <%= rows_counted==1 ? 'ROW' : 'ROWS' %></p>
  <!--<p class="feed uppercase strong smaller light">Connected to feed<i></i></p>-->
  </hgroup>

  <div class="left"> 
    <p class="light"><% print(description || '') %></p>
  </div>
  <div class="right">
    <div class="right tags">
      <% var tags = tags.split(","); %>
      <% for(var tag in tags) { %>
      <% if (tags[tag] != "") { %>
      <a href="#/tag/<%= tags[tag] %>/1"><%= tags[tag] %></a>
      <% } %>
      <% } %>
    </div>
  </div>
</div>
