<div class="table_info">
  <div class="left">
    <hgroup>
      <h3><a href="/tables/<%= id %>"><%= name %></a></h3>
      <a href="#change_status" class="status <%= privacy.toLowerCase() %>"><%= privacy %></a>
    </hgroup>
    <p class="light"><% print(description || '') %></p>
    <p class="strong uppercase smaller light margin15"><%= table_size!=0 ? (table_size/1024) : table_size %> KB · <%= rows_counted %> <%= rows_counted==1 ? 'ROW' : 'ROWS' %></p>
  </div>
  <div class="right">
    <hgroup class="right">
      <p class="smaller light"><% print(moment(updated_at).fromNow()); %></p>
      <a href="#delete" class="delete tooltip" data-table="<%= name %>" title="Delete">delete</a>
    </hgroup>
    <div class="full right">
      <span class="right tags">
        <% var tags = tags.split(","); %>
        <% for(var tag in tags) { %>
          <% if (tags[tag] != "") { %>
            <a href="#/tag/<%= tags[tag] %>/1"><%= tags[tag] %></a>
          <% } %>
        <% } %>
      </span>
    </div>
  </div>
</div>