<div class="table_info">
  <hgroup>
  <h3><a href="/tables/<%= table.name %>/" title="<%= name %>"><%= clean_name %></a></h3>
  <a href="#change_status" class="status <%= privacy.toLowerCase() %>"><%= privacy %></a>
  <a href="#delete" class="delete tooltip" data-table="<%= name %>" title="Delete">delete</a>
  </hgroup>
  <hgroup class="options">
  <% if (order == 'updated_at') { %>
  <p class="time smaller light">updated <% print(moment(updated_at).fromNow()); %></p>
  <% } else { %>
  <p class="time smaller light">created <% print(moment(created_at).fromNow()); %></p>
  <% } %>
  <p class="size uppercase strong smaller light"><%= table_size %><span class="dot-separator">·</span><%= row_count %> <%= table.row_count == 1 ? 'ROW' : 'ROWS' %></p>
  <% if (sync_status) {%>
  <p class="feed <%= sync_status %> uppercase strong smaller light"><span class="dot-separator">·</span><a <% if (sync_status == "failure") {%>href="#/error"<% } %> class="msg" <% if (sync_tooltip) { %>data-tipsy="<%= sync_tooltip %>" <% } %>><%= sync_message %></a><i class="<%= sync_status %>"></i></p>
  <% } %>
  </hgroup>

  <div class="left"> 
    <p class="light" title="<%= description %>"><% print(clean_description || '') %></p>
  </div>
  <div class="right">
    <% if (extra_tags_count > 0) { %> <span class="more"><%= extra_tags_count %> more tag<% if (extra_tags_count > 1) { %>s<% } %></span><% } %>

    <div class="right tags">
      <%= tags %>
    </div>
  </div>
</div>
