<div class="table-item-inner">
  
  <div class="table-desc">
    <div class="table-title">
      <h3><a href="/tables/<%= table.name %>/" title="<%= name %>"><%= name %></a></h3>
      <a href="#/privacy"><i class="privacy-status <%= privacy.toLowerCase() %>"></i></a>
      <a href="#/delete"><i class="delete tooltip" data-table="<%= name %>" title="Delete"></i></a>
    </div>
    <% if (description) { %><p class="table-description"><% print(clean_description || '') %></p><% } %>
  </div>

  <div class="table-info">

    <div class="table-list-info">
      <ul>

        <li class="table-order">
          <% if (order == 'updated_at') { %>
            Updated <% print(moment(updated_at).fromNow()) %>
          <% } else { %>
            Created <% print(moment(created_at).fromNow()) %>
          <% } %>
        </li>

        <!-- Shared? -->
        <% if (false) { %>
          <li class="table-shared-with"></li>
        <% } %>

        <li class="table-size">
          <%= table_size %>
        </li>

        <li class="table-rows">
          <%= row_count %> <%= table.row_count == 1 ? 'row' : 'rows' %>
        </li>

        <!-- Sync? -->
        <% if (sync_status) {%>
          <li class="table-sync">
            <span class="feed <%= sync_status %>" <% if (sync_tooltip) { %>data-tipsy="<%= sync_tooltip %>" <% } %>>
              <i class="sync <%= sync_status %>"></i>
              <%= sync_message %>
            </span>
          </li>
        <% } %>

      </ul>
    </div>

    <!-- More tags thingy TO BE DONE -->
    <% if (tags) { %>
      <div class="table-tags">
        <%= tags %>
      </div>
    <% } %>
  </div>

</div>