<section class="stats">
<div class="inner">
  <ul>

    <li class="tables">
    <div class="progress">
      <span class="" style="width:2%"></span>
    </div>
    <p class="center"><strong>0 of 0</strong> tables created</p>
    </li>

    <li class="size">
    <div class="progress">
      <span class="" style="width:2%"></span>
    </div>
    <p class="center"><strong>0 of 0</strong> <%= remaining_byte_quota %> used</p>
    </li>

    <li class="mapviews">
    <div class="progress">
      <span class="" style="width:2%"></span>
    </div>
    <p class="center"><strong>0</strong> map views the last 21 days</p>
    </li>

    <li class="badge">
    <i class="<%= account_type.replace(/ /g, '_').toLowerCase() %>"></i>
    </li>
  </ul>
</div>
</section>
<section class="warning">
<div class="inner">
  <p class="dark limit">Hey <strong><%= username %></strong>, looks like you're about to reach your account limit. Start thinking about <a href="<%= upgrade_url %>" class ="underline">upgrading your plan</a>.</p>
  <p class="dark upgraded">Great! Welcome to your brand new <strong><%= account_type %></strong> CartoDB. Now we love you even more than before ;)</p>
  <p class="dark migrated">Welcome to the CartoDB 2.1 Version. Let us know if you find something weird or unnexpected. We hope you like it!</p>
  <a href="#close" class="smaller close">x</a>
</div>
</section>

