<div class="content">
  <% if (empty) { %>
  <i></i>
  <% } else {%>
  <h3><a href="/viz/<%= id %>/map" title="<%= name %>"><%= clean_name  %></a><a href="#delete" class="delete" original-title="Delete"></a></h3>
  <p title="<%= description %>"><% print(clean_description || '') %></p>

  <div class="tags">
    <%= tags %>
    <% if (extra_tags_count > 0) { %> <span class="more"><%= extra_tags_count %> more tag<% if (extra_tags_count > 1) { %>s<% } %> </span><% } %>
  </div>
  <div class="footer">
    <div class="graph"><div class="stats"></div></div>
  </div>
  <% } %>
</div>


