<div class="vis-item <%= empty ? 'empty' : '' %>">
  <div class="vis-item-inner">
    <% if (!empty) { %>

      <div class="top">
        <!--div class="vis-thumbnail"></div-->

        <div class="vis-desc">
          <h3><a href="<%= url %>" title="<%= name %>"><%= clean_name  %></a></h3>
          <% if (description) { %>
            <p class="vis-description" title="<%= description %>"><% print(clean_description || '') %></p>
          <% } %>
          <a href="#like" class="LikeButton js-like<% if (liked) {%> is-highlighted<% } %>">
            <span class="LikeButton-icon js-icon"></span>
            <span class="LikeButton-counter js-counter"><%= likes %></span></a>
        </div>

        <!-- Shared? -->
        <% if (organization) { %>
          <div class="vis-shared">
            <div class="vis-shared-info">
              <% if (owner.avatar_url) { %>
                <img class="avatar" src="<%=owner.avatar_url %>" title="<%= owner.username %>" alt="<%= owner.username %>"/>
              <% } %>
              <span class="username">Created by <%= owner.username %></span>
              <% if (current_user_permission) { %>
                <span class="permission round grey"><%= current_user_permission %></span>
              <% } %>
            </div>
            <div class="vis-shared-tags">
              <% if ( total_tags > 0 ) { %>
                <span class="total-tags"><%= total_tags %> tag<%= total_tags === 1 ? '' : 's' %></span>
              <% } %>
            </div>
          </div>
        <% } else { %>
          <div class="vis-info">
            <div class="vis-tags">
              <%= tags %>
              <% if (extra_tags_count > 0) { %> <span class="more"><%= extra_tags_count %> more tag<% if (extra_tags_count > 1) { %>s<% } %> </span><% } %>
            </div>
          </div>
        <% } %>
      </div>

      <div class="bottom">

        <div class="vis-graph">
          <div class="graph"><div class="stats"></div></div>
        </div>

        <div class="vis-tools">
          <span class="order">
            <% if (order === 'created_at') { %>
              Created <% print(moment(created_at).fromNow()) %>
            <% } else { %>
              Updated <% print(moment(updated_at).fromNow()) %>
            <% } %>
          </span>
          <span class="vis-buttons">
            <% if (isOwner) { %>
              <a href="#/delete"><i class="delete tooltip" data-table="<%= name %>" title="Delete"></i></a>
              <a href="#/lock">
                <i class="<% if (!locked) { %>lock<% } else { %>unlock<% } %> tooltip" title="<% if (!locked) { %>Lock<% } else { %>Unlock<% } %>"></i>
              </a>
              <a href="#/privacy">
                <i class="privacy-status <%= privacy.toLowerCase() %>">
                  <% if (shared_users !== 0) { %>
                    <span class="shared_users"><%= shared_users %></span>
                  <% } %>
                </i>
              </a>
            <% } else { %>
              <i class="privacy-status disabled <%= privacy.toLowerCase() %>" title="It is not your visualization, you can't change the privacy or the permissions"></i>
            <% } %>
          </span>
        </div>
      </div>

    <% } %>
  </div>
</div>
