<div class="vis-item <%= empty ? 'empty' : '' %>">
  <div class="vis-item-inner">
    <% if (!empty) { %>

      <div class="top">
        <div class="vis-thumbnail"></div>

        <div class="vis-desc">
          <h3><a href="/viz/<%= id %>/map" title="<%= name %>"><%= clean_name  %></a></h3>
          <% if (description) { %><p class="table-description" title="<%= description %>"><% print(clean_description || '') %></p><% } %>
        </div>

        <div class="vis-info">
          <div class="vis-tags">
            <%= tags %>
            <% if (extra_tags_count > 0) { %> <span class="more"><%= extra_tags_count %> more tag<% if (extra_tags_count > 1) { %>s<% } %> </span><% } %>
          </div>
        </div>
      </div>

      <div class="bottom">

        <div class="vis-graph">
          <div class="graph"><div class="stats"></div></div>
        </div>

        <div class="vis-tools">
          <span class="order">
            <% if (order === 'created_at') { %>
              Created <% print(moment(created_at).fromNow()) %>
            <% } else { %>
              Updated <% print(moment(updated_at).fromNow()) %>
            <% } %>
          </span>
          <span class="vis-buttons">
            <a href="#/delete"><i class="delete tooltip" data-table="<%= name %>" title="Delete"></i></a>
            <a href="#/privacy"><i class="privacy-status <%= privacy.toLowerCase() %>"></i></a>
          </span>
        </div>
      </div>

    <% } %>
  </div>
</div>