<a class="OrganizationList-userLink" href="<%= url %>" data-title="<%= sizeOnBytes %> of <%= quotaInBytes %> used">
  <div class="OrganizationList-userAvatar UserAvatar">
    <img src="<%= avatarUrl %>" alt="<%= username %>" src="<%= username %>" class="UserAvatar-img UserAvatar-img--medium" />
  </div>
  <div class="OrganizationList-userInfo">
    <div class="OrganizationList-userInfoName">
      <h3 class="OrganizationList-userInfoTitle u-ellipsLongText"><%= username %></h3>
      <% if (isOwner) { %>
        <span class="OrganizationList-userInfoLabel">OWNER</span>
      <% } %>
    </div>
    <div class="OrganizationList-userStats">
      <div class="progress-bar">
        <span class="bar-2" style="left:<%= totalPer %>%; width:<%= userPer %>%"></span>
        <span class="bar-3" style="left:<%= totalPer %>%; width:<%= usedPer %>%"></span>
      </div>
    </div>
  </div>
</a>