<div class="mamufas">

  <section class="block modal <%= modal_type %>">
    <a href="#/close" class="close">x</a>
    <div class="head">
      <h3><%= title %></h3>
      <% if (description) { %>
        <p class="margin5"><%= description %></p>
      <% } %>
    </div>
    <div class="content">
      <div class="vis_privacy_selector"></div>
      <div class="org_users_list"></div>
    </div>
    <div class="foot">
      <a href="#/save-settings" class="right settings-ok ok <%= ok_button_classes %>"><%= ok_title %></a>
    </div>
  </section>

  <section class="block modal confirmation warning">
    <a href="#/close" class="close">x</a>
    <div class="head">
      <h3>This is a shared table</h3>
    </div>
    <div class="content">
      <div class="warning_users_list"></div>
    </div>
    <div class="foot">
      <a href="#cancel" class="left cancel margin10 <%= cancel_button_classes %>"><%= cancel_title %></a>
      <a href="#/save-anyway" class="right ok warning-ok <%= ok_button_classes %>">Save anyway</a>
    </div>
  </section>

</div>
