<a href="#/<%- type.toLowerCase() %>" class="<%- selected ? 'selected' : '' %> privacy-link <%- !enabled ? 'disabled' : '' %>">
  <span class="status <%- type.toLowerCase() %> privacy-status"></span>
  <span class="info">
    <h5><%- title %></h5>
    <p>
      <% if (enabled) { %>
        <%- description %>
      <% } else { %>
        <%- error %>
      <% } %>
    </p>
  </span>
</a>

<% if (!enabled) { %>
  <% if (type.toLowerCase() === "organization") { %>
    <a class="green button small" href="mailto:sales@cartodb.com">Contact us</a>
  <% } else { %>
    <a class="green button small upgrade" href="#/upgrade">Upgrade</a>
  <% } %>
<% } %>