<% if (option !== "loading") { %>
  <div class="CreateDialog-footerShadow"></div>
  <div class="CreateDialog-footerLine"></div>

  <div class="CreateDialog-footerInner">
    <% if (option === 'listing') { %>

      <% if (listingState === "datasets") { %>
        <% if (!(isLibrary && !isMapType)) { %>
          <div class="CreateDialog-footerInfo">
            <% if (selectedDatasetsCount < maxSelectedDatasets) { %>
              <%- selectedDatasetsCount %> dataset<%- selectedDatasetsCount !== 1 ? 's' : '' %> selected
            <% } else { %>
              You have reached the max layers for a new map (<%- maxSelectedDatasets %> max)
            <% } %>
          </div>
          <div class="CreateDialog-footerActions">
            <% if (selectedDatasetsCount === maxSelectedDatasets && userCanUpgrade) { %>
              <a class="Button Button--main CreateDialog-footerActionsButton is-separated js-upgrade" href="<%- upgradeUrl %>"><span>upgrade</span></a>
            <% } %>
            <button class="Button Button--positive CreateDialog-footerActionsButton js-create_map <%- selectedDatasetsCount === 0 ? 'is-disabled' : '' %>">create map</button>
          </div>
        <% } %>
      <% } %>

      <% if (listingState === "import") { %>
        <% if (importState === 'scratch') { %>
          <% if (isMapType) { %>
            <div class="CreateDialog-footerInfo">
              <i class="CDB-IconFont CDB-IconFont-info CreateDialog-footerInfoIcon HighlightIcon HighlightIcon--warning"></i>New on CartoDB? Start with one of <a href="#/templates" class="js-templates">our templates</a>.
            </div>
          <% } %>
        <% } else { %>
          <div class="js-footer-info CreateDialog-footerInfo"></div>
          <div class="CreateDialog-footerActions js-footerActions">
            <button class="Button Button--positive CreateDialog-footerActionsButton <% if (!isUploadValid) { %>is-disabled<% } %> js-connect">connect dataset</span></button>
          </div>
        <% } %>
      <% } %>
    <% } %>
  </div>
<% } %>
