<div class="IntermediateInfo">
<% if (type === "dataset") { %>
  <div class="Spinner"></div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl">Creating new <%- createModelType %></h4>
  <p class="CDB-Text CDB-Size-medium u-altTextColort">
    <%= quote %>
  </p>
<% } else { %>
  <div class="Spinner"></div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl">
    <% if (selectedDatasets.length > 0 || currentImport) { %>
      Connecting <%- currentImportName %> (<%- tableIdsArray.length + (currentImport ? 1 : 0) %>/<%- selectedDatasets.length + tableIdsArray.length + (currentImport ? 1 : 0) %>)
    <% } else { %>
      Creating map
    <% } %>
  </h4>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">
    <%= quote %>
  </p>
<% } %>
</div>
