<div class="IntermediateInfo">
<% if (type === "dataset") { %>
  <div class="Spinner"></div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl"><%= _t('cartodb.common.views.create.loading.create_new', {mode_type: _t(`cartodb.common.views.create.loading.${createModelType}`)}) %></h4>
  <p class="CDB-Text CDB-Size-medium u-altTextColort">
    <%= quote %>
  </p>
<% } else { %>
  <div class="Spinner"></div>
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl">
    <% if (selectedDatasets.length > 0 || currentImport) { %>
      <%= _t('cartodb.common.views.create.loading.connecting', {import_name: currentImportName, total_length: (tableIdsArray.length + (currentImport ? 1 : 0)), sel_length: (selectedDatasets.length + tableIdsArray.length + (currentImport ? 1 : 0))}) %>
    <% } else { %>
      <%= _t('cartodb.common.views.create.loading.creating_map') %>
    <% } %>
  </h4>
  <p class="CDB-Text CDB-Size-medium u-altTextColor">
    <%= quote %>
  </p>
<% } %>
</div>
