<button class="CreateDialog-templateItem js-button">
  <i
    class="
      <% if (icon) { %>
        iconFont iconFont-<%= icon %>
      <% } %>
      CreateDialog-templateItemIcon
    "
    style="border-color: <%= color %>; color: <%= color %>"
  ></i>
  <h6 class="CreateDialog-templateTitle"><%= short_name %></h6>
  <p class="CreateDialog-templateDes"><%= short_description %></p>
  <% if (difficulty || duration) { %>
    <div class="CreateDialog-templateInfo">
      <label class="CreateDialog-templateDifficulty"><%= difficulty %></label>
      <% if (duration) { %>
        <label class="CreateDialog-templateDuration">
          <i class="iconFont iconFont-Clock CreateDialog-templateDurationIcon"></i>
          <span class="CreateDialog-templateDurationText"><%= duration %></span>
        </label>
      <% } %>
    </div>
  <% } %>
</button>