<div class="Dialog-header Dialog-header--expanded u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--positive">
    <i class="iconFont iconFont-Unlock"></i>
  </div>
  <p class="Dialog-headerTitle u-ellipsLongText"><%= vis.get('name') %> privacy</p>
  <p class="DefaultParagraph DefaultParagraph--secondary">
    Although we believe in the power of open data, you can also protect your <%= vis.isVisualization() ? 'map' : 'dataset' %>.
  </p>
</div>

<div class="Dialog-body u-inner OptionCards">
  <% privacyOptions.each(function(m, index) { %>
    <div class="OptionCard OptionCard--privacy <%= m.classNames() %> js-option" data-index="<%= index %>">
      <div class="OptionCard-icon IllustrationIcon IllustrationIcon--<%= m.get('illustrationType') %>">
        <i class="iconFont iconFont-<%= m.get('iconFontType') %>"></i>
      </div>
      <div class="OptionCard-title"><%= m.get('title') %></div>
      <div class="OptionCard-desc"><%= m.get('desc') %></div>
    </div>
  <% }); %>
</div>

<% if (showUpgradeBanner) { %>
  <div class="Dialog-body u-inner ChangePrivacy-upgradeBanner">
    <div class="UpgradeElement ChangePrivacy-upgradeBannerInner">
      <div class="UpgradeElement-info">
        <p class="UpgradeElement-infoText u-ellipsLongText">To get advantage of all the privacy options you should upgrade your plan</p>
      </div>
      <div class="UpgradeElement-actions">
        <% if (showTrial) { %>
          <div class="UpgradeElement-trial">
            <i class="iconFont iconFont-Gift UpgradeElement-trialIcon"></i>
            <p class="UpgradeElement-trialText u-ellipsLongText">15 days Free trial</p>
          </div>
        <% } %>
        <a href="<%= upgradeUrl %>" class="Button Button--secondary UpgradeElement-button ChangePrivacy-upgradeActionButton">
          <span>upgrade</span>
        </a>
      </div>
    </div>
  </div>
<% } %>

<% if (showShareBanner) { %>
  <% if (sharedEntitiesCount > 0) { %>
    <div class="Dialog-body u-inner ChangePrivacy-shareBanner Dialog-affectedEntities">
      <div class="Dialog-affectedEntities">
        <div class="LayoutIcon ChangePrivacy-shareBannerIcon">
          <i class="iconFont iconFont-People iconFont--super"></i>
          <span class="Badge Dialog-headerIconBadge"><%= sharedEntitiesCount %></span>
        </div>
        <div class="DefaultParagraph DefaultParagraph--secondary">
          <% if (sharedWithOrganization) { %>
            Shared with your whole organization.
          <% } else { %>
            Shared with <%= sharedEntitiesCount %> <%= personOrPeopleStr %>.
          <% } %>
          <a href="#" class="js-share">Open sharing settings</a>
        </div>
      </div>
      <div>
        <% sharedEntitiesSample.forEach(function(user) { %>
          <span class="UserAvatar Dialog-sharedEntitiesAvatar">
            <% if (user.get('avatar_url')) { %>
              <img class="UserAvatar-img UserAvatar-img--medium" src="<%= user.get('avatar_url') %>" alt="<%- user.get('name') || user.get('username') %>" title="<%- user.get('name') || user.get('username') %>" />
            <% } else { %>
              <div class="UserAvatar-img UserAvatar-img--medium UserAvatar-img--no-src" title="<%- user.get('name') || user.get('username') %>"></div>
            <% } %>
          </span>
        <% }); %>
        <% if (sharedEntitiesCount > sharedEntitiesSampleCount) { %>
          <div class="UserAvatar Dialog-sharedEntitiesAvatar">
            <span class="UserAvatar-img UserAvatar-img--medium UserAvatar--moreItems" />
          </div>
        <% } %>
      </div>
    </div>
  <% } else { %>
    <div class="Dialog-body u-inner ChangePrivacy-shareBanner">
      <div class="LayoutIcon ChangePrivacy-shareBannerIcon">
        <i class="iconFont iconFont-People iconFont--super"></i>
      </div>
      <div class="DefaultParagraph DefaultParagraph--secondary">Team work is always better. <a href="#" class="js-share">Share it with your colleagues</a></div>
    </div>
  <% } %>
<% } %>

<div class="Dialog-footer Dialog-footer--simple u-inner ChangePrivacy-startFooter">
  <% if (showPasswordInput) { %>
    <input class="js-password-input Input ChangePrivacy-passwordInput" placeholder="Type your password here" value="<%= pwdOption.get('password') %>" type="password" />
  <% } %>
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="ok Button Button--positive <%= saveBtnClassNames %>">
    <span>Save settings</span>
  </button>
</div>
