<section class="sessions shadow">
  <div class="content">
    <h1 class="sessions compact">Login to your CartoDB</h1>
    <%= form_tag create_session_path do %>

      <div class="field margin30">
        <% @error = @login_error %>
        <% if @error %>
          <div class="field_with_errors">
        <% end %>          
        <%= text_field_tag :email, '', :title => "Email or username", :'data-label' => "Email or username", :class => (flash[:alert] || @error ? 'error' : nil) %>
        <% if @error %>  
          </div>
          <div class="error"><%= @error %></div>
        <% end %>                              
                
      </div>

      <div class="field margin20">
        <% if @error %>
          <div class="field_with_errors">
        <% end %>          
        <%= password_field_tag :password, '', :title => "Password", :'data-label' => "Password", :class => (flash[:alert] || @error ? 'error' : nil) %>
        <% if @error %>  
          </div>
          <div class="error"><%= @error %></div>
        <% end %>                                              
        
      </div>

      <div class="field margin25">
        <%= submit_tag "Sign in", :class => "green border sessions" %>
      </div>

    <% end %>
  </div>
  <div class="footer">
    <p class="center light"><%= link_to "Forgot password?",forget_password_url %> · <%= link_to "Create an account", "http://cartodb.com/signup" %></p>
  </div>
</section>

<footer class="short">
  <%= link_to 'CartoDB', root_path, :class => "cartodb" %>
</footer>







<!--<div class="glow">
    <div class="section">
      <h1>Welcome to CartoDB</h1>
      <p>Enter your account information to start mapping</p>
      <%= form_tag create_session_path do %>
        <p class="title">Please login</p>
        <%= label_tag :email, 'e-mail or username' %>
        <%= text_field_tag :email, '', :class => (flash[:alert] || @login_error ? 'error' : nil) %>
        <span class="password">
          <%= label_tag :password, 'password' %>
          <%= password_field_tag :password, '', :class => (flash[:alert] || @login_error ? 'error' : nil) %>
        </span>
        <%= link_to "Did you forget your password?", forget_password_url, :class => "forget" if forget_password_url.present? %>
        <%= submit_tag 'Log in', :class => "login" %>
        <% if flash[:alert] || @login_error %>
        <div class="error_content">
          <p><span><%= flash[:alert] || @login_error %></span></p>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="footer">CartoDB is a product from <a href="http://www.vizzuality.com" target="_blank">vizzuality</a> | <a href="http://cartodb.com/terms">Terms of service</a></div>
 -->