  <% content_for :head do %>
    <%= stylesheet_link_tag('reset.css','front/sessions') %>
  <% end %>

  <section>
    <h1>Welcome to Carto<strong>DB</strong></h1>
    <p>Use your account information to start using CartoDB</p>
    <%= form_tag create_session_path do %>
      <p>Introduce your account data</p>
      <%= label_tag :email, 'your e-mail' %>
      <%= text_field_tag :email, '', :class => (flash[:alert] ? 'error' : nil) %>
      <%= label_tag :password, 'your password' %>
      <%= password_field_tag :password, '', :class => (flash[:alert] ? 'error' : nil) %>
      <%= submit_tag 'Sign in', :class => "login" %>
      <% if flash[:alert] %>
      <div class="error_content">
        <p><span><%= flash[:alert] %></span></p>
      </div>
      <% end %>
    <% end %>
  </section>
  <footer>CartoDB is a product of <a href="http://www.vizzuality.com" target="_blank">vizzuality</a></footer>