<%= content_for(:js) do %>
  <%= javascript_include_tag 'cdb.js', 'application.js', 'login.js' %>
<% end %>

<section class="sessions shadow">
  <div class="content">
    <h2 class="center">Login to your CartoDB</h2>
    <%= form_tag create_session_path do %>
      <div class="field margin30">
        <% @error = @login_error %>
        <% if @error %>
          <div class="field_with_errors">
        <% end %>
        <%= text_field_tag :email, CartoDB.extract_subdomain(request), :title => "Email or username", :'data-label' => "Email or username", :class => (flash[:alert] || @error ? 'error' : nil) %>
        <% if @error %>
          </div>
          <div class="field_error"><%= @error %></div>
        <% end %>
      </div>
      <div class="field margin20">
        <% if @error %>
          <div class="field_with_errors">
        <% end %>
        <%= password_field_tag :password, '', :title => "Password", :'data-label' => "Password", :class => (flash[:alert] || @error ? 'error' : nil) %>
        <% if @error %>
          </div>
          <div class="field_error"><%= @error %></div>
        <% end %>
      </div>
      <div class="field margin25">
        <%= submit_tag "Sign in", :class => "green border sessions" %>
      </div>
    <% end %>
  </div>
  <div class="footer">
    <p class="center light"><%= link_to "Forgot password?",forget_password_url %> · <%= link_to "Create an account", "http://cartodb.com/signup" %></p>
  </div>
</section>
<footer class="short">
  <h1><%= link_to 'CartoDB', "http://cartodb.com", :class => "cartodb" %></h1>
</footer>
