<% if @organization %>
  <% content_for :title do %><%= @organization.name %><% end %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag 'cdb.js', 'sessions.js' %>
<% end %>

<div class="Sessions" style="<%= background %>">
  <%= render partial: 'admin/shared/sessions_header', locals: { align: "" } %>

  <div class="Sessions-content">
    <div class="Sessions-inner">
      <div class="Sessions-notloggedin">
        <div class="u-inner">
          <div class="Sessions-left">
            <div class="Sessions-form">
              <h1 class="Sessions-title u-vspace-xs">Login to CartoDB</h1>
              <p class="Sessions-description">Help other people understand the world we live in, with maps.</p>

              <div class="Sessions-sep"></div>

              <% if @google_plus_config.present? %>
                <%= render partial: 'google_plus/google_plus_button',  locals: { config: @google_plus_config } %>
              <% end %>

              <div class="Sessions-sep"></div>

              <%= form_tag CartoDB.path(self, 'create_session'), class: "js-Loading-form" do %>
                <input type="hidden" value="" id="google_access_token" name="google_access_token" />
                <input type="hidden" value="0" id="google_access_filled" name="google_access_filled" />

                <div class="Sessions-field">
                  <%= text_field_tag :email, CartoDB.extract_subdomain(request), :title => "Email or username", placeholder: "email or username", class: "Sessions-input" %>

                  <% if @login_error %>
                    <div class="Sessions-fieldError js-Sessions-fieldError" data-content="<%= @login_error %>">!</div>
                  <% end %>
                </div>

                <div class="Sessions-field">
                  <%= password_field_tag :password, "", placeholder: "password", class: "Sessions-input" %>

                  <% if @login_error %>
                    <div class="Sessions-fieldError js-Sessions-fieldError" data-content="<%= @login_error %>">!</div>
                  <% end %>
                </div>

                <div class="Sessions-field">
                  <p>
                    <button type="submit" class="Btn Btn--green Btn--m is-highlight u-tupper Sessions-button js-Sessions-button js-Loading u-right">
                      <span class="js-Loading-text">Login</span>
                      <span class="js-Loading-anim" style="display: none;">
                        <span class="Loading-item">
                          <span class="Loading-itemInner Loading-itemInner--01"></span>
                        </span>

                        <span class="Loading-item">
                          <span class="Loading-itemInner Loading-itemInner--02"></span>
                        </span>

                        <span class="Loading-item">
                          <span class="Loading-itemInner Loading-itemInner--03"></span>
                        </span>
                      </span>
                    </button>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="Sessions-loggedin">
        <div class="Spinner"></div>
      </div>
    </div>
  </div>
  
  <% unless cartodb_com_hosted? %>
    <footer class="Sessions-footer">
      <div class="u-inner">
        <div class="Sessions-notloggedin">
          <p class="Sessions-text Sessions-text--footer u-txt-center"><%= link_to "Forgot password?", forget_password_url %> · <%= link_to 'Create an account', "https://cartodb.com/signup" %></p>
        </div>
      </div>
    </footer>
  <% end %>
</div>
