  <% content_for :head do %>
    <%= stylesheet_link_tag('reset.css','front/sessions') %>
  <% end %>

  <div class="section">
    <h1>Welcome to Carto<strong>DB</strong></h1>
    <p>Enter your account information to start mapping</p>
    <%= form_tag create_session_path do %>
      <p>Please login</p>
      <%= label_tag :email, 'e-mail' %>
      <%= text_field_tag :email, '', :class => (flash[:alert] ? 'error' : nil) %>
      <%= label_tag :password, 'password' %>
      <%= password_field_tag :password, '', :class => (flash[:alert] ? 'error' : nil) %>
      <%= submit_tag 'Log in', :class => "login" %>
      <% if flash[:alert] %>
      <div class="error_content">
        <p><span><%= flash[:alert] %></span></p>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="footer">CartoDB is a product from <a href="http://www.vizzuality.com" target="_blank">Vizzuality</a></div>
