<ul class="BreadcrumbsDropdown-list">
  <li class="BreadcrumbsDropdown-listItem">
    <nav class="BreadcrumbsDropdown-options">
      <a href="<%- mapsUrl %>" class="BreadcrumbsDropdown-optionsItem <%- isMaps && !isDeepInsights && !isLocked ? 'is-selected' : '' %>">Maps</a>
      <a href="<%- datasetsUrl %>" class="BreadcrumbsDropdown-optionsItem has-margin <%- isDatasets && !isLocked ? 'is-selected' : '' %>">Datasets</a>
      <% if (isDeepInsightsEnabled) { %>
        <a href="<%- deepInsightsUrl %>" class="BreadcrumbsDropdown-optionsItem has-margin <%- isDeepInsights ? 'is-selected' : '' %>">Deep insights</a>
      <% } %>
    </nav>
  </li>
  <li class="BreadcrumbsDropdown-listItem is-dark">
    <nav class="BreadcrumbsDropdown-options">
      <a href="<%- lockedMapsUrl %>" class="BreadcrumbsDropdown-optionsItem <%- isMaps && isLocked ? 'is-selected' : '' %>">Locked maps</a>
      <a href="<%- lockedDatasetsUrl %>" class="BreadcrumbsDropdown-optionsItem has-margin <%- isDatasets && isLocked ? 'is-selected' : '' %>">Locked datasets</a>
    </nav>
  </li>
</ul>
