<span class="Filters-separator"></span>
<div class="Filters-row">
  <ul class="Filters-group">
    <% if (kind == 'marker') { %>
    <li class="Filters-typeItem">
      <button data-type="simple_icons" class="Filters-typeLink js-item<%- pane === 'simple_icons' ? ' is-selected' : '' %>">
        Simple icons
      </button>
    </li>
    <li class="Filters-typeItem">
      <button data-type="pin_icons" class="Filters-typeLink js-item<%- pane === 'pin_icons' ? ' is-selected' : '' %>">
        Pin icons
      </button>
    </li>
    <li class="Filters-typeItem">
      <button data-type="maki_icons" class="Filters-typeLink js-item<%- pane === 'maki_icons' ? ' is-selected' : '' %>">
        Maki icons
      </button>
    </li>
    <% } %>
    <% if (kind == 'pattern') { %>
    <li class="Filters-typeItem">
      <button data-type="patterns" class="Filters-typeLink js-item<%- pane === 'patterns' ? ' is-selected' : '' %>">
        CARTO Patterns Library
      </button>
    </li>
    <% } %>
  </ul>
  <ul class="Filters-group">
    <li class="Filters-typeItem">
      <button data-type="your_icons" class="Filters-typeLink is-disabled js-your-icons<%- pane === 'your_icons' ? ' is-selected' : '' %>">
        Your icons
      </button>
    </li>
    <li class="Filters-typeItem">
      <button data-type="upload_file" class="Filters-typeLink js-item<%- pane === 'upload_file' ? ' is-selected' : '' %>">
        Upload file
      </button>
    </li>
    <% if (dropbox_enabled) { %>
    <li class="Filters-typeItem">
      <button data-type="dropbox" class="Filters-typeLink js-item<%- pane === 'dropbox' ? ' is-selected' : '' %>">
        Dropbox
      </button>
    </li>
    <% } %>
  </ul>
</div>
