<% content_for :title do %>Password changed<% end %>

<div class="CDB-Text <%= @organization.present? ? 'Sessions' : 'Sessions-navy' %>" style="<%= @organization.present? ? background : '' %>">
  <div class="Sessions-centered">
    <div class="header">
      <div class="Sessions-logoContainer">
        <picture class="Navbar-brand">
            <% if @organization.present? && @organization.avatar_url.present? %>
              <img src="<%= @organization.avatar_url %>" alt="<%= @organization.name %> organization">
            <% else %>
              <% if @organization.present? %>
                <%= image_tag("layout/carto-logo-darkblue.svg", :alt => "CARTO") %>
              <% else %>
                <%= image_tag("layout/carto-logo.svg", :alt => "CARTO") %>
              <% end %>
            <% end %>
        </picture>
      </div>
      <h1 class="Sessions-title"><%= 'Your password has been updated successfully' %></h1>
    </div>
    <div class="footer">
      <p class="Sessions-link"><%= link_to 'Sign in',login_path %> · <%= link_to 'Go back to the homepage', root_path %></p>
    </div>
  </div>
</div>
