<div class="OptionCard-icon IllustrationIcon IllustrationIcon--<%- model.get('iconCategory') %>">
  <i class="iconFont iconFont-<%- model.get('iconName') %>"></i>
</div>
<p class="OptionCard-title"><%- model.get('title') %></p>
<p class="OptionCard-desc"><%= model.get('desc') %></p>
<input type="text" value="<%- model.get('copyable') %>"
  class="Publish-copyableInput Input Input--slim <%= model.get('loadingCopyable') ? 'is-loading' : '' %>" />
