<div class="OptionCard-icon IllustrationIcon IllustrationIcon--<%- model.get('iconCategory') %>">
  <i class="iconFont iconFont-<%- model.get('iconName') %>"></i>
</div>
<% if (model.get('disabledBecausePrivate')) { %>
  <p class="OptionCard-title">Your map is private</p>
  <p class="OptionCard-desc">Change your <a href="#" class="js-change-privacy">privacy settings</a> to <%- model.get('disabledBecausePrivate') %> your map. Right now it's private.</p>
<% } else { %>
  <p class="OptionCard-title"><%- model.get('title') %></p>
  <p class="OptionCard-desc"><%= model.get('desc') %></p>
  <input type="text" value="<%- model.get('copyable') %>"
    class="Publish-copyableInput Input Input--slim <%= model.get('loadingCopyable') ? 'is-loading' : '' %>" />
<% } %>
