<% content_for(:page_title) do %>
  Edit <%= @user.username %> |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var authenticity_token = "<%= form_authenticity_token %>";
    var config = <%= safe_js_object frontend_config %>;
    var user_data = <%= safe_js_object current_user.data.to_json.html_safe %>;
    var mobile_enabled = "<%= current_user.mobile_sdk_enabled? %>"
  </script>
  <%= javascript_include_tag 'common', 'common_vendor', 'organization' %>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'organization.css',  :media => 'all' %>
<% end %>


<%= render :partial => 'shared/flash_message' %>

<div class="FormAccount-Section u-inner">
  <%= render :partial => 'admin/shared/pages_subheader' %>

  <div class="FormAccount-Content">
    <div class="Filters is-relative">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row">
          <ul class="Filters-group CDB-Text CDB-Size-medium">
            <li class="u-flex u-alignCenter">
              <a href="<%= current_user_url('organization') %>" class="u-actionTextColor u-flex u-alignCenter">
                <i class="CDB-IconFont CDB-IconFont-arrowPrev u-rSpace--xl"></i>
              </a>
            </li>
            <li class="Filters-typeItem">
              <div>
                <p class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor"><%= @user.username.capitalize %></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%= render partial: 'form' %>

  </div>
</div>

<%= render 'admin/shared/new_private_footer' %>
