<% content_for(:page_title) do %>
  Edit <%= @user.username %> |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var config = <%= safe_js_object frontend_config %>;
    var user_data = <%= safe_js_object current_user.data.to_json.html_safe %>;
    var authenticity_token = "<%= form_authenticity_token %>";
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'organization_templates.js', 'organization_deps.js', 'organization.js' -%>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'organization.css',  :media => 'all' %>
<% end %>


<%= render :partial => 'shared/flash_message' %>

<div class="Form-accountSection u-inner">
  <%= render :partial => 'admin/shared/pages_subheader' %>

  <div class="Form-accountContent">
    <div class="Filters above-form">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row">
          <div class="Filters-type">
            <ul class="Filters-list">
              <li>
                <a href="<%= CartoDB.url(self, 'organization') %>" class="Filters-typeLink Filters-actionButton NavButton NavButton--back">
                  <i class="iconFont iconFont-ArrowPrev"></i>
                </a>
              </li>
              <li class="Filters-typeItem">
                <div class="Form-title">
                  <p class="Form-titleText"><%= @user.username.capitalize %></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'form' %>

  </div>
</div>

<%= render 'admin/shared/footer' %>
