<% content_for(:page_title) do %>
  New <%= current_user.organization.name %> user |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var config = <%= safe_js_object frontend_config %>;
    var user_data = <%= safe_js_object current_user.data.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'organization_templates.js', 'organization_deps.js', 'organization.js' -%>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'organization.css',  :media => 'all' %>
<% end %>

<%= render :partial => 'shared/flash_message' %>

<div>
  <div class="Filters above-form">
    <div class="u-inner">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row">
          <div class="Filters-type">
            <ul class="Filters-list">
              <li>
                <a href="<%= CartoDB.url(self, 'organization') %>" class="Filters-typeLink Filters-actionButton NavButton NavButton--back">
                  <i class="iconFont iconFont-ArrowPrev"></i>
                </a>
              </li>
              <li class="Filters-typeItem"><a class="Filters-typeLink is-selected">New user</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="OrganizationContent">
    <div class="u-inner">
      <%= render partial: 'form' %>
    </div>
  </div>
</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/footer' %>
