<div class="IntermediateInfo">
  <i class="
    IntermediateInfo-icon
    iconFont

    <% if (q || tag) { %> IntermediateInfo-iconNegative iconFont-Lens<% } %>
    <% if (shared) { %>   iconFont-DefaultUser   <% } %>
    <% if (liked) { %>    iconFont-Heart--empty  <% } %>
    <% if (locked) { %>   iconFont-Lock          <% } %>
  "></i>
  <h4 class="IntermediateInfo-title">
    <% if (page > 1 || totalItems === 0 && totalEntries > 0) { %>
      There are no results in this page  
    <% } %>

    <% if (( tag || q ) && totalItems === 0 && totalEntries === 0) { %>
      0 <%= tag || q %> <%= type %> found
    <% } %>

    <% if (page === 1 && !tag && !q && totalItems === 0 && totalEntries === 0) { %>
      There are not <%= shared ? 'shared' : '' %> <%= locked ? 'locked' : '' %> <%= type %> 
    <% } %>
  </h4>
  <p class="DefaultParagraph">
    <% if (page > 1 || totalItems === 0 && totalEntries > 0) { %>
      Back to your <a class="ContentResult-urlLink" href="<%= userPrefix %>/dashboard/<%= type %>">first page</a>
    <% } %>

    <% if (( tag || q ) && totalItems === 0 && totalEntries === 0) { %>
      Back to your <a class="ContentResult-urlLink" href="<%= userPrefix %>/dashboard/<%= type %>"><%= type %></a>
    <% } %>

    <% if (!tag && !q && totalItems === 0 && totalEntries === 0) { %>
      No <%= type %>, no fun
    <% } %>
  </p>
</div>
