<div class="DatasetsList-itemCategory"></div>
<div class="DatasetsList-itemPrimaryInfo">
  <h3 class="DatasetsList-itemTitle DefaultTitle">
    <a href="#" title="<%= name %>"><%= name %></a>
    <span class="DatasetsList-itemTitlePermission PermissionIndicator">READ</span>
  </h3>
  <% if (!description) { %>
    <a href="#" class="DatasetsList-itemDescription CallToAction">Add a description...</a>
  <% } else { %>
    <p class="DatasetsList-itemDescription DefaultDescription"><%= description %></p>
  <% } %>
</div>
<div class="DatasetsList-itemSecondaryInfo">
  <ul class="DatasetsList-itemMeta">
    <a href="#change-privacy" class="PrivacyIndicator is-<%= privacy.toLowerCase() %>"><%= privacy.toLowerCase() %></a>
    <a href="#likes" class="LikesIndicator">
      <i class="LikesIndicator-icon iconFont-Heart--fill"></i>12
    </a>
    <label class="RowsIndicator">
      <i class="RowsIndicator-icon iconFont-Rows"></i>
      3.234 Rows
    </label>
    <label class="DefaultTimeDiff">
      <i class="DefaultTimeDiff-icon iconFont-Clock"></i>
      2 weeks ago by
        <span class="UserAvatar">
          <img class="UserAvatar--small" alt="" title="" />
        </span>
    </label>
  </ul>
  <div class="DatasetsList-itemTags">
    <% if (!tags) { %>
      <a href="#" class="CallToAction">Add tags...</a>
    <% } else { %>
      <div class="DefaultTags">
        <a href="#">Bike</a>, <a href="#">Personal</a>, <a href="#">Rides</a>
      </div>
    <% } %>
  </div>
</div>