<div class="DatasetsList-itemPrimaryInfo">
  <div class="DatasetsList-itemCategory is--<%= isRaster ? 'raster' : geometryType %>Dataset">
    <% if (syncStatus) { %>
      <i
      <% if (syncStatus === "failure") { %>
        data-title="Synced failed, last successfull was <%= syncRanAt %>"
      <% } else if (syncStatus === "syncing") { %>
        data-title="Syncing"
      <% } else { %>
        data-title="Synced <%= syncRanAt %>"
      <% } %>
      class="iconFont iconFont-Wifi DatasetsList-itemStatus is-<%= syncStatus %>"></i>
    <% } %>
  </div>
  <div class="DatasetsList-itemInfo">
    <h3 class="DatasetsList-itemTitle">
      <% if (isRaster) { %>
        <p title="<%= title %>" class="DatasetsList-itemTitle is--disabled u-ellipsLongText"><%= title %></p>
      <% } else { %>
        <a href="<%= datasetUrl %>" title="<%= title %>" class="DefaultTitle-link u-ellipsLongText"><%= title %></a>
      <% } %>
      <% if (showPermissionIndicator) { %>
        <span class="DatasetsList-itemTitlePermission PermissionIndicator">READ</span>
      <% } %>
    </h3>
    <% if (description && description.length > 0) { %>
      <p class="DefaultDescription u-ellipsLongText" title="<%= description %>"><%= description %></p>
    <% } else if (isOwner) { %>
      <form class="DefaultEditInline-form">
        <input type="text" class="DefaultEditInline-input" placeholder="Add a description..." />
      </form>
    <% } else { %>
      <span class="DefaultDescription is--empty">No description</span>
    <% } %>
  </div>
</div>
<div class="DatasetsList-itemSecondaryInfo">
  <ul class="DatasetsList-itemMeta">
    <a href="#change-privacy" class="PrivacyIndicator is-<%= privacy %>"><%= privacy %></a>
    <span class="js-likes-indicator" />
    <% if (rowCount) { %>
      <label class="RowsIndicator">
        <i class="iconFont iconFont-Rows RowsIndicator-icon"></i>
        <%= rowCount %> <%= pluralizedRows %>
      </label>
    <% } %>
    <% if (datasetSize) { %>
      <label class="SizeIndicator">
        <i class="iconFont iconFont-Floppy SizeIndicator-icon"></i>
        <%= datasetSize %>
      </label>
    <% } %>
    <label class="DatasetsList-itemTimeDiff DefaultTimeDiff">
      <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
        <%= timeDiff %>
        <% if (!isOwner) { %>
          by
          <span class="UserAvatar">
            <img class="UserAvatar-img UserAvatar-img--smaller" src="<%= owner.avatar_url %>" alt="<%= owner.name || owner.username  %>" title="<%= owner.name || owner.username  %>" />
          </span>
        <% } %>
    </label>
  </ul>
  <div class="DatasetsList-itemTags">
    <% if (tagsCount > 0) { %>
      <div class="DefaultTags">
      <% for (var i = 0, l = Math.min(maxTagsToShow, tags.length); i < l; ++i) { %>
        <a class="DefaultTags-item js-tag-link" href="<%= routerModel.url({ search: ':'+ tags[i] }) %>"><%= tags[i] %></a><% if (i !== (l-1)) { %>,<% } %>
      <% } %>
      <% if (tagsCount > maxTagsToShow) { %>
        and <%= tagsCount - maxTagsToShow %> more
      <% } %>
    <% } else if (isOwner) { %>
      <form class="DefaultEditInline-form">
        <input type="text" class="DefaultEditInline-input" placeholder="Add tags..." />
      </form>
    <% } else { %>
      <span class="DefaultTags-item is--empty">No tags</span>
    <% } %>
  </div>
</div>
