
  <div class="DashboardFilters-type">
    <ul class="DashboardFilters-list">

      <li class="DashboardFilters-typeItem">
        <a href="<%= prefix %>/dashboard<%= model !== 'tables' ? '/visualizations/' : '/' %>" class="DashboardFilters-typeLink is-selected">
          <%= model === "visualizations" ? 'Maps' : 'Datasets' %>
        </a>
      </li>
      <% if (org) { %>
        <li class="DashboardFilters-typeItem">
          <a class="DashboardFilters-typeLink" href="<%= prefix %>/dashboard<%= model !== 'tables' ? '/visualizations/' : '/' %>shared">Shared with you</a>
        </li>
      <% } %>
      <li class="DashboardFilters-typeItem">
        <a class="DashboardFilters-typeLink" href="<%= prefix %>/dashboard<%= model !== 'tables' ? '/visualizations/' : '/' %>likes">
          Liked <%= model === "visualizations" ? 'Maps' : 'Datasets' %>
        </a>
      </li>
    </ul>
  </div>

  <div class="DashboardFilters-order">
    <ul class="DashboardFilters-list">
      <li class="DashboardFilters-orderItem">
        Order by
      </li>
      <li class="DashboardFilters-orderItem">
        <a class="DashboardFilters-orderLink DashboardFilters-orderLink--clock <%= !order || order === 'updated_at' ? 'is-selected' : '' %>" href="#time"></a>
      </li>
      <li class="DashboardFilters-orderItem">
        <a class="DashboardFilters-orderLink DashboardFilters-orderLink--graph <%= order === 'mapviews' ? 'is-selected' : '' %>" href="#views"></a>
      </li>
      <li class="DashboardFilters-orderItem">
        <a class="DashboardFilters-orderLink DashboardFilters-orderLink--heart <%= order === 'likes' ? 'is-selected' : '' %>" href="#likes"></a>
      </li>
    </ul>

    <a href="#new-map" class="Button Button--green">
      <span>
        <%= model === "visualizations" ? 'New Map' : 'Create connection' %>
      </span>
    </a>
  </div>
