<span class="DashboardFilters-separator"></span>

<div class="DashboardFilters-row">
  <div class="DashboardFilters-type">
    <ul class="DashboardFilters-list">
      <li class="DashboardFilters-typeItem DashboardFilters-searchEnabler">
        <a href="#/search" class="DashboardFilters-searchLink">
          <i class="DashboardFilters-searchLinkIcon iconFont iconFont-Lens"></i>Search
        </a>
      </li>
      <li class="DashboardFilters-typeItem DashboardFilters-searchItem">
        <form class="DashboardFilters-searchForm" action="<%= urls.byCurrentState('/search') %>">
          <input class="DashboardFilters-searchInput" type="text" value="<%= ( tag && (':' + tag) ) || q %>" placeholder="by name or :tag" />
          <% if (tag || q) { %>
            <a href="#/clear-search" class="DashboardFilters-cleanSearch">
              <i class="iconFont iconFont-Close"></i>
            </a>
          <% } %>
        </form>
      </li>
      <li class="DashboardFilters-typeItem">
        <a href="<%= urls.byContentType() %>" class="DashboardFilters-typeLink <%= !shared && !liked && !library ? 'is-selected' : '' %>">
          <%= content_type %>
        </a>
      </li>
      <% if (isInsideOrg) { %>
        <li class="DashboardFilters-typeItem">
          <a class="DashboardFilters-typeLink <%= shared ? 'is-selected' : '' %>" href="<%= urls.byContentType('/shared') %>">Shared with you</a>
        </li>
      <% } %>
      <li class="DashboardFilters-typeItem">
        <a class="DashboardFilters-typeLink <%= liked ? 'is-selected' : '' %>" href="<%= urls.byContentType('/liked') %>">
          Liked
        </a>
      </li>
      <% if (content_type === "datasets") { %>
        <li class="DashboardFilters-typeItem">
          <a class="DashboardFilters-typeLink <%= library ? 'is-selected' : '' %>" href="<%= urls.byRoot('dashboard/datasets/library') %>">
            Data library
          </a>
        </li>
      <% } %>
    </ul>
  </div>

  <div class="DashboardFilters-order">
    <ul class="DashboardFilters-list">
      <li class="DashboardFilters-orderItem">
        <a data-title="Recently modified" class="DashboardFilters-orderLink DashboardFilters-orderLink--clock js-updated_at <%= !order || order === 'updated_at' ? 'is-selected' : '' %>" href="#/time">
          <i class="iconFont iconFont-Clock"></i>
        </a>
      </li>
      <li class="DashboardFilters-orderItem">
        <a data-title="Most visited" class="DashboardFilters-orderLink DashboardFilters-orderLink--graph js-mapviews <%= order === 'mapviews' ? 'is-selected' : '' %>" href="#/views">
          <i class="iconFont iconFont-Stats"></i>
        </a>
      </li>
      <li class="DashboardFilters-orderItem">
        <a data-title="Most liked" class="DashboardFilters-orderLink DashboardFilters-orderLink--heart js-likes <%= order === 'likes' ? 'is-selected' : '' %>" href="#/likes">
          <i class="iconFont iconFont-Heart--empty"></i>
        </a>
      </li>
    </ul>

    <a href="#new-map" class="Button Button--positive">
      <span><%= content_type === 'maps' ? 'New Map' : 'Connect dataset' %></span>
    </a>
  </div>
</div>

<div class="DashboardFilters-row">
  <label class="DashboardFilters-selectedItems"><%= selectedItems %> <%= pluralizedContentType %> selected</label>

  <div class="DashboardFilters-actions">
    <ul class="DashboardFilters-actionsList">
      <% if (content_type === "datasets") { %>
        <li class="DashboardFilters-actionsItem">
          <a class="DashboardFilters-actionsLink js-create" href="#/create-map">Create Map&hellip;</a>
        </li>
      <% } %>
      <li class="DashboardFilters-actionsItem">
        <% if (totalItems > selectedItems) { %>
          <a class="DashboardFilters-actionsLink js-select_all" href="#/select-all">Select all</a>
        <% } else { %>
          <a class="DashboardFilters-actionsLink js-deselect_all" href="#/deselect-all">Deselect all</a>
        <% } %>
      </li>
      <% if (selectedItems === 1) { %>
        <li class="DashboardFilters-actionsItem">
          <a class="DashboardFilters-actionsLink js-privacy" href="#/change-privacy">Change privacy</a>
        </li>
        <li class="DashboardFilters-actionsItem">
          <a class="DashboardFilters-actionsLink js-lock" href="#/lock">Lock <%= pluralizedContentType %>&hellip;</a>
        </li>
        <li class="DashboardFilters-actionsItem">
          <a class="DashboardFilters-actionsLink is--critical js-delete" href="#/delete">Delete <%= pluralizedContentType %>&hellip;</a>
        </li>
      <% } %>
    </ul>
  </div>
</div>
