<div class="MapCard <%= selected ? 'is--selected' : '' %>">
  <div class="MapCard-header">
    <img src="" alt="" title="" />
    <div class="MapCard-headerShadow"></div>
    <a href="#layers" class="MapCard-headerLayers"></a>
    <div class="MapCard-headerGraph"></div>
  </div>
  <div class="MapCard-content">
    <div class="MapCard-contentDetail">
      <div class="MapCard-contentInfo">
        <h3 class="DefaultTitle"><a class="DefaultTitle-link" title="<%= name %>" href="<%= url %>"><%= short_name %></a></h3>
        <% if (!isOwner) { %>
          <span class="PermissionIndicator"><%= permission %></span>
        <% } %>
      </div>

      <% if (des) { %>
        <p class="MapCard-contentDescription DefaultDescription" title="<%= des %>"><%= short_des %></p>
      <% } else { %>
        <form>
          <input type="text" placeholder="Add a description" />
        </form>
      <% } %>

      <% if (tags_count > 0) { %>
        <div class="DefaultTags MapCard-contentTags">
          <% for (var i = 0, l = Math.min(3,tags.length); i<l; i++) { %>
            <a class="DefaultTags-item" href="<%= tag_route %>/<%= encodeURIComponent(tags[i]) %>"><%= tags[i] %></a><% if (i != (l-1)) { %>,<% } %>
          <% } %>
          <% if (tags_count > 3) { %>
            and <%= tags_count - 3%> more
          <% } %>
        </div>
      <% } else { %>
        <form>
          <input type="text" placeholder="Add some tags" />
        </form>
      <% } %>
    </div>
    <div class="MapCard-contentFooter">
      <div class="MapCard-contentFooterDetails--left">
        <span class="PrivacyIndicator is-<%= privacy %>"><%= privacy %></span>
        <label class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
          <i class="DefaultTimeDiff-icon iconFont-Clock"></i>
          2 weeks ago
          <% if (!isOwner) { %>
            by
            <span class="UserAvatar">
              <img class="UserAvatar--small" src="" alt="" title="" />
            </span>
          <% } %>
        </label>
      </div>
      <div class="MapCard-contentFooterDetails--right">
        <a href="#likes" class="LikesIndicator">
          <i class="LikesIndicator-icon iconFont-Heart--fill"></i><%= likes %>
        </a>
      </div>
    </div>
  </div>
</div>