<div class="MapCard MapCard--selectable">
  <div class="MapCard-fake"></div>
  <a href="<%= url %>" class="MapCard-header js-header">
    <div class="MapCard-loader"></div>
    <div class="MapCard-headerGraph js-header-graph"></div>
  </a>
  <div class="MapCard-content">
    <div class="MapCard-contentBody">
      <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
        <h3 class="MapCard-contentBodyTitle DefaultTitle">
          <a class="DefaultTitle-link u-ellipsLongText" title="<%= name %>" href="<%= url %>"><%= name %></a>
        </h3>
        <% if (showPermissionIndicator) { %>
          <span class="PermissionIndicator MapCard-itemTitlePermission">READ</span>
        <% } %>
      </div>

      <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
        <% if (des) { %>
          <p class="DefaultDescription" title="<%= des %>"><%= short_des %></p>
        <% } else { %>
          <span class="DefaultDescription is--empty">No description</span>
        <% } %>
      </div>

      <div class="DefaultTags MapCard-contentBodyRow">
        <% if (tags_count > 0) { %>
          <% for (var i = 0, l = Math.min(3,tags.length); i<l; i++) { %>
            <a class="DefaultTags-item js-tag-link" href="<%= routerModel.url({ search: ':'+ tags[i] }) %>"><%= tags[i] %></a><% if (i != (l-1)) { %>,<% } %>
          <% } %>
          <% if (tags_count > 3) { %>
            and <%= tags_count - 3%> more
          <% } %>
        <% } else { %>
          <span class="DefaultTags-item is--empty">No tags</span>
        <% } %>
      </div>
    </div>
    <div class="MapCard-contentFooter">
      <div class="MapCard-contentFooterDetails--left">
        <button class="PrivacyIndicator is-<%= privacy %> js-privacy"><%= privacy %></button>
        <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
          <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
          <%= timeDiff %>
          <% if (!isOwner) { %>
            by
            <span class="UserAvatar">
              <img class="UserAvatar-img UserAvatar-img--smaller" src="<%= owner.avatar_url %>" alt="<%= owner.name || owner.username  %>" title="<%= owner.name || owner.username  %>" />
            </span>
          <% } %>
        </div>
      </div>
      <div class="MapCard-contentFooterDetails--right">
        <span class="js-likes-indicator" />
      </div>
    </div>
  </div>
</div>
