<div class="MapCard <%= selected ? 'is--selected' : '' %>">
  <div class="MapCard-header">
    <div class="MapCard-headerShadow"></div>
    <div class="MapCard-headerGraph js-header-graph"></div>
  </div>
  <div class="MapCard-content">
    <div class="MapCard-contentDetail">
      <div class="MapCard-contentInfo">
        <h3 class="DefaultTitle"><a class="DefaultTitle-link" title="<%= name %>" href="<%= url %>"><%= short_name %></a></h3>
        <% if (showPermissionIndicator) { %>
          <span class="PermissionIndicator">READ</span>
        <% } %>
      </div>

      <div class="MapCard-contentDescription">
        <% if (des) { %>
          <p class="DefaultDescription" title="<%= des %>"><%= short_des %></p>
        <% } else { %>
          <form class="DefaultEditInline-form">
            <input type="text" class="DefaultEditInline-input" placeholder="Add a description..." />
          </form>
        <% } %>
      </div>
      
      <div class="DefaultTags MapCard-contentTags">
        <% if (tags_count > 0) { %>
          <% for (var i = 0, l = Math.min(3,tags.length); i<l; i++) { %>
            <a class="DefaultTags-item js-tag-link" href="<%= routerModel.url({ search: ':'+ tags[i] }) %>"><%= tags[i] %></a><% if (i != (l-1)) { %>,<% } %>
          <% } %>
          <% if (tags_count > 3) { %>
            and <%= tags_count - 3%> more
          <% } %>
        <% } else { %>
          <form class="DefaultEditInline-form">
            <input type="text" class="DefaultEditInline-input" placeholder="Add tags..." />
          </form>
        <% } %>      
      </div>
    </div>
    <div class="MapCard-contentFooter">
      <div class="MapCard-contentFooterDetails--left">
        <span class="PrivacyIndicator is-<%= privacy %>"><%= privacy %></span>
        <label class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
          <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
          <%= timeDiff %>
          <% if (!isOwner) { %>
            by
            <span class="UserAvatar">
              <img class="UserAvatar--small" src="<%= owner.avatar_url %>" alt="<%= owner.name || owner.username  %>" title="<%= owner.name || owner.username  %>" />
            </span>
          <% } %>
        </label>
      </div>
      <div class="MapCard-contentFooterDetails--right">
        <span class="js-likes-indicator" />
      </div>
    </div>
  </div>
</div>
