<div class="MapCard">
  <div class="MapCard-header">
    <img src="" alt="" title="" />
    <div class="MapCard-headerShadow"></div>
    <a href="#layers" class="MapCard-headerLayers"></a>
    <div class="MapCard-headerGraph"></div>
  </div>
  <div class="MapCard-content">
    <div class="MapCard-contentDetail">
      <div class="MapCard-contentInfo">
        <h3 class="DefaultTitle"><a class="DefaultTitle-link" title="<%= name %>" href="#"><%= name %></a></h3>
        <span class="PermissionIndicator">READ</span>
      </div>
      <p class="MapCard-contentDescription DefaultDescription"><%= description %></p>
      <div class="DefaultTags MapCard-contentTags">
        <a class="DefaultTags-item" href="#tag">Bike</a>, <a class="MapsCard-contentTag" href="#tag">Personal</a>, <a class="MapsCard-contentTag" href="#tag">Rides</a>
      </div>
    </div>
    <div class="MapCard-contentFooter">
      <div class="MapCard-contentFooterDetails--left">
        <a href="#change-privacy" class="PrivacyIndicator is-<%= privacy.toLowerCase() %>"><%= privacy.toLowerCase() %></a>
        <label class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
          <i class="DefaultTimeDiff-icon iconFont-Clock"></i>
          2 weeks ago by
          <span class="UserAvatar">
            <img class="UserAvatar--small" src="" alt="" title="" />
          </span>
        </label>
      </div>
      <div class="MapCard-contentFooterDetails--right">
        <a href="#likes" class="LikesIndicator">
          <i class="LikesIndicator-icon iconFont-Heart--fill"></i>12
        </a>
      </div>
    </div>
  </div>
</div>