<ul class="NotificationsList">
  <li class="NotificationsList-item NotificationsList-header">
    <i class="NotificationsList-icon Notifications-iconCount <%= unreadItems > 0 ? 'new--items' : '' %>"><%= items.length %></i>
    <h5 class="NotificationsList-title">notification<%= items.length === 1 ? '' : 's' %></h5>
  </li>
  <% if (items.length > 0) { %>
    <% _.each(items, function(item){ %>
      <li class="NotificationsList-item">
        <i class="NotificationsList-icon iconFont iconFont-<%= item.type %> <%= !item.opened ? 'is--new' : ''  %>"></i>
        <p class="NotificationsList-text <%= !item.opened ? 'is--new' : ''  %>"><%= item.msg %></p>
      </li>
    <% }) %>
  <% } else { %>
    <li class="NotificationsList-item">
      <p class="NotificationsList-text">There is no notifications :)</p>
    </li>
  <% } %>
  <li class="NotificationsList-item NotificationsList-footer">
    <i class="NotificationsList-icon iconFont iconFont-DefaultUser"></i>
    <p class="NotificationsList-text">Welcome to your new CartoDB Dashboard!</p>
  </li>
</ul>
