<div class="Dialog-header TwitterImportDetails-header">
  <div class="Dialog-headerIcon Dialog-headerIcon--positive">
    <i class="iconFont iconFont-Twitter"></i>
    <span class="Badge Badge--positive Dialog-headerIconBadge">
      <i class="iconFont iconFont-Check"></i>
    </span>
  </div>
  <h3 class="Dialog-headerTitle">Your Twitter <%= type %> is created</h3>
  <p class="Dialog-headerText">
    <% if (datasetTotalRows === 0) { %>
      Unfortunatelly we haven't found any tweets with your search criteria
    <% } else { %>
      We've created a new <%= type %> containing a total of <%= datasetTotalRowsFormatted %> <br/>tweet<%= datasetTotalRows != 1 ? 's' : '' %> with your search terms
    <% } %>
  </p>
</div>
<div class="Dialog-body TwitterImportDetails-body">
  <div class="LayoutIcon TwitterImportDetails-icon <%= tweetsCost > 0 ? 'is-nonFree' : 'is-free' %>">
    <i class="iconFont iconFont-Dollar"></i>
  </div>
  <div class="TwitterImportDetails-info">
    <h4 class="TwitterImportDetails-infoTitle">
      <% if (tweetsCost > 0) { %>
        $<%= tweetsCostFormatted %> will be charged to your account
      <% } else { %>
        No extra charges have been done
      <% } %>
    </h4>
    <p class="TwitterImportDetails-infoText DefaultParagraph">
      <% if (tweetsCost > 0 || availableTweets <= 0) { %>
        You have consumed all your credits during this billing cycle (price is $<%= blockPriceFormatted %>/<%= blockSizeFormatted %> extra credits).
      <% } else { %>
        You still have <%= availableTweetsFormatted %> credit<%= availableTweets != 1 ? 's' : ''  %> left for this billing cycle.
      <% } %>
    </p>
  </div>
</div>
<div class="Dialog-footer TwitterImportDetails-footer">
  <a href="<%= mapURL %>" class="Button Button--secondary TwitterImportDetails-footerButton">
    <span>view <%= type %></span>
  </a>
</div>