<ul class="SettingsDropdown">
  <li>
    <p class="SettingsDropdown-sameline">
      <strong><%= name %></strong>
      <small class="DefaultDescription"><%= accountType %></small>
    </p>
    <p class="SettingsDropdown-email">
      <small class="DefaultDescription"><%= email %></small>
    </p>
  </li>
  <li>
    <p class="SettingsDropdown-sameline">
      <small class="DefaultDescription"><%= usedDataStr %> of <%= availableDataStr %> used</small>
      <% if (showUpgradeLink) { %>
        <a href="<%= upgradeUrl %>">
          <small>Upgrade</small>
        </a>
      <% } %>
    </p>
    <div class="SettingsDropdown-progressBar">
      <span class="bar-3" style="width: <%= usedDataPct %>%;"></span>
    </div>
  </li>
  <li>
    <p>
      <a href="<%= publicProfileUrl %>">View your public profile</a>
    </p>
    <p>
      <a href="<%= apiKeysUrl %>">Your API keys</a>
    </p>
    <p>
      <a href="<%= accountSettingsUrl %>">Account settings</a>
    </p>
    <p>
      <a href="<%= logoutUrl %>">Close session</a>
    </p>
  </li>
</ul
