<ul>
  <li>
    <h4><%= username %></h4>
    <small><%= email %></small>
    <small><%= accountType %></small>
  </li>
  <li>
    <%= usedDataStr %> of <%= availableDataStr %>
    <div class="ProgressBar">
      <span style="width: <%= usedDataPct %>%;"></span>
    </div>
    <% if (showUpgradeLink) { %>
      <a href="<%= upgradeUrl %>">Upgrade</a>
    <% } %>
  </li>
  <li>
    <a href="<%= publicProfileUrl %>">View your public profile</a>
    <a href="<%= apiKeysUrl %>">Your API keys</a>
    <a href="<%= accountSettingsUrl %>">Account settings</a>
    <a href="<%= logoutUrl %>">Close session</a>
  </li>
</ul
