<ul>
  <li>
    <p>
      <strong><%= username %></strong>
    </p>
    <p>
      <small class="DefaultDescription"><%= email %></small>
    </p>
    <small><%= accountType %></small>
  </li>
  <li>
    <p>
      <small class="DefaultDescription"><%= usedDataStr %> of <%= availableDataStr %> used</small>
    </p>
    <div class="ProgressBar">
      <span class="bar-3" style="width: <%= usedDataPct %>%;"></span>
    </div>
    <% if (showUpgradeLink) { %>
      <a href="<%= upgradeUrl %>">
        <small>Upgrade</small>
      </a>
    <% } %>
  </li>
  <li>
    <p>
      <a href="<%= publicProfileUrl %>">View your public profile</a>
    </p>
    <p>
      <a href="<%= apiKeysUrl %>">Your API keys</a>
    </p>
    <p>
      <a href="<%= accountSettingsUrl %>">Account settings</a>
    </p>
    <p>
      <a href="<%= logoutUrl %>">Close session</a>
    </p>
  </li>
</ul
