<ul>
  <li>
    <h4><%= username %></h4>
    <small><%= email %></small>
    <small><%= accountType %></small>
  </li>
  <li>
    <%= usedDataStr %> of <%= availableDataStr %> used
    <div class="ProgressBar">
      <span style="width: <%= usedDataPct %>%;"></span>
    </div>
    <% if (showUpgradeLink) { %>
      <a href="<%= upgradeUrl %>">Upgrade</a>
    <% } %>
  </li>
  <li>
    <ul>
      <li>
        <a href="<%= publicProfileUrl %>">View your public profile</a>
      </li>
      <li>
        <a href="<%= apiKeysUrl %>">Your API keys</a>
      </li>
      <li>
        <a href="<%= accountSettingsUrl %>">Account settings</a>
      </li>
      <li>
        <a href="<%= logoutUrl %>">Close session</a>
      </li>
    </ul>
  </li>
</ul
