<% content_for(:header_color) {"3B7EBB"} %>
<% content_for(:header_img) {"top.png"} %>

<% content_for :body do %>

<p style="text-align: center;">Your table import just finished.</p>
<p style="text-align: center;"><strong><%= @imported_tables %></strong> out of <strong><%= @total_tables %></strong> <%= @total_tables == 1? 'was' : 'were' %> successfully imported.</p>

<table border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
  <tr>
    <td align="center" valign="middle">
      <table border="0" cellpadding="0" cellspacing="0" style="background-color:#407CC0;border-collapse:separate!important;border-radius:23px">
        <tbody>
        <tr>
          <td align="center" valign="middle" style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:100%;padding-top:15px;padding-right:31px;padding-bottom:13px;padding-left:31px">
            <a href="<%= @link %>" style="color:#ffffff;text-decoration:none" target="_blank">View your tables</a>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td style="height: 20px;">&nbsp;</td>
  </tr>
</table>

<%= @first_table %>

<% end %>
