<% content_for(:subject) { @subject } %>

<% content_for :body do %>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff; border-collapse: separate !important; width: 100% !important;">
        <!-- TITLE -->
        <tr>
          <td align="left" style="padding-bottom: 32px; font-weight: bold; text-transform: uppercase; font-size: 22px; font-family: Helvetica, Arial, sans-serif; color: #2E3C43;">Your map got some love!</td>
        </tr>

        <!-- MESSAGE CONTENT -->
        <tr>
          <td align="left" style="font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #647083;">
            <p><img alt="Like" src=" http://carto-email-assets.s3.amazonaws.com/heart.png" width="16" height="15" style="display: inline-block; margin: 0 auto; vertical-align: middle;" border="0"> <%= @greetings.sample.capitalize %>! <strong><a href="<%= @viewer_maps_link %>" style="color: #666666;"><%= @viewer_name %></a></strong> likes your map <strong><%= @map_name %></strong></p>
          </td>
        </tr>

        <tr>
          <td align="left" style="background:url('<%= @preview_image %>'); width: 100% !important; height: 200px;">
          </td>
        </tr>

        <tr>
          <td align="left" style="font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #647083; padding-top: 80px;">
            <p><a href="<%= @link %>" target="_blank" style="color: #1785FB">View your map</a></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>
