<tr>
  <td align="left" style="font-size: 14px; line-height: 25px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #647083;">
    <p>You have been invited to CARTO as part of the <strong><%= @organization.name_to_display %></strong> organization. Please login to your dashboard with your organization username (<%= @user.username %>) and the password <%= @user_needs_password ? 'provided by your administrator' : 'you entered' %><%= ' as soon as you activate your account' unless @enable_account_link.nil? %>.</p>

    <% if @user_needs_password %>
      <p>If you have not received your password, contact your administrator at <strong><%= @owner.username %></strong>.</p>
    <% end %>
  </td>
</tr>

<% if @enable_account_link.nil? %>
  <%= render partial: 'mailer_modules/link_to_action', locals: { link: @link, link_text: 'Go to your dashboard' } %>
<% else %>
  <%= render partial: 'mailer_modules/link_to_action', locals: { link: @enable_account_link, link_text: 'Activate your account' } %>
<% end %>
