<div class="mamufas">
  <section class="block modal <%= modal_type %>">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3><%= title %></h3>
    </div>

    <div class="sample">
      <h4>Example request</h4>
      <p><%= url %>/api/v2/sql?q=SELECT * FROM <%= table_name %></p>
    </div>

    <div class="content">
      <div class="inner">
        <h4>Example response</h4>
        <p><%= description %></p>
        <code>
          <pre>
   {"time": 0.062, "fields":
      {
      <% _.each(schema, function(field) { %>
          "<%= field[0] %>": { "type": "<%= field[1] %>" },<% }) %>
          </pre>
      </code>
    </div>
      <div class="shadow"></div>
  </div>
  <div class="foot">
    <p>
      Remember that using the <a href="http://developers.cartodb.com/documentation/sql-api.html">CartoDB SQL API</a> you can perform any SQL query to either yours or other users tables
    </p>
    <a href="#go" class="right ok <%= ok_button_classes %>"><%= ok_title %></a>
  </div>
</section>
</div>
