<div class="colors">
  <div class="top">
    <a href="#/advanced" class="advanced">Show more colors</a>

    <div class="picker-wrapper">
      <div class="picker"></div>
      <div class="picker-indicator"></div>
    </div>
    <div class="slider-wrapper">
      <div class="slider"></div>
      <div class="slider-indicator"></div>
    </div>
  </div>
  <div class="content">
    <ul class="default-colors">
      <% for (var i = 0, l = colors.length; i < l; i++){ %><li><a href="<%- colors[i] %>" style="background:<%- colors[i] %>;"></a></li><% } %>
    </ul>
  </div>
</div>

<div class="bottom">
  <div class="left">
    <% if (extra_colors && extra_colors.length > 0) { %>
    <ul class="default-colors extra">
      <% for (var i = 0, l = Math.min(extra_colors.length,7); i < l; i++){ %>
        <li>
          <a href="<%- extra_colors[i] %>" style="background:<%- extra_colors[i] %>;"></a>
        </li>
      <% } %>
    </ul>
    <% } %>
  </div>
  <div class="form_input_color right">
    <form>
      <span class="color" style="background:<%- color %>"></span>
      <input class="text" type="text" value="<%- color %>"/>
    </form>
  </div>
</div>
