<a href="#<%- name %>" title="<%- name %>" class="radiobutton small <% if (visible == true) { %>visible<% } %> <% if (showRadio == false) { %>hidden_radio<% } %> <%- columnType %> <% if (!enabled) { %> disabled<% } %> <% if (selected) { %> selected<% } %>"><span class="radio"></span><%- name %></a>

<% if (joinType != "spatial" || (joinType == 'spatial' && source == 'origin')) { %>
  <a href="#switch" class="right switch <%- switchSelected ? "enabled" : "disabled" %>"><span class="handle"></span></a>
<% } %>

