<a class="dates" href="#/show-datapicker">
  <i class="calendar icon"></i>
  <span class="label">
      From <em><%= fromDate %> <%= cdb.Utils.pad(fromHour,2) %>:<%= cdb.Utils.pad(fromMin,2) %></em> to <em><%= toDate %> <%= cdb.Utils.pad(toHour,2) %>:<%= cdb.Utils.pad(toMin,2) %></em>
  </span>
</a>
<div class="calendar">
  <div class="datepicker"></div>
  <div class="timers">
    <div class="from">
      <div class="hour">
        <label>HOUR</label>
      </div>
      <div class="min">
        <label>MIN</label>
      </div>
    </div>
    <div class="to">
      <div class="hour">
        <label>HOUR</label>
      </div>
      <div class="min">
        <label>MIN</label>
      </div>
    </div>
  </div>
  <p class="hint margin20">* You can select back to the last <%= max_days %> days. Time is specificed <br/>in GMT+0 (for reference you are in GMT<%= moment().format('Z') %>)</p>
</div>