<div class="msg <%- type %>">
  <% if (type == "dependent") { %>
    <a href="#/open" class="open"><%- visualizations.length %> map<%- visualizations.length == 1 ? "" : "s" %></a> will be deleted since this is the only layer on them.
  <% } else if (type == "non_dependent") { %>
    This layer will disappear from <a href="#/close" class="open"><%- visualizations.length %> map<%- visualizations.length == 1 ? "" : "s" %></a>
  <% } else if (type == "synced"){ %>
    This dataset is synced by url, if you delete it, it will stop synchronizing.
  <% } %>
</div>
<div class="visualizations">
  <%= visualization_list %>
</div>
