<div class="content"></div>
<div class="foot">
  <% if(!readOnly) { %>
    <a href="#cancel" class="left cancel <%= cancel_button_classes %>"><%= cancel_title %></a>
    <a href="#go" class="right ok small grey <%= ok_button_classes %>"><%= ok_title %></a>
    <% if(typeof additionalButtons != "undefined") { %>
      <% for(var i=0, l = additionalButtons.length; i < l; i++) { %>
        <a href="#" class="right <%= additionalButtons[i].classes %>"><%= additionalButtons[i].title %></a>
      <% } %>
    <% } %>
  <% } else { %>
    <a href="#cancel" class="right cancel <%= cancel_button_classes %>">close</a>
  <% } %>
</div>
