<% if(isGeoreferenced != true && isGeoreferenced != false) { %>
  <div class="loader">
    <p class='loading'>Checking georeferences <img src="<%= cdb.config.get('assets_url') %>/images/layout/loader_transparent.gif"/></p>
  </div>
<% } else { %>
<div class="download">download</div>
<% _.each( formats, function( format ){ %>
<h2>
<a data-format="<%- format.format %>"
  class="button grey export
  <% if(isGeoreferenced == false && format.geomRequired == true) { %>
  disabled
  <% }; %>
  "
  title="Download <%- title %> in <%- format.format %>"
  >
  <%- format.format %>
</a>
</h2>
<% }); %>

  <div class="
    <% if(isGeoreferenced == true) { %>
      hidden
    <% } %>
    geospatial">
  </div>
  <div class="error hidden"></div>

  <form class="hack" method="POST" action="<%- url %>">
    <input type="hidden" class="filename" name="filename" />
    <input type="hidden" class="q" name="q" />
    <input type="hidden" class="format" name="format" />
    <input type="hidden" class="api_key" name="api_key" />
    <input type="hidden" class="skipfields" name="skipfields" disabled="disabled" value="" />
    <input type="hidden" class="dp" name="dp" value="4" disabled="disabled" />
  </form>
<% } %>
