<div class="mamufas">
  <section class="block modal <%- modal_type %>">
    <% if (cancelEnabled) { %>
      <a href="#/close" class="close">x</a>
    <% } %>
    <div class="head">
      <h3>
        <% if (isOwner) { %>
          <%- isVisLock ? 'Unlock' : 'Lock' %> this <%- visType %>
        <% } else { %>
          This <%- visType %> <%- isVisLock ? 'is locked' : 'is not locked' %>
        <% } %>
      </h3>
    </div>
    <div class="content">
      <p class="margin5">
        <% if (isOwner) { %>
          <% if (!isVisLock) { %>
            Locking your <strong><%- visName %></strong> <%- visType %> will hide it from your <%- visType %>s dashboard, but it will be visible clicking over the link at the bottom of that section.
            <% if (sharedPeople > 0 && visType === 'dataset') { %>
              <br/><br/>Also, people with write permission over this <%- visType %> will still be able to edit it.
            <% } %>
          <% } else { %>
            Your <strong><%- visName %></strong> <%- visType %> is locked, that means you need to unlock it before doing anything. Are you sure?
          <% } %>
        <% } else { %>
          This <strong><%- visName %></strong> <%- visType %> has been locked by <strong><%- ownerName %></strong>. Are you sure you want to edit it?
        <% } %>
      </p>
    </div>
    <% if(include_footer) { %>
      <div class="foot">
        <% if (cancelEnabled) { %>
          <a href="#/cancel" class="left cancel margin15 <%- cancel_button_classes %>">cancel</a>
        <% } else { %>
          <a href="#/back-to-dashboard" class="left back margin15">Back to dashboard</a>  
        <% } %>

        <% if (isOwner) { %>
          <a href="#/<%- isVisLock ? 'unlock' : 'lock' %>" class="right ok <%- ok_button_classes %>"><%- isVisLock ? 'Unlock' : 'Lock' %></a>
        <% } else { %>
          <a href="#/continue" class="right continue <%- ok_button_classes %>">Continue</a>
        <% } %>
      </div>
    <% } %>
  </section>
</div>