  <div class="mamufas">
    
    <section class="block modal">
      <form>
        <a href="#/close" class="close">x</a>
        
        <div class="head">
          <h3><%- title %></h3>
          <% if (description) { %>
            <p class="margin5"><%- description %></p>
          <% } %>
        </div>

        <div class="content">
          <div class="metadata_list">

            <div>
              <label class="uppercase smaller strong lighter">Name</label>
              <input type="text" value="<%- vis.name %>" name="name" <% if (!vis.isTitleEditable) { %>readonly<% } %> >
              <div class="info error">
                <p>Name shouldn't be blank</p>
              </div>
            </div>

            <% if (vis.internal) { %>
              <div class="margin15">
                <label class="uppercase smaller strong lighter">title</label>
                <input type="text" value="<%- vis.title %>" name="title" >
              </div>
            <% } %>

            <div class="margin15">
              <label class="uppercase smaller strong lighter margin15">Description</label>
              <textarea maxlength="<%- vis.max_length %>" name="description" cols="30" rows="10" <% if (!vis.isMetaEditable) { %>readonly<% } %> ><%- vis.description %></textarea>
              <div class="hint"><strong>**bold**</strong> <em>*italics*</em> [link title](url)</div>
            </div>

            <div class="margin15">
              <label class="uppercase smaller strong lighter">Tags</label>
              <ul class="<% if (!vis.isMetaEditable) { %>readonly<% } %>"></ul>
            </div>

            <% if (vis.internal) { %>
              <div class="margin15">
                <label class="uppercase smaller strong lighter">Source</label>
                <input type="text" value="<%- vis.source %>" name="source" <% if (!vis.isMetaEditable) { %>readonly<% } %> >
                <div class="hint"><strong>**bold**</strong> <em>*italics*</em> [link title](url)</div>
              </div>

              <div class="margin15">
                <label class="uppercase smaller strong lighter">License</label>
                <input type="text" value="<%- vis.license %>" name="license" <% if (!vis.isMetaEditable) { %>readonly<% } %> >
                <div class="hint"><strong>**bold**</strong> <em>*italics*</em> [link title](url)</div>
              </div>
            <% } %>

            <!-- We need this fake submit button to make submit form event work!!!!! -->
            <input type="submit" class="hide">
          </div>
        </div>
        <div class="foot">
          <% if (!vis.isOwner) { %>
            <div class="owner">
              <h3>Owner</h3>
              <img src="<%- vis.owner.avatar_url %>" /> <span><%- vis.owner.username %></span>
            </div>
          <% } %>

          <% if (( vis.isMetaEditable || vis.isTitleEditable ) && vis.isOwner) { %>
            <input type="submit" class="right ok <%- ok_button_classes %>" value="<%- ok_title %>" />
          <% } %>
        </div>
      </form>
    </section>

    <section class="block modal confirmation warning">
      <a href="#/close" class="close">x</a>
      <div class="head">
        <h3>Rename your table</h3>
      </div>
      <div class="content">
        <p><strong>This change will affect your API calls.</strong> If you are accessing this table via API don't forget to update the name in the API calls after changing the name.</p>
      </div>
      <div class="foot margin10">
        <a href="#cancel" class="left cancel margin10 <%- cancel_button_classes %>"><%- cancel_title %></a>
        <a href="#/yes" class="right grey button save">Yes, do it</a>
      </div>
    </section>

  </div>