<ul>
  <li>
    <a class="small" href="<% if (isInsideOrg) {%><%- cdb.config.prefixUrl() %><% } %>/your_apps">
      Your API keys
    </a>
  </li>

  <% if ( !isOrgOwner ) { %>
    <li>
      <a class="small" href="
      <% if (isInsideOrg) { %>
        <%- cdb.config.prefixUrl() %>/organization/users/<%- username %>/edit
      <% } else { %>
        //<%- account_host %>/account/<%- username %>
      <% } %>
      ">Account settings</a>
    </li>
  <% } else { %>
    <li><a class="small" href="<%- cdb.config.prefixUrl() %>/organization">Organization</a></li>
  <% } %>

  <% if ( newDashboardEnabled ) { %>
    <li><a class="small" href="//<%- account_host %>/account/<%- username %>/plan">Your plan</a></li>
  <% } %>

  <li><a class="small" href="<%- cdb.config.prefixUrl() %>/logout">Close session</a></li>
</ul>
