<li data-recurly_plan_code="<%= recurly_plan_code %>">
  <h4>$<%= price %><small>/mo</small></h4>
  <p class="sub"><%= title.toLowerCase() %></p>
  <div class="top">
    <ul class="info">
      <li><p><%= tables_quota %></p></li>
      <li><p><%= bytes_quota %></p></li>
    </ul>
  </div>
  <div class="bottom">
    <a href="#upgrade" class="button grey small radiobutton"><span class="radio"></span>Upgrade</a>
    <% if (lump_sum) { %>
      <p class="margin20 light">Or pay <a data-recurly_plan_code="<%= lump_sum.recurly_plan_code %>" href="#<%= lump_sum.recurly_plan_code %>" class="year_paid">$<%= lump_sum.price %>/year</a></p>
    <% } %>
  </div>
</li>