<div class="mamufas">
  <section class="block modal <%- modal_type %>">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3><%- title %></h3>
      <% if (description) { %>
        <p class="margin5"><%- description %></p>
      <% } %>
    </div>
    <div class="content"></div>
    <div class="foot hide">
      <a href="#upgrade" class="right ok <%- ok_button_classes %>"><%- ok_title %></a>
      <a href="<%- protocol %>//<%- config.account_host %>/pricing/" class="right margin15 list_prices">See all available plans</a>
    </div>
  </div>
</div>