<p><%- msg %></p>
<div class="list-wrapper">
  <ul>
    <% for (var i = 0, l = users.length; i < l; i++) { %>
      <li>
        <div class="info">
          <img src="<%- users[i].avatar_url || 'http://cartodb.s3.amazonaws.com/static/public_dashboard_default_avatar.png' %>" alt="<%- users[i].name %>" title="<%- users[i].name %>" />
          <h5 class="ellipsis"><%- users[i].type === 'org' ? 'Whole' : '' %> <%- users[i].username %> <%- users[i].type === 'org' ? 'organization' : '' %></h5>
        </div>
        <% if (users[i].visualizations.length > 0) { %>
        <div class="visualizations">
          <p class="light italic ellipsis">
            <% if (users[i].visualizations.length === 1) { %>
              <%- users[i].visualizations %>
            <% } else { %>
              <%- users[i].visualizations.length %> visualizations
            <% } %>
          </p>
        </div>
        <% } %>
      </li>
    <% } %>
  </ul>
</div>