<% if (failed) { %>
  <div class="ImportItem-text is-failed" title="<%= name %>">
    Ouch! Error importing <%= name %>
  </div>
  <button class="ImportItem-showButton Button js-show_error">SHOW</button>
  <button class="ImportItem-closeButton js-close">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } else if (completed) { %>
  <div class="ImportItem-text is-completed" title="<%= name %>">
    <%= name %> completed!
  </div>
  <button class="ImportItem-showButton Button js-show">SHOW</button>
  <button class="ImportItem-closeButton js-close">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } else { %>
  <div class="ImportItem-text" title="<%= name %>">
    <span class="ImportItem-textState"><%= state %></span> <%= name %>
  </div>
  <div class="ImportItem-progress">
    <div class="progress-bar">
      <span class="bar-3" style="width:<%= progress %>%"></span>
    </div>
  </div>
  <% if (state === "uploading") { %>
    <button class="ImportItem-closeButton js-abort">
      <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
    </button>
  <% } %>
<% } %>

