<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item">
    <p class="SettingsDropdown-sameline">
      <strong><%- name %></strong>
    </p>
    <p class="SettingsDropdown-email">
      <small class="DefaultDescription"><%= email %></small>
    </p>
  </li>
  <li class="SettingsDropdown-item">
    <p><a class="SettingsDropdown-itemLink" href="<%= dashboardUrl %>">Your dashboard</a></p>
    <p><a class="SettingsDropdown-itemLink" href="<%= apiKeysUrl %>">Your API keys</a></p>
    <p>
      <a class="SettingsDropdown-itemLink" href="<%= accountSettingsUrl %>">
        <%= isOrgAdmin ? 'Organization' : 'Account settings' %>
      </a>
    </p>
    <p><a class="SettingsDropdown-itemLink" href="<%= logoutUrl %>">Close session</a></p>
  </li>
</ul
