<% content_for :title do %>Organization signup issue<% end %>

<div class="Sessions" style="<%= background %>">
  <div class="Sessions-content">
    <div class="Sessions-inner">
      <div class="u-inner">
        <div class="Sessions-center Sessions--centered">
          <div class="Logo js-logo">
            <span class="Logo--avatar">
              <i class="iconFont iconFont-CartoFante" style="color: <%= @organization && @organization.color ? darken_color(@organization.color,0.7) : "#292E33" %>"></i>
            </span>
          </div>
          <div class="js-info">
            <h1 class="Sessions-title u-tspace-m">Service temporarily unavailable</h1>
            <p class="Sessions-description">Please, contact the administrator of <%= @organization.name %> (<a href="mailto:<%= @organization.owner.email %>"><%= @organization.owner.email %></a>) to begin your signup process.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

