<div class="table-item-inner <%= canImport ? '' : 'disabled' %>">
  
  <div class="table-desc">
    <div class="table-title">
      <h4><a href="<%= url %>" title="<%= name %>"><%= name %></a></h4>
    </div>
    <% if (description) { %>
      <%= description %>
    <% } %>
  </div>

  <div class="table-info">
    <div class="table-list-info">
      <ul>
        <% if (source) { %>
          <li class="table-source">
            <span><%= source %></span>
            <span class="dot-separator"></span>
          </li>
        <% } %>

        <% if (size) { %>
          <li class="table-size">
            <span data-title="This dataset doesn't fit into your available quota"><%= size %></span>
            <span class="dot-separator"></span>
          </li>
        <% } %>

        <% if (row_count) { %>
          <li class="table-rows">
            <span><%= row_count %> <%= row_count == 1 ? 'row' : 'rows' %></span>
            <span class="dot-separator"></span>
          </li>
        <% } %>

      </ul>
    </div>

    <!-- More tags thingy TO BE DONE -->
    <% if (license) { %>
      <div class="table-license">
        <span><%= license %><i class="icon-license <%= license.replace(/ /gi, '-') %>"></i></span>
      </div>
    <% } %>
  </div>

</div>