<td class="name">
  <a href="<%= url %>" class="name"><%= name %></a>
  <p><%= description %></p>
</td>
<td class="info <%= over_quota ? 'over_quota' : '' %>">
  <div class="stats"><span class="size"><%= quota %></span> &middot; <%= rows %> ROWS</div>
  <% if (author) { %>
    <div class="author">by <a target="_blank" href="<%= author_url %>"><%= author %></a></div>
  <% } %>
</td>
<td class="separator">
  <div class="separator"></div>
</td>
<td class="copy <%= over_quota ? 'over_quota' : '' %>">
  <a href="<%= url %>" class="copy" original-title="<%= !over_quota ? 'Copy to your tables' : 'You don\'t have enough quota. Click to upgrade' %>">copy</a>
</td>