Your apps

Add an aplication to...

<%= form_for :client_application do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.label :callback_url %>
  <%= f.text_field :callback_url %>

  <%= f.submit "Activate app" %>
<% end %>

<% if current_user.client_application %>
  <h2><%= current_user.client_application.name %></h2>
  <p><%= current_user.client_application.callback_url %></p>
  <p>Key: <%= current_user.client_application.key %></p>
  <p>Secret: <%= current_user.client_application.secret %></p>
<% end %>