<div class="ChangePrivacy-shareListItemInfo">
  <% if (avatarUrl) { %>
    <div class="UserAvatar ChangePrivacy-shareListItemIcon">
      <img src="<%= avatarUrl %>" class="UserAvatar--medium" />
    </div>
  <% } else { %>
    <div class="LayoutIcon ChangePrivacy-shareListItemIcon">
      <i class="iconFont iconFont-People iconFont--super"></i>
    </div>
  <% } %>
  <div>
    <div class="DefaultTitle u-ellipsLongText"><%= title %></div>
    <p class="DefaultDescription u-ellipsLongText"><%= desc %></p>
  </div>
</div>
<div>
  <span class="<%= canChangeWriteAccess ? '': 'u-disabled' %>">
    <div class="Toggler ChangePrivacy-shareListItemToggler">
      <input type="checkbox" id="<%= writeId %>" class="js-write"
          <%= canWrite ? 'checked="checked"' : '' %>
          <%= canChangeWriteAccess ? '': 'disabled="disabled"' %> />
      <label for="<%= writeId %>" />
    </div>
    <span class="DefaultDescription ChangePrivacy-shareListItemTogglerText">Write</span>
  </span>

  <div class="Toggler ChangePrivacy-shareListItemToggler">
    <input type="checkbox" id="<%= readId %>" class="js-read" <%= canRead ? 'checked="checked"' : '' %> />
    <label for="<%= readId %>" />
  </div>
  <span class="DefaultDescription">Read</span>
</div>
