<div class='oauth-form__avatars'>
  <%if (current_user && current_user.avatar) %> <!-- #TODO use variable like 'current_app' & 'current_app.avatar' -->
    <img class='oauth-form__avatar-image' src="<%= current_user.avatar %>" alt="<%= current_user.username %>" />
  <% else %>
    <img class='oauth-form__avatar-image' src="<%= image_path "oauth_provider/unknown_app_avatar.svg" %>" alt="Unknown app avatar">
  <% end %>
  <img src="<%= image_path "oauth_provider/arrows_connect.svg" %>" alt="Arrows connect">
  <img class='oauth-form__avatar-image' src="<%= current_user.avatar %>" alt="<%= current_user.username %>" />
</div>
