<%= content_for(:title) do %>CARTO · OAuth Authentication<% end %>

<%= content_for(:css) do %>
  <style type="text/css">
    .oauth-page {
      display: flex;
      min-height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #BABEC0;
    }

    /* oauth-form */
    .oauth-form {
      background-color: #FFFFFF;
      border: 1px solid #979797;
      border-radius: 4px;
      width: 380px;
      padding: 40px;
    }
    .oauth-form__header {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 300px;
    }
    .oauth-form__avatars {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .oauth-form__avatar-image {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      margin: 8px;
    }
    .oauth-form__title {
      font-family: 'Montserrat-SemiBold';
      font-size: 16px;
      color: #2E3C43;
      letter-spacing: 0;
      line-height: 24px;
    }
    .oauth-form__subtitle {
      font-family: 'Open Sans';
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 8px;
      color: #2E3C43;
      width: 220px;
      margin-left: auto;
      margin-right: auto;
    }
    .oauth-form__subtitle--error {
      text-align: left;
      width: 300px;
    }
    .oauth-form__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;
    }
    .oauth-form__powered-by {
      font-family: 'Open Sans';
      font-size: 10px;
      color: #828A8F;
    }
    .oauth-form__button {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 12px;
      display: inline-block;
      border-radius: 4px;
      background-color: #FFFFFF;
      border: 2px solid #828A8F;
      color: #828A8F;
      height: 32px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0px 10px;
      margin-left: 14px;
    }
    .oauth-form__button--primary {
      background-color: #1785FB;
      border-style: none;
      color: #FFFFFF;
    }

    .oauth-form__button--is-link {
      padding: 3px 10px;
    }

    /* oauth-scopes-category */
    .oauth-scopes-category {
      background-color: #F9F9F9;
      border-radius: 4px;
      padding: 16px;
      margin-top: 8px;
    }
    .oauth-scopes-category__title {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #2E3C43;
    }
    .oauth-scopes-category__list {
      font-family: 'Open Sans';
      border-top:  1px solid #EEEEEE;
      margin-top: 8px;
      padding-top: 4px;
      font-size: 12px;
      list-style-type: none;
      max-height: 120px;
      overflow-y: auto;
    }
    .oauth-scopes-category__scope::before {
      content: url("<%= image_path "oauth_provider/enabled_check.svg" %>");
      margin-right: 6px;
    }
    .oauth-scopes-category__scope--disabled {
      color: #828A8F;
    }
    .oauth-scopes-category__scope--disabled::before {
      content: url("<%= image_path "oauth_provider/disabled_check.svg" %>");
    }

    /* oauth-error */
    .oauth-error {
      font-size: 12px;
      color: #2E3C43;
      line-height: 16px;
    }

    .oauth-error__title {
      font-family: 'Open Sans';
      font-weight: 600;
      margin-top: 8px;
    }

    .oauth-error__list {
      font-family: 'Montserrat';
      font-weight: 600;
      list-style-type: none;
      max-height: 120px;
      overflow-y: auto;
    }

    .oauth-error__item {
      background-color: #F9F9F9;
      border-radius: 4px;
      margin-top: 8px;
      padding: 16px;
    }

  </style>
<% end %>

<!-- TODO back & front -->
<% has_scopes = true %>
<% has_errors = false %>

<div class='oauth-page'>
  <div class='oauth-form'>
    <header class='oauth-form__header'>
      <%= render :partial => 'header' %>
    </header>

    <% if @error.present? %>
      <%= render :partial => 'errors' %>
    <% else %>
      <%= render :partial => 'scopes' %>
    <% end %>

    <footer class='oauth-form__footer'>
      <%= render :partial => 'footer' %>
    </footer>
  </div>
</div>
