<button class="DatePicker-dates js-dates has-icon">
  From <strong><%- fromDate %> <%- cdb.Utils.pad(fromHour,2) %>:<%- cdb.Utils.pad(fromMin,2) %></strong> to <strong><%- toDate %> <%- cdb.Utils.pad(toHour,2) %>:<%- cdb.Utils.pad(toMin,2) %></strong>
  <i class="CDB-IconFont CDB-IconFont-calendar DatePicker-datesIcon"></i>
</button>
<div class="DatePicker-dropdown">
  <div class="DatePicker-calendar"></div>
  <div class="DatePicker-timers">
    <div class="DatePicker-timersFrom">
      <div class="DatePicker-timersHour">
        <label class="DatePicker-timersLabel">HOUR</label>
      </div>
      <div class="DatePicker-timersMin">
        <label class="DatePicker-timersLabel">MIN</label>
      </div>
    </div>
    <div class="DatePicker-timersTo">
      <div class="DatePicker-timersHour">
        <label class="DatePicker-timersLabel">HOUR</label>
      </div>
      <div class="DatePicker-timersMin">
        <label class="DatePicker-timersLabel">MIN</label>
      </div>
    </div>
  </div>
  <div class="DatePicker-shortcuts">
    <p class="DatePicker-shortcutsText">
      Get last <button type="button" class="Button--link js-fourHours">4 hours</button>,
      <button type="button" class="Button--link js-oneDay">1 day</button> or
      <button type="button" class="Button--link js-oneWeek">1 week</button>
    </p>
    <p class="DatePicker-shortcutsText">Dates must be specified in UTC.</p>
  </div>
</div>
