<div class="u-inner">
  <div class="Dialog-header">
    <div class="Dialog-headerIcon Dialog-headerIcon--neutral">
      <i class="CDB-IconFont CDB-IconFont-ray"></i>
    </div>
    <p class="Dialog-headerTitle">Your image has been generated correctly</p>
    <% if (response.type === 'url') {%>
    <p class="Dialog-headerText">It's now available in: <a href="<%- response.content %>" target="_blank" class="ExportImageResult--url" download="<%- response.filename %>"><%- response.displayedLink %></a></p>
    <% } else { %>
    <p class="Dialog-headerText">To embed it in your website, use the code below</p>
  </div>
  <div class="Dialog-body">
    <div class="Dialog-Stretcher Dialog-Stretcher--medium">

      <form class="Form js-form">
        <% for (var i = 0; i < response.content.length; ++i) { %>
        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label"><%- response.content[i].title %></label>
          </div>
          <div class="Form-rowData Form-rowData--longer">
            <input type="text" class="Input js-input StaticImageResponse--input" value="<%- response.content[i].html %>" />
          </div>
        </div>
        <% } %>
      </form>

    </div>
    <% } %>
  </div>
  <div class="Dialog-footer Dialog-footer--simple">

    <% if (response.type === 'url') {%>
    <a href="<%- response.content %>" target="_blank" rel="noopener noreferrer" class="Button Button--secondary js-open-image">
      <span>view image</span>
    </a>
    <% } else { %>
    <button class="Button Button--secondary Dialog-footerBtn cancel">
      <span>close</span>
    </button>
    <% } %>
  </div>
</div>
