<div>
  <a href="<%- backUrl %>" class="NavButton NavButton--back">
    <i class="iconFont iconFont-ArrowPrev"></i>
  </a>

  <h3><%- title %></h3>
  <% if (!isNewGroup) { %>
    <div>
      <a href="<%- showUrl %>" class="<%- showUrl.isCurrent ? 'is-selected' : '' %>"><%- usersCount > 0 ? usersCount + ' ' : '' %><%- pluralizeString('User', 'Users', usersCount) %></a>
      <a href="<%- editUrl %>" class="<%- editUrl.isCurrent ? 'is-selected' : '' %>">Settings</a>
    </div>
  <% } %>
</div>
