<div class="Filters is-relative">
  <div class="Filters-inner">
    <div class="Filters-row">
      <ul class="Filters-group">
        <li>
          <a href="<%- backUrl %>" class="Filters-actionButton NavButton NavButton--back">
            <i class="CDB-IconFont CDB-IconFont-arrowPrev"></i>
          </a>
        </li>
        <li class="Filters-typeItem">
          <div class="FormAccount-title">
            <p class="FormAccount-titleText"><%- title %></p>
          </div>
        </li>
      </ul>
      <ul class="Filters-group">
        <% if (usersUrl) { %>
          <li class="Filters-typeItem">
            <a href="<%- usersUrl %>" class="Filters-typeLink <%- usersUrl.isCurrent ? 'is-selected' : '' %>">
              <%- usersLabel %>
            </a>
          </li>
        <% } %>
        <li class="Filters-typeItem">
          <a href="<%- editUrl %>" class="Filters-typeLink <%- editUrl.isCurrent ? 'is-selected' : '' %>">
            Settings
          </a>
        </li>
      </ul>
    </div>
    <span class="Filters-separator"></span>
  </div>
</div>

<div>
</div>
