<div class="Form-row">
  <div class="Form-rowData Form-rowData--withLabel Form-rowData--long">
    <textarea maxlength="<%- maxLength %>" class="Form-input Form-input--long Form-textarea js-description <% if (!isMetadataEditable) { %>is-disabled<% } %>" placeholder="<% if (isMetadataEditable) { %>Type your description here...<% } else { %>Empty description<% } %>" <% if (!isMetadataEditable) { %>readonly="readonly"<% } %>><%- visDescription %></textarea>
  </div>
  <div class="Form-rowInfo"></div>
</div>

<% if (isDataset) { %>
  <div class="Form-row">
    <div class="Form-rowData Form-rowData">
      <input class="Form-input Form-input--long js-source <% if (!isMetadataEditable) { %>is-disabled<% } %>" placeholder="Enter the source of the data" value="<%- visSource %>" <% if (!isMetadataEditable) { %>readonly="readonly"<% } %>/>
    </div>
    <div class="Form-rowInfo"></div>
  </div>

  <div class="Form-row">
    <div class="Form-rowData Form-rowData">
      <input class="Form-input Form-input--long js-attributions <% if (!isMetadataEditable) { %>is-disabled<% } %>" placeholder="Enter the attributions of the data" value="<%- visAttributions %>" <% if (!isMetadataEditable) { %>readonly="readonly"<% } %>/>
    </div>
    <div class="Form-rowInfo"></div>
  </div>

  <div class="Form-row">
    <div class="Form-rowData js-license">
    </div>
    <div class="Form-rowInfo"></div>
  </div>

  <% if (isDataLibraryEnabled) { %>
    <div class="Form-row">
      <div class="Form-rowData Form-rowData">
        <input class="Form-input Form-input--long js-displayName <% if (!isMetadataEditable) { %>is-disabled<% } %>" placeholder="Enter a good display name" value="<%- visDisplayName %>" <% if (!isMetadataEditable) { %>readonly="readonly"<% } %>/>
      </div>
      <div class="Form-rowInfo"></div>
    </div>
  <% } %>
<% } %>

<div class="Form-row">
  <div class="Form-rowData Form-rowData--long">
    <div class="Form-tags js-tags <% if (!isMetadataEditable) { %>is-disabled<% } %>">
      <ul class="Form-tagsList js-tagsList"></ul>
    </div>
  </div>
  <div class="Form-rowInfo"></div>
</div>

<div class="Form-row">
  <div class="Form-rowData Form-rowData--long">
    <% if (!isMetadataEditable) { %>
      <p class="PrivacyIndicator is-<%- visPrivacy %>"><%- visPrivacy %></p>
    <% } else { %>
      <span class="PrivacyIndicator is-<%- visPrivacy %> EditVisMetadata-privacyIndicator js-privacy"><%- visPrivacy %></span>
    <% } %>
  </div>
  <div class="Form-rowInfo"></div>
</div>
