Map created by
<a class="user" href="<%= userDashboard %>" target="_blank">
  <% if (avatarUrl !== "") { %>
    <img src="<%= avatarUrl %>" width="16" height="16" alt="<%- username %>" title="<%- username %>" />
  <% } %>
  <span class="username"><%- username %></span>
</a>

<a href="#like" class="like js-like <% if (liked) {%>is-highlighted<% } %>">
  <span class="icon"></span>
  <span class="counter"><% if (likes > 2) { %><%= likes %><% } %></span>
</a>
