<div id="map"></div>

<div id="not_supported_dialog" style="display: none">
  <h2>CARTO</h2>
  <p>This visualization only works in modern browsers. Upgrade yours and enjoy.</p>
  <ul>
    <li><a href="http://www.apple.com/safari/" class="safari">Safari</a></li>
    <li><a href="https://www.google.com/chrome/" class="chrome">Chrome</a></li>
    <li class="last"><a href="http://www.mozilla.org/en-US/firefox/all/‎" class="firefox">Firefox</a></li>
  </ul>
</div>

<div class="cartodb-text">
  Map created by
  <a class="user" href="<%= userDashboard %>" target="_blank">
    <% if (avatarUrl === "") { %>
      <img src="<%= avatarUrl %>" width="16" height="16" alt="<%= name %>" title="<%= name %>" />
    <% } %>
    <span class="username"><%= name %></span>
  </a>

  <a href="#like" class="like js-like">
    <span class="icon"></span>
    <span class="counter"><% if (likes > 2) { %><%= likes %><% } %></span>
  </a>
</div>
