<form accept-charset="UTF-8" action="<%- formAction %>" method="post">
  <div class="FormAccount-row FormAccount-rowHorizontal">
    <div class="CDB-Text js-avatarSelector FormAccount-avatarSelector"></div>

    <div class="FormAccount-userType">
      <div class="FormAccount-rowLabel">
        <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">User type</label>
      </div>
      <div class="FormAccount-rowData FormAccount-userRole">
        <% if (isViewer) { %>
          <div>
            <span class="UserRoleIndicator Viewer CDB-Text CDB-Size-small is-semibold u-altTextColor">VIEWER</span>
            <% if (hasOrganization) { %>
              <a href="mailto:<%= orgDisplayEmail %>">Become a Builder</a>
            <% } %>
          </div>
          <p class="CDB-Text CDB-Size-small u-altTextColor u-tSpace">Read-only access for datasets and maps</p>
        <% } else { %>
          <span class="UserRoleIndicator Builder CDB-Text CDB-Size-small is-semibold u-altTextColor">BUILDER</span>
          <p class="CDB-Text CDB-Size-small u-altTextColor u-tSpace">Write access for editing and building datasets and maps</p>
        <% } %>
      </div>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Name</label>
    </div>
    <div class="FormAccount-rowData">
      <input class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--small u-rspace-s" id="user_name" name="user[name]" placeholder="First name" size="30" type="text" value="<%= name %>">
      <input class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--small" id="user_last_name" name="user[last_name]" placeholder="Last name" size="30" type="text" value="<%= last_name %>">

      <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
        <p class="CDB-Text CDB-Size-small u-altTextColor">Other users would reach you by your public name</p>
      </div>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Website</label>
    </div>
    <div class="FormAccount-rowData">
      <input class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--med" id="user_website" name="user[website]" size="30" type="text" value="<%= website %>">
    </div>
    <div class="FormAccount-rowInfo">
      <p class="CDB-Text CDB-Size-small u-altTextColor"></p>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Location</label>
    </div>
    <div class="FormAccount-rowData">
      <input class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--med" id="user_location" name="user[location]" size="30" type="text" value="<%= location %>">
    </div>
    <div class="FormAccount-rowInfo">
      <p class="CDB-Text CDB-Size-small u-altTextColor"></p>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Your description</label>
    </div>
    <div class="FormAccount-rowData">
      <textarea class="CDB-Textarea CDB-Text FormAccount-textarea FormAccount-input FormAccount-input--totalwidth" cols="40" id="user_description" name="user[description]" rows="20"><%= description %></textarea>
    </div>
    <div class="FormAccount-rowInfo">
      <p class="CDB-Text CDB-Size-small u-altTextColor"></p>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Twitter username</label>
    </div>
    <div class="FormAccount-rowData">
      <input class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--med" id="user_twitter_username" name="user[twitter_username]" size="30" type="text" value="<%= twitter_username %>">
    </div>
    <div class="FormAccount-rowInfo">
      <p class="CDB-Text CDB-Size-small u-altTextColor"></p>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Disqus shortname</label>
    </div>
    <div class="FormAccount-rowData">
      <input class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--med" id="user_disqus_shortname" name="user[disqus_shortname]" placeholder="If empty, it will not appear" size="30" type="text" value="<%= disqus_shortname %>">
      <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
        <p class="CDB-Text CDB-Size-small u-altTextColor">Be notified by new comments in your pages</p>
      </div>
    </div>
  </div>

  <div class="FormAccount-title">
    <p class="FormAccount-titleText">Jobs profile</p>
  </div>

  <span class="FormAccount-separator"></span>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Available for hire</label>
    </div>
    <div class="FormAccount-rowData">
      <div class="Toggler">
        <input name="user[available_for_hire]" type="hidden" value="0"><input id="available_for_hire" name="user[available_for_hire]" type="checkbox" value="<%= available_for_hire %>" <% if (available_for_hire) { %>checked="checked"<% } %>>
        <label for="available_for_hire"></label>
      </div>
      <div class="FormAccount-rowInfo u-lSpace--xl">
        <p class="CDB-Text CDB-Size-small u-altTextColor">Show a banner in your public profile linked to your email</p>
      </div>
    </div>
  </div>

  <div class="FormAccount-footer">
    <p class="FormAccount-footerText"></p>
    <button type="submit" class="CDB-Button CDB-Button--primary">
      <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Save changes</span>
    </button>
  </div>
</form>
