<div class="ChangePrivacy-shareListItem">
  <div class="ChangePrivacy-shareListItemInfo">
    <div class="LayoutIcon ChangePrivacy-shareListItemIcon">
      <i class="iconFont iconFont-People iconFont--super"></i>
    </div>
    <div>
      <div class="DefaultTitle u-ellipsLongText"><%= model.title() %></div>
      <p class="DefaultDescription u-ellipsLongText"><%= model.desc() %></p>
    </div>
  </div>
  <div>
    <div class="Toggler ChangePrivacy-shareListItemToggler">
      <input type="checkbox" id="<%= writeId %>" <%= model.canWrite() ? 'checked="checked"' : '' %> />
      <label for="<%= writeId %>" />
    </div>
    <span class="DefaultDescription ChangePrivacy-shareListItemTogglerText">Write</span>
    
    <div class="Toggler ChangePrivacy-shareListItemToggler">
      <input type="checkbox" id="<%= readId %>" <%= model.canRead() ? 'checked="checked"' : '' %> />
      <label for="<%= readId %>" />
    </div>
    <span class="DefaultDescription">Read</span>
  </div>
</div>
