<div class="Dialog-body u-inner ChangePrivacy-optionsList">
  <% options.each(function(m, index) { %>
    <div class="OptionCard <%= m.classNames() %> js-option" data-index="<%= index %>">
      <div class="IllustrationIcon IllustrationIcon--<%= m.get('illustrationType') %>">
        <i class="iconFont iconFont-<%= m.get('iconFontType') %>"></i>
      </div>
      <div class="OptionCard-title"><%= m.get('title') %></div>
      <div class="OptionCard-desc"><%= m.get('desc') %></div>
    </div>
  <% }); %>
</div>

<% if (showUpgradeBanner) { %>
  <div class="Dialog-body u-inner ChangePrivacy-upgradeBanner">
    <div class="UpgradeElement ChangePrivacy-upgradeBannerInner">
      <div class="UpgradeElement-info">
        <p class="UpgradeElement-infoText u-ellipsLongText">To get advantage of all the privacy options you should upgrade your plan</p>
      </div>
      <div class="UpgradeElement-actions">
        <% if (showTrial) { %>
          <div class="UpgradeElement-trial">
            <i class="iconFont iconFont-Gift UpgradeElement-trialIcon"></i>
            <p class="UpgradeElement-trialText u-ellipsLongText">15 days Free trial</p>
          </div>
        <% } %>
        <a href="<%= upgradeUrl %>" class="Button Button--secondary UpgradeElement-button ChangePrivacy-upgradeActionButton">
          <span>upgrade</span>
        </a>
      </div>
    </div>
  </div>
<% } %>

<% if (showShareBanner) { %>
  <div class="Dialog-body u-inner ChangePrivacy-shareBanner">
    <div class="LayoutIcon ChangePrivacy-shareBannerIcon">
      <i class="iconFont iconFont-People iconFont--super"></i>
    </div>
    <div class="DefaultSecondary">
      Team work is always better. <a href="#" class="js-share">Share this dataset with your colleagues</a>
    </div>
  </div>
  </div>
<% } %>

<div class="Dialog-footer u-inner ChangePrivacy-startFooter">
  <% if (showPasswordInput) { %>
    <input class="js-password-input Input ChangePrivacy-passwordInput" placeholder="Type your password here" value="<%= pwdOption.get('password') %>" type="password" />
  <% } %>
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="js-save Button Button--positive <%= saveBtnClassNames %>">
    <span>Save settings</span>
  </button>
</div>
