<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--positive">
    <i class="iconFont iconFont-Unlock"></i>
  </div>
  <p class="Dialog-headerTitle u-ellipsLongText">
    <%= itemName %> privacy
  </p>
  <p class="Dialog-headerText">
    Although we believe in the power of open data, you can also protected your tables.
  </p>
</div>

<div class="Dialog-body u-inner ChangePrivacyList">
  <% options.each(function(m, index) { %>
    <div class="OptionCard <%= m.classNames() %> js-option" data-index="<%= index %>">
      <div class="IllustrationIcon IllustrationIcon--<%= m.get('illustrationType') %>">
        <i class="iconFont iconFont-<%= m.get('iconFontType') %>"></i>
      </div>
      <div class="OptionCard-title"><%= m.get('title') %></div>
      <div class="OptionCard-desc"><%= m.get('desc') %></div>
    </div>
  <% }); %>
</div>

<% if (showUpgradeBanner) { %>
  <div class="Dialog-body u-inner ChangePrivacyBanner">
    <div class="ChangePrivacyBanner-inner u-flexHorizontalSpaceBetween ">
      <div class="u-flexHorizontalSpaceBetween u-flexVerticalCenter">
        <div class="LayoutIcon u-marginRightElement">
          <i class="iconFont iconFont-Gift"></i>
        </div>
        <div class="DefaultParagraph">
          To get advantage of all the privacy options you should upgrade your plan.
        </div>
      </div>
      <a href="<%= upgradeUrl %>" class="Button Button--main">
        <span>Upgrade</span>
      </a>
    </div>
  </div>
<% } %>

<div class="Dialog-footer u-inner DeleteItems-footer ChangePrivacyFooter">
  <% if (showPasswordInput) { %>
    <input class="js-password-input Input ChangePrivacyFooter-password" placeholder="Type your password here" value="<%= pwdOption.get('password') %>" type="password" />
  <% } %>
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="js-ok Button Button--positive <%= saveBtnClassNames %>">
    <span>Save settings</span>
  </button>
</div>
