<% content_for(:header_color) {"3B7EBB"} %>
<% content_for(:header_img) {"top.png"} %>

<% content_for :body do %>

  <% if @total_tables == 1 %>
    <% if @total_tables == @imported_tables %>
      <p style="text-align: center;">Your dataset <strong><%= @first_table['name'] %></strong> was successfully imported.</p>
    <% else %>
      <p style="text-align: center;">We couldn't import your dataset <strong><%= @first_table['name'] %></strong>.</p>
    <% end %>
  <% else %>
    <p style="text-align: center;">Your datasets import just finished.</p>
    <p style="text-align: center;"><strong><%= @imported_tables %></strong> out of <strong><%= @total_tables %></strong> were successfully imported.</p>
  <% end %>

  <% unless @errors.nil? %>
    <p style="text-align: center;">There was some error while importing your dataset<%= @total_tables == 1 ? '' : 's' %>:</p>

    <table border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
      <tr>
        <td align="center" valign="middle">
          <table border="0" cellpadding="0" cellspacing="0" style="background-color:#e5e5e5">
            <tbody>
            <tr>
              <td align="center" valign="middle" style="padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px">
                <p style="text-align:left;font-size:14px;"><strong><%= @errors['title'] %></strong><br /><%= @errors['what_about'].html_safe %></p>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="height: 20px;">&nbsp;</td>
      </tr>
    </table>

  <% end %>

  <table border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
    <tr>
      <td align="center" valign="middle">
        <table border="0" cellpadding="0" cellspacing="0" style="background-color:#407CC0;border-collapse:separate!important;border-radius:23px">
          <tbody>
          <tr>
            <td align="center" valign="middle" style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:100%;padding-top:15px;padding-right:31px;padding-bottom:13px;padding-left:31px">
              <a href="<%= @link %>" style="color:#ffffff;text-decoration:none" target="_blank">View your table<%= @total_tables == @imported_tables && @imported_tables == 1 ? '' : 's' %></a>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="height: 20px;">&nbsp;</td>
    </tr>
  </table>

<% end %>
