<div class="Editor js-editor">
  <div class="Editor-wrapper">
    <div class="EditorMenu">
      <a class="EditorMenu-logo" href="<%= CartoDB.url(self, 'dashboard', {}, current_user) %>/datasets">
        <svg width="32px" height="32px" viewBox="762 -58 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g class="imago" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(762.000000, -58.000000)">
            <circle class="Halo" fill="#FFFFFF" opacity="0.2" cx="16" cy="16" r="16"></circle>
            <circle class="point" fill="#FFFFFF" cx="16" cy="16" r="5"></circle>
            <g class="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(11.000000, 16.000000)">
              <rect id="Rectangle-32" fill="#1181FB" x="0" y="0" width="10" height="1"></rect>
              <rect class="arrowTop" fill="#1181FB" x="0" y="0" width="6" height="1"></rect>
              <rect class="arrowBottom" fill="#1181FB" x="0" y="0" width="6" height="1"></rect>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
  <div class="Dataset">
    <div class="Dataset-view">
      <div class="Dataset-viewInfo js-info"></div>
      <div class="Dataset-viewTable js-table"></div>
    </div>
    <div class="Dataset-options js-datasetOptions"></div>
    <div class="Dataset-notifier js-notifier"></div>
  </div>
</div>

<script>
  var frontendConfig = <%= safe_js_object frontend_config %>;
  var visualizationData = <%= safe_js_object @canonical_visualization_data.to_json %>;
  var layersData = <%= safe_js_object @layers_data.to_json %>;
  var tableData = <%= safe_js_object @user_table_data.to_json %>;
  var userData = <%= safe_js_object current_user.data({ show_api_calls: false }).to_json %>;
  var authTokens = <%= safe_js_object @auth_tokens.to_json %>;
  var dashboardNotifications = <%= safe_js_object @dashboard_notifications.to_json %>;
  var ACTIVE_LOCALE = 'en';
</script>

<%= javascript_include_tag 'vendor_editor3.js' %>
<%= javascript_include_tag 'common_editor3.js' %>
<%= javascript_include_tag 'dataset.js' %>
