    <select class="operator <% if (first) { %>invisible <% } %>" name="categorical-operator">
        <% _.each(operators, function (v, k) { %>
        <option value="<%- k %>"<% if (k === operator ) { %> selected<% } %>><%- v %></option>
        <% }); %>
    </select>
    <select class="operation" name="categorical-operation">
        <% _.each(operations, function (v, k) { %>
        <option value="<%- k %>"<% if (k === operation ) { %> selected<% } %>><%- v %></option>
        <% }); %>
    </select>
    <input type="text" value="<%- text %>" />
    <a class="remove-inline" href="#close"></a>
