<a class="remove" href="#close"></a>

<div class="header <%- status %>">

  <div class="title">
    <strong class="legend u-ellipsLongText">
      <% if (status != 'loaded') { %><%- short_legend %><% } else { %><%- legend %><% } %><% if (list_view) { %>:<% } %></strong>

    <% if (status == 'loading') { %><div class="<%- status %>">Loading</div><% } %>
    <% if (status == 'only') { %><div class="<%- status %>">This column has one unique value</div><% } %>
    <% if (status == 'empty') { %><div class="<%- status %>">This column is empty</div><% } %>
    <% if (status == "loaded") { %>
    <ul class="controllers<% if (!list_view || reached_limit) { %> hidden<% } %>">
      <li><a href="#" class="all">select all</a><a href="#" class="none">clear selection</a></li>
    </ul>
    <% } %>

  </div>

</div>

<div class="fields <%- column_type %> <%- status %> <%- list_view ? 'list' : 'text' %>">

  <div class="data">
    <div class="white-gradient-shadow top"></div>
    <div class="scroll">
      <ul class="items"></ul>
    </div>
    <div class="white-gradient-shadow bottom"></div>
  </div>

  <div class="input_field">
    <a href="#" class="apply">Apply</a>
    <input name="query" placeholder="Search in this column" />
  </div>

  <div class="data<% if (list_view) { %> hidden<% } %>">
    <ul class="operations">
    </ul>
  </div>

  <% if (status == "loaded") { %>
  <div class="options">
    <div class="view_mode"<% if (reached_limit) { %> title="Too many records to see as a list" <% } %>>
      <a href="#switch" class="switch enabled<% if (reached_limit || !list_view ) { %> disabled<% } %>"><span class="handle"></span></a>
      <label>View as a list</label>
    </div>

    <div class="scrollers<% if (!list_view) { %> hidden<% } %>">
      <a href="#" class="up disabled btn"></a>
      <a href="#" class="down btn"></a>
    </div>

  </div>
</div>
<% } %>
