  <% content_for(:page_title) do %>
    Api keys |
  <% end %>
  <%= content_for(:js) do %>
    <%= include_javascripts :common, :cdbjs, :keys %>
  <% end %>
  <%= content_for(:css) do %>
    <%= include_stylesheets :common, :media => 'all' %>
  <% end %>


<article>
  <div class="inner">
    <section class="left block">
      <div class="head">
        <h2>Your Api key</h2>
      </div>
      <div class="content">
        <ul>
          <%= render :partial => 'shared/flash_message' %>
          <li>
            <label>YOUR API KEY<label>
            <p><%= current_user.get_map_key %></p>
            <a href="#copy">copy</a>
          </li>
          <li>
            <label>Example write:</label>
            <p>http://username.cartodb.com/api/v2/sql?q=INSERT INTO table_name (the_geom, observation) VALUES (ST_GeomFromText(’POINT(-71.2 42.5)’, 4326),’rare bird spotted’)&api_key=<%= current_user.get_map_key %></p>
            <label>Example write:</label>
            <p>http://username.cartodb.com/api/v2/sql?q=INSERT INTO table_name (the_geom, observation) VALUES (ST_GeomFromText(’POINT(-71.2 42.5)’, 4326),’rare bird spotted’)&api_key=<%= current_user.get_map_key %></p>
          </li>
        </ul>
      </div>
      <div class="foot">
        <a href="#todo" class="left">Need help?</a>
        <a href="#todo" class="right">Request new key and token</a>
      </div>
    </section>
    <aside class="right">
      <%= render :partial => 'create_first' %>
    </aside>
  </div>
</article>

<!-- 
  <section id="content">
    <div class="inner_content">

      <%= render :partial => 'shared/flash_message' %>

      <div class="tables_list">
        <div class="left">
          <div class="top_blue_medium">
            <h3>Your <strong>API keys</strong></h3>
            <p><a class="oauth selected" href="<%= api_key_credentials_path %>">API Key</a><a class="jsonp" href="<%= oauth_credentials_path %>">OAuth</a></p>
          </div>
          <div class="middle_white_medium">
            <div class="end_oauth">
              <p>Use your API key with the SQL API and Maps API for full API access to your CartoDB tables. Learn more about using the API Key in <a href="<%= APP_CONFIG[:developers_host] %>/documentation/cartodb-apis.html">our documentation</a>.</p>
            <%= form_tag(regenerate_api_key_url, :method => "POST", :id => 'regenerate_api_key') do %>
              <span class="form_block" style="width:350px;">
                <%= label_tag      :api_key, "YOUR API KEY" %>
                <%= text_field_tag :api_key, current_user.get_map_key, :readonly => 'readonly', :style => "width:350px;"  %>
              </span>
              <a href="#submit" class="green submit regenerate_api_key" style="margin-left:25px;" ><span>Regenerate API key</span></a>
            <% end %>
            <p style="background:#eee;font-size:12px;padding:1em;margin-top:10px;">
              <b>Example write:</b><br/>
              http://<%= current_user.username %>.cartodb.com/api/v2/sql?q=INSERT INTO table_name (the_geom, observation)
              VALUES (ST_GeomFromText('POINT(-71.2 42.5)', 4326),'rare bird spotted')&api_key=<%= current_user.get_map_key%><br><br>

              <b>Example private table read:</b><br/>
              http://<%= current_user.username %>.cartodb.com/api/v2/sql?q=SELECT * FROM private_table&api_key=<%= current_user.get_map_key%><br>
            </p>

            </div>
          </div>
          <div class="bottom_white_medium"></div>
        </div>
        <div class="right">
          <%= render :partial => 'create_first' %>
        </div>
      </div>
    </div>
  </section> -->

<!--   <% content_for(:mamufas) do %>
    <div class="mamufas">
      <div class="delete_window">
        <a href="#close_window" class="close_delete"></a>
        <div class="inner_">
          <span class="top">
            <h3>You are about to regenerate your API key</h3>
            <p>You will need to update all deployed apps with a new API key. Are you sure you want to continue?</p>
          </span>
          <span class="bottom">
            <a href="#close_window" class="cancel">cancel</a>
            <a href="#confirm_regen" id="confirm_regen" class="confirm_regen" key="">Regenerate API key</a>
          </span>
        </div>
      </div>
    </div>
  <% end %> -->
