<% content_for(:page_title) do %>
  Your API keys |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var config = <%= safe_js_object frontend_config %>;
    var user_data = <%= safe_js_object current_user.data.to_json %>;
    var upgrade_url = "<%= current_user.upgrade_url(request.protocol) %>";
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'keys_templates.js', 'keys_deps.js', 'keys.js' -%>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'keys.css', :media => 'all' %>
<% end %>

<%= render :partial => 'shared/flash_message' %>

<div class="FormAccount-Section u-inner">

  <%= render :partial => 'admin/shared/pages_subheader' %>

  <div class="FormAccount-Content">
    <%= render :partial => 'admin/shared/api_keys_subheader' %>
    <div class="FormAccount-separator"></div>

    <div class="FormAccount-row">
      <div class="FormAccount-rowLabel">
        <label class="FormAccount-label">Your API Key</label>
      </div>
      <div class="FormAccount-rowData">
        <input type="text" class="FormAccount-input FormAccount-input--long" placeholder="No API key" value="<%= current_user.api_key %>" readonly />
        <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <a class="js-regenerateApiKey" href="#">Request a new API key</a>
        </div>
      </div>
    </div>

    <div class="FormAccount-row">
      <div class="FormAccount-rowLabel">
        <label class="FormAccount-label FormAccount-label--verticalAlignTop">Example write</label>
      </div>
      <div class="FormAccount-rowPreview">
        <% if CartoDB.subdomainless_urls? %>
        <p class="FormAccount-text FormAccount-text--preview">https://<%= CartoDB.account_host %>/user/<%= current_user.username %>/api/v2/sql?q=INSERT INTO table_name (the_geom, observation) VALUES (ST_GeomFromText(’POINT(-71.2 42.5)’, 4326),'rare bird spotted')&api_key=<%= current_user.api_key %></p>
        <% else %>
        <p class="FormAccount-text FormAccount-text--preview">https://<%= current_user.username %>.<%= CartoDB.account_host %>/api/v2/sql?q=INSERT INTO table_name (the_geom, observation) VALUES (ST_GeomFromText(’POINT(-71.2 42.5)’, 4326),'rare bird spotted')&api_key=<%= current_user.api_key %></p>
        <% end%>
      </div>
    </div>

    <div class="FormAccount-row">
      <div class="FormAccount-rowLabel">
        <label class="FormAccount-label FormAccount-label--verticalAlignTop">Example read private</label>
      </div>
      <div class="FormAccount-rowPreview">
        <% if CartoDB.subdomainless_urls? %>
        <p class="FormAccount-text FormAccount-text--preview">https://<%= CartoDB.account_host %>/user/<%= current_user.username %>/api/v2/sql?q=SELECT * FROM private_table&api_key=<%= current_user.api_key %></p>
        <% else %>
        <p class="FormAccount-text FormAccount-text--preview">https://<%= current_user.username %>.<%= CartoDB.account_host %>/api/v2/sql?q=SELECT * FROM private_table&api_key=<%= current_user.api_key %></p>
        <% end %>
      </div>
    </div>

    <% if current_user.has_feature_flag?('google_maps') %>
      <div class="FormAccount-title">
        <p class="FormAccount-titleText">Configure API keys from external providers</p>
      </div>

      <span class="FormAccount-separator"></span>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="FormAccount-label">Google Maps</label>
        </div>
        <div class="FormAccount-rowData">
          <input type="text" value="<%= current_user.organization.present? ? current_user.organization.google_maps_key : current_user.google_maps_key %>" class="FormAccount-input FormAccount-input--long is-disabled" readonly />
        </div>
        <div class="FormAccount-rowInfo">
          <% if !current_user.organization.present? %>
            <p class="FormAccount-rowInfoText">
              This is your Google Maps query string, contact with <a href="mailto:support@cartodb.com">support@cartodb.com</a> to change it.
            </p>
          <% elsif current_user.organization.present? && current_user.organization_owner? %>
            <p class="FormAccount-rowInfoText">
              This is the <%= current_user.organization.name %> Google Maps query string, contact with <a href="mailto:support@cartodb.com">support@cartodb.com</a> to change it.
            </p>
          <% else %>
            <p class="FormAccount-rowInfoText">This is the organization Google Maps API key</p>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="FormAccount-footer">
      <p class="FormAccount-footerText">
        <i class="CDB-IconFont CDB-IconFont-info FormAccount-footerIcon"></i>
        <span>Learn more about <%= link_to "using your simple app key", Cartodb.config[:developers_host] + "/cartodb-editor/your-account/#api-key" %> in CartoDB</span>
      </p>
    </div>

  </div>

</div>

<%= render 'admin/shared/footer' %>
