<% content_for(:page_title) do %>
  Api key |
<% end %>
<%= content_for(:js) do %>
  <%= javascript_include_tag :cdb, :application, :keys %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>"
      , type = "key"
      , config = <%=raw frontend_config.html_safe %>
      , user_data = <%= raw current_user.data.to_json.html_safe %>;
  </script>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag :common, :keys, :media => 'all' %>
<% end %>


<article>
  <div class="inner">
    <section class="left block long">
      <div class="head">
        <h3>Your Api key</h3>
        <nav>
          <%= link_to "API KEY", "/your_apps/api_key", :class => "strong smaller uppercase selected" %>
          <%= link_to "OAUTH", "/your_apps/oauth", :class => "strong smaller uppercase" %>
        </nav>
      </div>
      <div class="content">
        <ul>
          <%= render :partial => 'shared/flash_message' %>
          <li>
            <div class="copy">
              <label class="uppercase smaller strong lighter">YOUR API KEY</label>
              <input class="margin5" type="text" value="<%= current_user.api_key || "No api key" %>" />
              <a class="tooltip copy" href="#copy" title="Copy this">copy</a>
            </div>
          </li>
          <li class="dark">
            <div class="list">
              <label class="dark strong small">Example write:</label>
              <p class="small margin5">http://<%= current_user.username %>.cartodb.com/api/v2/sql?q=INSERT INTO table_name (the_geom, observation) VALUES (ST_GeomFromText(’POINT(-71.2 42.5)’, 4326),'rare bird spotted')&api_key=<%= current_user.api_key %></p>
            </div>
            <div class="list margin15">
              <label class="dark strong small">Example private table read:</label>
              <p class="small margin5">http://<%= current_user.username %>.cartodb.com/api/v2/sql?q=SELECT * FROM private_table&api_key=<%= current_user.api_key %></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="foot">
        <%= form_tag(regenerate_api_key_url, :method => "POST", :id => 'regenerate_api_key') do %>
          <%= link_to "Request a new key", "#request_new_key", :class => "right underline red regenerate" %>
        <% end %>
      </div>
    </section>
    <aside class="right">
      <%= render :partial => 'create_first' %>
    </aside>
  </div>
</article>
