  <% content_for(:js) do %>
    <%= headjs_include_tag "plugins/jquery.min", "admin/show/helpers.js", "admin/api/api" %>
  <% end %>
  <% content_for(:head) do %>
    <%= stylesheet_link_tag('reset','admin/layout','admin/others/tokens') %>
  <% end %>

  <%= render :partial => 'admin/shared/subheader' %>

  <section id="content">
    <div class="inner_content">

      <%= render :partial => 'shared/flash_message' %>

      <div class="tables_list">
        <div class="left">
          <div class="top_blue_medium">
            <h3>Your <strong>api keys</strong></h3>
            <p><a class="oauth" href="<%= oauth_credentials_path %>">OAuth</a><a class="jsonp selected" href="<%= jsonp_credentials_path %>">JSONP</a></p>
          </div>
          <div class="middle_white_medium">
            <p>Add an application URL to enable remote access to CartoDB through JSONP</p>
            <%= form_for(@api_key, :url => jsonp_credentials_path, :method => :post) do |f| %>
              <% if request.post? && !@api_key.valid? %>
                <div class="error_content">
                  <p><span><%= @api_key.errors.full_messages.join(',').capitalize %></span></p>
                </div>
              <% end %>
              <span class="form_block">
                <%= f.label :domain, "YOUR APP DOMAIN" %>
                <% error = (request.post? && !@api_key.valid?)?'error':'' %>
                <%= f.text_field :domain, :class=> error %>
              </span>
              <a href="#submit" onclick="$('#new_api_key').submit();" class="green submit"><span>Get API key</span></a>
            <% end %>
            <% if @api_keys.size>0 %>
              <span class="form_block">
                <label for="api_key_domain">APP</label>
              </span>
              <span class="form_block long">
                <label for="api_key_api_key">API KEY</label>
              </span>
            <%- end %>

            <% @api_keys.each do |api_key| %>
              <%= form_tag(destroy_api_key_path(api_key.id), :method => :post, :id => "remove_api_key_#{api_key.id}") do %>
                <%= fields_for api_key do |f| %>
                  <span class="form_block">
                    <%= f.text_field :domain, :readonly=>"readonly" %>
                  </span>
                  <span class="form_block long">
                    <%= f.text_field :api_key, :readonly=>"readonly" %>
                  </span>
                  <a domain="<%= api_key.domain %>" href="#remove_api_key" class="orange submit remove_key" key="<%= api_key.id %>"><span>Remove key</span></a>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="bottom_white_medium"></div>
        </div>
        <div class="right">
          <%= render :partial => 'create_first' %>
        </div>
      </div>
    </div>
  </section>

  <% content_for(:mamufas) do %>
    <div class="mamufas">
      <div class="delete_window">
        <a href="#close_window" class="close_delete"></a>
        <div class="inner_">
          <span class="top">
            <h3>You are about to remove the key for this domain</h3>
            <p>You will not be able to recover this information. Are you sure to remove this key?</p>
          </span>
          <span class="bottom">
            <a href="#close_window" class="cancel">cancel</a>
            <a href="#confirm_delete" class="confirm_delete" key="">Delete this key</a>
          </span>
        </div>
      </div>
    </div>
  <% end %>
