<% content_for(:page_title) do %>
  Your OAuth credentials |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var config = <%=raw frontend_config.html_safe %>;
    var user_data = <%= raw current_user.data.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'new_keys_templates.js', 'new_keys_deps.js', 'new_keys.js' -%>
<% end %>
<%= content_for(:css) do %>
  <%= render 'shared/lato_font' %>
  <%= stylesheet_link_tag 'cartodb.css', 'new_common.css', 'new_keys.css', :media => 'all' %>
<% end %>


<%= render 'admin/shared/new_header', :public => false, :home_url => '' %>

<div>
  
  <div class="Filters is-relative">
    <div class="u-inner">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row">
          <div class="Filters-type">
            <ul class="Filters-list">
              <li class="Filters-typeItem"><a href="<%= account_url %>" class="Filters-typeLink">Profile</a></li>
              <li class="Filters-typeItem"><a href="<%= account_url %>" class="Filters-typeLink">Account</a></li>
              <li class="Filters-typeItem"><a href="<%= api_key_credentials_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink">Your API keys</a></li>
              <li class="Filters-typeItem"><a href="<%= oauth_credentials_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink is-selected">Your OAuth credentials</a></li>
              <li class="Filters-typeItem"><a href="<%= account_url %>" class="Filters-typeLink">Your plan</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="CredentialsContent">
    <div class="u-inner">
      <%= form_tag(regenerate_oauth_url(user_domain: params[:user_domain]), :method => "DELETE", :id => 'regenerate_oauth_keys', :class => "Form") do %>

        <div class="Form-title">
          <p class="Form-titleText">OAuth is an authentication protocol that allows users to approve application to act on their behalf without sharing their password.</p>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Consumer key</label>
          </div>
          <div class="Form-rowData">
            <input type="text" class="Form-input Form-input--long" value="<%= current_user.client_application.key %>" readonly />
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText">Learn more about <%= link_to "using oauth in CartoDB", Cartodb.config[:developers_host] + "/documentation/sql-api.html#authentication" %> in CartoDB.</p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Consumer secret</label>
          </div>
          <div class="Form-rowData">
            <input type="text" class="Form-input Form-input--long" value="<%= current_user.client_application.secret %>" readonly />
          </div>
        </div>

        <span class="Form-separator"></span>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Request token URL</label>
          </div>
          <div class="Form-rowData">
            <input type="text" class="Form-input Form-input--long" value="https://<%= current_user.username %>.<%= Cartodb.config[:account_host] %>/oauth/request_token" readonly />
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Access token URL</label>
          </div>
          <div class="Form-rowData">
            <input type="text" class="Form-input Form-input--long" value="https://<%= current_user.username %>.<%= Cartodb.config[:account_host] %>/oauth/access_token" readonly />
          </div>
        </div>

        <div class="Form-footer">
          <p class="Form-footerText">
            <i class="iconFont iconFont-Info Form-footerIcon"></i>
            Learn more about <%= link_to "using your simple app key", Cartodb.config[:developers_host] + "/documentation/apis-overview.html" %> in CartoDB
          </p>
          <%= button_tag(type: 'submit', class: 'Button Button--main') do %>
            <% content_tag(:span, 'Request new oauth keys') %>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>

</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/new_footer' %>