<% content_for(:page_title) do %>
  Your API keys |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var config = <%=raw frontend_config.html_safe %>;
    var user_data = <%= raw current_user.data.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'new_keys_templates.js', 'new_keys_deps.js', 'new_keys.js' -%>
<% end %>
<%= content_for(:css) do %>
  <%= render 'shared/lato_font' %>
  <%= stylesheet_link_tag 'cartodb.css', 'new_common.css', 'new_keys.css', :media => 'all' %>
<% end %>


<%= render 'admin/shared/new_header', :public => false, :home_url => '' %>

<div>
  
  <div class="Filters is-relative">
    <div class="u-inner">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row">
          <div class="Filters-type">
            <ul class="Filters-list">
              <li class="Filters-typeItem"><a href="<%= account_url %>" class="Filters-typeLink">Profile</a></li>
              <li class="Filters-typeItem"><a href="<%= account_url %>" class="Filters-typeLink">Account</a></li>
              <li class="Filters-typeItem"><a href="<%= api_key_credentials_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink is-selected">Your API keys</a></li>
              <li class="Filters-typeItem"><a href="<%= oauth_credentials_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink">Your OAuth credentials</a></li>
              <li class="Filters-typeItem"><a href="<%= account_url %>" class="Filters-typeLink">Your plan</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="CredentialsContent">
    <div class="u-inner">
      <%= form_tag(regenerate_api_key_url(user_domain: params[:user_domain]), :method => "POST", :id => 'regenerate_api_key', :class => 'Form') do %>

        <div class="Form-title">
          <p class="Form-titleText">This offers the simplest way to access your private data or perform writes and updates to your account.</p>
        </div>

        <div class="Form-row Form-row--spaced">
          <div class="Form-rowLabel">
            <label class="Form-label">Your API Key</label>
          </div>
          <div class="Form-rowData">
            <input type="text" class="Form-input Form-input--long" placeholder="No API key" value="<%= current_user.api_key %>" readonly />
          </div>
        </div>

        <span class="Form-separator"></span>

        <div class="Form-row Form-row--spaced">
          <div class="Form-rowLabel">
            <label class="Form-label">Example write</label>
          </div>
          <div class="Form-rowPreview">
            <p class="Form-text Form-text--preview">http://<%= current_user.username %>.cartodb.com/api/v2/sql?q=INSERT INTO table_name (the_geom, observation) VALUES (ST_GeomFromText(’POINT(-71.2 42.5)’, 4326),'rare bird spotted')&api_key=<%= current_user.api_key %></p>
          </div>
        </div>

        <div class="Form-row Form-row--spaced">
          <div class="Form-rowLabel">
            <label class="Form-label">Example private table read</label>
          </div>
          <div class="Form-rowPreview">
            <p class="Form-text Form-text--preview">http://<%= current_user.username %>.cartodb.com/api/v2/sql?q=SELECT * FROM private_table&api_key=<%= current_user.api_key %></p>
          </div>
        </div>

        <div class="Form-footer">
          <p class="Form-footerText">
            <i class="iconFont iconFont-Info Form-footerIcon"></i>
            Learn more about <%= link_to "using your simple app key", Cartodb.config[:developers_host] + "/documentation/apis-overview.html" %> in CartoDB
          </p>
          <%= button_tag(type: 'submit', class: 'Button Button--main') do %>
            <% content_tag(:span, 'Request a new api key') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/new_footer' %>