  <% content_for(:js) do %>
    <%= headjs_include_tag "plugins/jquery.min", "admin/show/helpers.js", "admin/api/api" %>
  <% end %>
  <% content_for(:head) do %>
    <%= stylesheet_link_tag('reset', 'admin/layout','admin/others/tokens') %>
  <% end %>

  <%= render :partial => 'admin/shared/subheader' %>

  <section id="content">
    <div class="inner_content">

      <%= render :partial => 'shared/flash_message' %>

      <div class="tables_list">
        <div class="left">
          <div class="top_blue_medium">
            <h3>Your <strong>api keys</strong></h3>
            <% if false %>
            <p><a class="oauth selected" href="<%= oauth_credentials_path %>">OAuth</a><a class="jsonp" href="<%= jsonp_credentials_path %>">JSONP</a></p>
            <% end %>
          </div>
          <div class="middle_white_medium">
            <div class="end_oauth">
              <p>For more information on OAuth in CartoDB, and on our preconfigured API client libraries, take a look at our <a href="http://developers.cartodb.com/">developers page</a>.</p>
              <span class="form_block">
                <label>CONSUMER KEY</label>
                <input type="text" value="<%= current_user.client_application.key %>" readonly="readonly"/>
              </span>
              <span class="form_block last">
                <label>CONSUMER SECRET</label>
                <input type="text" value="<%= current_user.client_application.secret %>" readonly="readonly"/>
                <p></p>
              </span>

              <div class="urls_block">
                <span class="long_block">
                  <label>REQUEST TOKEN URL</label>
                  <input type="text" value="https://<%=current_user.username%>.cartodb.com/oauth/request_token" readonly="readonly"/>
                </span>
                <span class="long_block">
                  <label>ACCESS TOKEN URL</label>
                  <input type="text" value="https://<%=current_user.username%>.cartodb.com/oauth/access_token" readonly="readonly"/>
                </span>
              </div>

              <span class="end_key">
                <a href="#open_confirm_renew" class="open_confirm_renew submit orange">Get new key and secret</a>
              </span>
            </div>
          </div>
          <div class="bottom_white_medium"></div>
        </div>
        <div class="right">
          <%= render :partial => 'create_first' %>
        </div>
      </div>
    </div>
  </section>


  <% content_for(:mamufas) do %>
    <div class="mamufas">
      <div class="renew_window">
        <a href="#close_window" class="close_delete"></a>
        <div class="inner_">
          <span class="top">
            <h3>You are about to refresh your api key and secret</h3>
            <p>Doing that you will have to change all your api keys in these applications where you are using CartoDB, think about it!</p>
          </span>
          <span class="bottom">
            <a href="#close_window" class="cancel">cancel</a>
            <a href="#confirm_renew" class="confirm_renew" key="">Renew your keys</a>
          </span>
        </div>
      </div>
    </div>
  <% end %>


