<button class="VideoTutorial-itemButton js-button">
  <i
    class="
      <% if (icon) { %>
        CDB-IconFont CDB-IconFont-<%- icon %>
      <% } %>
      VideoTutorial-itemIcon
    "
    style="border-color: <%- color %>; color: <%- color %>"
  ></i>
  <h6 class="VideoTutorial-itemTitle CDB-Text CDB-size-large u-mainTextColor"><%- shortName %></h6>
  <p class="VideoTutorial-itemDes CDB-Text CDB-Size-medium u-altTextColor"><%- shortDescription %></p>
  <% if (difficulty || duration) { %>
    <div class="VideoTutorial-itemInfo CDB-Text CDB-Size-small u-hintTextColor">
      <label class="VideoTutorial-itemDifficulty"><%- difficulty %></label>
      <% if (duration) { %>
        <label class="VideoTutorial-itemDuration">
          <i class="CDB-IconFont CDB-IconFont-clock VideoTutorial-itemDurationIcon"></i>
          <span class="VideoTutorial-itemDurationText"><%- duration %></span>
        </label>
      <% } %>
    </div>
  <% } %>
</button>