<% if cookies[:flash] || flash[:success] || flash[:error] %>
  <div class="FlashMessage <%= 'FlashMessage--success' if (flash[:success]) %><%= 'FlashMessage--error' if flash[:error] %>">
    <div class="u-inner">
      <p class="FlashMessage-info <%= 'success' if (flash[:success]) %><%= 'error' if flash[:error] %>"><%= raw cookies[:flash] || flash[:success] || flash[:error] %></p>
    </div>
  </div>
<% end %>
