<% error_message = local_assigns[:error_message] %>
<% if cookies[:flash] || flash[:success] || flash[:warning] || error_message || flash[:error] %>
  <%
      flash_container_class = if flash[:success]
                                'FlashMessage--success'
                              elsif flash[:warning]
                                'FlashMessage--warning'
                              elsif error_message || flash[:error]
                                'FlashMessage--error'
                              end
  %>
  <div class="CDB-Text FlashMessage <%= flash_container_class %>">
    <div class="u-inner">
      <%
        flash_class =  if flash[:success]
                         'success'
                       elsif flash[:warning]
                         'warning'
                       elsif error_message || flash[:error]
                         'error'
                       end
      %>
      <p class="FlashMessage-info <%= flash_class %>">
        <%= raw cookies[:flash] || flash[:success]  || flash[:warning] || [error_message, flash[:error]].compact.join(', ') %>
      </p>

      <% if flash[:detail] %>
          <p class="FlashMessage-detail <%= flash_class %>"><%= raw flash[:detail] %></p>
      <% end %>
    </div>
  </div>
<% end %>
