<div class="CDB-Text CDB-Size-medium Navmenu Navmenu--white Navmenu--borderless js-Navmenu">
  <div class="u-inner">
    <span class="Navmenu-separator"></span>
    <div class="PublicMap-block">
      <div class="PublicMap-gradient"></div>

        <div class="PublicMap-leftBlock PublicMap-leftBlock--owner">
          <ul class="Navmenu-list Navmenu-list--owner Navmenu-list--avatar">
            <li class="Navmenu-item">
              <a href="<%= CartoDB.url(self, 'public_user_feed_home') %>" class="UserAvatar">
                <img class="UserAvatar-img--medium" src="<%= @avatar_url %>" alt="development" title="development" />
              </a>
            </li>
          </ul>

          <ul class="Navmenu-list Navmenu-list--owner">
            <li class="Navmenu-item u-hideOnMobile">
              <a href="<%= CartoDB.url(self, 'public_user_feed_home') %>" class="Navmenu-link Navmenu-link--owner <%= "#{@content_type != 'maps' and @content_type != 'datasets' ? 'is-selected' : '' }" %>" title="<%= @name %>">
                <%= @name %>
              </a>
            </li>
            <li class="Navmenu-item">
              <a href="<%= CartoDB.url(self, 'public_maps_home') %>" class="Navmenu-link <%= "#{@content_type == 'maps' ? 'is-selected' : '' }" %>">
                <% if @maps_count > 0 %>
                  <%= pluralize(@maps_count, "Map") %>
                <% else %>
                  Maps
                <% end %>
              </a>
            </li>
            <li class="Navmenu-item last-child">
              <a href="<%= CartoDB.url(self, 'public_datasets_home') %>" class="Navmenu-link <%= "#{@content_type == 'datasets' ? 'is-selected' : '' }" %>">
                <% if @tables_num > 0 %>
                  <%= pluralize(@tables_num, "Dataset") %>
                <% else %>
                  Datasets
                <% end %>
              </a>
            </li>
          </ul>
        </div>

      <% if @available_for_hire %>
        <div class="PublicMap-rightBlock PublicMap-rightBlock--owner u-txt-right u-hideOnMobile">
          <ul class="Navmenu-list">
            <li class="Navmenu-item">
              <a class="CDB-Button CDB-Button--primary u-iBlock" href="mailto:<%= @email %>">
                <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Hire me</span>
              </a>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
