<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--<%= positiveOrNegativeStr %>">
    <i class="iconFont iconFont-<%= lockOrUnlockStr %>"></i>
    <span class="Badge Badge--<%= positiveOrNegativeStr %> Dialog-headerIconBadge"><%= itemsCount %></span>
  </div>
  <p class="Dialog-headerTitle">
    You are about to <%= lockOrUnlockStr.toLowerCase() %> <%= itemsCount %> <%= contentTypePluralized %>.
  </p>
  <p class="Dialog-headerText">
    <% if (areLocked) { %>
      By unlocking <%= thisOrTheseStr %> <%= contentTypePluralized %> <%= itOrTheyStr %> will be visible in the default list again.
    <% } else { %>
      By locking <%= thisOrTheseStr %> <%= contentTypePluralized %> <%= itOrTheyStr %> will be hidden from the default list.
      </p>
      <p class="Dialog-headerText">
      To see your locked <%= contentTypePluralized %> use the header menu, or click in the link at the bottom of the list.
    <% } %>
  </p>
</div>

<div class="Dialog-footer u-inner DeleteItems-footer">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="js-ok Button Button--<%= positiveOrNegativeStr %>">
    <span>Ok, <%= lockOrUnlockStr %></span>
  </button>
</div>
