<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--positive">
    <i class="iconFont iconFont-Unlock"></i>
  </div>
  <p class="Dialog-headerTitle u-ellipsLongText">
    <%= itemName %> privacy
  </p>
  <p class="Dialog-headerText">
    Although we believe in the power of open data, you can also protected your tables.
  </p>
</div>

<div class="Dialog-body u-inner ChangePrivacyList">
  <% privacyOptions.forEach(function(d) { %>
    <div class="ChangePrivacyList-item">
      <div class="Illustration Illustration--<%= d.illustrationType %>">
        <i class="iconFont iconFont-<%= d.iconFontType %>"></i>
      </div>
      <div class="ChangePrivacyList-itemTitle"><%= d.title %></div>
      <div class="DefaultSecondaryParagraph"><%= d.desc %></div>
    </div>
  <% }); %>
</div>

<div class="Dialog-footer u-inner DeleteItems-footer">
  <button class="Button Button--secondary Dialog-footerBtn cancel">
    <span>cancel</span>
  </button>
  <button class="js-ok Button Button--positive">
    <span>Save settings</span>
  </button>
</div>
