<div class="Editor js-editor">
  <div id="dashboard"></div>
</div>

<script>
  var frontendConfig = <%= safe_js_object frontend_config %>;
  var visualizationData = <%= safe_js_object @visualization_data.to_json %>
  var layersData = <%= safe_js_object @layers_data.to_json %>
  var vizJSON = <%= safe_js_object @vizjson.to_hash.to_json %>;
  var userData = <%= safe_js_object current_user.data({ show_api_calls: false }).to_json %>;
  var analysesData = <%= safe_js_object @analyses_data.to_json %>
</script>
<%= javascript_include_tag 'editor3.js' %>
