<a class="OrganizationList-userLink">
  <div class="OrganizationList-userAvatar UserAvatar">
    <img src="<%- avatarUrl %>" alt="<%- username %>" src="<%- username %>" class="UserAvatar-img UserAvatar-img--medium-large OrganizationList-userAvatar--img" />
  </div>
  <div class="OrganizationList-userInfo">
    <div class="OrganizationList-userInfoName">
      <h3 class="OrganizationList-userInfoTitle u-ellipsLongText" title="<%- username %>">
        <%- username %>
      </h3>
      <h4 class="OrganizationList-userInfoSubtitle u-ellipsLongText" title="<%- email %>"><%- email %></h4>
    </div>
  </div>
</a>
