<% content_for :js do %>
  <%= headjs_include_tag "plugins/jquery.min", "front/home" %>
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag('reset', 'front/home') %>
<% end %>

<section>
  <h1>We love <strong>open-data*</strong><span>*Within reasonable <%= link_to 'limits', limits_path %></span></h1>

  <p>CartoDB is a new geospatial database in the cloud that allows you to develop location aware applications quickly and easily</p>

  <%= form_for @user do |f| %>
    <span>
			<p>Join the beta</p>
			<%= link_to "already registered?", login_path %>
		</span>

    <span>
			<%= text_field_tag 'email', "Insert your email", :class => (@user.errors.any? ? 'error':'') %>
			<%= submit_tag 'Sign up', :name => "commit"%>
    </span>

    <% if @user.errors.any? %>
	    <div class="error_content">
	      <p><span><%= @user.errors.full_messages.join(', ').capitalize %></span></p>
	    </div>
    <% end %>
  <% end %>

  <p class="follow">and <%= link_to "follow us on twitter", "http://www.twitter.com/cartodb", :class => 'twitter', :target => "_blank"%></p>
</section>

<footer>
	<%= render :partial => 'footer' %>
</footer>
