<% if (m.pagesCount() > 1) { %>
  <span class="DefaultDescription Pagination-label">
    Page <%= m.get('current_page') %> of <%= m.pagesCount() %>
  </span>
  <ul class="Pagination-list">
    <% m.pagesToDisplay().forEach(function(page) { %>
    <li class="Pagination-listItem <%= m.isCurrentPage(page) ? 'is--current' : '' %>">
      <a href="<%= m.urlTo(page) %>"><%= page %></a>
    </li>
    <% }) %>
  </ul>
<% } %>
