<div class="ChangePrivacy-shareListItemInfo">
  <% if (avatarUrl) { %>
    <div class="UserAvatar ChangePrivacy-shareListItemIcon <%= willRevokeAccess ? 'is-error' : '' %>">
      <img src="<%= avatarUrl %>" class="UserAvatar-img UserAvatar-img--medium <%= willRevokeAccess ? 'is-error' : '' %>" />
    </div>
  <% } else { %>
    <div class="LayoutIcon ChangePrivacy-shareListItemIcon">
      <i class="iconFont iconFont-People iconFont--super"></i>
    </div>
  <% } %>
  <div>
    <div class="DefaultTitle u-ellipsLongText"><%= title %></div>
    <p class="DefaultDescription u-ellipsLongText <%= willRevokeAccess ? 'DefaultDescription--error' : '' %>"><%= desc %></p>
  </div>
</div>
<div>
  <% if (canChangeWriteAccess) { %>
    <span>
      <div class="Toggler ChangePrivacy-shareListItemToggler">
        <input type="checkbox" id="<%= writeId %>" class="js-write" <%= canWrite ? 'checked="checked"' : '' %> />
        <label for="<%= writeId %>" />
      </div>
      <span class="DefaultDescription ChangePrivacy-shareListItemTogglerText">Write</span>
    </span>
  <% } %>

  <div class="Toggler ChangePrivacy-shareListItemToggler">
    <input type="checkbox" id="<%= readId %>" class="js-read" <%= canRead ? 'checked="checked"' : '' %> />
    <label for="<%= readId %>" />
  </div>
  <span class="DefaultDescription">Read</span>
</div>
