<a href="#/<%= type.toLowerCase() %>" class="<%= !enabled ? 'disabled' : '' %>">
  <span class="status <%= type.toLowerCase() %> privacy-status"></span>
  <span class="info">
    <h5><%= title %></h5>
    <p>
      <% if (enabled) { %>
        <%= description %>
      <% } else { %>
        This status is only enabled for paid accounts.
      <% } %>
    </p>
  </span>
</a>