<ul class="SettingsDropdown">
  <li class="SettingsDropdown-item">
    <p class="SettingsDropdown-sameline">
      <strong><%= name %></strong>
      <small class="SettingsDropdown-accountType DefaultDescription"><%= accountType %></small>
    </p>
    <p class="SettingsDropdown-email">
      <small class="DefaultDescription"><%= email %></small>
    </p>
  </li>
  <li class="SettingsDropdown-item">
    <p class="SettingsDropdown-sameline">
      <small class="DefaultDescription"><%= usedDataStr %> of <%= availableDataStr %> used</small>
      <% if (showUpgradeLink) { %>
        <a href="<%= upgradeUrl %>">
          Upgrade
        </a>
      <% } %>
    </p>
    <div class="SettingsDropdown-progressBar <%= progressBarClass %>">
      <div class="progress-bar">
        <span class="bar-2" style="width: <%= usedDataPct %>%"></span>
      </div>
    </div>
  </li>
  <li class="SettingsDropdown-item">
    <p><a class="SettingsDropdown-itemLink" href="<%= publicProfileUrl %>">View your public profile</a></p>
    <p><a class="SettingsDropdown-itemLink" href="<%= accountSettingsUrl %>">Your account</a></p>
    <% if (isOrgAdmin) { %>
      <p><a class="SettingsDropdown-itemLink" href="<%= organizationUrl %>">Your organization</a></p>
    <% } %>
    <p><a class="SettingsDropdown-itemLink" href="<%= apiKeysUrl %>">Your API keys</a></p>
    <p><a class="SettingsDropdown-itemLink" href="<%= logoutUrl %>">Close session</a></p>
  </li>
</ul
