<ul class="BreadcrumbsDropdown">
  <li>
    <p>
      <a href="<%= mapsUrl %>" class="<%= !isDatasets && !isLocked ? 'SelectedLink' : '' %>">Your maps</a>
    </p>
    <p>
      <a href="<%= datasetsUrl %>" class="<%= isDatasets && !isLocked ? 'SelectedLink' : '' %>">Your datasets</a>
    </p>
  </li>
  <li>
    <p class="BreadcrumbsDropdown-sameline">
      <a href="<%= lockedDatasetsUrl %>" class="<%= isDatasets && isLocked ? 'SelectedLink' : '' %>">Your locked datasets</a>
      <i class="iconFont iconFont-Lock BreadcrumbsDropdown-lockIcon"></i>
    </p>
    <p class="BreadcrumbsDropdown-sameline">
      <a href="<%= lockedMapsUrl %>" class="<%= !isDatasets && isLocked ? 'SelectedLink' : '' %>">Your locked maps</a>
      <i class="iconFont iconFont-Lock BreadcrumbsDropdown-lockIcon"></i>
    </p>
  </li>
</ul
