<ul>
  <li>
    <p>
      <a href="<%= mapsUrl %>" class="<%= !isDatasets && !isLocked ? 'SelectedLink' : '' %>">Your maps</a>
    </p>
    <p>
      <a href="<%= datasetsUrl %>" class="<%= isDatasets && !isLocked ? 'SelectedLink' : '' %>">Your datasets</a>
    </p>
  </li>
  <li>
    <p>
      <a href="<%= lockedDatasetsUrl %>" class="<%= isDatasets && isLocked ? 'SelectedLink' : '' %>">Your locked datasets</a>
    </p>
    <p>
      <a href="<%= lockedMapsUrl %>" class="<%= !isDatasets && isLocked ? 'SelectedLink' : '' %>">Your lock maps</a>
    </p>
  </li>
</ul
