<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width initial-scale=1">
    <title><%= @visualization_data[:name].nil? ? 'Untitled map' : @visualization_data[:name] %></title>
    <%= favicon_link_tag "/favicons/favicon.ico" -%>
    <%= stylesheet_link_tag 'public_editor3', 'deep_insights', media: 'all' %>
    <style type="text/css">
      html, body {
        position:relative;
        height: 100%;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div id="dashboard"></div>
    <script>
      var vizJSON = <%= safe_js_object @vizjson.to_hash.to_json %>;
    </script>
    <%= javascript_include_tag 'vendor_editor3.js' %>
    <%= javascript_include_tag 'common_editor3.js' %>
    <%= javascript_include_tag 'public_editor3.js' %>
  </body>
</html>
