<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Protected map</title>
    <%= stylesheet_link_tag 'password_protected.css' %>
    <%= javascript_include_tag 'cdb.js' %>
    <%= stylesheet_link_tag 'public_editor3', 'deep_insights', media: 'all' %>
    <style type="text/css">
      html, body {
        position:relative;
        height: 100%;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body class='protected'>
    <%= javascript_include_tag 'common_editor3.js' %>
    <%= javascript_include_tag 'public_editor3.js' %>
    <div class="bkg"></div>
    <div class="block modal creation">
      <div class="head">
        <h3>This map is protected by password</h3>
      </div>
      <div class="content">
        <%= form_tag 'embed_protected', method: :post do %>
          <input type="password" name="password" placeholder="Insert your password"/>
          <span class="icon"></span>

          <% if (flash[:error]) %>
            <span class="icon error" original-title="The password is not ok"></span>
          <% end %>
        <% end %>
      </div>
      <div class="foot">Contact with the owner in case you want access to it.</div>
    </div>
  </body>
</html>
