<i class="<%- service %>"></i>
<p><%- tweets_georeferenced %> tweet<%- tweets_georeferenced == 1 ? '' : 's' %> have been imported on table "<%- table_name %>".<br />
  You have <%- tweets_left %> Twitter credit<%- tweets_left == 1 ? '' : 's' %> left.
</p>


