<div class="info">
  <h6><%= title %></h6>
  <p>
    <% if (service === "mailchimp") { %>
      <% if (member_count && cdb.Utils.readablizeBytes(member_count)) { %>
        <i><%= member_count %> members.</i>
      <% } %>
    <% } else { %>  
      <% if (service === "dropbox") { %>
        <i class="path" title="<%= id.replace('/' + filename,'') %>"><%= id.replace('/' + filename,'') %></i> folder - 
      <% } %>
      <% if (size) { %>
        <%= size && cdb.Utils.readablizeBytes(size) %>
      <% } else { %>
        <i>File size not provided</i>
      <% } %>
    <% } %>
  </p>
</div>
<div class="button">
  <a href="#/import" class="button grey smaller">Import</a>
</div>