<% if (failed) { %>
  <div class="ImportItem-text is-failed" title="<%- name %>">
    Ouch! Error connecting <%- name %> <% if (service) { %> from <%- service %> <% } %>
  </div>
  <button class="Button Button-importShowDetails js-show_error">SHOW</button>
  <button class="ImportItem-closeButton js-close">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } else if (completed && !warnings) { %>
  <div class="ImportItem-text is-completed" title="<%- name %>">
    <%- name %> <% if (service && service != "twitter_search") { %> from <%- service %> <% } %> completed!
  </div>
  <% if (showSuccessDetailsButton) { %>
    <% if (service && service === "twitter_search") { %>
      <button class="Button Button-importShowDetails js-show_stats">SHOW</button>
    <% } else if (tables_created_count === 1) { %>
      <a href="<%- url %>" class="Button Button-importShowDetails js-show">SHOW</a>
    <% } %>
  <% } %>
  <button class="ImportItem-closeButton js-close">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } else if (completed && warnings) { %>
  <div class="ImportItem-text has-warnings" title="<%- name %>">
    Some warnings were produced for <%- name %> <% if (service) { %> from <%- service %> <% } %>
  </div>
  <button class="Button Button-importShowDetails js-show_warnings">SHOW</button>
  <button class="ImportItem-closeButton js-close">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } else { %>
  <div class="ImportItem-text" title="<%- name %>">
    <span class="ImportItem-textState"><%- state %></span> <%- name %> <% if (service && service != "twitter_search") { %> from <%- service %> <% } %>
  </div>
  <div class="ImportItem-progress">
    <div class="progress-bar">
      <span class="bar-2" style="width:<%- progress %>%"></span>
    </div>
  </div>
  <% if ((state === "uploading" && (step === "upload" || step === "import")) ||
    ((state === "importing" || state === "uploading" || state === "pending" || state === "unpacking")
    && step === "import")) { %>
    <button class="ImportItem-closeButton js-abort">
      <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
    </button>
  <% } %>
<% } %>
