<% if (failed) { %>
  <div class="ImportItem-text is-failed" title="<%- name %>">
    Ouch! Error connecting <%- name %> <% if (service) { %> from <%- service %> <% } %>
  </div>
  <button class="CDB-Button CDB-Button--secondary CDB-Button--small js-show_error"><span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small">SHOW</span></button>
  <button class="CDB-Shape js-close">
    <div class="CDB-Shape-close is-blue is-large"></div>
  </button>
<% } else if (completed && !warnings) { %>
  <div class="ImportItem-text is-completed" title="<%- name %>">
    <%- name %> <% if (service && service != "twitter_search") { %> from <%- service %> <% } %> completed!
  </div>
  <% if (showSuccessDetailsButton) { %>
    <% if (service && service === "twitter_search") { %>
      <button class="CDB-Button CDB-Button--secondary CDB-Button--small js-show_stats"><span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small">SHOW</span></button>
    <% } else if (tables_created_count === 1) { %>

      <a href="<%- url %>" class="CDB-Button CDB-Button--secondary CDB-Button--small js-show"><span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small">SHOW</span></a>
    <% } %>
  <% } %>
  <button class="CDB-Shape js-close">
    <div class="CDB-Shape-close is-blue is-large"></div>
  </button>
<% } else if (completed && warnings) { %>
  <div class="ImportItem-text has-warnings" title="<%- name %>">
    Some warnings were produced for <%- name %> <% if (service) { %> from <%- service %> <% } %>
  </div>
  <button class="CDB-Button CDB-Button--secondary CDB-Button--small js-show_warnings"><span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small">SHOW</span></button>
  <button class="CDB-Shape js-close">
    <div class="CDB-Shape-close is-blue is-large"></div>
  </button>
<% } else { %>
  <div class="ImportItem-text" title="<%- name %>">
    <span class="ImportItem-textState"><%- state %></span> <%- name %> <% if (service && service != "twitter_search") { %> from <%- service %> <% } %>
  </div>
  <div class="ImportItem-progress">
    <div class="progress-bar">
      <span class="bar-2" style="width:<%- progress %>%"></span>
    </div>
  </div>
  <% if (state === "uploading" && step === "upload") { %>
    <button class="ImportItem-closeButton js-abort">
      <i class="CDB-IconFont CDB-IconFont-close ImportItem-closeButtonIcon"></i>
    </button>
  <% } %>
<% } %>
