<div class="Form-row">
  <div class="Form-rowLabel">
    <label class="Form-label"><%- isDataset ? 'Dataset' : 'Map' %> name</label>
  </div>
  <div class="Form-rowData Form-rowData--long">
    <input class="Form-input Form-input--long js-name <% if (!isNameEditable) { %>is-disabled<% } %>" placeholder="<%- isDataset ? 'Dataset' : 'Map' %> name is required" value="<%- visValue %>" <% if (!isNameEditable) { %>readonly="readonly"<% } %>/>
  </div>
  <div class="Form-rowInfo"></div>
</div>

<div class="Form-row">
  <div class="Form-rowLabel">
    <label class="Form-label">Description</label>
  </div>
  <div class="Form-rowData Form-rowData--withLabel Form-rowData--long">
    <textarea maxlength="<%- maxLength %>" class="Form-input Form-input--long Form-textarea js-description <% if (!isMetadataEditable) { %>is-disabled<% } %>" placeholder="<% if (isMetadataEditable) { %>Type your description here...<% } else { %>Empty description<% } %>" <% if (!isMetadataEditable) { %>readonly="readonly"<% } %>><%- visDescription %></textarea>
    <% if (isMetadataEditable) { %>
      <label class="EditVisMetadata-markdown js-markdown" data-title="<em>_italics_</em><br/><b>*bold*</b><br/>[link](http://link.com)">
        <span class="EditVisMetadata-markdownIcon">
          <i class="EditVisMetadata-markdownIconText">M</i>
          <i class="EditVisMetadata-markdownIconChar">￬</i>
        </span>
        Markdown supported
      </label>
    <% } %>
  </div>
  <div class="Form-rowInfo"></div>
</div>

<% if (isDataset) { %>
  <div class="Form-row">
    <div class="Form-rowLabel">
      <label class="Form-label">Source</label>
    </div>
    <div class="Form-rowData Form-rowData">
      <input class="Form-input Form-input--long js-source <% if (!isMetadataEditable) { %>is-disabled<% } %>" placeholder="Enter the source of the data" value="<%- visSource %>" <% if (!isMetadataEditable) { %>readonly="readonly"<% } %>/>
    </div>
    <div class="Form-rowInfo"></div>
  </div>

  <div class="Form-row">
    <div class="Form-rowLabel">
      <label class="Form-label">Attributions</label>
    </div>
    <div class="Form-rowData Form-rowData">
      <input class="Form-input Form-input--long js-attributions <% if (!isMetadataEditable) { %>is-disabled<% } %>" placeholder="Enter the attributions of the data" value="<%- visAttributions %>" <% if (!isMetadataEditable) { %>readonly="readonly"<% } %>/>
    </div>
    <div class="Form-rowInfo"></div>
  </div>

  <div class="Form-row">
    <div class="Form-rowLabel">
      <label class="Form-label">License</label>
    </div>
    <div class="Form-rowData js-license">
    </div>
    <div class="Form-rowInfo"></div>
  </div>

  <% if (isDataLibraryEnabled) { %>
    <div class="Form-row">
      <div class="Form-rowLabel">
        <label class="Form-label">Display name</label>
      </div>
      <div class="Form-rowData Form-rowData">
        <input class="Form-input Form-input--long js-displayName <% if (!isMetadataEditable) { %>is-disabled<% } %>" placeholder="Enter a good display name" value="<%- visDisplayName %>" <% if (!isMetadataEditable) { %>readonly="readonly"<% } %>/>
      </div>
      <div class="Form-rowInfo"></div>
    </div>
  <% } %>
<% } %>

<div class="Form-row">
  <div class="Form-rowLabel">
    <label class="Form-label">Tags</label>
  </div>
  <div class="Form-rowData Form-rowData--long">
    <div class="Form-tags js-tags <% if (!isMetadataEditable) { %>is-disabled<% } %>">
      <ul class="Form-tagsList js-tagsList"></ul>
    </div>
  </div>
  <div class="Form-rowInfo"></div>
</div>

<div class="Form-row">
  <div class="Form-rowLabel">
    <label class="Form-label">Privacy</label>
  </div>
  <div class="Form-rowData Form-rowData--long">
    <% if (!isMetadataEditable) { %>
      <p class="CDB-Tag CDB-Text CDB-Size-small is-semibold u-upperCase PrivacyIndicator is-<%- visPrivacy %>"><%- visPrivacy %></p>
    <% } else { %>
      <button type="button" class="CDB-Tag CDB-Text CDB-Size-small is-semibold u-upperCase PrivacyIndicator is-<%- visPrivacy %> EditVisMetadata-privacyIndicator js-privacy"><%- visPrivacy %></button>
    <% } %>
  </div>
  <div class="Form-rowInfo"></div>
</div>

<div class="Dialog-stickyFooter">
  <div class="Dialog-footer EditVisMetadata-formFooter">
    <div><%/* placeholder for flex layout */%></div>
    <% if (isMetadataEditable) { %>
      <button type="submit" class="Button Button--main Button--inline js-submit">
        <span>Save</span>
      </button>
    <% } else { %>
      <button type="button" class="Button Button--main Button--inline cancel">
        <span>Close</span>
      </button>
    <% }  %>
  </div>
</div>
