<% content_for :js do %>
  <script>
    document.domain = '<%= config.domain %>'

    function clear_email_and_password(form) {
      if(typeof form['email'] != 'undefined' && typeof form['password'] != 'undefined') {
        form['email'].value = '';
        form['password'].value = '';
      }
    }

    function signinCallback(authResult) {
      if (typeof authResult.access_token != 'undefined') {

        if (authResult['status']['signed_in'] && access_token_field.value === '' && google_signup_access_token.value === '') {
          access_token_field.value = authResult.access_token;

          // INFO: user exists and button loaded, let's sign in
          if (access_token_filled.value === "1") {
            clear_email_and_password(access_token_field.form);
            access_token_field.form.submit();
          } else {
            access_token_filled.value = "1";
            $('.Sessions-loggedin').removeClass('is-active');
            $('.Sessions-notloggedin').addClass('is-active');
          }
        }
      } else {
        access_token_filled.value = "1";

        $('.Sessions-loggedin').removeClass('is-active');
        $('.Sessions-notloggedin').addClass('is-active');
      }
    }

    function signinCallbackClick(authResult) {
      // INFO: user exists and button clicked, let's sign in
      if (authResult['status']['signed_in'] && access_token_field.value !== '' && google_signup_access_token.value === '' && access_token_filled.value === '1') {
        access_token_field.value = authResult.access_token;
        clear_email_and_password(access_token_field.form);
        access_token_field.form.submit();
      }
    }

    $(function() {
      window.access_token_filled = document.getElementById('google_access_filled');
      window.access_token_field = document.getElementById('<%= config.access_token_field_id %>');
      window.google_signup_access_token = document.getElementById('google_signup_access_token');

      // INFO: we have a valid access token but no user yet, let's sign up
      if (google_signup_access_token.value != '') {
        clear_email_and_password(google_signup_access_token.form);
        google_signup_access_token.form.submit();
      }

      // TODO: just in case callback takes so long
      setTimeout(function() {
        $('.Sessions-loggedin').removeClass('is-active');
        $('.Sessions-notloggedin').addClass('is-active');
      }, 15000);
    });
  </script>
<% end %>

<iframe src="<%= config.iframe_src %>" width="300" height="41" frameborder="0"></iframe>

<form action="<%= config.signup_action %>" method="POST">
  <input type="hidden" value="<%= config.unauthenticated_valid_access_token %>" id="google_signup_access_token" name="google_signup_access_token" />
</form>
