<html style="background: transparent;padding: 0;margin: 0;">
  <head>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script>
      document.domain = '<%= @config.domain %>'

      function signinCallback(authResult) {
        if(inIframe() && parentInSameDomain()) {
          parent.signinCallback(authResult);

          var button = document.getElementById("signinButton");
          button.classList.remove('is-loading');
          button.onclick = function() {
            parent.signinCallbackClick && parent.signinCallbackClick(authResult);
          };
        }
      }

      function inIframe () {
        try {
          return window.self !== window.top;
        } catch (e) {
          return true;
        }
      }

      function parentInSameDomain() {
        return parent.document.domain.match(document.domain + "$").length > 0;
      }
    </script>
    <style type="text/css">
      html,
      body {
        padding: 0;
        margin: 0;
        min-width: 100%;
        background: transparent;
      }

      .Google-Button {
        position: relative;
        background-color: #162945;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        height: 49px;
        text-align: center;
        transition: all .15s;
      }

      .Google-Button:hover {
        background-color: white;
        color: #162945;
      }

      .Google-Button.is-loading {
        pointer-events: none;
      }

      .Google-Button > .Google-SignIn {
        background-image: url('<%= image_path('layout/sessions/google_plus_logo_white.svg') %>');
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        font-size: 0;
        height: 45px;
      }

      .Google-Button:hover > .Google-SignIn {
        background-image: url('<%= image_path('layout/sessions/google_plus_logo_black.svg') %>');
      }

      .Google-Loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transform-origin: 50%;
        opacity: 0;
        z-index: 10;
        width: 16px;
        height: 16px;
      }

      .Google-SignIn {
        transition: all .15s;
      }

      .Google-Button.is-loading .Google-Loader {
        animation-name: GoogleShowIn;
        animation-duration: 600ms;
        animation-fill-mode: forwards;
      }

      .Google-Button.is-loading .Google-SignIn {
        opacity: 0;
      }

      .Google-LoaderIcon-spinner {
        animation: GoogleRotate 2s linear infinite;
        opacity: 0;
        width: 16px;
        height: 16px;
      }

      .Google-Button.is-loading .Google-LoaderIcon-spinner {
        opacity: 1;
      }

      .Google-LoaderIcon-path {
        stroke: rgba(255, 255, 255, 0.88);
        stroke-linecap: round;
        animation: GoogleDash 1.5s ease-in-out infinite;
        stroke-width: 4px;
      }

      @keyframes GoogleShowIn {
        0% {
          transform: translate(-50%, -50%) scale(0);
          opacity: 0;
        }
        100% {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }

      @keyframes GoogleRotate {
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes GoogleDash {
        0% {
          stroke-dasharray: 1, 150;
          stroke-dashoffset: 0;
        }
        50% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -35;
        }
        100% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -124;
        }
      }
    </style>
  </head>
  <body style="background: transparent; padding: 0; margin: 0;">
    <div id="gSignInWrapper">
      <div id="signinButton" class="Google-Button is-loading">
        <span
          class="g-signin Google-SignIn"
          data-callback="signinCallback"
          data-clientid="<%= @config.client_id %>"
          data-cookiepolicy="<%= @config.cookie_policy %>"
          data-scope="email profile">
            Login with Google
        </span>

        <div class="Google-Loader">
          <svg class="Google-LoaderIcon-spinner" viewbox="0 0 50 50">
            <circle class="Google-LoaderIcon-path" cx="25" cy="25" r="20" fill="none"/>
          </svg>
        </div>
      </div>
    </div>
  </body>
</html>
