<div class="MapTemplate">
  <div class="MapTemplate-info">
    <h4 class="MapTemplate-infoTitle"><%- name %></h4>
    <p class="MapTemplate-infoText"><%- description %></p>
    <ul class="MapTemplate-infoList">
      <% var i = 0; %>
      <% if (typeof map.source != "undefined") { %>
        <% for (var i = 0, l = map.source.length; i < l; i++) { %>
          <li class="MapTemplate-infoDataset">
            <span class="MapTemplate-infoDatasetPos"><%- i + 1 %></span>
            <a target="_blank" class="MapTemplate-infoDatasetLink" href="<%- map.source[i] %>">Get <% if (l > 1) { %><%- cdb.Utils.getGetOrdinal( i + 1 ) %><% } %> dataset</a>
          </li>
        <% } %>
      <% } %>
      <% if (typeof map.url != "undefined") { %>
        <li class="MapTemplate-infoDataset">
          <span class="MapTemplate-infoDatasetPos"><%- i + 1 %></span>
          <a class="MapTemplate-infoDatasetLink" target="_blank" href="<%- map.url %>">View resulting map</a>
        </li>
      <% } %>
    </ul>
    <div class="MapTemplate-infoSteps"></div>
  </div>
  <div class="MapTemplate-video">
    <iframe class="MapTemplate-videoIframe" src="//player.vimeo.com/video/<%- videoId %>?api=1" width="620" height="350"></iframe>
  </div>
</div>