<button class="VideoTutorial-itemButton js-button">
  <i
    class="
      <% if (icon) { %>
        iconFont iconFont-<%- icon %>
      <% } %>
      VideoTutorial-itemIcon
    "
    style="border-color: <%- color %>; color: <%- color %>"
  ></i>
  <h6 class="VideoTutorial-itemTitle"><%- shortName %></h6>
  <p class="VideoTutorial-itemDes"><%- shortDescription %></p>
  <% if (difficulty || duration) { %>
    <div class="VideoTutorial-itemInfo">
      <label class="VideoTutorial-itemDifficulty"><%- difficulty %></label>
      <% if (duration) { %>
        <label class="VideoTutorial-itemDuration">
          <i class="iconFont iconFont-Clock VideoTutorial-itemDurationIcon"></i>
          <span class="VideoTutorial-itemDurationText"><%- duration %></span>
        </label>
      <% } %>
    </div>
  <% } %>
</button>