<div class="Dialog-content Dialog-content--expanded">

  <div class="Dialog-contentWrapper">
    <% if (currentStep) { %>
      <button class="NavButton Dialog-backBtn js-back">
        <i class="iconFont iconFont-ArrowPrev"></i>
      </button>
    <% } %>

    <div class="Dialog-header Dialog-header--expanded CreateDialog-header CreateDialog-header--withoutMaxHeight">
      <ul class="CreateDialog-headerSteps">
        <% if (currentStep) { %>
          <% allSteps.forEach(function(d, i) { %>
            <li class="CreateDialog-headerStep <%- d.isCurrent ? 'is-selected' : '' %>">
              <div class="Dialog-headerIcon">
                <i class="iconFont <%- d.icon %>"></i>
              </div>
              <p class="Dialog-headerTitle"><%- d.title %></p>
              <p class="Dialog-headerText">Step <%- i + 2 %> of <%- allSteps.length + 1 %></p>
            </li>
          <% }) %>
        <% } else { %>
          <li class="CreateDialog-headerStep CreateDialog-headerStep--single is-selected">
            <div class="Dialog-headerIcon">
              <i class="iconFont iconFont-Outside"></i>
            </div>
            <p class="Dialog-headerTitle">Merge with another table</p>
            <p class="Dialog-headerText">Table merging is useful if you want to combine data from two tables into a single new table.</p>
            <p class="Dialog-headerText">You can merge tables by a column attribute or as a spatial intersection.</p>
          </li>
        <% } %>
      </ul>
    </div>

    <div class="Dialog-body Dialog-body--expanded CreateDialog-body">
      <div class="u-inner">
        <% if (currentStep) { %>
          <div class=""><%- currentStep.get('instructions') %><div>
          <div class="js-details"></div>
        <% } else { %>
          <div class="OptionCards js-flavors"></div>
        <% } %>
      </div>
    </div>

    <div class="Dialog-footer Dialog-footer--expanded CreateDialog-footer">
      <div>
        <div class="CreateDialog-footerShadow"></div>
        <div class="CreateDialog-footerLine"></div>
        <div class="CreateDialog-footerInner ">
          <div class="CreateDialog-footerInfo">
            <i class="iconFont iconFont-Info CreateDialog-footerInfoIcon"></i>
            New on CartoDB? Start with one of our <a href="#" class="js-templates">templates</a>
          </div>
          <div class="CreateDialog-footerActions">
            <% if (currentStep) { %>
              <button class="Button Button--main is-disabled js-next">
                <span><%- nextLabel %></span>
              </button>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
