<div class="u-inner MergeDatasets-stickyHeaderContent">

  <div class="MergeDatasets-list MergeDatasets-list--sticky">
    <div class="List-rowItem List-rowItem--compactSelected List-rowItem--compactSelected List-rowItem--withoutBottomBorder">
      <div class="MergeDatasets-rowItem">
        <div>
          <div class="DefaultTitle"><%- leftColumnName %></div>
          <p class="DefaultParagraph DefaultParagraph--tertiary"><%- leftColumnType %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="MergeDatasets-ornaments MergeDatasets-ornaments--sticky">
    <div class="MergeDatasets-ornamentsTop is-sticky <%- ornamentsTop %>"></div>
  </div>

  <div class="MergeDatasets-list" MergeDatasets-list--sticky>
    <div class="List-rowItem List-rowItem--compactSelected List-rowItem--compactSelected List-rowItem--withoutBottomBorder">
      <div class="MergeDatasets-rowItem">
        <% if (addRadioPlaceholder) { %>
          <div class="MergeDatasets-radioPlaceholder"></div>
        <% } %>
        <div>
          <div class="DefaultTitle"><%- rightColumnName %></div>
          <p class="DefaultParagraph DefaultParagraph--tertiary"><%- rightColumnType %></p>
        </div>
      </div>
    </div>
  </div>

</div>
