<li class="MapsList-item">
  <div class="MapCard MapCard--borderless MapCard--explore js-card" data-vis-id="<%- vis.id %>">
    <a href="http://<%- vis.permission.owner.username %>.<%- account_host %>/tables/<%- vis.name %>/map" class="MapCard-header js-header">
      <div class="MapCard-loader js-loader"></div>
    </a>

    <div class="MapCard-content">
      <div class="MapCard-contentFooter MapCard-contentFooter--with-icon">
        <div class="MapCard-contentFooterIcon">
          <div class="DatasetsList-itemCategory is--<%= geomType %>Dataset"></div>
        </div>
        <div class="MapCard-contentFooterDetails u-ellipsLongText">
          <div class="MapCard-contentFooterTitle">
            <h3 class="MapCard-title DefaultTitle">
              <a href="http://<%- vis.permission.owner.username %>.<%- account_host %>/tables/<%- vis.name %>/map" class="DefaultTitle-link u-ellipsLongText" title="<%- vis.display_name %>"><% if (vis.display_name == "" || vis.display_name == null) { %><%- vis.name %><% } else { %><%- vis.display_name %><% } %></a>
            </h3>
          </div>

          <div class="MapCard-contentFooterIcons">
            <div class="MapCard-contentFooterDetails--left">
              <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
                <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
                <%- moment(date).fromNow() %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
