<div class="head">
  <h3>Your quota</h3>
</div>
<div class="content">
  <ul>
    <li>
      <div class="seats margin5">
        <div class="progress-bar">
          <span class="bar-2 used"></span>
        </div>
        <p class="margin10"><strong><%= "#{current_user.organization.users.count} of #{current_user.organization.seats}" %></strong> users in your account.</p>
      </div>
      <div class="space margin30">
        <div class="progress-bar">
          <span class="bar-2 used"></span>
          <span class="bar-1 available"></span>
          <span class="bar-0 unassigned" style="width:100%"></span>
        </div>
        <p class="margin10">
          <strong><%= number_to_human_size current_user.organization.db_size_in_bytes %> of <%= number_to_human_size current_user.organization.quota_in_bytes %></strong>
        used in your account.
        </p>
        <p class="margin5">
        <strong><%= number_to_human_size(current_user.organization.unassigned_quota) %></strong>
      unassigned.</p>
      </div>
    </li>
    <li>
      <%= link_to "Upgrade your quota", current_user.upgrade_url(request.protocol), :class => "button green" %>
    </li>
  </ul>
</div>
