<% if current_user.organization_owner? %>
  <nav class="account-settings">
    <div class="inner">
      <a href="<%= CartoDB.url(self, 'organization') %>"
         class="<%= 'selected' if ['admin/organizations', 'admin/users'].include?(params[:controller]) && !['settings'].include?(params[:action]) %>">
        <span class="icon organization"></span>
        <span class="info">
          <h2>Manage your seats</h2>
          <p><%= current_user.organization.users.count %> of <%= current_user.organization.seats %> in use</p>
        </span>
      </a>
      <a href="<%= CartoDB.url(self, 'organization_settings') %>"
         class="<%= 'selected' if ['settings'].include?(params[:action]) %>">
        <span class="icon stats"></span>
        <span class="info">
          <h2>Public dashboard</h2>
          <p>Configuration, logo,...</p>
        </span>
      </a>
      <% unless cartodb_com_hosted? %>
        <a href="<%= current_user.account_url(request.protocol) %>">
          <span class="icon settings"></span>
          <span class="info">
            <h2>Account settings</h2>
            <p>Invoicing, access,...</p>
          </span>
        </a>
      <% end %>
    </div>
  </nav>
<% end %>