<% content_for(:page_title) do %>
  <%= current_user.organization.name %> auth settings |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var config = <%= safe_js_object frontend_config %>;
    var user_data = <%= safe_js_object current_user.data.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'organization_templates.js', 'organization_deps.js', 'organization.js' -%>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'organization.css', :media => 'all' %>
<% end %>

<%= render :partial => 'shared/flash_message' %>

<div class="FormAccount-Section u-inner">
  <%= render :partial => 'admin/shared/pages_subheader' %>

  <div class="FormAccount-Content">
    <%= render :partial => 'admin/shared/org_subheader' %>

    <% if @ldap_configuration %>
      <%= render :partial => 'admin/organizations/ldap_configuration' %>
    <% else %>
      <div class="FormAccount-separator"></div>

      <%= form_for @organization, url: CartoDB.url(self, 'organization_auth_update', {}, current_user), multipart: true do |f| %>
        <%= csrf_meta_tags %>

        <div class="FormAccount-row">
          <div class="FormAccount-rowLabel">
            <label class="FormAccount-label FormAccount-label--multipleLines">Whitelisted email domains</label>
          </div>
          <div class="FormAccount-rowData">
            <div class="FormAccount-tags js-domains">
              <ul class="FormAccount-tagsList js-domainsList">
                <span class= "FormAccount-tagsList--placeholder js-placeholder">Only valid domains will be added (ex. cartodb.com)</span>
              </ul>
            </div>
            <%= f.hidden_field :whitelisted_email_domains, :value => "#{ @organization[:whitelisted_email_domains].join(',') if !@organization[:whitelisted_email_domains].blank? }", :class => "js-whitelist", :placeholder => "Only valid domains will be added (ex. cartodb.com)" %>
            <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
              <p class="FormAccount-rowInfoText warning">If empty, login and signup pages will be disabled</p>
            </div>
          </div>
        </div>

        <div class="FormAccount-row">
          <div class="FormAccount-rowLabel">
            <label class="FormAccount-label">Username / password</label>
          </div>
          <div class="FormAccount-rowData">
            <div class="Toggler">
              <%= f.check_box :auth_username_password_enabled, :id => "auth_username_password_enabled" %>
              <%= label_tag(:auth_username_password_enabled, '') %>
            </div>
            <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
              <p class="FormAccount-rowInfoText">Allow users to signup with their own username & email submission</p>
            </div>
          </div>
        </div>

        <div class="FormAccount-row">
          <div class="FormAccount-rowLabel">
            <label class="FormAccount-label">Google Apps Login</label>
          </div>
          <div class="FormAccount-rowData">
            <div class="Toggler">
              <%= f.check_box :auth_google_enabled, :id => "auth_google_enabled" %>
              <%= label_tag(:auth_google_enabled, '') %>
            </div>
            <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
              <p class="FormAccount-rowInfoText">Allow users to signup with their own Google domain account</p>
            </div>
          </div>
        </div>

        <div class="FormAccount-row">
          <div class="FormAccount-rowLabel">
            <label class="FormAccount-label">Strong Passwords</label>
          </div>
          <div class="FormAccount-rowData">
            <div class="Toggler">
              <%= f.check_box :strong_passwords_enabled, :id => "strong_passwords_enabled" %>
              <%= label_tag(:strong_passwords_enabled, '') %>
            </div>
            <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
              <p class="FormAccount-rowInfoText">Require users to use strong passwords</p>
            </div>
          </div>
        </div>

        <div class="FormAccount-footer">
          <p class="FormAccount-footerText"></p>
          <%= button_tag(type: 'submit', class: 'Button Button--main') do %>
            <% content_tag(:span, 'Save changes') %>
          <% end %>
        </div>

      <% end %>

    <% end %>

  </div>

</div>

<%= render 'admin/shared/footer' %>
