<% content_for(:page_title) do %>
  <%= current_user.organization.name %> settings |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var config = <%= safe_js_object frontend_config %>;
    var user_data = <%= safe_js_object current_user.data.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'organization_templates.js', 'organization_deps.js', 'organization.js' -%>
<% end %>

<%= render :partial => 'shared/flash_message' %>

<div>
  <%= render :partial => 'admin/shared/org_subheader' %>

  <div class="OrganizationContent">
    <div class="u-inner">
      <%= form_for @organization, url: CartoDB.url(self, 'organization_settings_update', {}, current_user), multipart: true do |f| %>
        <%= csrf_meta_tags %>

        <div class="Form-title">
          <p class="Form-titleText">Edit your company settings</p>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Public name</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_field :name, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText">Check your <a href="<%= CartoDB.base_url(@organization.name) %>">public page</a></p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Website</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_field :website, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText"></p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Description</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_area :description, :class => "Form-textarea Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText"></p>
          </div>
        </div>

        <div class="Form-row js-avatarSelector">
          <div class="Form-rowLabel">
            <label class="Form-label">Avatar</label>
          </div>
          <div class="Form-rowData Form-avatar">
            <div class="Form-avatarPreview">
              <img src="<%= @organization.avatar_url %>" title="" alt="" class="Form-avatarPreviewImage" />
            </div>
            <%= f.file_field :avatar_url, :class => "js-fileAvatar", :value => "Change avatar" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText">Recommended images should be 128x128 of size</p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Twitter username</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_field :twitter_username, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText"></p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Disqus shortname</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_field :discus_shortname, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText">Moderate the comments in your maps</p>
          </div>
        </div>

        <% if current_user.has_feature_flag?('google_maps') && current_user.organization_owner? %>
        
          <div class="Form-title">
            <h4 class="Form-titleHeader">Configure API keys from external providers</h4>
            <p class="Form-titleText">Configure here the API keys from other services like
            Google Cloud Platform, so your organization users won't be asked later for them.</p>
          </div>

          <div class="Form-row">
            <div class="Form-rowLabel">
              <label class="Form-label">Google Maps</label>
            </div>
            <div class="Form-rowData">
              <%= f.text_field :google_maps_key, class: "Form-input Form-input--long is-disabled", :readonly => "true" %>
            </div>
            <div class="Form-rowInfo">
              <p class="Form-rowInfoText Form-rowInfoText--multipleLines">
                This is the <%= @organization.name %> Google Maps query string
                contact with <a href="mailto:support@cartodb.com">support@cartodb.com</a> to change it.
              </p>
            </div>
          </div>

        <% end %>

        <div class="Form-footer">
          <p class="Form-footerText"></p>
          <%= button_tag(type: 'submit', class: 'Button Button--main') do %>
            <% content_tag(:span, 'Save changes') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/footer' %>
