<% content_for(:page_title) do %>
  Your organization |
<% end %>
<%= content_for(:js) do %>
  <%= javascript_include_tag :cdb, :application %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>"
      , type = "oauth"
      , config = <%=raw frontend_config.html_safe %>
      , organization = { seats: <%= current_user.organization.seats %>, quota_in_bytes: <%= current_user.organization.quota_in_bytes %> };
  </script>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag :common, :organization, :media => 'all' %>
<% end %>

<article>
  <div class="inner">
    <section class="left block long">
      <div class="head">
        <h2>Everyone in your account</h2>
      </div>
      <div class="content user_list">
        <ul>
          <%= render :partial => 'shared/flash_message' %>
          <li class="list-head">
            <label>username</label>
          </li>
          <% @users.each do |user| -%>
          <li>
            <div class="info">
              <%= link_to user.username, edit_organization_user_path(user.username) %>
              <% if user.organization_owner %>
                <span class="status owner">OWNER</span>
              <% end %>
            </div>
            <div class="storage">
              <div class="progress" data-used="<%= user.remaining_quota %>" data-available="<%= user.quota_in_bytes %>"></div>
            </div>
          </li>
          <% end -%>
        </ul>
      </div>
      <div class="foot">
        <p><%= link_to "Add new user", new_organization_user_path, :class => 'right button grey' %></p>
      </div>
    </section>
    <aside class="right organization_quota">
      <%= render partial: 'aside' %>
    </aside>
  </div>
</article>
