<% content_for(:page_title) do %>
  Your organization |
<% end %>
<%= content_for(:js) do %>
  <%= javascript_include_tag 'cdb.js', 'application.js', 'models.js', 'organization.js', 'templates.js' %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>"
      , type = "oauth"
      , config = <%=raw frontend_config.html_safe %>
      , organization_quota = {
          seats: <%= current_user.organization.seats %>,
          quota_in_bytes: <%= current_user.organization.quota_in_bytes %>
        }
      , organization_users = <%= raw @users.map { |u| {
          id: u.id,
          username: u.username,
          quota_in_bytes: u.quota_in_bytes,
          remaining_quota: u.remaining_quota,
          organization_owner: u.organization_owner
        }}.to_json -%>
      , user_data = <%= raw current_user.data.to_json.html_safe %>;
  </script>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'common.css', 'organization.css', :media => 'all' %>
<% end %>

<%= content_for(:account_settings) do %>
  <%= render partial: "settings_account" %>
<% end %>

<article>
  <div class="inner">
    <section class="block">
      <div class="head">
        <h2><%= current_user.organization.name.humanize %>'s users</h2>
      </div>
      <ul><%= render :partial => 'shared/flash_message' %></ul>
      <div class="list-head">
        <ul>
          <li><label>username</label></li>
          <li><label>quota</label></li>
        </ul>
      </div>
      <div class="content users_list">
        <ul>
          <% @users.each do |user| -%>
          <li>
            <div class="info">
              <%= link_to user.username, edit_organization_user_path(user.username) %>
              <% if user.organization_owner %>
                <span class="status owner">OWNER</span>
              <% end %>
            </div>
            <div class="storage">
              <div class="progress-bar"></div>
            </div>
          </li>
          <% end -%>
        </ul>
      </div>
      <div class="foot">
        <% if current_user.organization.seats > @users.count %>
          <%= link_to "Add new user", new_organization_user_path, :class => 'right button grey' %>
        <% else %>
          <%= link_to "Upgrade your quota", upgrade_url, :class => "button green right" %>
        <% end %>
      </div>
    </section>
  </div>
</article>
