<% if (canUpgrade) { %>
  <a href="<%- upgradeUrl %>" class="PrivacyToggler js-toggler PrivacyToggler--<%- privacy %> is-disabled" data-title="You cannot change the privacy of your new datasets. Click here to upgrade your account.">
    <i class="CDB-IconFont CDB-IconFont-<%- icon %>"></i>
  </a>
<% } else {%>
  <button type="button" class="PrivacyToggler js-toggler PrivacyToggler--<%- privacy %> <%- isDisabled ? 'is-disabled' : '' %>"
    data-title="
      <% if (!isDisabled) { %>
      Your new dataset will be <%- privacy.toLowerCase() %>.<br />Click to change it to <%- nextPrivacy.toLowerCase() %>
      <% } else { %>
        You cannot change the privacy of your new datasets.
      <% } %>
    ">
    <i class="CDB-IconFont CDB-IconFont-<%- icon %>"></i>
  </button>
<% } %>
