<% content_for :head do %>
  <%= stylesheet_link_tag('reset.css','front/oauth') %>
<% end %>

<div class="section">

  <h1>Authorize access to your account</h1>
  <% form_tag authorize_url do %>
    <p>Would you like to authorize <%= link_to @token.client_application.user.username,@token.client_application.url %> (<%= link_to @token.client_application.url,@token.client_application.url %>) to access your account?</p>
    <%= hidden_field_tag "oauth_token", @token.token %>
    <%- if params[:oauth_callback] -%>
    <%= hidden_field_tag "oauth_callback", params[:oauth_callback] %>
  <%- end -%>
  <p>
    <%= check_box_tag 'authorize' %> Authorize access
  </p>
  <p>
    <%= submit_tag "Confirm" %>
  </p>
  <% end %>
  
</div>