<% if (canUpgrade) { %>
  <div class="PricePlans">
    <ul class="PricePlans-list <%- !canStartTrial ? 'PricePlans-list--round' : '' %>">
      <% for (var i = 0, l = availablePlans.length; i < l; i++) { %>
        <li class="PricePlans-item">
          <div class="PricePlans-itemHeader">
            <h4 class="PricePlans-itemTitle"><%- availablePlans[i].name %></h4>
            <p class="PricePlans-itemPrice">$<%- availablePlans[i].price %>/month</p>
          </div>
          <ul class="PricePlans-itemContent">
            <li class="PricePlans-itemContentAttr">Up to <%- availablePlans[i].quota %></li>
            <li class="PricePlans-itemContentAttr is-highlighted"><%- availablePlans[i].layers %> layers</li>
            <li class="PricePlans-itemContentAttr <%- !availablePlans[i].privateMaps ? 'is-disabled' : '' %>">Private maps</li>
            <li class="PricePlans-itemContentAttr <%- !availablePlans[i].removableBrand ? 'is-disabled' : '' %>">Removable Brand</li>
          </ul>
        </li>
      <% } %>
    </ul>
    <% if (canStartTrial) { %>
      <div class="PricePlans-trial">
        <p class="PricePlans-trialText">
          <i class="iconFont iconFont-Gift PricePlans-trialIcon"></i>
          All personal plans come with 14 days free trial
        </p>
      </div>
    <% } %>
  </div>
<% } else if (organizationAdmin) { %>
  <div class="DefaultParagraph DefaultParagraph--short DefaultParagraph--centered">
    Just contact us in order to check how to make available more resources for all your organization users.
  </div>
<% } %>