<% if (canUpgrade) { %>
  <div class="PricePlans">
    <div class="PricePlans-options">
      <div class="PricePlans-yearly">
        <div class="Toggler Toggler--grey">
          <input type="checkbox" class="js-toggler" <% if (lumpSum) { %>checked<% } %> id="limits_reached_toggler" />
          <label for="limits_reached_toggler"></label>
        </div>
        <p class="PricePlans-yearlyText">Pay yearly and get <em class="PricePlans-yearlyText--highlight">1 month off</em></p>
      </div>
      <% if (canStartTrial) { %>
        <div class="PricePlans-trial">
          <p class="PricePlans-trialText">
            All personal plans come with 14 days free trial
            <i class="CDB-IconFont CDB-IconFont-gift PricePlans-trialIcon"></i>
          </p>
        </div>
      <% } %>
    </div>

    <ul class="PricePlans-list">
      <% for (var i = 0, l = availablePlans.length; i < l; i++) { %>
        <li class="PricePlans-item">
          <div class="PricePlans-itemHeader">
            <h4 class="PricePlans-itemTitle"><%- availablePlans[i].name %></h4>
            <p class="PricePlans-itemPrice">
              $<span class="PricePlans-itemPriceFigure"><% if (lumpSum) { %><%- availablePlans[i].lumpSumPrice %><% } else { %><%- availablePlans[i].price %><% } %></span>
              <span class="PricePlans-itemPriceRest">/ <% if (lumpSum) { %>year<% } else { %>month<% if (i === 3) { %>*<% } %><% } %></span>
            </p>
            <% if (i === 3 && !lumpSum) { %>
              <p class="PricePlans-itemPriceException">*Starting at. Billed annually</p>
            <% } %>
          </div>
          <ul class="PricePlans-itemContent">
            <li class="PricePlans-itemContentAttr">
              <% if (!availablePlans[i].isUserPlan) { %>
                <a href="<%- upgradeURL %>" class="Button Button--main PricePlans-button Button--block">
                  <span>learn more</span>
                </a>
              <% } else { %>
                <button class="Button PricePlans-button PricePlans-button--grey is-disabled">your plan</button>
              <% } %>
            </li>
            <li class="PricePlans-itemContentAttr">Unlimited datasets</li>
            <li class="PricePlans-itemContentAttr">Unlimited mapviews</li>
            <% if (availablePlans[i].name == "enterprise") { %>
              <li class="PricePlans-itemContentAttr">+<%- availablePlans[i].layers %> layers</li>
            <% } else { %>
              <li class="PricePlans-itemContentAttr"><%- availablePlans[i].layers %> layers</li>
            <% } %>
            <% if (availablePlans[i].name == "enterprise") { %>
              <li class="PricePlans-itemContentAttr">Starting at <%- availablePlans[i].quota %> of vector data</li>
            <% } else { %>
              <li class="PricePlans-itemContentAttr"><%- availablePlans[i].quota %> of vector data</li>
            <% } %>
            <% if (availablePlans[i].privateMaps) { %>
              <li class="PricePlans-itemContentAttr">Private maps</li>
            <% } %>
            <% if (availablePlans[i].removableBrand) { %>
              <li class="PricePlans-itemContentAttr">Removable Brand</li>
            <% } %>
            <% if (availablePlans[i].name == "enterprise") { %>
              <li class="PricePlans-itemContentAttr">Teams</li>
            <% } %>
          </ul>
        </li>
      <% } %>
    </ul>
  </div>
<% } else if (organizationAdmin) { %>
  <div class="DefaultParagraph DefaultParagraph--short DefaultParagraph--centered">
    Just contact us in order to check how to make available more resources for all your organization users.
  </div>
<% } %>
