<% if (totalEntries > 0 && totalPages > 1) { %>
  <div class="ContentFooter DatasetsPaginator" >
    <div class="u-inner ContentFooter-inner">
      <div class="ContentFooterEmpty"></div>
      <div class="Pagination CDB-Text CDB-Size-medium">
        <span class="DefaultDescription Pagination-label">
          Page <%- page %> of <%- totalPages %>
        </span>
        <ul class="Pagination-list">
          <% if (page > 1) { %>

            <% maxPages = (totalPages - page) > 2 ? (totalPages - page) : pagesCount %>

            <% for (var i = 1, l = maxPages; i <= l; i++) { %>
              <% if (i < page && pagesCount > 0) { %>
                <% pagesCount-- %>
                <li class="Pagination-listItem">
                  <button class="Pagination-listItemLink" value="<%- i %>"><%- i %></button>
                </li>
              <% } %>
            <% } %>
            
          <% } %>
          <li class="Pagination-listItem is-current">
            <button class="Pagination-listItemLink" value="<%- page %>"><%- page %></button>
          </li>
          <% if (page < totalPages) { %>
            <% for (var i = page + 1, l = totalPages; i <= l; i++) { %>
              <% if (i > page && i <= totalPages && pagesCount > 0) { %>
                <% pagesCount-- %>
                <li class="Pagination-listItem">
                  <button class="Pagination-listItemLink" value="<%- i %>"><%- i %></button>
                </li>
              <% } %>
            <% } %>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
<% } %>