<div class="IntermediateInfo">
  <div class="LayoutIcon <% (q || tag) ? 'LayoutIcon--negative' : '' %>">
    <i class="iconFont
      <% if (shared) { %> iconFont-DefaultUser
      <% } else if (locked) { %> iconFont-Lock
      <% } else if (library) { %> iconFont-Dribbble
      <% } else { %> iconFont-Lens <% } %>" />
  </div>
  <h4 class="IntermediateInfo-title">
    <% if (page > 1 || totalItems === 0 && totalEntries > 0) { %>
      There are no results in this page
    <% } %>

    <% if (( tag || q ) && totalItems === 0 && totalEntries === 0) { %>
      0 <%- tag || q %> <%- type %> found
    <% } %>

    <% if (page === 1 && !tag && !q && totalItems === 0 && totalEntries === 0) { %>
      There are no <%- shared === "only" ? 'shared' : '' %> <%- locked ? 'locked' : '' %> <%- library ? 'library' : '' %> <%- type %>
    <% } %>
  </h4>
  <p class="DefaultParagraph">
    <% if (!tag && !q && totalItems === 0 && totalEntries === 0) { %>
      No <%- type %>, no fun
    <% } %>
  </p>
</div>
