<div class="DatasetsList-itemCategory is--<%- isRaster ? 'raster' : geometryType %>Dataset">
  <% if (syncStatus) { %>
    <i
    <% if (syncStatus === "failure") { %>
      data-title="Sync failed, last attempt was <%- syncRanAt %>"
    <% } else if (syncStatus === "syncing") { %>
      data-title="Syncing"
    <% } else { %>
      data-title="Synced <%- syncRanAt %>"
    <% } %>
    class="CDB-IconFont CDB-IconFont-wifi DatasetsList-itemStatus is-<%- syncStatus %>"></i>
  <% } %>
</div>
<div class="DatasetsList-itemInfo">
  <div class="DatasetsList-itemPrimaryInfo">
    <h3 class="DatasetsList-itemTitle DefaultTitle u-ellipsLongText">
      <%- title %>
      <% if (showPermissionIndicator) { %>
        <span class="DatasetsList-itemTitlePermission PermissionIndicator">READ</span>
      <% } %>
    </h3>
    <% if (description && description.length > 0) { %>
      <p class="DefaultDescription DatasetsList-itemDescription u-ellipsLongText" title="<%- description %>"><%- description %></p>
    <% } else { %>
      <span class="NoResults DatasetsList-itemDescription">No description</span>
    <% } %>
  </div>
  <div class="DatasetsList-itemSecondaryInfo">
    <div class="DatasetsList-itemMeta">
      <span class="js-likes-indicator" />
      <% if (rowCount) { %>
        <span class="RowsIndicator">
          <i class="CDB-IconFont CDB-IconFont-rows RowsIndicator-icon"></i>
          <%- rowCount %> <%- pluralizedRows %>
        </span>
      <% } %>
      <% if (datasetSize) { %>
        <span class="SizeIndicator">
          <i class="CDB-IconFont CDB-IconFont-floppy SizeIndicator-icon"></i>
          <%- datasetSize %>
        </span>
      <% } %>
      <span class="DatasetsList-itemTimeDiff DefaultTimeDiff">
        <i class="CDB-IconFont CDB-IconFont-clock DefaultTimeDiff-icon"></i>
          <%- timeDiff %>
          <% if (!isOwner) { %>
            by
            <span class="UserAvatar">
              <img class="UserAvatar-img UserAvatar-img--smaller" src="<%- owner.avatar_url %>" alt="<%- owner.name || owner.username  %>" title="<%- owner.name || owner.username  %>" />
            </span>
          <% } %>
      </span>
    </div>
    <div class="DatasetsList-itemMeta DatasetsList-itemTags">
      <% if (tagsCount > 0) { %>
        <div class="DefaultTags">
          <% for (var i = 0, l = Math.min(maxTagsToShow, tags.length); i < l; ++i) { %>
            <button class="DefaultTags-item js-tag-link" value="<%- tags[i] %>"><%- tags[i] %></button><% if (i !== (l-1)) { %>,<% } %>
          <% } %>
          <% if (tagsCount > maxTagsToShow) { %>
            and <%- tagsCount - maxTagsToShow %> more
          <% } %>
        </div>
      <% } %>
    </div>
  </div>
</div>
