<!-- is--<%- isRaster ? 'raster' : geometryType %>Dataset -->
<div class="DatasetsList-itemCategory">
  <% if (syncStatus) { %>
    <i
    <% if (syncStatus === "failure") { %>
      data-title="Sync failed, last attempt was <%- syncRanAt %>"
    <% } else if (syncStatus === "syncing") { %>
      data-title="Syncing"
    <% } else { %>
      data-title="Synced <%- syncRanAt %>"
    <% } %>
    class="CDB-IconFont CDB-IconFont-wifi DatasetsList-itemStatus is-<%- syncStatus %>"></i>
  <% } %>
</div>
<div class="DatasetsList-itemInfo">
  <div class="DatasetsList-itemPrimaryInfo">
    <h3 class="CDB-Text CDB-Size-large u-bSpace u-ellipsis">
      <%- title %>
      <% if (showPermissionIndicator) { %>
        <span class="CDB-Text DatasetsList-itemTitlePermission PermissionIndicator">READ</span>
      <% } %>
    </h3>
    <% if (description && description.length > 0) { %>
      <p class="u-ellipsis CDB-Text CDB-Size-medium u-altTextColor" title="<%- description %>"><%- description %></p>
    <% } else { %>
      <span class="NoResults CDB-Text CDB-Size-medium">No description</span>
    <% } %>
  </div>
  <div class="DatasetsList-itemSecondaryInfo">
    <div class="DatasetsList-itemMeta">
      <button class="CDB-Tag CDB-Text is-semibold CDB-Size-small u-upperCase is-<%- privacy %>"><%- privacy %></button>
      <span class="js-likes-indicator" />
      <% if (rowCount) { %>
        <span class="CDB-Text CDB-Size-small u-altTextColor">
          <%- rowCount %> <%- pluralizedRows %>
        </span>
      <% } %>
      <% if (datasetSize) { %>
        <span class="CDB-Text CDB-Size-small u-altTextColor">
          <%- datasetSize %>
        </span>
      <% } %>
      <span class="DatasetsList-itemTimeDiff DefaultTimeDiff CDB-Text CDB-Size-small u-altTextColor">
          <%- timeDiff %>
          <% if (!isOwner) { %>
            by
            <span class="UserAvatar">
              <img class="UserAvatar-img UserAvatar-img--smaller" src="<%- owner.avatar_url %>" alt="<%- owner.name || owner.username  %>" title="<%- owner.name || owner.username  %>" />
            </span>
          <% } %>
      </span>
    </div>
    <div class="DatasetsList-itemMeta DatasetsList-itemTags">
      <% if (tagsCount > 0) { %>
        <p class="DefaultTags CDB-Text">
          <% for (var i = 0, l = Math.min(maxTagsToShow, tags.length); i < l; ++i) { %>
            <a class="CDB-Tag CDB-Text CDB-Size-small is-semibold u-upperCase js-tag-link" value="<%- tags[i] %>"><%- tags[i] %></a><% if (i !== (l-1)) { %><% } %>
          <% } %>
          <% if (tagsCount > maxTagsToShow) { %>
            and <%- tagsCount - maxTagsToShow %> more
          <% } %>
        </p>
      <% } else { %>
        <p class="NoResults CDB-Text CDB-Size-small u-altTextColor">No tags</p>
      <% } %>
    </div>
  </div>
</div>
