<div class="DatasetSelected-item">
  <div class="DatasetSelected-itemExt CDB-Text">
    <%- ext || '?' %>
  </div>
  <div class="DatasetSelected-itemInfo u-ellipsLongText">
    <h6 class="CDB-Text CDB-Size-large u-ellipsis" title="<%- title %>"><%- title %></h6>
    <p class="CDB-Text CDB-Size-small u-ellipsis u-altTextColor"><%- description %></p>
  </div>
</div>
<% if (importCanSync) { %>
  <div class="DatasetSelected-sync">
    <div class="DatasetSelected-syncOptions">
      <label class="DatasetSelected-syncLabel CDB-Text CDB-Size-medium u-altTextColor">Sync my data</label>
      <ul class="DatasetSelected-syncOptionsList">
        <li class="DatasetSelected-syncOptionsItem">
          <div class="RadioButton">
            <button class="RadioButton-input u-rSpace--m js-interval-0 <%- interval === 0 ? 'is-checked' : '' %>"></button>
            <label class="CDB-Text CDB-Size-medium u-altTextColor">Never</label>
          </div>
        </li>
        <li class="DatasetSelected-syncOptionsItem">
          <div class="RadioButton <%- !userCanSync ? 'is-disabled' : '' %>">
            <button class="RadioButton-input u-rSpace--m js-interval-1 <%- interval === 3600 ? 'is-checked' : '' %>"></button>
            <label class="CDB-Text CDB-Size-medium u-altTextColor">Every hour</label>
          </div>
        </li>
        <li class="DatasetSelected-syncOptionsItem">
          <div class="RadioButton <%- !userCanSync ? 'is-disabled' : '' %>">
            <button class="RadioButton-input u-rSpace--m js-interval-2 <%- interval === 86400 ? 'is-checked' : '' %>"></button>
            <label class="CDB-Text CDB-Size-medium u-altTextColor">Every day</label>
          </div>
        </li>
        <li class="DatasetSelected-syncOptionsItem">
          <div class="RadioButton <%- !userCanSync ? 'is-disabled' : '' %>">
            <button class="RadioButton-input u-rSpace--m js-interval-3 <%- interval === 604800 ? 'is-checked' : '' %>"></button>
            <label class="CDB-Text CDB-Size-medium u-altTextColor">Every week</label>
          </div>
        </li>
        <li class="DatasetSelected-syncOptionsItem">
          <div class="RadioButton <%- !userCanSync ? 'is-disabled' : '' %>">
            <button class="RadioButton-input u-rSpace--m js-interval-4 <%- interval === 2592000 ? 'is-checked' : '' %>"></button>
            <label class="CDB-Text CDB-Size-medium u-altTextColor">Every month</label>
          </div>
        </li>
      </ul>
    </div>
    <% if (showUpgrade) { %>
      <div class="CDB-Text UpgradeElement DatasetSelected-upgrade">
        <div class="UpgradeElement-info">
          <p class="CDB-Size-medium UpgradeElement-infoText u-ellipsLongText">Upgrade your account to get sync options and <a href="https://carto.com/pricing">more features</a></p>
        </div>
        <div class="UpgradeElement-actions">
          <% if (showTrial) { %>
            <div class="UpgradeElement-trial">
              <i class="CDB-IconFont CDB-IconFont-gift UpgradeElement-trialIcon"></i>
              <p class="UpgradeElement-trialText u-ellipsLongText CDB-Size-medium">14 days Free trial</p>
            </div>
          <% } %>
          <a href="<%- upgradeUrl %>" class="CDB-Button CDB-Button--secondary UpgradeElement-button DatasetSelected-upgradeButton">
            <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Upgrade</span>
          </a>
        </div>
      </div>
    <% } %>
  </div>
<% } %>
