<li class='ImportOptions-tab <%- name %>'>
  <a href='#/<%- name %>' class='TabLink <%- name %>'>
    <i class='TabIcon is-<%- name %>'></i>
    <span><%= cdb.core.sanitize.html(title || name) %></span>
  </a>
</li>
