  <span class="Filters-separator"></span>

  <div class="Filters-row">
    <div class="Filters-group">
      <div class="Filters-typeItem Filters-typeItem--searchEnabler js-search-enabler">
        <button class="Filters-searchLink CDB-Text is-semibold u-upperCase CDB-Size-medium js-search-link">
          <i class="Filters-searchLinkIcon CDB-IconFont CDB-IconFont-lens"></i><%= _t('cartodb.common.views.create.listing.search') %>
        </button>
      </div>

      <ul class="Filters-group js-links-list">
        <li class="Filters-typeItem js-filter-type">
          <button class="u-actionTextColor CDB-Text is-semibold u-upperCase CDB-Size-medium Filters-typeLink js-connect <%- listing === 'import' ? 'is-selected' : '' %> <%- !canCreateDataset ? 'is-disabled' : '' %>">
            <%= _t('cartodb.common.views.create.listing.connect_data') %>
          </button>
        </li>
        <% if (createModel.showDatasets()) { %>
          <li class="Filters-typeItem js-filter-type">
            <button class="u-actionTextColor CDB-Text is-semibold u-upperCase CDB-Size-medium Filters-typeLink js-datasets <%- listing === 'datasets' && shared !== 'only' && !library ? 'is-selected' : '' %> <%- datasetsTabDisabled ? 'is-disabled' : '' %>">
              <%= _t('cartodb.common.views.create.listing.your_data') %>
            </button>
          </li>
          <% if (isInsideOrg) { %>
            <li class="Filters-typeItem js-filter-type">
              <button class="u-actionTextColor CDB-Text is-semibold u-upperCase CDB-Size-medium Filters-typeLink js-shared <%- listing === 'datasets' && shared === "only" ? 'is-selected' : '' %>">
                <% if (totalShared) { %>
                  <strong><%- totalShared %></strong>
                <% } %>
                <%= _t('cartodb.common.views.create.listing.shared') %>
              </button>
            </li>
          <% } %>
        <% } %>
        <% if (hasDataLibrary) { %>
          <li class="Filters-typeItem js-filter-type">
            <button class="u-actionTextColor CDB-Text is-semibold u-upperCase CDB-Size-medium Filters-typeLink js-library <%- listing === 'datasets' && library ? 'is-selected' : '' %>">
              <%= _t('cartodb.common.views.create.listing.data_lib') %>
            </button>
          </li>
        <% } %>
      </ul>
    </div>

    <div class="Filters-typeItem Filters-typeItem--searchField js-search-field">
      <form class="Filters-searchForm js-search-form">
        <input class="CDB-Text CDB-Size-medium u-secondaryTextColor Filters-searchInput js-search-input" type="text" value="<%- ( tag && (':' + tag) ) || q %>" placeholder="<%= _t('cartodb.common.views.create.listing.placeholder') %>" />
        <% if (tag || q) { %>
          <button type="button" class="Filters-cleanSearch js-clean-search u-actionTextColor">
            <i class="CDB-IconFont CDB-IconFont-close"></i>
          </button>
        <% } %>
      </form>
    </div>

    <div class="Filters-group js-order-list">
      <button class="u-actionTextColor CDB-Text is-semibold u-upperCase CDB-Size-medium Filters-typeLink js-create_empty <%- listing === 'scratch' ? 'is-selected' : '' %> <%- !canCreateDataset ? 'is-disabled' : '' %>">
        <%- createFromScratchLabel %>
      </button>
    </div>
  </div>
