  <span class="Filters-separator"></span>

  <div class="Filters-row">
    <div class="Filters-group">
      <div class="Filters-typeItem Filters-typeItem--searchEnabler js-search-enabler">
        <button class="Filters-searchLink js-search-link">
          <i class="Filters-searchLinkIcon CDB-IconFont CDB-IconFont-lens"></i>Search
        </button>
      </div>

      <ul class="Filters-group js-links-list">
        <li class="Filters-typeItem js-filter-type">
          <button class="Filters-typeLink js-connect <%- listing === 'import' ? 'is-selected' : '' %> <%- !canCreateDataset ? 'is-disabled' : '' %>">
            Connect dataset
          </button>
        </li>
        <% if (createModel.showDatasets()) { %>
          <li class="Filters-typeItem js-filter-type">
            <button class="Filters-typeLink js-datasets <%- listing === 'datasets' && shared !== 'only' && !library ? 'is-selected' : '' %>">
              <% if (totalItems) { %>
                <strong><%- totalItems %></strong>
              <% } %>
              <%- pluralizedContentType.charAt(0).toUpperCase() + pluralizedContentType.substring(1) %>
            </button>
          </li>
          <% if (isInsideOrg) { %>
            <li class="Filters-typeItem js-filter-type">
              <button class="Filters-typeLink js-shared <%- listing === 'datasets' && shared === "only" ? 'is-selected' : '' %>">
                <% if (totalShared) { %>
                  <strong><%- totalShared %></strong>
                <% } %>
                Shared with you
              </button>
            </li>
          <% } %>
        <% } %>
        <% if (cdb.config.data_library_enabled) { %>
          <li class="Filters-typeItem js-filter-type">
            <button class="Filters-typeLink js-library <%- listing === 'datasets' && library ? 'is-selected' : '' %>">
              Data library
            </button>
          </li>
        <% } %>
      </ul>
    </div>

    <div class="Filters-typeItem Filters-typeItem--searchField js-search-field">
      <form class="Filters-searchForm js-search-form">
        <input class="Filters-searchInput js-search-input" type="text" value="<%- ( tag && (':' + tag) ) || q %>" placeholder="by name, description or :tag" />
        <% if (tag || q) { %>
          <button type="button" class="Filters-cleanSearch js-clean-search">
            <i class="CDB-IconFont CDB-IconFont-close"></i>
          </button>
        <% } %>
      </form>
    </div>

    <div class="Filters-group js-order-list">
      <ul class="Filters-group">
        <li class="Filters-typeItem">
          <button class="Filters-typeLink js-create_empty <%- listing === 'scratch' ? 'is-selected' : '' %> <%- !canCreateDataset ? 'is-disabled' : '' %>">
            <%- createFromScratchLabel %>
          </button>
        </li>
      </ul>
    </div>
  </div>
