<!-- is--<%- isRaster ? 'raster' : geometryType %>Dataset -->
<div class="DatasetsList-itemCategory">
  <i data-title="Public dataset" class="CDB-IconFont CDB-IconFont-book DatasetsList-itemStatus <%- canImportDataset ? 'is-public' : 'is-banned' %>"></i>
</div>
<div class="DatasetsList-itemInfo">
  <div class="DatasetsList-itemPrimaryInfo">
    <h3 class="CDB-Text CDB-Size-large u-bSpace u-ellipsis">
      <%- title %>
    </h3>
    <% if (description && description.length > 0) { %>
      <p class="CDB-Text CDB-Size-medium u-secondaryTextColor u-ellipsis" title="<%- description %>"><%- description %></p>
    <% } else { %>
      <span class="CDB-Text CDB-Size-medium u-altTextColor u-ellipsis">No description</span>
    <% } %>
  </div>
  <div class="DatasetsList-itemSecondaryInfo">
    <ul class="DatasetsList-itemMeta CDB-Text CDB-Size-small u-altTextColor">
      <% if (rowCount) { %>
        <label class="RowsIndicator">
          <%- rowCount %> <%- pluralizedRows %>
        </label>
      <% } %>
      <% if (datasetSize) { %>
        <label class="SizeIndicator">
          <%- datasetSize %>
        </label>
      <% } %>
      <label class="DatasetsList-itemTimeDiff DefaultTimeDiff">
        <%- timeDiff %> <span class="DatasetsList-itemSource js-source"><% if (source) { %>from <%= cdb.core.sanitize.html(source) %><% } %></span>
      </label>
    </ul>
    <div class="DatasetsList-itemMeta DatasetsList-itemTags">
      <% if (tagsCount > 0) { %>
        <div class="DefaultTags CDB-Text CDB-Size-small">
          <% for (var i = 0, l = Math.min(maxTagsToShow, tags.length); i < l; ++i) { %>
            <button class="CDB-Tag CDB-Text CDB-Size-small u-upperCase DefaultTags-item js-tag-link" value="<%- tags[i] %>"><%- tags[i] %></button><% if (i !== (l-1)) { %><% } %>
          <% } %>
          <% if (tagsCount > maxTagsToShow) { %>
            and <%- tagsCount - maxTagsToShow %> more
          <% } %>
        </div>
      <% } else { %>
        <p class="NoResults CDB-Text CDB-Size-small u-altTextColor">No tags</p>
      <% } %>
    </div>
  </div>
</div>
