<div class="DatasetsList-itemCategory is--<%- isRaster ? 'raster' : geometryType %>Dataset">
</div>
<div class="DatasetsList-itemInfo">
  <div class="DatasetsList-itemPrimaryInfo">
    <h3 class="DatasetsList-itemTitle DefaultTitle u-ellipsLongText"><%- title %></h3>
    <% if (description && description.length > 0) { %>
      <p class="DefaultDescription DatasetsList-itemDescription u-ellipsLongText" title="<%- description %>"><%- description %></p>
    <% } else { %>
      <span class="NoResults">No description</span>
    <% } %>
  </div>
  <div class="DatasetsList-itemSecondaryInfo">
    <ul class="DatasetsList-itemMeta">
      <% if (rowCount) { %>
        <label class="RowsIndicator">
          <i class="CDB-IconFont CDB-IconFont-rows RowsIndicator-icon"></i>
          <%- rowCount %> <%- pluralizedRows %>
        </label>
      <% } %>
      <% if (datasetSize) { %>
        <label class="SizeIndicator">
          <i class="CDB-IconFont CDB-IconFont-floppy SizeIndicator-icon"></i>
          <%- datasetSize %>
        </label>
      <% } %>
      <label class="DatasetsList-itemTimeDiff DefaultTimeDiff">
        <i class="CDB-IconFont CDB-IconFont-clock DefaultTimeDiff-icon"></i>
        <%- timeDiff %> <span class="DatasetsList-itemSource js-source"><% if (source) { %>from <%= cdb.core.sanitize.html(source) %><% } %></span>
      </label>
    </ul>
    <div class="DatasetsList-itemMeta DatasetsList-itemTags">
      <% if (tagsCount > 0) { %>
        <div class="DefaultTags">
          <% for (var i = 0, l = Math.min(maxTagsToShow, tags.length); i < l; ++i) { %>
            <button class="DefaultTags-item js-tag-link" value="<%- tags[i] %>"><%- tags[i] %></button><% if (i !== (l-1)) { %>,<% } %>
          <% } %>
          <% if (tagsCount > maxTagsToShow) { %>
            and <%- tagsCount - maxTagsToShow %> more
          <% } %>
        </div>
      <% } %>
    </div>
  </div>
</div>
