<div class="MapCard">
  <a href="#" class="MapCard-header js-header is-loading">
    <div class="MapCard-loader js-loader"></div>
    <% if (wizard === "Torque") { %>
      <span class="Pecan-TorqueWirzardIcon"></span>
    <% }%>
  </a>
  <div class="MapCard-content MapCard-content--small">
    <div class="MapCard-contentBody">
      <div class="MapCard-contentBodyRow">
        <h3 class="DefaultTitle">
          <% if (wizard === "Heatmap") { %>
            <a href="#" class="DefaultTitle-link u-ellipsLongText" ><strong><%- wizard %></strong></a>
          <% } else { %>
            <a href="#" class="DefaultTitle-link u-ellipsLongText" ><%- wizard %> on <strong><%- column %></strong></a>
          <% } %>
        </h3>
      </div>
    </div>
    <div class="MapCard-contentFooter PecanCard-footer">
      <% if (wizard === 'Choropleth') { %>
        <div class="HistogramGraph js-graph"></div>
      <% } %>
      <% if (wizard === 'Category') { %>
        <ul class="CategoryList">
          <% metadata.forEach(function(m) { %>
          <li class="CategoryList-item" style="background:<%- m.color %>"></li>
          <% }) %>
        </ul>
      <% } %>
      <span class="NullCount">
        <%- null_count %> null value<%- null_count !== "1" ? 's' : '' %>
      </span>
    </div>
  </div>
</div>

