<div class="ExportHelper ExportHelper--north js-helper-north"></div>
<div class="ExportHelper ExportHelper--west  js-helper-west"></div>
<div class="ExportHelper ExportHelper--south js-helper-south"></div>
<div class="ExportHelper ExportHelper--east  js-helper-east"></div>
<div class='CanvasExport'>
  <div class="ExportImageView-Header js-header">
    <div class="ExportImageView-Header--inner">
      <div class="ExportImageView--help">Adjust zoom level and canvas size to fit the area you want to export.</div>
    </div>
  </div>
  <% if (show_title || show_description) { %>
  <div class="ExportHelper ExportHelper--header">
    <% if (show_title) { %>
    <h3 class="ExportHelperTitle js-title"><%- title %></h3>
    <% } %>
    <% if (show_description) { %>
    <p class="ExportHelperDescription js-description"><%= cdb.core.sanitize.html(description) %></p>
    <% } %>
  </div>
  <% } %>
  <div class="ExportHelper ExportHelper--legend cartodb-legend-stack js-helper-legend"<% if (legend_style) { %> style="<%= legend_style %>"<% } %>><%= cdb.core.sanitize.html(legend) %></div>
  <div class="ExportHelper ExportHelper--attribution js-helper-attribution"><%= cdb.core.sanitize.html(attribution) %></div>
  <div class="ExportImageView-Footer">
    <div class="ExportImageView-Footer--inner">
      <div class="ExportImageView-dimensions">
        <span class="dimension">w:</span> <input type="text" class="js-width" value="<%- width %>" /> <span class="unit">px</span>,
        <span class="dimension">h:</span> <input type="text" class="js-height" value="<%- height %>" /> <span class="unit">px</span>
      </div>
      <button class="ExportFormatPicker js-format">
        <span>Format:</span> <span class="ExportFormatPicker-format js-formatName">.png</span>
      </button>
      <button class="Button Button--micro js-ok">
        <span>Export</span>
      </button> or <button class="Button--link Button--advancedExport js-advanced">advanced export</button>
    </div>
  </div>
</div>
