<div class="ExportHelper ExportHelper--north js-helper-north"></div>
<div class="ExportHelper ExportHelper--west  js-helper-west"></div>
<div class="ExportHelper ExportHelper--south js-helper-south"></div>
<div class="ExportHelper ExportHelper--east  js-helper-east"></div>
<div class='CanvasExport'>
  <% if (show_title || show_description) { %>
  <div class="ExportHelper ExportHelper--header">
    <% if (show_title) { %>
    <h3 class="ExportHelperTitle js-title"><%- title %></h3>
    <% } %>
    <% if (show_description) { %>
    <p class="ExportHelperDescription js-description"><%= cdb.core.sanitize.html(description) %></p>
    <% } %>
  </div>
  <% } %>
  <div class="ExportHelper ExportHelper--legend cartodb-legend-stack js-helper-legend"<% if (legend_style) { %> style="<%= legend_style %>"<% } %>><%= cdb.core.sanitize.html(legend) %></div>
  <div class="ExportHelper ExportHelper--attribution js-helper-attribution"><%= cdb.core.sanitize.html(attribution) %></div>
</div>
