<div class="mamufas">
  <section class="block modal <%- modal_type %>">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3><%- title %></h3>
    </div>
    <div class="content">
      <p>
        <%= descriptionSafeHtml %>
      </p>
    </div>
    <div class="foot">
      <a href="#cancel" class="left cancel <%- cancel_button_classes %>"><%- cancel_title %></a>
      <a href="#go" class="right ok <%- ok_button_classes %>"><%- ok_title %></a>
    </div>
  </section>
</div>
