<div class="mamufas">

  <section class="block modal <%= modal_type %>">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3><%= title %></h3>
    </div>

    <div class="content"></div>

    <div class="foot">
      <a href="#back" class="left back hidden <%= cancel_button_classes %>"><%= cancel_title %></a>
      <a href="#next" class="right next ok <%= ok_button_classes %>"><%= ok_title %></a>
    </div>
  </section>

  <!--

  <section class="block modal creation naming">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3>Name for your merge table</h3>  
    </div>
    <div class="merge_content">
      <input type="text" class="text" value="tables_merge">
      <div class="info error">
        <p>The name of the new table shouldn't be blank and different than actual table.</p>
      </div>
    </div>
    <div class="foot">
      <a href="#cancel" class="left cancel">cancel</a>
      <a href="#duplicate" class="right ok grey button">Merge</a>
    </div>
  </section>

  <section class="block modal merging">
    <div class="merging_content">
      <div class="loader">
        <p>Merging tables and generating the new one</p>
      </div>
    </div>
  </section>

  <section class="block modal error">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3>An error ocurred merging these tables</h3>
    </div>
    <div class="error_content"></div>
    <div class="foot">
      <a href="#go" class="right button cancel grey">Ok, close</a>
    </div>
  </section>
  -->
</div>
