<div class="mamufas">
  <section class="block modal <%= modal_type %>">
    <a href="#close" class="close">x</a>
    <div class="head">

      <ul class="format_selector">
        <li><a href="#embed">embed</a></li>
        <li><a href="#url">url</a></li>
        <li><a href="#tilejson">tilejson</a></li>
      </ul>

      <h3><%= title %></h3>
      <% if (description) { %>
        <p class="margin5"><%= description %></p>
      <% } %>
    </div>
    <div class="content">
    </div>
    <% if(include_footer) { %>
      <div class="foot">
        <a href="#go" class="right ok <%= ok_button_classes %>"><%= ok_title %></a>
      </div>
    <% } %>
  </div>
<
