<div class="mamufas">
  <section class="block modal <%- modal_type %>">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3><%- title %></h3>
    </div>
    <div class="content">
      <div class="buttons">
        <h4>Social</h4>
        <ul>
          <li><a class="facebook" href="<%- facebook_url %>"   target="_blank">Share on Facebook</a></li>
          <li><a class="twitter"  href="<%- twitter_url %>"    target="_blank">Share on Twitter</a></li>
          <li><a class="link"     href="<%- public_map_url %>" target="_blank">Link to this map</a></li>
        </ul>
        </div><div class="embed_code">
        <h4>Embed this map</h4>
        <textarea id="" name="" cols="30" rows="10"><%-  code  %></textarea>
      </div>
    </div>
  </div>
</div>
