<div class="mamufas">

  <section class="block modal">
    <form>
      <a href="#/close" class="close">x</a>

      <div class="head">
        <h3><%- title %></h3>
        <% if (description) { %>
        <p class="margin5"><%- description %></p>
        <% } %>
      </div>

      <div class="content">

        <div class="row">

          <div class="input_field">
            <label class="uppercase smaller strong lighter">Width</label>
            <input type="text" value="<%- capture_width %>" name="width" /> <span class="unit">px</span>
          </div>

          <div class="input_field">
            <label class="uppercase smaller strong lighter">Height</label>
            <input type="text" value="<%- capture_height %>" name="height" /> <span class="unit">px</span>
          </div>
        </div>

        <% if (attribution) { %>
        <div class="attribution js-attribution">
          <p><strong>Don't forget to give proper attribution:</strong></p>
          <p class="highlighted"><%- attribution %></p>
        </div>
        <% } %>

      </div>

      <div class="foot">
        <input type="submit" class="right ok <%- ok_button_classes %>" value="<%- ok_title %>" />
        <div class="loader"></div>
      </div>
    </form>
  </section>

  <section class="block modal confirmation warning">
    <a href="#/close" class="close">x</a>
    <div class="head">
      <h3>There was an error exporting the image</h3>
    </div>
    <div class="content">
      <p class="js-error-message"></p>
    </div>
    <div class="foot margin10">
      <a href="#/yes" class="right grey button cancel"><%- error_close_title %></a>
    </div>
  </section>

</div>
