<div class="mamufas">

  <section class="block modal">
    <form>
      <a href="#/close" class="close">x</a>

      <div class="head">
        <h3><%= title %></h3>
        <% if (description) { %>
        <p class="margin5"><%= description %></p>
        <% } %>
      </div>

      <div class="content">

        <div class="row">

          <div class="input_field">
            <label class="uppercase smaller strong lighter">Width</label>
            <input type="text" value="<%= capture_width %>" name="width" /> <span class="unit">px</span>
          </div>

          <div class="input_field">
            <label class="uppercase smaller strong lighter">Height</label>
            <input type="text" value="<%= capture_height %>" name="height" /> <span class="unit">px</span>
          </div>
        </div>

      </div>

      <div class="foot">
        <input type="submit" class="right ok <%= ok_button_classes %>" value="<%= ok_title %>" />
      </div>
    </form>
  </section>

</div>
