
<div>
<label class="strong small <% if (!noMenu) { %> interactuable <% } %>">
    <% if (!editing_alias || isReservedColumn) { %>
      <a class="coloptions" href="#<%- col_alias %>">
        <%- (col_alias == "cartodb_id" ? "ref_id" : col_alias) %>
        <% if (col_type == 'geometry' && !read_only) { %>
          <span class="tiny geo">GEO</span>
        <% } %>
    <% } else { %>
      <input class="col_alias_edit" type="text" value="<%- col_alias %>" />
    <% } %>
    </a>
  </label>
<% if (!is_sync) { %>
  <label class="small">
    <% if (!editing_name || isReservedColumn) { %>
      <a class="coloptions" href="#<%- col_name %>">
        <%- (col_name == "cartodb_id" ? "ref_id" : col_name) %>
    <% } else { %>
      <input class="col_name_edit" type="text" value="<%- col_name %>" />
    <% } %>
    </a>
  </label>
<% } %>
  <p class="small">
    <% if (!isReservedColumn) { %>
      <a class="coltype own" href="#change_column"><%- col_type %></a>
    <% } else { %>
      <a class="disabled"><%- col_type %></a>
    <% } %>
  </p>
</div>
<p class="auto"><%- col_name %>_<% if (col_type == 'geometry' && !read_only) { %>GEO<% } %></p>
<p class="auto"><%- col_alias %>_<% if (col_type == 'geometry' && !read_only) { %>GEO<% } %></p>
<p class="auto"><%- col_type %>_</p>