<% if (avatarUrl) { %>
  <div class="UserAvatar ChangePrivacy-shareListItemIcon <% if (willRevokeAccess) { %>is-error<% } %>">
    <img src="<%- avatarUrl %>" class="UserAvatar-img UserAvatar-img--medium <% if (willRevokeAccess) { %>is-error<% } %>" />
  </div>
<% } else { %>
  <div class="LayoutIcon ChangePrivacy-shareListItemIcon <% if (willRevokeAccess) { %>LayoutIcon--negative <% } %>">
    <i class="CDB-IconFont CDB-IconFont-people CDB-IconFont--super"></i>
  </div>
<% } %>
<div>
  <div class="CDB-Text DefaultTitle CDB-Size-medium is-semibold u-ellipsLongText">
    <%- title %>
    <% if (roleLabel) { %>
      <span class="UserRoleIndicator CDB-Text CDB-Size-small is-semibold u-upperCase u-altTextColor u-lSpace <%- roleLabel %>"><%- roleLabel %></span>
    <% } %>
  </div>
  <p class="CDB-Text u-tSpace--m DefaultDescription CDB-Size-medium u-ellipsLongText <% if (willRevokeAccess) { %>DefaultDescription--error<% } %>">
    <%- desc %>
  </p>
</div>
