<div class="MapTemplate">
  <div class="MapTemplate-info">
    <h4 class="MapTemplate-infoTitle"><%= name %></h4>
    <p class="MapTemplate-infoText"><%= description %></p>
    <ul class="MapTemplate-infoList">
      <% if (typeof map.source != "undefined") { %>
        <% for (var i = 0, l = map.source.length; i < l; i++) { %>
          <li class="MapTemplate-infoListItem"><a target="_blank" href="<%= map.source[i] %>">Dataset #<%= i %></a></li>
        <% } %>
      <% } %>
      <% if (typeof map.url != "undefined") { %>
        <li class="MapTemplate-infoListItem"><a target="_blank" href="<%= map.url %>">Result map</a></li>
      <% } %>
    </ul>
    <div class="MapTemplate-infoSteps"></div>
  </div>
  <div class="MapTemplate-video">
    <iframe class="MapTemplate-videoIframe" src="//player.vimeo.com/video/<%= video.id %>?api=1" width="620" height="350"></iframe>
  </div>
</div>