<div class="IntermediateInfo">
<% if (type === "dataset") { %>
  <% if (state === "loading") { %>
    <div class="Spinner"></div>
    <h4 class="IntermediateInfo-title">Creating new <%= createModelType %></h4>
    <div class="DefaultParagraph DefaultParagraph--short">
      <%= quote %>
    </div>
  <% } else { %>
    <div class="LayoutIcon LayoutIcon--negative">
      <i class="iconFont iconFont-Cockroach"></i>
    </div>
    <h4 class="IntermediateInfo-title">Oouch! There has been an error</h4>
    <p class="DefaultParagraph">If the problem persists contact us at <a class="js-mail-link" href="mailto:support@cartodb.com">support@cartodb.com</a>.</p>
  <% } %>
<% } else { %>
  <% if (state === "error") { %>
    <div class="LayoutIcon LayoutIcon--negative">
      <i class="iconFont iconFont-Cloud"></i>
    </div>
    <h4 class="IntermediateInfo-title">
      <% if ((selectedDatasets && selectedDatasets.length > 0) || currentImport) { %>
        <%= err.title %> <% if (err.error_code) { %>(<%= err.error_code %>)<% } %>
      <% } else { %>
        Error creating the new map
      <% } %>
    </h4>
    <p class="DefaultParagraph DefaultParagraph--short">
      <% if ((selectedDatasets && selectedDatasets.length > 0) || currentImport) { %>
        <%= err.what_about %>
      <% } else { %>
        If the problem persists contact us at <a class="js-mail-link" href="mailto:support@cartodb.com">support@cartodb.com</a>.
      <% } %>
    </p>
  <% } else { %>
    <div class="Spinner"></div>
    <h4 class="IntermediateInfo-title">
      <% if ((selectedDatasets && selectedDatasets.length > 0) || currentImport) { %>
        Importing <%= currentImportName %> (<%= tableIdsArray.length + (currentImport ? 1 : 0) %>/<%= selectedDatasets.length + tableIdsArray.length + (currentImport ? 1 : 0) %>)
      <% } else { %>
        Creating map
      <% } %>
    </h4>
    <div class="DefaultParagraph DefaultParagraph--short">
      <%= quote %>
    </div>
  <% } %>
<% } %>
</div>