<button class="CreateDialog-templatesButton js-button">
  <i
    class="
      <% if (icon) { %>
        iconFont iconFont-<%= icon %>
      <% } %>
      CreateDialog-templatesButtonIcon
    "
    style="
      background: <% if (icon_url) { %>url(<%= icon_url %>)<% } %> <%= color %>
    "
  ></i>
  <h6 class="CreateDialog-templatesButtonTitle"><%= short_name %></h6>
  <p class="CreateDialog-templatesButtonText"><%= short_description %></p>
</button>