<form accept-charset="UTF-8" action="<%- formAction %>" method="post">
  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Username</label>
    </div>
    <div class="FormAccount-rowData">
      <input class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--med is-disabled" id="user_username" name="user[username]" readonly="readonly" size="30" type="text" value="<%= username %>">

      <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
        <p class="CDB-Text CDB-Size-small u-altTextColor">Subdomain cannot be changed</p>
      </div>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Email</label>
    </div>

    <div class="FormAccount-rowData">
      <input class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--med <% if (errors['email']) { %>has-error<% } %> <% if (!canChangeEmail) { %>is-disabled<% } %>" id="user_email" name="user[email]" size="30" type="text" value="<%= email %>" <% if (!canChangeEmail) { %>readonly="readonly"<% } %>>
    </div>
  </div>

  <% if (!(isInsideOrg && !authUsernamePasswordEnabled)) { %>
    <% if (shouldDisplayOldPassword) { %>
      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Old password</label>
        </div>
        <div class="FormAccount-rowData">
          <input class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--med <% if (errors['old_password']) { %>has-error<% } %> <% if (!canChangePassword) { %>is-disabled<% } %>" id="user_old_password" name="user[old_password]" size="30" type="password" <% if (!canChangePassword) { %>readonly="readonly"<% } %>>
        </div>
        <div class="FormAccount-rowInfo">
          <% if (errors['old_password']) { %>
            <p class="FormAccount-rowInfoText FormAccount-rowInfoText--error u-tSpace"><%= errors['old_password'] %></p>
          <% } %>
        </div>
      </div>
    <% } %>

    <div class="VerticalAligned--FormRow">
      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">New password</label>
        </div>
        <div class="FormAccount-rowData">
          <input class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--med <% if (errors['new_password']) { %>has-error<% } %> <% if (!canChangePassword) { %>is-disabled<% } %>" id="user_new_password" name="user[new_password]" size="30" type="password" <% if (!canChangePassword) { %>readonly="readonly"<% } %>>
        </div>
        <div class="FormAccount-rowInfo">
          <% if (errors['new_password']) { %>
            <p class="FormAccount-rowInfoText FormAccount-rowInfoText--error u-tSpace"><%= errors['new_password'] %></p>
          <% } %>
        </div>
      </div>

      <div class="FormAccount-row js-confirmPassword">
        <div class="FormAccount-rowLabel">
          <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Confirm password</label>
        </div>
        <div class="FormAccount-rowData">
          <input class="CDB-InputText CDB-Text FormAccount-input FormAccount-input--med <% if (!canChangePassword) { %>is-disabled<% } %>" id="confirm_password" name="user[confirm_password]" size="30" type="password" <% if (!canChangePassword) { %>readonly="readonly"<% } %>>
        </div>
      </div>
    </div>
  <% } %>

  <% if (!cdb.config.get('cartodb_com_hosted') && isInsideOrg && isOrgOwner) { %>
    <div class="FormAccount-title">
      <p class="FormAccount-titleText">Account type</p>
    </div>

    <span class="FormAccount-separator"></span>

    <div class="FormAccount-row">
      <div class="FormAccount-rowLabel">
        <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Your billing plan</label>
      </div>
      <div class="FormAccount-rowData">
        <div class="FormAccount-planTag CDB-Size-medium"><%= planName %></div>
        <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
          <p class="FormAccount-rowInfoText CDB-Size-medium"><a href="<%= planUrl %>" class="FormAccount-link">View details</a></p>
        </div>
      </div>
    </div>
  <% } %>

  <% if (services.size > 0) { %>
    <div class="FormAccount-title">
      <p class="FormAccount-titleText">Connect to external data sources</p>
    </div>

    <span class="FormAccount-separator"></span>

    <div class="js-datasourcesContent"></div>
  <% } %>

  <div class="FormAccount-footer <% if (!canBeDeleted) { %>FormAccount-footer--noMarginBottom<% } %>">
    <% if (!canBeDeleted && cantBeDeletedReason) { %>
      <p class="FormAccount-footerText">
        <i class="CDB-IconFont CDB-IconFont-info FormAccount-footerIcon"></i>
        <span><%= cantBeDeletedReason %></span>
      </p>
    <% } else { %>
      <p class="FormAccount-footerText"></p>
    <% } %>

    <button type="submit" class="CDB-Button CDB-Button--primary">
      <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Save changes</span>
    </button>
  </div>

  <% if (canBeDeleted) { %>
    <div class="FormAccount-title">
      <p class="FormAccount-titleText">Delete account</p>
    </div>

    <span class="FormAccount-separator"></span>

    <div class="FormAccount-row FormAccount-row--wideMarginBottom">
      <div class="FormAccount-rowLabel">
        <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Are you sure?</label>
      </div>
      <div class="FormAccount-rowData">
        <span class="FormAccount-button--deleteAccount CDB-Size-medium js-deleteAccount">Delete my account and all my data</span>
      </div>
    </div>
  <% } %>
</form>
