<div class="Dialog-header u-inner">
  <div class="Dialog-headerIcon Dialog-headerIcon--negative">
    <i class="iconFont iconFont-Cloud"></i>
  </div>
  <p class="Dialog-headerTitle">
    Disconnect your <%- title %> account
  </p>
  <p class="Dialog-headerText">
    <% if (revoke_url) { %>
      Revoke the access to CartoDB
    <% } else { %>
      Are you sure you want to revoke the CartoDB access to your <%- title %> account?
    <% } %>
  </p>
</div>

<% if (revoke_url) { %>
  <div class="Dialog-body">
    <p class="DefaultParagraph DefaultParagraph--short DefaultParagraph--centered DefaultParagraph--spaced">
      We can't revoke the access for your <%- title %> account automatically.
    </p>
    <p class="DefaultParagraph DefaultParagraph--short DefaultParagraph--centered DefaultParagraph--spaced">
      You can revoke the CartoDB access from your account by clicking the button below and doing it manually on
      your <%- title %> settings page.
    </p>
  </div>
<% } %>

<div class="Dialog-footer u-inner">
  <% if (revoke_url) { %>
    <a href="<%- revoke_url%>" target="_blank" class="Button Button-inner Button--inline Button--secondary ">
      <span>go to <%- title %></span>
    </a>
  <% } else { %>
    <% if (state !== "loading") { %>
      <button class="Button Button--secondary Dialog-footerBtn Button--inline cancel">
        <span>cancel</span>
      </button>
      <button class="js-revoke Button Button--negative Button--inline">
        <span>Revoke access</span>
      </button>
    <% } else { %>
      <div class="Spinner"></div>
      <h4 class="IntermediateInfo-title">Revoking access</h4>
      <div class="DefaultParagraph DefaultParagraph--short DefaultParagraph--centered">
        <%= quote %>
      </div>
    <% } %>
  <% } %>
</div>
