<div class='inner'>
  <h1><a href='<% if (!username) { %>http://www.cartodb.com<% } else { %><%= urls[0] %><% } %>' class='logo' id='the_logo'>CartoDB</a></h1>
  <ul class='options'>    
    <% if (!username) { %>
      <li><a href='http://cartodb.com/gallery' class='gallery'>gallery</a></li>
    <% } %>
    
    <% if (!can_fork && !username) { %>
      <li><a href='http://cartodb.com/login' class='clone'>Clone this</a></li>
    <% } %>
    
    <% if (!username) { %>
      <li><a class='signup' href='http://cartodb.com/signup'>Sign up</a><li>
      <li><a href='http://cartodb.com/login' class='border login'>Login</a></li>
    <% } else { %>
      
      <% if (can_fork && current_view !== 'dashboard') { %>
        <% if (owner_username !== username && !isMobileDevice) { %>
          <li><a class='editor clone' href='#/clone-this-<%= current_view %>'>clone this <%= current_view %></a></li>
        <% } else { %>
          <li><a class='editor edit' href='#/edit-your-<%= current_view %>'>edit your <%= current_view %></a></li>
        <% } %>
      <% } %>
      
      <li> 
        <a class='editor dropdown account' href='<%= urls[0] %>'>
          <% if (avatar_url) { %><img src='<%= avatar_url %>' width='18' title='<%= username %>' alt='<%= username %>' /><% } %><%= username %><span class='separator'></span>
        </a>
      </li>
    <% } %>
  </ul>
</div>