<div class="CDB-Text CDB-Size-medium Navmenu js-Navmenu">
  <div class="u-inner">
    <div class="PublicMap-block">
      <div class="PublicMap-gradient"></div>

      <div class="PublicMap-leftBlock PublicMap-leftBlock--owner">
        <ul class="Navmenu-list Navmenu-list--owner Navmenu-list--avatar">
          <li class="Navmenu-item">
            <a href="<%= baseUrl %>/me" target="_blank" class="UserAvatar">
              <img class="UserAvatar-img--medium" src="<%= userAvatar %>" alt="<%= userName %>" title="<%= userName %>" />
            </a>
          </li>
        </ul>

        <ul class="Navmenu-list Navmenu-list--owner">
          <li class="Navmenu-item u-hideOnTablet last-child">
            <a href="<%= baseUrl %>/me" class="Navmenu-link Navmenu-link--owner" title=""><%= userName %></a>
          </li>

          <li class="Navmenu-item">
            <i class="Navmenu-rarrow CDB-IconFont CDB-IconFont-rArrowLight"></i>
            <a href="<%= baseUrl %>/maps" class="Navmenu-link">Maps</a>
          </li>
        </ul>
      </div>

      <div class="PublicMap-rightBlock PublicMap-rightBlock--owner u-txt-right">
        <ul class="Navmenu-list">
          <li class="Navmenu-item Navmenu-item--buttons">
            <ul class="u-valign">
              <li class="Navmenu-subItem">
                <a href="<%= embedMapUrl %>" target="_blank" class="Navmenu-link">
                  <i class="CDB-IconFont CDB-IconFont-fullscreen Navmenu-icon"></i>
                </a>
              </li>

              <li class="Navmenu-subItem">
                <a href="#like" class="LikesIndicator like js-like <% if (liked) {%>is-liked<% } %>">
                  <i class="CDB-IconFont CDB-IconFont-heartFill LikesIndicator-icon LikesIndicator-icon--big Navmenu-icon"></i>
                </a>
              </li>

              <li class="Navmenu-subItem">
                <a href="#" class="Navmenu-link js-Navmenu-link--download-map">
                  <i class="CDB-IconFont CDB-IconFont-downloadCircle Navmenu-icon"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="Navmenu-item Navmenu-item--buttons js-Navmenu-share u-showOnTablet">
            <div class="Navmenu-sep u-showOnTablet"></div>

            <a href="#" class="Navmenu-link Navmenu-shareLink js-Navmenu-shareLink">
              <i class="CDB-IconFont CDB-IconFont-share Navmenu-icon"></i>
            </a>
          </li>
        </ul>

        <ul class="Navmenu-list Navmenu-shareList js-Navmenu-shareList u-valign">
          <li class="Navmenu-item Navmenu-item--buttons">
            <div class="Navmenu-sep u-hideOnTablet"></div>

            <ul class="u-valign">
              <li class="Navmenu-subItem">
                <a href="https://twitter.com/intent/tweet?text=<%= shareTwitter %>">
                  <i class="CDB-IconFont CDB-IconFont-twitter Navmenu-icon Navmenu-icon--twitter"></i>
                </a>
              </li>

              <li class="Navmenu-subItem">
                <a href="http://www.facebook.com/sharer.php?u=<%= shareFacebook %>" target="_blank" class="Navmenu-link js-Navmenu-link--facebook">
                  <i class="CDB-IconFont CDB-IconFont-facebookSquare Navmenu-icon"></i>
                </a>
              </li>

              <li class="Navmenu-subItem">
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= shareLinkedIn %>" target="_blank" class="Navmenu-link js-Navmenu-link--linkedin">
                  <i class="CDB-IconFont CDB-IconFont-linkedin Navmenu-icon"></i>
                </a>
              </li>

              <li class="Navmenu-subItem u-showOnTablet">
                <button class="ImportItem-closeButton Navmenu-link js-Navmenu-closeLink Navmenu-closeLink">
                  <i class="CDB-IconFont CDB-IconFont-close ImportItem-closeButtonIcon"></i>
                </button>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="Navmenu-list u-hideOnTablet">
          <li class="Navmenu-item">
            <a class="Button Button--main Navmenu-editLink Navmenu-editLink--edit js-Navmenu-editLink" href="<%= editUrl %>">Edit in CARTO</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
