<div class='inner'>
  <h1><a href='http://www.cartodb.com' class='logo' id='the_logo'>CartoDB</a></h1>
  <ul class='options'>    
    <% if (!username && !isMobileDevice) { %>
      <li><a href='https://cartodb.com/gallery/' class='gallery'>gallery</a></li>
    <% } %>
    
    <% if (!username) { %>
      <% if ( !cdb.config.get('cartodb_com_hosted') ) { %>
        <li><a class='signup' href='https://cartodb.com/signup'>Sign up</a><li>
      <% } %>
      <li><a href='https://cartodb.com/login' class='border login'>Login</a></li>
    <% } else { %>
      <li> 
        <a class='editor dropdown account' href='<%- urls[0] %>'>
          <% if (avatar_url) { %><img src='<%- avatar_url %>' width='18' title='<%- username %>' alt='<%- username %>' /><% } %><%- username %><span class='separator'></span>
        </a>
      </li>
    <% } %>
  </ul>
</div>
