<div class="CDB-Text PublicMap-secondary">
  <div class="u-inner">
    <div class="PublicMap-block">
      <div class="PublicMap-leftBlock PublicMap-leftBlock--large">
        <div class="js-user-meta">
          <h1 class="PublicMap-title js-PublicMap-title Title Title--m"><%- name %></h1>

          <% if (description) { %>
          <div class="PublicMap-description"><%- description %></div>
          <% } %>

          <div class="PublicMap-meta">
            <!--  Updated at -->
            <ul class="PublicMap-metaList">
              <li class="PublicMap-metaItem">
                <i class="PublicMap-metaIcon CDB-IconFont CDB-IconFont-calendar"></i> Updated <%- ago %>
              </li>
            </ul>

            <!--  Mapviews -->
            <ul class="PublicMap-metaList PublicMap-metaList--mobile js-PublicMap-metaList--mobile">
              <li class="PublicMap-metaItem">
                <i class="PublicMap-metaIcon CDB-IconFont CDB-IconFont-stats"></i>
                <%- totalMapViews %>
              </li>

              <!--  Tags -->
              <% if (formattedTags.length > 0) { %>
                <li class="PublicMap-metaItem">
                  <i class="PublicMap-metaIcon CDB-IconFont CDB-IconFont-label"></i>

                  <% formattedTags.forEach(function(tag, index) { %><a class="PublicMap-metaLink" href="<%- tagUrl %>/<%- tag %>"><%- tag %></a><% if ( index !== formattedTags.length - 1) { %>,<% } %><% }); %>

                  <% if (overflowTags) {%>
                    <span>and <%- overflowTags %> more</span>
                  <% } %>
                </li>
              <% } %>
            </ul>
          </div>
          <a class="Navmenu-editLink Navmenu-editLink--more js-Navmenu-editLink--more" href="#/more">More info</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Datasets -->
  <div class="u-inner">
    <div class="PublicMap-block with-padding">
      <h3 class="PublicMap-secondaryTitle">Datasets in use</h3>
      <ul>
      <% datasetsInUse.forEach(function(vis, index) { %>
        <% if (vis.privacy === "PUBLIC") { %>
          <li class="DatasetsList-item">
            <div class="DatasetsList-itemCategory is--<%- vis.geometry_types %>Dataset"></div>

            <div class="DatasetsList-itemInfo">
              <div class="DatasetsList-itemPrimaryInfo">
                <h3 class="DatasetsList-itemTitle DefaultTitle u-ellipsLongText CDB-Text CDB-Size-large u-mainTextColor">
                  <a href="" title="<%= vis.name %>" class="DefaultTitle-link u-ellipsLongText"><%- vis.name %></a>
                </h3>

                <% if (vis.description) { %>
                  <div class="DefaultDescription DatasetsList-itemDescription u-ellipsLongText CDB-Text CDB-Size-medium u-altTextColor">
                    <%- vis.description %>
                  </div>
                <% } %>

              </div>
            </div>

            <div class="DatasetsList-itemSecondaryInfo">
              <div class="DatasetsList-itemMeta CDB-Size-medium">
                <span class="CDB-Tag CDB-Text CDB-Size-small is-semibold u-upperCase PrivacyIndicator is-<%= vis.privacy %> u-hideOnTablet"><%- vis.privacy %></span>

                <% if (vis.row_count) { %>
                <span class="RowsIndicator u-hideOnTablet">
                  <i class="CDB-IconFont CDB-IconFont-rows RowsIndicator-icon u-altTextColor CDB-Size-small"></i>
                </span>
                <% } %>

                <span class="DatasetsList-itemTimeDiff DefaultTimeDiff u-hideOnTablet">
                <i class="CDB-IconFont CDB-IconFont-clock DefaultTimeDiff-icon"></i><%- vis.updated_at %>

                <% if (vis.permission.owner.username != user.username) { %>
                  by
                  <span class="UserAvatar">
                    <img class="UserAvatar-img UserAvatar-img--smaller" src="<%- vis.permission.owner.avatar_url %>" alt="<%- vis.permission.owner.username %>" title="<%- vis.permission.owner.username %>" />
                  </span>
                <% } %>

                </span>
              </div>
            </div>
          </li>
          <% } %>
          <!--  endof if PUBLIC -->
        <% }); %>
        <!--  endof dataset foreach -->
      </ul>
    </div>
  </div>

  <!--  DISQUS -->
  <% if (disqusShortname) { %>
    <div class="u-inner js-disqus"></div>
  <% } %>
