<div class="CDB-Text PublicMap-secondary">
  <div class="u-inner">
    <div class="PublicMap-block">
      <div class="PublicMap-leftBlock PublicMap-leftBlock--large">
        <div class="js-user-meta">
          <h1 class="PublicMap-title js-PublicMap-title Title Title--m"><%= mapname %></h1>

          <% if (description) { %>
            <div class="PublicMap-description">
              <%= description %>
            </div>
          <% } %>

              <div class="PublicMap-meta">
                <!--  Updated at -->
                <ul class="PublicMap-metaList">
                  <li class="PublicMap-metaItem">
                    <i class="PublicMap-metaIcon CDB-IconFont CDB-IconFont-calendar"></i> <%= _t('public_map.info.updated') %> <%= updatedAt %>
                  </li>
                </ul>

                <!--  Mapviews -->
                <ul class="PublicMap-metaList PublicMap-metaList--mobile js-PublicMap-metaList--mobile">
                  <% if (totalMapViews) { %>
                  <li class="PublicMap-metaItem">
                    <i class="PublicMap-metaIcon CDB-IconFont CDB-IconFont-stats"></i>
                    <%= _t('public_map.info.views_pluralize', { smart_count: totalMapViews }) %>
                  </li>
                  <% } %>

                  <!--  Tags -->
                  <% if (tags.length > 0) { %>
                    <li class="PublicMap-metaItem">
                      <i class="PublicMap-metaIcon CDB-IconFont CDB-IconFont-label"></i>

                      <% tags.forEach(function(tag, index) { %>
                        <a class="PublicMap-metaLink" href="<%= tagUrl %>/<%= tag %>">
                          <%= tag %>
                        </a>
                        <% if ( index !== tags.length - 1) { %>,<% } %>
                      <% }); %>
                      <% if (overflowTags) {%><span>and <%= overflowTags %> <%= _t('public_map.info.more') %></span><% } %>
                    </li>
                    <% } %>
                </ul>
              </div>
              <a class="Navmenu-editLink Navmenu-editLink--more js-Navmenu-editLink--more" href="#/more"><%= _t('public_map.info.more_info') %></a>
        </div>
      </div>
    </div>
  </div>

  <!--  Public Datasets -->
  <div class="js-PublicMapDatasets"></div>

  <!--  DISQUS -->
  <% if (disqusShortname) { %>
    <div class="u-inner js-disqus"></div>
  <% } %>

  <!--  MORE FROM USER -->
  <% if (showVisualizations) { %>
  <div class="CDB-Text PublicMap-secondary">
    <div class="u-inner">
      <div class="PublicMap-block">
        <h3 class="PublicMap-secondaryTitle"><%= _t('public_map.info.more_from') %> <%= nameOrUsername %></h3>
      </div>
    </div>

    <ul class="MapsList PublicMap-mapsList">
    <% moreVisualizations.forEach(function(vis, index) { %>
      <li class="MapsList-item">
        <div class="MapCard" data-vis-id="<%= vis.id %>" data-vis-owner-name="<%= username %>">
          <a href="<%= vis.publicMapUrl %>" class="MapCard-header js-header">
            <div class="MapCard-loader"></div>
          </a>
          <div class="MapCard-content MapCard-content--compact">
            <div class="MapCard-contentBody">
              <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
                <h3 class="MapCard-title DefaultTitle CDB-Text is-semibold CDB-Size-large">
                  <a href="<%= vis.publicMapUrl %>" class="DefaultTitle-link u-ellipsLongText" title="<%= vis.name %>"><%= vis.name %></a>
                </h3>
              </div>
              <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff CDB-Text CDB-Size-medium u-altTextColor">
                <i class="CDB-IconFont CDB-IconFont-clock DefaultTimeDiff-icon"></i>
                <%= vis.updatedAt %>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% }) %>

    <% for (var i = 0, l = mapCardsRepeat.length; i < l; i++) { %>
      <li class="MapsList-item MapsList-item--fake">
        <div class="MapCard">
          <div class="MapCard-header MapCard-header--fake"></div>
          <div class="MapCard-content MapCard-content--compact"></div>
        </div>
      </li>
    <% } %>
    </ul>
  </div>
  <% } %>
</div>
