<div class="CDB-Text PublicMap-secondary">
  <div class="u-inner">
    <div class="PublicMap-block">
      <div class="PublicMap-leftBlock PublicMap-leftBlock--large">
        <div class="js-user-meta">
          <h1 class="PublicMap-title js-PublicMap-title Title Title--m"><%- name %></h1>
          <% if (description) { %>
            <div class="PublicMap-description"><%- description %></div>
          <% } %>

          <div class="PublicMap-meta">
            <ul class="PublicMap-metaList">
              <li class="PublicMap-metaItem"><i class="PublicMap-metaIcon CDB-IconFont CDB-IconFont-calendar"></i> <%- updatedAt %></li>
            </ul>

            <ul class="PublicMap-metaList PublicMap-metaList--mobile js-PublicMap-metaList--mobile">
              <li class="PublicMap-metaItem"><i class="PublicMap-metaIcon CDB-IconFont CDB-IconFont-stats"></i> <%- mapViews %></li>

              <% if (formattedTags.length > 0) { %>
                <li class="PublicMap-metaItem">
                  <i class="PublicMap-metaIcon CDB-IconFont CDB-IconFont-label"></i>
                    <% formattedTags.forEach(function(tag) { %>
                      <a class="PublicMap-metaLink" href="<%- tag.url %>"><%- name %></a>
                    <% }); %>
                </li>
              <% } %>
            </ul>
          </div>

          <a class="Navmenu-editLink Navmenu-editLink--more js-Navmenu-editLink--more" href="#/more">More info</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Datasets -->
  <div class="u-inner">
    <div class="PublicMap-block with-padding">
      <h3 class="PublicMap-secondaryTitle">Datasets in use</h3>
    </div>
  </div>
