<div class="u-inner">
  <div class="PublicMap-block with-padding">
    <h3 class="PublicMap-secondaryTitle"><%= _t('public_map.datasets.title') %></h3>
  </div>
</div>

<div class="u-inner">
  <div class="PublicMap-block">
    <ul>
      <% if (publicDatasets.length > 0) { %>
        <% publicDatasets.forEach(function(vis, index) { %>
            <li class="DatasetsList-item">
              <div class="DatasetsList-itemCategory is--<%= vis.geometryTypeClass %>"></div>

              <div class="DatasetsList-itemInfo">
                <div class="DatasetsList-itemPrimaryInfo">
                  <h3 class="DatasetsList-itemTitle DefaultTitle u-ellipsLongText CDB-Text CDB-Size-large u-mainTextColor">
                    <a href="<%= vis.publicTableUrl %>" title="<%= vis.name %>" class="DefaultTitle-link u-ellipsLongText"><%= vis.name %></a>
                  </h3>
                  <% if (vis.parsedDescription) { %>
                    <div class="DefaultDescription DatasetsList-itemDescription u-ellipsLongText CDB-Text CDB-Size-medium u-altTextColor"><%= vis.parsedDescription %></div>
                  <% } %>
                </div>
              </div>

              <div class="DatasetsList-itemSecondaryInfo">
                <div class="DatasetsList-itemMeta CDB-Size-medium">
                  <span class="CDB-Tag CDB-Text CDB-Size-small is-semibold u-upperCase PrivacyIndicator is-public u-hideOnTablet"><%= vis.privacy %></span>
                  <a href="<%= vis.addLikeUrl %>" class="js-likes"
                    data-vis-id="<%= vis.name %>"
                    data-likes-count="<%= vis.likes.count %>">
                  </a>

                  <span class="DatasetsList-itemTimeDiff DefaultTimeDiff u-hideOnTablet">
                    <i class="CDB-IconFont CDB-IconFont-clock DefaultTimeDiff-icon"></i>
                    <%= vis.updatedAt %>
                    <% if (vis.username !== username) { %>
                      by
                      <span class="UserAvatar">
                        <img class="UserAvatar-img UserAvatar-img--smaller" src="<%= vis.avatar_url %>" alt="<%= vis.nameOrUsername %>" title="<%= vis.nameOrUsername %>" />
                      </span>
                    <% } %>
                  </span>
                </div>
              </div>
            </li>
        <% }) %>
      <% } %>

      <% if (nonPublicDatasetsCount && nonPublicDatasetsCount > 0) { %>
        <li class="DatasetsList-item">
          <div class="LayoutIcon">
            <i class="CDB-IconFont CDB-IconFont-lock"></i>
          </div>
          <div class="DefaultTitle PublicMap-privateDatasets">
            <%= _t('public_map.datasets.dataset_pluralize', { smart_count: nonPublicDatasetsCount }) %>
          </div>
        </li>
      <% } %>
    </ul>
  </div>
</div>
