<%= form_for @mobile_app, url: (@mobile_app.persisted? ? CartoDB.url(self, 'mobile_app', { id: @mobile_app.id }) : CartoDB.url(self, 'mobile_apps')) do |f| %>

  <span class="FormAccount-separator"></span>

  <div class="FormAccount-row js-iconSelector">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">App icon</label>
    </div>
    <div class="FormAccount-rowData FormAccount-avatar">
      <div class="FormAccount-avatarPreview">
        <img src="" class="FormAccount-avatarPreviewImage" />
      </div>
      <div class="FormAccount-avatar--input">
        <%= f.file_field :icon_url, :class => "FormAccount-fileAvatar js-fileIcon", :value => "Change image" %>
        <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
          <p class="FormAccount-rowInfoText FormAccount-rowInfoText--smaller">Recommended images should be 128x128 pixels of size</p>
        </div>
      </div>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">Name</label>
    </div>
    <div class="FormAccount-rowData">
      <%= f.text_field :name, :class => "FormAccount-input FormAccount-input--med" %>
    </div>
  </div>

  <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">Description</label>
    </div>
    <div class="FormAccount-rowData">
      <%= f.text_area :description, :class => "FormAccount-textarea FormAccount-input FormAccount-input--totalwidth" %>
    </div>
    <div class="FormAccount-rowInfo">
      <p class="FormAccount-rowInfoText"></p>
    </div>
  </div>

   <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">Platform</label>
    </div>

    <div class="FormAccount-rowData">
      <%- MobileAppsHelper.get_mobile_apps_platforms.each do |platform| %>
        <%- is_disabled = (@mobile_app.persisted? && @mobile_app.platform != platform[:name]) ? 'disabled' : '' %>
        <%- is_checked = (@mobile_app.persisted? && @mobile_app.platform == platform[:name]) ? 'checked' : '' %>
        <div class="RadioButton u-rspace--20">
          <input class="RadioButtonInput" type="radio" name="mobile_app[platform]" value="<%= platform[:name] %>" <%= is_disabled %> <%= is_checked %>>
          <span class="RadioButtonInput-face"></span>
          <label class="RadioButton-label dark-color"><%= platform[:text] %></label>
        </div>
      <% end %>
  </div>

   <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">Aplication ID</label>
    </div>
    <div class="FormAccount-rowData">
      <%= f.text_field :app_id, :class => "FormAccount-input FormAccount-input--med #{'is-disabled' if @mobile_app.persisted?}", :readonly => @mobile_app.persisted? %>

      <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
        <p class="FormAccount-rowInfoText">This side note will change depending on the platform selected.</p>
      </div>
    </div>
  </div>

   <div class="FormAccount-row">
    <div class="FormAccount-rowLabel">
      <label class="FormAccount-label">App type</label>
    </div>
    <%- MobileAppsHelper.get_mobile_apps_types.each do |type| %>
      <%- is_disabled = (@mobile_app.persisted? && @mobile_app.type != type[:name]) ? 'disabled' : '' %>
      <%- is_checked = (@mobile_app.persisted? && @mobile_app.platform == type[:name]) ? 'checked' : '' %>
      <div class="FormAccount-rowData in-block u-vspace-s">
        <div class="RadioButton">
          <input class="RadioButtonInput" type="radio" name="mobile_app[app_type]" value="<%= type[:name] %>" <%= is_disabled %> <%= is_checked %>>
          <span class="RadioButtonInput-face"></span>
          <label class="RadioButton-label dark-color"><%= type[:name].capitalize %></label>
        </div>
        <div class="FormAccount-rowInfo u-lspace-28">
          <p class="FormAccount-rowInfoText"><%= type[:text] %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="FormAccount-footer">
    <p class="FormAccount-footerText"></p>
    <%= button_tag(type: 'submit', class: 'Button Button--main') do %>
      <% content_tag(:span, 'Save') %>
    <% end %>
  </div>

  <%- if @mobile_app.persisted? %>
    <div class="FormAccount-title">
      <p class="FormAccount-titleText">Delete application</p>
    </div>

    <span class="FormAccount-separator"></span>

    <div class="FormAccount-row FormAccount-row--wideMarginBottom">
      <div class="FormAccount-rowLabel">
        <label class="FormAccount-label">Are you sure?</label>
      </div>
    <div class="FormAccount-row FormAccount-row--wideMarginBottom">
      <div class="FormAccount-rowData">
        <span class="FormAccount-button--deleteAccount js-deleteMobileApp">Delete this application</span>
      </div>
    </div>
  <% end %>
<% end %>
