<% content_for(:page_title) do %>
  Your mobile apps |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var config = <%= safe_js_object frontend_config %>;
    var user_data = <%= safe_js_object current_user.data.to_json %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'mobile_apps_templates.js', 'mobile_apps_deps.js', 'mobile_apps.js' -%>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'mobile_apps.css', :media => 'all' %>
<% end %>

<%= render :partial => 'shared/flash_message' %>

<div class="FormAccount-Section u-inner">

  <%= render :partial => 'admin/shared/pages_subheader' %>

  <div class="FormAccount-Content">
    <%= render :partial => 'admin/shared/api_keys_subheader' %>
    <div class="Filters-separator"></div>

    <% if @mobile_apps.empty? %>

      <%= render :partial => 'carto/admin/mobile_apps/no_mobile_apps' %>

    <% else %>

      <div class="ProgressBar-container">
        <div class="ProgressBar">
          <%- max_open_users = current_user.mobile_max_open_users %>
          <%- bar_width = (@open_monthly_users*100)/max_open_users %>
          <span class="ProgressBar-bar ProgressBar-bar--bar-2 <%=progress_bar_range(bar_width) %>" style="width:<%= bar_width %>%"></span>
        </div>

        <div class="SideMenu-progressSize"><%= @open_monthly_users %>/<%= max_open_users %> monthly open users</div>
      </div>

      <%= render :partial => 'carto/admin/mobile_apps/show' %>

    <% end %>
  </div>

</div>

<%= render 'admin/shared/footer' %>
