<% content_for(:page_title) do %>
  Edit mobile application |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var config = <%= safe_js_object frontend_config %>;
    var user_data = <%= safe_js_object current_user.data.to_json %>;
    var mobile_app_data = <%= safe_js_object @mobile_app.data(current_user).to_json %>;
    var icon_valid_extensions = <%= raw @icon_valid_extensions %>;
    var authenticity_token = "<%= form_authenticity_token %>";
    var organization_notifications = <%= safe_js_object @organization_notifications.to_json %>;
  </script>

  <%= javascript_include_tag 'common', 'common_vendor', 'mobile_apps' %>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'mobile_apps.css', :media => 'all' %>
<% end %>

<%= render :partial => 'shared/flash_message' %>
<%= render :partial => 'admin/shared/trial_notification' %>

<div class="FormAccount-Section u-inner">
  <%= render :partial => 'admin/shared/pages_subheader' %>

  <div class="CDB-Text FormAccount-Content">

    <div class="Filters is-relative">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row">
          <ul class="Filters-group">
            <li class="u-flex u-alignCenter">
              <a href="<%= CartoDB.url(self, 'mobile_apps', user: current_user) %>" class="u-actionTextColor u-flex u-alignCenter">
                <i class="CDB-IconFont CDB-IconFont-arrowPrev u-rSpace--xl"></i>
              </a>
            </li>
            <li class="Filters-typeItem">
              <p class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor"><%= @mobile_app.name %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%= render :partial => 'carto/admin/mobile_apps/form' %>
  </div>

</div>

<%= render 'admin/shared/new_private_footer' %>
