<% if (state === "failed" || state === "canceled" || state === "reset") { %>
  <div class="ImportItem-text is-failed" title="<%= tableName %>">
    Ouch! Error geocoding <%= tableName %> layer
  </div>
  <button class="Button Button-importShowDetails js-info">SHOW</button>
  <button class="ImportItem-closeButton js-close">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } else if (state === "finished") { %>
  <div class="ImportItem-text <%= realRows > 0 ? 'is-completed' : 'is-alerted' %>" title="<%= tableName %>">
    <%= realRows %> <%= realRowsPluralize %> geocoded <% if (tableName) { %>in <%= tableName %><% } %>
  </div>
  <button type="button" class="Button Button-importShowDetails js-info">SHOW</button>
  <button class="ImportItem-closeButton js-close">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } else { %>
  <div class="ImportItem-text" title="<%= tableName %>">
    <% if (realRows > 0) { %>
      <%= realRows %>/<%= processableRows %> <%= processableRowsPluralize %> geocoded...
    <% } else { %>
      Geocoding <%= tableName %> layer...
    <% } %>
  </div>
  <div class="ImportItem-progress">
    <div class="progress-bar">
      <span class="bar-2" style="width:<%= width %>%"></span>
    </div>
  </div>
  <button class="ImportItem-closeButton js-abort">
    <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
  </button>
<% } %>