<% if (hasFailed) { %>
  <div class="ImportItem-text is-failed" title="<%- tableName %>">
    Ouch! Error geocoding <%- tableName %> layer
  </div>
  <button class="Button Button-importShowDetails js-info">SHOW</button>
  <button class="ImportItem-closeButton js-close">
    <i class="CDB-IconFont CDB-IconFont-close ImportItem-closeButtonIcon"></i>
  </button>
<% } else if (hasCompleted) { %>
  <% if (isLatLngType) { %>
    <div class="ImportItem-text is-completed">
      Geocoded by latitude and longitude
    </div>
  <% } else { %>
    <div class="ImportItem-text <%- realRows > 0 ? 'is-completed' : 'is-alerted' %>" title="<%- tableName %>">
      <% if (realRows === 0) { %>
        No rows geocoded <% if (tableName) { %>in <%- tableName %> dataset<% } %>
      <% } else { %>
        <%- realRowsFormatted %> <%- realRowsPluralize %> geocoded <% if (tableName) { %>in <%- tableName %> dataset<% } %>
      <% } %>
    </div>
    <button type="button" class="Button Button-importShowDetails js-info">SHOW</button>
  <% } %>
  <button class="ImportItem-closeButton js-close">
    <i class="CDB-IconFont CDB-IconFont-close ImportItem-closeButtonIcon"></i>
  </button>
<% } else { %>
  <div class="ImportItem-text" title="<%- tableName %>">
    <% if (realRows > 0) { %>
      <%- realRowsFormatted %>/<%- processableRowsFormatted %> <%- processableRowsPluralize %> geocoded...
    <% } else { %>
      Geocoding <%- tableName %> dataset...
    <% } %>
  </div>
  <div class="ImportItem-progress">
    <div class="progress-bar">
      <span class="bar-2" style="width:<%- width %>%"></span>
    </div>
  </div>
  <% if (canCancel) { %>
    <button class="ImportItem-closeButton js-abort">
      <i class="CDB-IconFont CDB-IconFont-close ImportItem-closeButtonIcon"></i>
    </button>
  <% } %>
<% } %>
