<div class="Dialog-header u-inner">
  <div class="LayutIcon LayoutIcon--positive Dialog-headerIcon">
    <i class="iconFont iconFont-<%- geometryType && geometryType === 'point' ? 'Streets' : 'Globe' %>"></i>
    <span class="Badge Badge--positive Dialog-headerIconBadge">
      <i class="iconFont iconFont-Check"></i>
    </span>
  </div>
  <h3 class="Dialog-headerTitle">Data geocoded</h3>
  <p class="Dialog-headerText Dialog-headerText--centered Dialog-headerText--limitedWidth">
    We've successfully geocoded <%= realRowsFormatted %> <%= geometryTypePluralize %> of <%= processableRowsFormatted %>.
  </p>
</div>

<% if (processableRows > realRows) { %>
  <div class="Dialog-body Dialog-body--narrower">
    <span class="NavButton Dialog-bodyIcon">?</span>
    <p class="DefaultParagraph Dialog-bodyParagraph">
      Rows that are not geocoded could have errors on their column values, or just doesn’t exist in our data.
      Try geocoding again and check the "override all values" to try again.
      <% if (!googleUser) { %>
        Unsuccessful rows don't count against your quota, so we encourage you to take a look and try again.
      <% }%>
    </p>
  </div>
<% } %>

<div class="Dialog-footer Dialog-footer--simple u-inner Dialog-footer--narrower">
  <button class="cancel Button Button--secondary <%- showGeocodingDatasetURLButton ? 'Dialog-footerBtn' : '' %>">
    <span>close</span>
  </button>
  <% if (showGeocodingDatasetURLButton) { %>
    <a href="<%= datasetURL %>" class="Button Button--main">
      <span>view dataset</span>
    </a>
  <% } %>
</div>
