<div class="Dialog-header u-inner">
  <div class="LayutIcon LayoutIcon--negative Dialog-headerIcon">
    <i class="CDB-IconFont CDB-IconFont-<%- geometryType && geometryType === "point" ? 'Streets' : 'Globe' %>"></i>
    <span class="Badge Badge--negative">!</span>
  </div>
  <p class="Dialog-headerTitle">Geocoding Error</p>
  <p class="Dialog-headerText Dialog-headerText--centered Dialog-narrowerContent">
    <%- errorDescription || "There was a problem georeferencing your data" %>.
    <% if (!customHosted && id) { %>
      Please try again and if the problem persists, <a href="mailto:support@carto.com?subject=Geocoding error with id:<%- id %>">contact us</a>
      with your username and the following code: <br/><strong><%- id %></strong>.
    <% } %>
  </p>
</div>
<div class="Dialog-footer Dialog-footer--simple u-inner Dialog-narrowerContent">
  <button class="cancel Button Button--secondary <%- showGeocodingDatasetURLButton ? 'Dialog-footerBtn' : '' %>">
    <span>close</span>
  </button>
  <% if (showGeocodingDatasetURLButton) { %>
    <a href="<%- datasetURL %>" class="Button Button--main">
      <span>view dataset</span>
    </a>
  <% } %>
</div>
