<div class="Dialog-header BackgroundPollingDetails-header">
  <div class="Dialog-headerIcon GeocodingResultDetails-headerIcon">
    <% if (geometryType && geometryType !== "point") { %>
      <i class="iconFont iconFont-Globe GeocodingResultDetails-globeIcon"></i>
    <% } else { %>
      <div class="GeocodingResultDetails-points">
        <div class="GeocodingResultDetails-point GeocodingResultDetails-point--one"></div>
        <div class="GeocodingResultDetails-point GeocodingResultDetails-point--two"></div>
        <div class="GeocodingResultDetails-point GeocodingResultDetails-point--three"></div>
      </div>
    <% } %>
    <span class="Badge Badge--positive Dialog-headerIconBadge">
      <i class="iconFont iconFont-Check"></i>
    </span>
  </div>
  <h3 class="Dialog-headerTitle">Dataset succesfully geocoded</h3>
  <p class="Dialog-headerText">
    <%= realRows === 1 ? 'One' : realRowsFormatted %> of <%= processableRowsFormatted %> <%= processableRowsPluralize %> succesfully turned into <%= geometryTypePluralize %>
  </p>
</div>
<% if (processableRows > realRows) { %>
  <div class="Dialog-body BackgroundPollingDetails-body">
    <p class="DefaultParagraph DefaultParagraph--centerAligned">
    <% if (processableRows > realRows) { %>
      It seems that some of your rows didn't finish successfully. Perhaps these rows contained empty values or perhaps
      we just didn't know what the values meant. We encourage you to take a look and try again.
      <% if (!googleUser) { %>
        Unsuccessful rows don't count against your quota, so we encourage you to take a look and try again.
      <% }%>
    <% } %>
    </p>
  </div>
<% } %>
<div class="Dialog-footer BackgroundPollingDetails-footer">
  <button class="Button Button--secondary Button--inline BackgroundPollingDetails-footerButton cancel">
    <span>close</span>
  </button>
  <% if (showGeocodingDatasetURLButton) { %>
    <a href="<%= datasetURL %>" class="Button Button--inline Button--main BackgroundPollingDetails-footerButton">
      <span>view dataset</span>
    </a>
  <% } %>
</div>