<% if (label) { %>
  <label><%= attribute %></label>
<% } %>
<nav>
  <a class="radiobutton <%= readOnly ? 'disabled' : '' %> <%= (value) ? 'selected' : '' %> true" <%= readOnly ? '' : 'href="#true"' %>><span class="radio"></span>True</a>
  <a class="radiobutton <%= readOnly ? 'disabled' : '' %> <%= (value === false) ? 'selected' : '' %> false" <%= readOnly ? '' : 'href="#false"' %>><span class="radio"></span>False</a>
  <a class="radiobutton <%= readOnly ? 'disabled' : '' %> <%= (value === null) ? 'selected' : '' %> null italic" <%= readOnly ? '' : 'href="#null"' %>><span class="radio"></span>Null</a>
</nav>