<%= form_for @user, url: (@user.new? ? organization_users_path(@organization) : organization_user_path(@user.username)) do |form| %>

  <%= form.hidden_field :private_tables_enabled %>

  <div class="head">
    <h2>
      <% if @user.new? -%>
        Create new user
      <% else %>
        <%= "#{@user.username} account data" %>
      <% end %>
    </h2>
  </div>

  <ul><%= render partial: 'shared/flash_message' %></ul>
  
  <div class="content">
    <div class="org-user-form">

      <% if @user.new? -%>
        <div class="row">
          <div class="field field-2">
            <%= form.label :username %>
            <%= form.text_field :username, :class => @user.errors[:username].present? ? 'error' : nil %>
            <%= form_error_for :username, @user.errors %>
          </div>
        </div>
      <% end -%>

      <div class="row">
        <div class="field field-2">
          <%= form.label :email %>
          <%= form.text_field :email, :class => @user.errors[:email].present? ? 'error' : nil %>
          <%= form_error_for :email, @user.errors %>
        </div>
        <div class="field field-2">
          <%= label_tag 'user[password]', 'Password' %>
          <%= password_field_tag 'user[password]', nil, :class => @user.errors[:password].present? ? 'error' : nil %>
          <%= form_error_for :password, @user.errors %>
        </div>
      </div>
      
      <div class="row">
        <label>
          <% if @user.new? -%>
            New user will
          <% else %>
            <%= @user.username %> has
          <% end %>
          <strong><%= number_to_human_size(@user.quota_in_bytes) %> assigned</strong> -
          <a href="#/change-quota">change</a>
        </label>
        <div class="progress-bar"></div>
        <%= form.hidden_field :quota_in_bytes, :class => @user.errors[:quota_in_bytes].present? ? 'error' : nil %>
        <%= form_error_for :quota_in_bytes, @user.errors %>
      </div>
    </div>
  </div>

  <div class="foot">
    <% if !@user.new? -%>
      <%= link_to "delete this user", organization_user_path(@user.username), :class => "left delete red margin15" %>
    <% end %>
    <%= form.submit 'Save changes', :class => "right grey button new" %>
  </div>

<% end %>
