<% content_for(:page_title) do %>
  Your account |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= @user.username %>";
    var config = <%= safe_js_object frontend_config %>;
    var authenticity_token = "<%= form_authenticity_token %>";
    var user_data = <%= safe_js_object @user.data.to_json %>;
    var can_change_email = <%= @user.can_change_email? %>;
    var upgrade_url = "<%= current_user.upgrade_url(request.protocol) %>";
    var services_list = <%= @services.to_json.html_safe %>;
    var dashboardNotifications = <%= safe_js_object @dashboard_notifications.to_json %>;
    var organization_notifications = <%= safe_js_object @organization_notifications.to_json %>;

    // Necessary for Google + actions
    var access_token = '';
    <% if (@google_plus_config.present?) %>
      document.domain = '<%= @google_plus_config.domain %>';
      var iframe_src = '<%= @google_plus_config.iframe_src %>';
    <% end %>
  </script>
  <%# if @has_new_dashboard %>
    <%= javascript_include_tag 'common_dashboard', 'account_new_vendor', 'account_new' %>
  <%# else %>
    <%# javascript_include_tag 'cdb.js', 'models.js', 'account_templates.js', 'account_deps.js', 'account.js' -%>
  <%# end %>
<% end %>

<div id="app"></div>

<%= render :partial => 'shared/flash_message' %>
<%= render 'admin/shared/footer' %>
