<% content_for(:page_title) do %>
  Your account |
<% end %>
<%= content_for(:js) do %>
  
<% end %>
<%= content_for(:css) do %>
  <%= render 'shared/lato_font' %>
  <%= stylesheet_link_tag 'cartodb.css', 'new_common.css',  :media => 'all' %>
<% end %>


<%= render 'admin/shared/new_private_header' %>

<div class="FlashMessage">
  <% if params[:flash].present? %>
    <%= render :partial => 'shared/new_flash_message' %>
  <% end %>
</div>

<div>

  <%= render :partial => 'admin/shared/new_pages_subheader' %>

  <div class="CredentialsContent">
    <div class="u-inner">
      <%= form_for current_user, url: account_update_user_path(user_domain: params[:user_domain]), :class => "Form" do |f| %>
        <%= csrf_meta_tags %>

        <div class="Form-title">
          <p class="Form-titleText">Change your account preferences</p>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Username</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_field :username, readonly: true, :class => "Form-input Form-input--long is-disabled" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText">Subdomain cannot be changed</p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Email</label>
          </div>
          <div class="Form-rowData">
            <%= f.text_field :email, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText">You enter through team.cartodb.com/u/piensaenpixel</p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Old password</label>
          </div>
          <div class="Form-rowData">
            <%= f.password_field nil, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText"></p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">New password</label>
          </div>
          <div class="Form-rowData">
            <%= f.password_field nil, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText"></p>
          </div>
        </div>

        <div class="Form-row">
          <div class="Form-rowLabel">
            <label class="Form-label">Confirm password</label>
          </div>
          <div class="Form-rowData">
            <%= f.password_field nil, :class => "Form-input Form-input--long" %>
          </div>
          <div class="Form-rowInfo">
            <p class="Form-rowInfoText"></p>
          </div>
        </div>

        <div class="Form-footer">
          <p class="Form-footerText"></p>
          <%= button_tag(type: 'submit', class: 'Button Button--main') do %>
            <% content_tag(:span, 'Save changes') %>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>

</div>

<%= render 'admin/shared/new_footer' %>
