<% content_for(:page_title) do %>
  Your account |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= @user.username %>";
    var config = <%= safe_js_object frontend_config %>;
    var authenticity_token = "<%= form_authenticity_token %>";
    var user_data = <%= safe_js_object @user.data.to_json %>;
    var can_change_email = <%= @user.can_change_email %>;
    var upgrade_url = "<%= current_user.upgrade_url(request.protocol) %>";
    var services_list = <%= @services.to_json.html_safe %>;
    // Necessary for Google + actions
    var access_token = '';
    <% if (@google_plus_config.present?) %>
      document.domain = '<%= @google_plus_config.domain %>';
      var iframe_src = '<%= @google_plus_config.iframe_src %>';
    <% end %>
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'account_templates.js', 'account_deps.js', 'account.js' -%>
<% end %>

<%= render :partial => 'shared/flash_message' %>

<div class="FormAccount-Section u-inner">
  <%= render :partial => 'admin/shared/pages_subheader' %>

  <div class="FormAccount-Content">
    <%= form_for @user, url: CartoDB.url(self, 'account_update_user', {}, current_user), :class => "Form" do |f| %>
      <%= csrf_meta_tags %>

      <div class="FormAccount-title">
        <p class="FormAccount-titleText">Edit your plan information</p>
      </div>

      <span class="FormAccount-separator"></span>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="FormAccount-label">Username</label>
        </div>
        <div class="FormAccount-rowData">
          <%= f.text_field :username, readonly: true, :class => "FormAccount-input FormAccount-input--med is-disabled" %>
          <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
            <p class="FormAccount-rowInfoText">Subdomain cannot be changed</p>
          </div>
        </div>
      </div>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="FormAccount-label">Email</label>
        </div>
        <div class="FormAccount-rowData">
          <%= f.text_field :email, class: "FormAccount-input FormAccount-input--med #{ 'FormAccount-input--error' if @user.errors[:email].present? } #{ 'is-disabled' unless @user.can_change_email }", readonly: !@user.can_change_email %>
          <% if current_user.organization.present? %>
            <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
              <p class="FormAccount-rowInfoText">Your URL: <%= "#{current_user.organization.name}.#{CartoDB.account_host}/u/#{current_user.username}" %></p>
            </div>
          <% end %>
        </div>
        <div class="FormAccount-rowInfo">
          <% if @user.errors[:email].present? %>
            <p class="FormAccount-rowInfoText FormAccount-rowInfoText--error">Email not valid</p>
          <% elsif @user.google_sign_in %>
            <p class="FormAccount-rowInfoText">Your account is linked to your Google account. <% unless @user.should_display_old_password? %> You can change the email if you set a password.</p> <% end %>
          <% end %>
        </div>
      </div>

      <% if @user.should_display_old_password? %>
        <div class="FormAccount-row">
          <div class="FormAccount-rowLabel">
            <label class="FormAccount-label">Old password</label>
          </div>
          <div class="FormAccount-rowData">
            <%= f.password_field :old_password, :class => "FormAccount-input FormAccount-input--med #{ 'FormAccount-input--error' if @user.errors[:old_password].present? }" %>
          </div>
          <div class="FormAccount-rowInfo">
            <% if (@user.errors[:old_password].present?) %>
              <p class="FormAccount-rowInfoText FormAccount-rowInfoText--error"><%= @user.errors[:old_password].first%></p>
            <% end %>
          </div>
        </div>
      <% end %>
      
      <div class="VerticalAligned--FormRow">
        <div class="FormAccount-row">
          <div class="FormAccount-rowLabel">
            <label class="FormAccount-label">New password</label>
          </div>
          <div class="FormAccount-rowData">
            <%= f.password_field :new_password, :class => "FormAccount-input FormAccount-input--med #{ 'FormAccount-input--error' if @user.errors[:new_password].present? }" %>
          </div>
          <div class="FormAccount-rowInfo">
            <% if (@user.errors[:new_password].present?) %>
              <p class="FormAccount-rowInfoText FormAccount-rowInfoText--error"><%= @user.errors[:new_password].first%></p>
            <% end %>
          </div>
        </div>

        <div class="FormAccount-row js-confirmPassword">
          <div class="FormAccount-rowLabel">
            <label class="FormAccount-label">Confirm password</label>
          </div>
          <div class="FormAccount-rowData">
            <%= f.password_field :confirm_password, :class => "FormAccount-input FormAccount-input--med" %>
          </div>
        </div>
      </div>
      <% if (!Cartodb.config[:cartodb_com_hosted].present? && (!current_user.organization.present? || current_user.organization_owner?))  %>
        <div class="FormAccount-title">
          <p class="FormAccount-titleText">Account type</p>
        </div>

        <span class="FormAccount-separator"></span>

        <div class="FormAccount-row">
          <div class="FormAccount-rowLabel">
            <label class="FormAccount-label">Your billing plan</label>
          </div>
          <div class="FormAccount-rowData">
            <div class="FormAccount-planTag"><%= current_user.account_type %></div>
            <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
              <p class="FormAccount-rowInfoText"><a href="<%= current_user.plan_url(request.protocol) %>">View details</a></p>
            </div>
          </div>
        </div>
      <% end %>

      <%# if none of the services are activated, this block shouldn't appear %>
      <% if @services.size > 0 %>
        <div class="FormAccount-title">
          <p class="FormAccount-titleText">Connect to external data sources</p>
        </div>

        <span class="FormAccount-separator"></span>

        <div class="js-datasourcesContent"></div>
      <% end %>

      <div class="FormAccount-footer FormAccount-footer--withoutMarginBottom">
        <% if current_user.organization_owner? -%>
          <p class="FormAccount-footerText">
            <i class="iconFont iconFont-Info FormAccount-footerIcon"></i>
            You can't delete your account because you are admin of an organization
          </p>
        <% else %>
          <p class="FormAccount-footerText"></p>
        <% end %>
        <%= button_tag(type: 'submit', class: 'Button Button--main') do %>
          <% content_tag(:span, 'Save changes') %>
        <% end %>
      </div>

      <% if !current_user.organization_owner? -%>
        <div class="FormAccount-title">
          <p class="FormAccount-titleText">Delete account</p>
        </div>

        <span class="FormAccount-separator"></span>

        <div class="FormAccount-row">
          <div class="FormAccount-rowLabel">
            <label class="FormAccount-label">Are you sure?</label>
          </div>
          <div class="FormAccount-rowData">
            <span class="FormAccount-button--deleteAccount js-deleteAccount">Delete my account and all my data</span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<%= render 'admin/shared/footer' %>
