<% content_for(:page_title) do %>
  Your account |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= @user.username %>";
    var config = <%= safe_js_object frontend_config %>;
    var authenticity_token = "<%= form_authenticity_token %>";
    var user_data = <%= safe_js_object @user.data.to_json %>;
    var can_change_email = <%= @user.can_change_email? %>;
    var upgrade_url = "<%= current_user.upgrade_url(request.protocol) %>";
    var services_list = <%= @services.to_json.html_safe %>;
    var dashboard_notifications = <%= safe_js_object @dashboard_notifications.to_json %>;
    var organization_notifications = <%= safe_js_object @organization_notifications.to_json %>;

    // Necessary for Google + actions
    var access_token = '';
    <% if (@google_plus_config.present?) %>
      document.domain = '<%= @google_plus_config.domain %>';
      var iframe_src = '<%= @google_plus_config.iframe_src %>';
    <% end %>
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'account_templates.js', 'account_deps.js', 'account.js' -%>
<% end %>

<%= render :partial => 'shared/flash_message' %>

<div class="CDB-Text FormAccount-Section u-inner">
  <%= render :partial => 'admin/shared/pages_subheader' %>

  <div class="FormAccount-Content">
    <%= form_for @user, url: CartoDB.url(self, 'account_update_user', {}, current_user), :class => "Form" do |f| %>
      <%= csrf_meta_tags %>

      <div class="FormAccount-title">
        <p class="FormAccount-titleText">Edit your plan information</p>
      </div>

      <span class="FormAccount-separator"></span>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Username</label>
        </div>
        <div class="FormAccount-rowData">
          <%= f.text_field :username, readonly: true, :class => "CDB-InputText CDB-Text FormAccount-input FormAccount-input--med is-disabled" %>
          <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
            <p class="CDB-Text CDB-Size-small u-altTextColor">Subdomain cannot be changed</p>
          </div>
        </div>
      </div>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Email</label>
        </div>
        <div class="FormAccount-rowData">
          <%= f.text_field :email, class: "CDB-InputText CDB-Text FormAccount-input FormAccount-input--med #{ 'has-error' if @user.errors[:email].present? } #{ 'is-disabled' unless @user.can_change_email? }", readonly: !@user.can_change_email? %>
          <% if current_user.organization.present? %>
            <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
              <p class="CDB-Text CDB-Size-small u-altTextColor">Your URL: <%= "#{current_user.organization.name}.#{CartoDB.account_host}/u/#{current_user.username}" %></p>
            </div>
          <% end %>
        </div>
        <div class="FormAccount-rowInfo">
          <% if @user.errors[:email].present? %>
            <p class="CDB-Text CDB-Size-small FormAccount-rowInfoText FormAccount-rowInfoText--error u-tSpace">Email not valid</p>
          <% elsif @user.google_sign_in %>
            <p class="FormAccount-rowInfoText">Your account is linked to your Google account. <% unless @user.should_display_old_password? %> You can change the email if you set a password.</p> <% end %>
          <% end %>
        </div>
      </div>

      <% unless @user.organization && !@user.organization.auth_username_password_enabled %>

        <% if @user.should_display_old_password? %>
          <div class="FormAccount-row">
            <div class="FormAccount-rowLabel">
              <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Old password</label>
            </div>
            <div class="FormAccount-rowData">
              <%= f.password_field :old_password, :class => "CDB-InputText CDB-Text FormAccount-input FormAccount-input--med #{ 'has-error' if @user.errors[:old_password].present? } #{ 'is-disabled' unless @user.can_change_password? }", readonly: !@user.can_change_password? %>
            </div>
            <div class="FormAccount-rowInfo">
              <% if (@user.errors[:old_password].present?) %>
                <p class="FormAccount-rowInfoText FormAccount-rowInfoText--error u-tSpace"><%= @user.errors[:old_password].first%></p>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="VerticalAligned--FormRow">
          <div class="FormAccount-row">
            <div class="FormAccount-rowLabel">
              <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">New password</label>
            </div>
            <div class="FormAccount-rowData">
              <%= f.password_field :new_password, :class => "CDB-InputText CDB-Text FormAccount-input FormAccount-input--med #{ 'has-error' if @user.errors[:new_password].present? } #{ 'is-disabled' unless @user.can_change_password? }", readonly: !@user.can_change_password? %>
            </div>
            <div class="FormAccount-rowInfo">
              <% if (@user.errors[:new_password].present?) %>
                <p class="FormAccount-rowInfoText FormAccount-rowInfoText--error u-tSpace"><%= @user.errors[:new_password].first%></p>
              <% end %>
            </div>
          </div>

          <div class="FormAccount-row js-confirmPassword">
            <div class="FormAccount-rowLabel">
              <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Confirm password</label>
            </div>
            <div class="FormAccount-rowData">
              <%= f.password_field :confirm_password, :class => "CDB-InputText CDB-Text FormAccount-input FormAccount-input--med #{ 'is-disabled' unless @user.can_change_password? }", readonly: !@user.can_change_password? %>
            </div>
          </div>
        </div>

      <% end %>

      <% if (!Cartodb.config[:cartodb_com_hosted].present? && (!current_user.organization.present? || current_user.organization_owner?))  %>
        <div class="FormAccount-title">
          <p class="FormAccount-titleText">Account type</p>
        </div>

        <span class="FormAccount-separator"></span>

        <div class="FormAccount-row">
          <div class="FormAccount-rowLabel">
            <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Your billing plan</label>
          </div>
          <div class="FormAccount-rowData">
            <div class="FormAccount-planTag CDB-Size-medium"><%= plan_name(current_user.account_type) %></div>
            <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
              <p class="FormAccount-rowInfoText CDB-Size-medium"><a href="<%= current_user.plan_url(request.protocol) %>" class="FormAccount-link">View details</a></p>
            </div>
          </div>
        </div>
      <% end %>

      <%# if none of the services are activated, this block shouldn't appear %>
      <% if @services.size > 0 %>
        <div class="FormAccount-title">
          <p class="FormAccount-titleText">Connect to external data sources</p>
        </div>

        <span class="FormAccount-separator"></span>

        <div class="js-datasourcesContent"></div>
      <% end %>

      <div class="FormAccount-footer <%= !@can_be_deleted ? 'FormAccount-footer--noMarginBottom' : '' %>">
        <% if (!@can_be_deleted && @cant_be_deleted_reason) -%>
          <p class="FormAccount-footerText">
            <i class="CDB-IconFont CDB-IconFont-info FormAccount-footerIcon"></i>
            <span><%= @cant_be_deleted_reason %></span>
          </p>
        <% else %>
          <p class="FormAccount-footerText"></p>
        <% end %>

        <button type="submit" class="CDB-Button CDB-Button--primary">
          <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-small u-upperCase">Save changes</span>
        </button>
      </div>

      <% if @can_be_deleted -%>
        <div class="FormAccount-title">
          <p class="FormAccount-titleText">Delete account</p>
        </div>

        <span class="FormAccount-separator"></span>

        <div class="FormAccount-row FormAccount-row--wideMarginBottom">
          <div class="FormAccount-rowLabel">
            <label class="CDB-Text CDB-Size-medium is-semibold u-mainTextColor">Are you sure?</label>
          </div>
          <div class="FormAccount-rowData">
            <span class="FormAccount-button--deleteAccount CDB-Size-medium js-deleteAccount">Delete my account and all my data</span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<%= render 'admin/shared/footer' %>
