<%= content_for(:css) do %>
  <% if @has_new_dashboard %>
    <%= stylesheet_link_tag 'new_dashboard', 'new_lockout' %>
  <% else %>
    <%= stylesheet_link_tag 'dashboard' %>
  <% end %>
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var authenticity_token = "<%= form_authenticity_token %>";
    var user_data = <%= safe_js_object @user.data.to_json %>;
    var can_change_email = <%= @user.can_change_email? %>;
    var expiration_days = <%= @expiration_days %>;
    var payments_url = "<%= @payments_url %>";

    // Necessary for Google + actions
    var access_token = '';
  </script>

  <% if @has_new_dashboard %>
    <%= javascript_include_tag 'common', 'common_vendor', 'new_lockout' -%>
  <% else %>
    <%= javascript_include_tag 'common', 'common_vendor', 'lockout' -%>
  <% end %>
<% end %>

<% if @has_new_dashboard %>
<div id="root"></div>
<% else %>
<div class="DummyDashboard"></div>
<div class='Lockout OnBoarding-welcome'>
  <div class="OnBoarding-welcomeContent">
    <div class="CDB-Text OnBoarding-welcomeContentInner">
      <p class="OnBoarding-welcomeContentTitle OnBoarding-welcomeContentMargin"><%= t('admin.users.lockout.welcome') %><br/>
        <%= @user.username %>!</p>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin"><%= t('admin.users.lockout.end_trial') %></p>
      <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin"><%= t('admin.users.lockout.upgrade') %></p>
      <% if @expiration_days %>
        <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin"><%= t('admin.users.lockout.preserve_1') %>
          <%= t('day', :count => @expiration_days) %><%= t('admin.users.lockout.preserve_2') %><br/>
          <%= t('admin.users.lockout.student') %><a class="u-whiteTextColor" href="https://carto.com/community/">
          <%= t('admin.users.lockout.community') %></a>.</p>
      <% else %>
        <p class="OnBoarding-welcomeContentText OnBoarding-welcomeContentMargin"><%= t('admin.users.lockout.preserve_3') %><br/>
          <%= t('admin.users.lockout.student') %><a class="u-whiteTextColor" href="https://carto.com/community/">
          <%= t('admin.users.lockout.community') %></a>.</p>
      <% end %>
      <a class="CDB-Button CDB-Button--secondary CDB-Button--white u-bSpace u-iBlock" href="mailto:sales@carto.com">
          <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-bSpace"><%= t('admin.users.lockout.contact') %></span>
      </a>
      <a class="CDB-Button CDB-Button--primary u-bSpace u-iBlock u-lSpace" href="<%= @payments_url %>">
          <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-bSpace"><%= t('admin.users.lockout.payment') %></span>
      </a>
      <a class="CDB-Button CDB-Button--primary CDB-Button--error u-bSpace u-iBlock u-lSpace js-deleteAccount" href="javascript:void(0)">
          <span class="CDB-Button-Text CDB-Text is-semibold CDB-Size-medium u-bSpace"><%= t('admin.users.lockout.delete') %></span>
      </a>
    </div>
  </div>
</div>

<%= render 'admin/shared/footer', :footer_margin => false %>
<% end %>
