<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'new_dashboard', 'new_lockout' %>
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var authenticity_token = "<%= form_authenticity_token %>";
    var user_data = <%= safe_js_object @user.data.to_json %>;
    var can_change_email = <%= @user.can_change_email? %>;
    var payments_url = "<%= @payments_url %>";

    // Necessary for Google + actions
    var access_token = '';
  </script>

  <%= javascript_include_tag 'common', 'common_vendor', 'new_lockout' -%>
<% end %>

<div id="root"></div>
