<% content_for(:page_title) do %>
  Add a new user |
<% end %>
<%= content_for(:js) do %>
  <%= javascript_include_tag :cdb, :application, :keys %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>"
      , type = "oauth"
      , config = <%=raw frontend_config.html_safe %>;
  </script>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag :common, :keys, :media => 'all' %>
<% end %>

<article>
  <div class="inner">
    <section class="left block long">
      <div class="head">
        <h2>Create new user</h2>
      </div>
      <div class="content">
        <ul>
          <%= render partial: 'shared/flash_message' %>
          <li>
            <div class="copy">
              <%= render partial: 'form' %>
            </div>
          </li>
        </ul>
      </div>
      <div class="foot">
      </div>
    </section>
    <aside class="right">
      <%= render partial: 'other_users' %>
    </aside>
  </div>
</article>
