<% content_for(:page_title) do %>
  Add a new user |
<% end %>
<%= content_for(:js) do %>
  <%= javascript_include_tag 'cdb.js', 'application.js', 'models.js', 'organization.js', 'templates.js' %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>"
      , type = "oauth"
      , config = <%=raw frontend_config.html_safe %>
      , organization_quota = {
          seats: <%= current_user.organization.seats %>,
          quota_in_bytes: <%= current_user.organization.quota_in_bytes %>
        }
      , user_data = <%=raw current_user.data.to_json.html_safe %>;
  </script>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'common.css', :organization, :media => 'all' %>
<% end %>

<%= content_for(:account_settings) do %>
  <%= render partial: "admin/organizations/settings_account" %>
<% end %>

<article>

  <div class="inner">
    <section class="block">
      <%= link_to "back", organization_url, :class => "back" %>
      <%= render partial: 'form' %>
    </section>
  </div>
</article>
