<% content_for(:page_title) do %>
  Your profile |
<% end %>
<%= content_for(:js) do %>
  
<% end %>
<%= content_for(:css) do %>
  <%= render 'shared/lato_font' %>
  <%= stylesheet_link_tag 'cartodb.css', 'new_common.css',  :media => 'all' %>
<% end %>


<%= render 'admin/shared/new_private_header' %>

<div>
  <div class="Filters is-relative">
    <div class="u-inner">
      <div class="Filters-inner">
        <span class="Filters-separator"></span>
        <div class="Filters-row">
          <div class="Filters-type">
            <ul class="Filters-list">
              <li class="Filters-typeItem"><a href="<%= profile_user_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink is-selected">Profile</a></li>
              <li class="Filters-typeItem"><a href="<%= account_user_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink">Account</a></li>
              <li class="Filters-typeItem"><a href="<%= api_key_credentials_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink">Your API keys</a></li>
              <li class="Filters-typeItem"><a href="<%= oauth_credentials_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink">Your OAuth credentials</a></li>
              <li class="Filters-typeItem"><a href="<%= plan_url %>" class="Filters-typeLink">Your plan</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="CredentialsContent">
    <div class="u-inner">
      <%= form_for current_user, url: profile_update_user_path(user_domain: params[:user_domain]) do |f| %>
        <%= csrf_meta_tags %>

        <%= f.label :name, 'Your display name' %>
        <%= f.text_field :name, :class => current_user.errors[:name].present? ? 'error' : nil %>
        <%= form_error_for :name, current_user.errors %>

        <%= f.submit 'Save changes', :class => "right grey button new" %>
      <% end %>
    </div>
  </div>

</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/new_footer' %>
