<% content_for(:page_title) do %>
  Your profile |
<% end %>
<%= content_for(:js) do %>
  <script type="text/javascript">
    var username = "<%= @user.username %>";
    var config = <%= safe_js_object frontend_config %>;
    var user_data = <%= safe_js_object @user.data.to_json %>;
    var upgrade_url = "<%= current_user.upgrade_url(request.protocol) %>";
    var can_change_email = <%= @user.can_change_email? %>;
    var iframe_src = '';
    var avatar_valid_extensions = <%= raw @avatar_valid_extensions %>.join(",").replace(/\./g, 'image/');
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'account_templates.js', 'account_deps.js', 'account.js' -%>
<% end %>


<%= render :partial => 'shared/flash_message' %>

<div class="FormAccount-Section u-inner">
  <%= render :partial => 'admin/shared/pages_subheader' %>

  <div class="FormAccount-Content">

    <%= form_for @user, url: CartoDB.url(self, 'profile_update_user', {id: @user.username}, current_user) do |f| %>
      <%= csrf_meta_tags %>

      <div class="FormAccount-title">
        <p class="FormAccount-titleText">Your profile information</p>
      </div>

      <span class="FormAccount-separator"></span>

      <div class="FormAccount-row js-avatarSelector">
        <div class="FormAccount-rowLabel">
          <label class="FormAccount-label">Avatar</label>
        </div>
        <div class="FormAccount-rowData FormAccount-avatar">
          <div class="FormAccount-avatarPreview">
            <img src="<%= @user.avatar %>" class="FormAccount-avatarPreviewImage" />
          </div>
          <div class="FormAccount-avatar--input">
            <%= f.file_field :avatar_url, :class => "FormAccount-fileAvatar js-fileAvatar", :value => "Change image" %>
            <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
              <p class="FormAccount-rowInfoText FormAccount-rowInfoText--smaller">Recommended images should be 128x128 pixels of size</p>
            </div>
          </div>
        </div>
      </div>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="FormAccount-label">Name</label>
        </div>
        <div class="FormAccount-rowData">
          <%= f.text_field :name, :class => "FormAccount-input FormAccount-input--med" %>

          <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
            <p class="FormAccount-rowInfoText">Other users would reach you by your public name</p>
          </div>
        </div>
      </div>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="FormAccount-label">Website</label>
        </div>
        <div class="FormAccount-rowData">
          <%= f.text_field :website, :class => "FormAccount-input FormAccount-input--med" %>
        </div>
        <div class="FormAccount-rowInfo">
          <p class="FormAccount-rowInfoText"></p>
        </div>
      </div>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="FormAccount-label">Location</label>
        </div>
        <div class="FormAccount-rowData">
          <%= f.text_field :location, :class => "FormAccount-input FormAccount-input--med" %>
        </div>
        <div class="FormAccount-rowInfo">
          <p class="FormAccount-rowInfoText"></p>
        </div>
      </div>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="FormAccount-label">Your description</label>
        </div>
        <div class="FormAccount-rowData">
          <%= f.text_area :description, :class => "FormAccount-textarea FormAccount-input FormAccount-input--totalwidth" %>
        </div>
        <div class="FormAccount-rowInfo">
          <p class="FormAccount-rowInfoText"></p>
        </div>
      </div>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="FormAccount-label">Twitter username</label>
        </div>
        <div class="FormAccount-rowData">
          <%= f.text_field :twitter_username, :class => "FormAccount-input FormAccount-input--med" %>
        </div>
        <div class="FormAccount-rowInfo">
          <p class="FormAccount-rowInfoText"></p>
        </div>
      </div>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="FormAccount-label">Disqus shortname</label>
        </div>
        <div class="FormAccount-rowData">
          <%= f.text_field :disqus_shortname, :class => "FormAccount-input FormAccount-input--med", :placeholder => "If empty, CartoDB will moderate them for you" %>
          <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
            <p class="FormAccount-rowInfoText">Be notified by new comments in your pages</p>
          </div>
        </div>
      </div>

      <div class="FormAccount-title">
        <p class="FormAccount-titleText">Jobs profile</p>
      </div>

      <span class="FormAccount-separator"></span>

      <div class="FormAccount-row">
        <div class="FormAccount-rowLabel">
          <label class="FormAccount-label">Available for hire</label>
        </div>
        <div class="FormAccount-rowData">
          <div class="Toggler">
            <%= f.check_box :available_for_hire, :id => "available_for_hire" %>
            <%= label_tag(:available_for_hire, '') %>
          </div>
          <div class="FormAccount-rowInfo FormAccount-rowInfo--marginLeft">
            <p class="FormAccount-rowInfoText">Show a banner in your public profile linked to your email</p>
          </div>
        </div>
      </div>

      <div class="FormAccount-footer">
        <p class="FormAccount-footerText"></p>
        <%= button_tag(type: 'submit', class: 'Button Button--main') do %>
          <% content_tag(:span, 'Save changes') %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

<%= render 'admin/shared/footer' %>
