<div class="mamufas">

  <section class="block modal <%- modal_type %>">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3><%- title %></h3>
    </div>

    <div class="content"></div>

    <div class="foot">
      <a href="#back" class="left back hidden <%- cancel_button_classes %>"><%- cancel_title %></a>
      <a href="#next" class="right next ok <%- ok_button_classes %>"><%- ok_title %></a>
    </div>
  </section>

  <section class="block modal merging">
    <div class="merging_content">
      <div class="loader">
        <p>Merging datasets and generating the new one</p>
      </div>
    </div>
  </section>

  <section class="block modal error">
    <a href="#close" class="close">x</a>
    <div class="head">
      <h3>An error occurred merging these datasets</h3>
    </div>
    <div class="error_content"></div>
    <div class="foot">
      <a href="#go" class="right button cancel grey">Ok, close</a>
    </div>
  </section>

</div>
