<div class="mamufas">
  <section class="block modal <%- privacy.toLowerCase() %> <%- modal_type %>">
    <a href="#close" class="close">x</a>

    <div class="content">

      <h3><%- title %></h3>
      <p>Send the link, embed in your website or develop and cartodb.js application with it.</p>
      <p>
      </p>

      <ul>
        <li class="link">
          <i></i>

          <% if (privacy == "PRIVATE") { %>
          <h4>Your map<br />is private</h4>
          <% } else { %>
          <h4>Get the link</h4>
          <% } %>

          <div class="input_field">
            <input type="text" readonly="true"/>
            <a href="#" class="copy tooltip">Copy</a>
          </div>

          <% if (privacy == "PASSWORD") { %>
          <p>*Remember that your map is protected by password.</p>
          <% } else if (privacy == "PRIVATE") { %>
          <p>Change <a href="#" class="change-privacy">your privacy</a> settings to share your map. Right now it's private.</p>
          <% } else { %>
          <p>And send it to your friends, co-workers or post in your social networks</p>
          <% } %>

        </li>
        <li class="embed">
          <i></i>

          <% if (privacy == "PRIVATE") { %>
          <h4>Your map<br />is private</h4>
          <% } else { %>
          <h4>Embed it</h4>
          <% } %>

          <div class="input_field">
            <input type="text" readonly="true"/>
            <a href="#" class="copy tooltip">Copy</a>
          </div>

          <% if (privacy == "PASSWORD") { %>
          <p>*Remember that your map is protected by password. <a href="#" class="simple_url">Get a simple URL</a></p>
          <% } else if (privacy == "PRIVATE") { %>
          <p>Change <a href="#" class="change-privacy">your privacy</a> settings to embed your map. Right now it's private.</p>
          <% } else { %>
          <p>Get your map into your blog, website or simple application. <a href="#" class="simple_url">Get a simple URL</a></p>
          <% } %>

        </li>
        <li class="api">
          <i></i>
          <h4>CartoDB.js</h4>
          <div class="input_field">
            <input type="text" readonly="true"/>
            <a href="#" class="copy tooltip">Copy</a>
          </div>
          <p>Add your map to your applications by using this URL. <a href="http://developers.cartodb.com/documentation/cartodb-js.html" title="CartoDB.js - API reference" target="_blank">Read more</a></p>
        </li>
      </ul>

    </div>

    <div class="foot">
      <a href="#next" class="right next ok <%- ok_button_classes %>"><%- ok_title %></a>
    </div>

  </div>
</div>
