<div class="mamufas">
  <section class="block modal <%= modal_type %>">
    <a href="#close" class="close">x</a>

    <div class="torque_warning">Animated visualizations only work in modern browsers.</div>

    <div class="content">
      <div>
        <div class="options">

          <h3><div class="inner"><%= title %></div></h3>

          <h4><div class="inner">Widgets</div></h4>
          <div class="white-gradient-shadow top"></div>

          <div class="scrollpane">
            <ul class="options switches">
              <li class="title">Title</li>
              <li class="description">Description</li>
              <li class="shareable">Shareable</li>
              <li class="search">Search box</li>
              <li class="layer_selector">Layer selector</li>
              <li class="scrollwheel">Scroll wheel zoom</li>
              <li class="legends">Legends</li>
              <li class="fullscreen">Fullscreen</li>
              <% if (removable_logo) { %><li class="cartodb_logo">Logo</li><% } %>
            </ul>
          </div>

          <div class="white-gradient-shadow bottom"></div>

          <div id="privacy_options">

            <h4><div class="inner">Privacy options</div></h4>

            <ul class="privacy switches">

              <% if (privacy_options.public){ %>
              <li class="public">
                <a href="#<%- name %>" title="Public" data-mode="public" class="radiobutton small"><span class="radio"></span>Public on the web<i></i></a>
              </li>
              <% } %>

              <% if (paid_account && privacy_options.link_protected) { %>
                <li class="link">
                   <a href="#<%- name %>" title="Anyone with a link" data-mode="link" class="radiobutton small"><span class="radio"></span>Anyone with a link <i></i></a>
                </li>
                <% } %>

                <% if (!paid_account) { %>
                <li class="private">
                  <a href="#<%- name %>" title="Private" data-mode="private" class="radiobutton disabled small"><span class="radio"></span>Private (only paid users)<i></i></a>
                  <a href="<%= upgrade_url %>?utm_source=Trying_Marking_Vizz_Private&utm_medium=referral&utm_campaign=Upgrade_from_Dashboard&utm_content=Start%20your%20free%20trial%20now" class="trial">Start your free trial now</a>
                </li>
                <% } %>

                <% if (show_disabled_privacy) { %>
                <li class="<%= disabled_privacy %><% if (!private_maps) { %> disabled<% } %>">
                  <a href="#<%- name %>" title="<%= disabled_privacy_name %>" class="radiobutton small disabled selected"><span class="radio"></span><%= disabled_privacy_name %> <i></i></a>
                </li>
              <% } %>

              <% if (!private_maps) { %>
              <li class="upgrade_message">
                <p><%= upgrade_message %></p>
                <a href="<%= upgrade_url %>?utm_source=Share_screen_free_users&utm_medium=referral&utm_campaign=Upgrade_from_Dashboard&utm_content=Upgrade%20your%20account">Upgrade your account</a>
                <i></i>
              </li>
              <% } else { %>


                  <% if (privacy_options.password_protected){ %>
                     <li class="password">
                       <a href="#<%- name %>" title="Anyone with a password" data-mode="password" class="radiobutton small"><span class="radio"></span><span class="title">Anyone with a password</span><i></i></a>
                       <div class="input_field">
                         <input type="password" class="password" placeholder="<%= password_placeholder %>" />
                         <i></i>
                         <a href="#" class="set_password"><%= password_button_label %></a>
                       </div>
                     </li>
                  <% } %>

                  <% if (privacy_options.private){ %>
                     <li class="private">
                       <a href="#<%- name %>" title="Private" data-mode="private" class="radiobutton small"><span class="radio"></span>Private <i></i></a>
                     </li>
                  <% } %>

              <% } %>
            </ul>
          </div>

        </div>

        <div class="map_container">
          <div class="cartodb-map_wrapper">
            <div class="cartodb-header">
              <h1><%= map_title %></h1>
              <p ><%= map_description || "" %></p>
            </div>
          </div>

          <div class="copy">
            <label class="uppercase smaller strong lighter">Copy and paste this code</label>
            <div class="input">
              <% if (touch) { %>
              <p class="url"></p>
              <% } else { %>
              <input class="url" type="text" value="http://cartodb.com" readonly />
              <% } %>
              <a class="tooltip copy" href="#copy" title="Copy this">copy</a>
              <ul>
                <li><a href="#public" data-method="public"   class="strong smaller uppercase">public url</a></li>
                <li><a href="#url" data-method="url"   class="strong smaller uppercase">embed url</a></li>
                <li><a href="#embed" data-method="embed" class="strong smaller uppercase">iframe</a></li>
                <li><a href="#api"   data-method="api"   class="strong smaller uppercase">api</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
