<div class="mamufas">
  <section class="block modal <%= modal_type %>">
  <a href="#close" class="close">x</a>
  <div class="head">
    <h3><%= title %></h3>
    <% if (description) { %>
    <p class="margin5"><%= description || "" %></p>
    <% } %>
  </div>
  
  <div class="torque_warning">Animated visualizations only work in modern browsers.</div>

  <div class="content">
    <div>
      <div class="cartodb-map_wrapper">
        <div class="cartodb-header">
          <h1><%= map_title %></h1>
          <p ><%= map_description || "" %></p>
          <div class="share">
            <a href="#" class="button small grey apply">Share</a>
          </div>
        </div>
        <div class="cartodb-text">Create your own custom maps with <a>CartoDB</a></div>
      </div>
      <div class="sharing_options">
        <ul class="switches">
          <li class="title">Table name</li>
          <li class="description">Description</li>
          <li class="search">Search box</li>
          <li class="shareable">Shareable</li>
          <li class="layer_selector">Layer selector</li>
          <li class="scrollwheel">Scroll wheel zoom</li>
          <li class="legends">Legends</li>
          <!--<li class="fullscreen">Fullscreen</li>-->
          <% if (removable_logo) { %><li class="cartodb_logo">Logo</li><% } %>
        </ul>
      </div>
    </div>

    <div class="margin30 copy">
      <label class="uppercase smaller strong lighter">Copy and paste this code</label>
      <div class="input">
        <% if (touch) { %>
          <p class="url"></p>
        <% } else { %>
          <input class="url" type="text" value="http://cartodb.com" readonly />
        <% } %>
        <a class="tooltip copy" href="#copy" title="Copy this">copy</a>
        <ul>
          <li><a href="#url"   data-method="url"   class="strong smaller uppercase">url</a></li>
          <li><a href="#embed" data-method="embed" class="strong smaller uppercase">embed</a></li>
          <li><a href="#api"   data-method="api"   class="strong smaller uppercase">api</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
</div>
