<div class="mamufas">
  <section class="block modal <%= modal_type %>">
  <a href="#close" class="close">x</a>
  
  <div class="torque_warning">Animated visualizations only work in modern browsers.</div>

  <div class="content">
    <div>
      <div class="options">

        <h3><div class="inner"><%= title %></div></h3>

        <h4><div class="inner">Widgets</div></h4>

        <div class="scrollpane">
          <ul class="options switches">
            <li class="title">Title</li>
            <li class="description">Description</li>
            <li class="shareable">Shareable</li>
            <li class="search">Search box</li>
            <li class="layer_selector">Layer selector</li>
            <li class="scrollwheel">Scroll wheel zoom</li>
            <li class="legends">Legends</li>
            <!--<li class="fullscreen">Fullscreen</li>-->
            <% if (removable_logo) { %><li class="cartodb_logo">Logo</li><% } %>
          </ul>
        </div>

        <h4><div class="inner">Privacy options</div></h4>

        <ul class="privacy switches">
          <li class="public">
            <a href="#<%= name %>" title="Public" class="radiobutton small"><span class="radio"></span>Public <i></i></a>
          </li>

          <% if (account_type == 'FREE') { %>
          <li class="upgrade_message">
            <p>Private maps are only available under paid plans.</p>
            <a href="#">Upgrade your account</a>
            <i></i>
          </li>
          <% } else { %>
          <li class="link_protected">
            <a href="#<%= name %>" title="Anyone with the link" class="radiobutton small"><span class="radio"></span>Anyone with the link <i></i></a>
          </li>

          <li class="password_protected">
            <a href="#<%= name %>" title="Protected by password" class="radiobutton small"><span class="radio"></span>Protected by password <i></i></a>
          </li>

          <li class="password_protected open">
            <a href="#<%= name %>" title="Protected by password" class="radiobutton small"><span class="radio"></span></a>
            <div class="input_field">
              <input type="password" placeholder="Insert your password" />
              <i></i>
              <a href="#">Edit</a>
            </div>
          </li>

          <!--
          <li class="private">
            <a href="#<%= name %>" title="Private" class="radiobutton small"><span class="radio"></span>Private <i></i></a>
          </li>
          -->

          <% } %>
        </ul>

      </div>

      <div class="map_container">
        <div class="cartodb-map_wrapper">
          <div class="cartodb-header">
            <h1><%= map_title %></h1>
            <p ><%= map_description || "" %></p>
            <div class="share">
              <a href="#" class="button small grey apply">Share</a>
            </div>
          </div>
        </div>

      <div class="copy">
        <label class="uppercase smaller strong lighter">Copy and paste this code</label>
        <div class="input">
          <% if (touch) { %>
          <p class="url"></p>
          <% } else { %>
          <input class="url" type="text" value="http://cartodb.com" readonly />
          <% } %>
          <a class="tooltip copy" href="#copy" title="Copy this">copy</a>
          <ul>
            <li><a href="#url"   data-method="url"   class="strong smaller uppercase">url</a></li>
            <li><a href="#embed" data-method="embed" class="strong smaller uppercase">embed</a></li>
            <li><a href="#api"   data-method="api"   class="strong smaller uppercase">api</a></li>
          </ul>
        </div>
      </div>



      </div>

    </div>


  </div>
</div>
</div>
