<ul>
  <li>
    <div class="circle <%= state %>">
      <span class="point"></span>
      <span class="pulse"></span>
    </div>
  </li>
  <li>
    <p>
      <% if (state != "failure") { %>
        Synced
      <% } else { %>
        Synced failed
      <% } %>
      <%= ran_at %>.
      <% if (state != "failure") { %>
        Next sync will be <%= run_at %>.
      <% } else if (error_code && error_message) { %>
        Error code <%= error_code %>: <%= error_message %>.
      <% } %>
    </p>
  </li>
  <li class="separator">
    <p class="italic light">Read only table</p>
  </li>
  <li class="separator">
    <p><a href="#/view-options" class="sync_options">view options</a></p>
  </li>
</ul>