<ul>
  <li>
    <div class="circle <%- state %>">
      <span class="point"></span>
      <span class="pulse"></span>
    </div>
  </li>
  <li>
    <p>
      <% if (state === "success") { %>
        Synced <%- ran_at %>.
      <% } else if (state === "syncing") { %>
        Syncing...
      <% } else if (state === "failure") { %>
        Synced failed.
      <% } %>
      
      <% if (state === "success") { %>
        Next will be <%- run_at %>.
      <% } else if (state === "syncing") { %>
        <% /* There's no need to add extra text in this case. */ %>
      <% } else if (error_code || error_message) { %>
        Error code <%- error_code %>: <%- error_message %>.
      <% } %>

      <% if (!from_external_source) { %>
        <% if (state !== "syncing") { %>
          <% if (canSync) { %>
            <a href="#/sync-now" class="sync_now">Sync now</a>
          <% } else { %>
            <em class="italic light sync_now_disabled">Sync now</em>
          <% } %>
        <% } %>
      <% } %>
    </p>
  </li>

  <% if (state !== "syncing") { %>
    <li class="separator">
      <p><a href="#/view-options" class="sync_options">view options</a></p>
    </li>
  <% } %>
</ul>
