<li class="MapsList-item">
  <div class="MapCard" data-zoom="<%= vis[:map_zoom] %>" data-vizjson-url="<%= CartoDB.url(self, 'api_v2_visualizations_vizjson', {id: vis[:id]}, vis[:owner]) %>.json">
    <a href="<%= CartoDB.url(self, 'public_visualizations_public_map', {id: vis[:id]}, vis[:owner]) %>" class="MapCard-header js-header">
      <div class="MapCard-loader"></div>
    </a>

    <div class="MapCard-content">
      <div class="MapCard-contentBody">
        <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
          <h3 class="MapCard-title DefaultTitle">
            <a href="<%= CartoDB.url(self, 'public_visualizations_public_map', {id: vis[:id]}, vis[:owner]) %>" class="DefaultTitle-link u-ellipsLongText" title="<%= vis[:title] %>"><%= vis[:title] %></a>
          </h3>
        </div>

        <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
          <% if vis[:description_html_safe] %>
            <div class="MapCard-desc">
              <div class="DefaultDescription" title="<%= vis[:description_html_safe].strip_tags %>"><%= raw vis[:description_html_safe] %></div>
            </div>
          <% else %>
            <span class="NoResults"></span>
          <% end %>
        </div>

        <div class="MapCard-tags">
          <div class="DefaultTags MapCard-contentBodyRow">
            <% if vis[:tags].size > 0 %>
              <%# Keep on one line to avoid unwanted spaces %>
              <% formatted_tags(vis[:tags]) do |tag| %><a class="DefaultTags-item js-tag-link" href="<%= CartoDB.url(self, 'public_tag', {tag: tag}, vis[:owner]) %>"><%= tag %></a><% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="MapCard-contentFooter">
        <div class="MapCard-contentFooterDetails--left">
          <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
            <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
            <%= time_ago_in_words(vis[:updated_at]) %> ago
          </div>
        </div>
        <div class="MapCard-contentFooterDetails--right">
          <%= render 'admin/pages/shared/like_button', vis: vis %>
        </div>
      </div>
    </div>
  </div>
</li>
