<div class="ContentFooter">
  <div class="u-inner ContentFooter-inner ContentFooter-inner--paginationOnly">
    <div class="js-content-footer"></div>
  </div>
</div>

<% content_for(:js) do %>
  <script type="text/javascript">
    var paginationModelAttrs = {
      current_page: <%= @current_page.to_i %>,
      total_count: <%= @total_count.to_i %>,
      per_page: <%= @per_page.to_i %>,
      url_to: function(page) {
        return '<%= @numbered_page_url %>'.replace('<%= @page_number_placeholder %>', page);
      }
    }
  </script>
<% end %>
