<div class="user-info">

  <div class="avatar">
    <a href="<%= CartoDB.url(self, 'public_visualizations_home') %>" class="circle">
      <img src="<%= @avatar_url %>" />
    </a>
  </div>

  <div class="details">
    <%= content_tag :h2, @name %>

    <%= link_to "@#{@twitter_username}", "http://twitter.com/#{@twitter_username}", :class => :twitter if @twitter_username.present? %>

    <%= content_tag :p, @description if @description.present? %>

    <% if @website.present? %>

      <% if @description.present? || @twitter_username.present?  %>
      <div class="separator"></div>
      <% end %>

      <div class="website"><%= link_to @website_clean, @website %></div>
    <% end %>

  </div>

  <% if @available_for_hire %>
    <div class="available-for-hire-banner">
      <%= mail_to @email, "Available for hire" %>
    </div>
  <% end %>

  <ul>
    <% if action_name == 'datasets' %>
      <li><h2 class="count" title="<%= @name %> dataset<%= @tables_num == 1 ? '' : 's' %>"><strong><%= @tables_num %></strong>dataset<%= @tables_num == 1 ? '' : 's' %></h2></li>
      <li><h2><a href="<%= CartoDB.url(self, 'public_visualizations_home') %>" class="count"><strong><%= @vis_num %></strong>visualization<%= @vis_num == 1 ? '' : 's' %></a></h2></li>
    <% else %>
      <li><h2 title="<%= @name %> dataset<%= @tables_num == 1 ? '' : 's' %>"><a href="<%= CartoDB.url(self, 'public_datasets_home') %>" class="count"><strong><%= @tables_num %></strong>dataset<%= @tables_num == 1 ? '' : 's' %></a></h2></li>
      <li><h2 class="count"><strong><%= @vis_num %></strong>visualization<%= @vis_num == 1 ? '' : 's' %></h2></li>
    <% end %>
  </ul>

</div>
