<form accept-charset="UTF-8" action="<%= formAction %>" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="<%= authenticityToken %>" />
  <input name="_method" type="hidden" value="delete" />  

  <div class="Dialog-header u-inner">
    <div class="Dialog-headerIcon Dialog-headerIcon--negative">
      <i class="iconFont iconFont-DefaultUser"></i>
    </div>
    <p class="Dialog-headerTitle">You are about to delete <%= username %>'s account.</p>
    <p class="Dialog-headerText">
      By deleting this account all <%= username %>'s maps and datasets will be lost,
      but extra credits will be reassigned to your user.
    </p>
  </div>

  <div class="Dialog-footer u-inner">
    <button class="Button Button--inline Button--secondary Dialog-footerBtn cancel">
      <span>cancel</span>
    </button>
    <button type="submit" class="Button Button--inline Button--negative js-ok">
      <span>Yes, delete <%= username %> account</span>
    </button>
  </div>
</form>
