<div class="info">
  <a href="<%= user_url %>"><%= username %></a>
  <% if (organization_owner) { %>
    <span class="status owner">OWNER</span>
  <% } %>
</div>
<div class="storage">
  <div class="progress-bar" title="<%= bytes_used %> / <%= bytes_total %>">
    <span class="bar-3" style="width:<%= used_per %>%; left:<%= left_pos %>%"></span>
    <span class="bar-2" style="width:<%= available_per %>%; left:<%= left_pos %>%"></span>
  </div>
</div>