<% _.each(visualizations, function(vis) { %>
<li class="PublicUserFeed-item">
  <div class="PublicUserFeed-avatar">
    <img src="<%- vis.permission.owner.avatar_url %>" class="UserAvatar-img UserAvatar-img--big" />
  </div>

  <% if (vis.type == 'derived') { %>

  <div class="MapCard MapCard--borderless MapCard--long" data-vizjson-url="http://development.localhost.lan:3000/api/v2/viz/<%- vis.id %>/viz.json">
    <a href="/viz/<%- vis.id %>/public_map" class="MapCard-header js-header">
      <div class="MapCard-loader"></div>
      <div class="MapCard-error" style="display: block;"></div></a>

    <div class="MapCard-content">
      <div class="MapCard-contentBody">
        <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
          <h3 class="MapCard-title DefaultTitle">
            <a href="/viz/<%- vis.id %>/public_map" class="DefaultTitle-link u-ellipsLongText" title="<%- vis.name %>"><%- vis.name %></a>
          </h3>
        </div>
      </div>

      <div class="MapCard-contentFooter MapCard-contentFooter--lefty">
        <a href="#/like" class="LikesIndicator js-like is-likeable" data-vis-id="<%- vis.id %>" data-show-count="true" data-show-label="true" data-likes-count="<%- vis.likes %>">
          <i class="iconFont iconFont-Heart--fill LikesIndicator-icon "></i><span class="LikesIndicator-count"><%- vis.likes %> likes </span>
        </a>
        <div class="MapCard-contentFooterIcon">
          <i class="iconFont iconFont-Eye DefaultTimeDiff-icon"></i>
          <%- vis.permission.owner.maps_count %> visualization<%- vis.permission.owner.maps_count !== 1 ? 's' : '' %>
        </div>
        <div class="MapCard-contentFooterIcon">
          <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
          <%- vis.permission.owner.table_count %> public dataset<%- vis.permission.owner.table_count !== 1 ? 's' : '' %>
        </div>
        <div class="MapCard-contentFooterIcon">
          <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
          <%- moment(vis.updated_at).fromNow() %>
        </div>
      </div>
    </div>
  </div>
  <% } else { %>

  <div class="DatasetCard DatasetCard--long">
    <div class="DatasetCard-content">
      <div class="DatasetCard-contentBodyRow DatasetCard-contentBodyRow--flex">
        <div class="DatasetCard-contentBodyDetails--left">
          <div class="DatasetsList-itemCategory is--polygonDataset"></div>
        </div>
        <div class="DatasetCard-contentBodyDetails--right">

          <h3 class="DatasetCard-title DefaultTitle">
            <a href="/tables/<%- vis.name %>/public" class="DefaultTitle-link u-ellipsLongText" title="<%- vis.name %>"><%- vis.name %></a>
          </h3>

          <div class="DatasetCard-contentFooter">
            <a href="#/like" class="LikesIndicator js-like is-likeable" data-vis-id="<%- vis.id %>" data-show-count="true" data-show-label="true" data-likes-count="<%- vis.likes %>">
              <i class="iconFont iconFont-Heart--fill LikesIndicator-icon "></i><span class="LikesIndicator-count"><%- vis.likes %> likes </span>
            </a>
          </a>

          <div class="MapCard-contentFooterIcon">
            <i class="iconFont iconFont-Eye DefaultTimeDiff-icon"></i>
            <%- vis.permission.owner.maps_count %> visualization<%- vis.permission.owner.maps_count !== 1 ? 's' : '' %>
          </div>
          <div class="MapCard-contentFooterIcon">
            <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
            <%- vis.permission.owner.table_count %> public dataset<%- vis.permission.owner.table_count !== 1 ? 's' : '' %>
          </div>
          <div class="MapCard-contentFooterIcon">
            <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
            <%- moment(vis.updated_at).fromNow() %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<% } %>
<% }); %>
</li>
