<% _.each(visualizations, function(vis) { %>
<li class="PublicUserFeed-item">
  <div class="PublicUserFeed-avatar">
    <img src="<%- avatarURL %>" class="UserAvatar-img UserAvatar-img--big" />
  </div>

  <% if (vis.type == 'derived') { %>

  <div class="MapCard MapCard--borderless MapCard--long" data-zoom="1" data-vizjson-url="http://development.localhost.lan:3000/api/v2/viz/38062724-4662-11e5-a60c-080027880ca6/viz.json">
    <a href="#" class="MapCard-header js-header">
      <div class="MapCard-loader"></div>
      <div class="MapCard-error" style="display: block;"></div></a>

    <div class="MapCard-content">
      <div class="MapCard-contentBody">
        <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
          <h3 class="MapCard-title DefaultTitle">
            <a href="http://development.localhost.lan:3000/viz/38062724-4662-11e5-a60c-080027880ca6/public_map" class="DefaultTitle-link u-ellipsLongText" title="<%- vis.name %>"><%- vis.name %></a>
          </h3>
        </div>
      </div>

      <div class="MapCard-contentFooter MapCard-contentFooter--lefty">
        <a href="#/like" class="LikesIndicator is-likeable" data-vis-id="<%- vis.id %>" data-show-count="true" data-show-label="true" data-likes-count="<%- vis.likes %>"><i class="iconFont iconFont-Heart--fill LikesIndicator-icon "></i><span class="LikesIndicator-count"><%- vis.likes %> likes </span>
        </a>
        <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
          <i class="iconFont iconFont-Eye DefaultTimeDiff-icon"></i>
          32 visualizations
        </div>
        <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
          <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
          2 public datasets
        </div>
        <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
          <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
          8 minutes ago
        </div>
      </div>
    </div>
  </div>
  <% } else { %>

  <div class="DatasetCard DatasetCard--long">
    <div class="DatasetCard-content">
      <div class="DatasetCard-contentBodyRow DatasetCard-contentBodyRow--flex">
        <div class="DatasetCard-contentBodyDetails--left">
          <div class="DatasetsList-itemCategory is--polygonDataset"></div>
        </div>
        <div class="DatasetCard-contentBodyDetails--right">

          <h3 class="DatasetCard-title DefaultTitle">
            <a href="#" class="DefaultTitle-link u-ellipsLongText" title="<%- vis.title %>"><%- vis.title %></a>
          </h3>

          <div class="DatasetCard-contentFooter">
            <a href="#/like" class="LikesIndicator is-likeable" data-vis-id="<%- vis.id %>" data-show-count="true" data-show-label="true" data-likes-count="0"><i class="iconFont iconFont-Heart--fill LikesIndicator-icon "></i><span class="LikesIndicator-count">0 likes </span>
            </a>

            <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
              <i class="iconFont iconFont-Eye DefaultTimeDiff-icon"></i>
              32 visualizations
            </div>
            <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
              <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
              2 public datasets
            </div>
            <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
              <i class="iconFont iconFont-Clock DefaultTimeDiff-icon"></i>
              8 minutes ago
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <% } %>
  <% }); %>

</li>
