<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <title><%= @table.name %> | CartoDB</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CartoDB">
    <meta name="DC.title" content="<%= @table.description %> | CartoDB">
    
    <meta property="og:title" content="<%= @table.description %> | CartoDB"/>
    <meta property="og:description" content="<%= @table.description %>"/> 
    <meta property="og:type" content="Visualization"/>
    <meta property="og:url" content="<%= request.fullpath %>" />
    <meta property="og:image" content="/assets/cartofante_blue.png"/>

    <style type="text/css">
      html, body, #map {height: 100%; padding: 0; margin: 0;}
    </style>

    <%= stylesheet_link_tag :leaflet %>
    <%= stylesheet_link_tag 'cdb/themes/css/all.css' %>

    <script id="infowindow_template" type="text/tmpl">
      <%# render :file => File.join(Rails.root,"lib/assets/javascripts/cartodb/" + @infowindow_template_path + ".jst.mustache") %>
    </script>

    <%= render 'shared/analytics' %>
  </head>
  <body >
    <% if @table.public? %>
    <div id="map"></div>
    <% end %>
  </body>

  <% if @table.map.provider == 'googlemaps' %>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
  <% end %>
  <%= javascript_include_tag :jquery, :cdb %>

  <script>
    var wadus = <%=raw map_vizzjson(@table.map, :full => false).to_json %>

    // those two parameters should be in tilejson
    var table_name = '<%= @table.name %>';
    var table_url = '<%= table_url @table %>';
    var table_description = '<%= @table.description %>';

    if(data_layer_tilejson.infowindow) {
      data_layer_tilejson.infowindow.template = $('#infowindow_template').html()
    }
    data_layer_tilejson.tile_style = null;

    function get_url_params() {
      var tokens = location.search.slice(1).split('&');
      var params = {}
      for(var i = 0; i < tokens.length; ++i) {
        var tk = tokens[i].split('=');
        params[tk[0]] = decodeURIComponent(tk[1]);
      }
      return params;
    }

    var opt = get_url_params()
      , overlays = [];

    // Add search?
    if (opt.search === 'true') {
      overlays.push({ type: 'search' })
    }

    // Add zoom
    overlays.push({
      type: 'zoom',
      template: '<a class="zoom_in">+</a><a class="zoom_out">-</a>'
    });


    var vis_data = {
      title: opt.title === 'true' ? table_name:null,
      description: opt.description === 'true' ? table_description: null,
      provider: map_provider,
      overlays: overlays,
      layers: [
        base_layer_tilejson,
        data_layer_tilejson
      ]
    };

    if(opt.title === 'true' || opt.description === 'true' || opt.shareable === 'true') {
      vis_data.overlays.splice(0, 0, { type: 'header', shareable: opt.shareable, url: table_url });
    }

    if(opt.sw_lat !== undefined) {
      vis_data.bounds = [
        [opt.sw_lat, opt.sw_lon],
        [opt.ne_lat, opt.ne_lon],
      ];
    }

    if(opt.sql) {
      data_layer_tilejson.query = opt.sql;
    }

    var vis = new cdb.vis.Vis({el: $('#map')});
    vis.load(vis_data);
  </script>
</html>
