  <% content_for(:head) do %>
    <%= stylesheet_link_merged(:public_tables).html_safe %>
  <% end %>
  <% content_for(:js) do %>
    <%= javascript_include_merged(:public_tables).html_safe %>
  <% end %>

  <%= render 'subheader' %>

  <section id="content">
    <div class="inner_content">

      <div class="tables_list">
        <div class="left">
          <div class="top_blue_medium_big">
            <h3><strong><%= pluralize(@tables.pagination_record_count, "Public</strong> table", "Public</strong> tables").html_safe %> in cartoDB</h3>
            <form action="#">
              <input type="text" value="" name="table_name" />
              <input type="submit" value="" name="q" />
            </form>
          </div>
          <div class="middle_white_medium">
            <% if @tables.current_page_record_count == 0 %>
            <div class="no_tables">
              <h5>Ouch! There are not tables for your search</h5>
              <p>You can try with different terms or you can <a href="#">create your own table</a></p>
            </div>
            <% else %>
              <ul class="your_tables">
                <% @tables.each_with_index do |table, i| %>
                <li<%= ' class="last"'.html_safe if i == @tables.current_page_record_count - 1%>>
                  <h4><%= link_to(table.name, table) %></h4>
                  <p class="status <%= table_privacy_text(table).downcase %>"><%= table_privacy_text(table) %></p>
                  <div class="meta_info">
                    <span class="watching">
                      <a href="#" class="no_watching">Stop watching</a>
                    </span>
                    <span class="tags">
                      <% unless table.tags.blank? %>
                        <% table.tags.split(',').each do |tag_name| %>
                        <a href="#"><%= tag_name %></a>
                        <% end %>
                      <% end %>
                    </span>
                  </div>
                </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="bottom_white_medium"></div>

          <%= paginate(@tables) %>

        </div>
        <div class="right">
          <div class="banner">
            <div class="top_white_short"></div>
            <div class="middle_white_short">
              <h3>Can't find what you are looking for?</h3>
              <p>Upload your data to a new table</p>
              <a href="#">Create a new table</a>
            </div>
            <div class="bottom_white_short"></div>
          </div>

          <h4>BROWSE BY TAGS</h4>
          <% unless @tags.empty? %>
            <ul>
              <% @tags.each do |tag| %>
                <li><a href="#"><span style="background-position:<%= tag_width(tag[:count], @tags.last[:count], @tags.first[:count]) %>px 0"><%= tag[:name] %></span></a></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </section>
