  <%= content_for(:js) do %>
    <%= headjs_include_tag "plugins/jquery.min", "admin/show/helpers", "plugins/file_uploader", "admin/index/dashboard", "plugins/jquery.color", "plugins/jquery.cookie", "admin/index/import"  %>
  <% end %>
  <%= content_for(:head) do %>
    <%= stylesheet_link_tag('reset.css','admin/layout','admin/tables/dashboard') %>
  <% end %>

  <%= render 'admin/shared/subheader' %>

  <section id="content">
    <div id="hugeUploader"></div>
    <div class="inner_content">
      <div class="tables_list">
        <div class="left">
          <div class="top_blue_medium">
            <h3><strong><%= pluralize(@tables.pagination_record_count, "Public</strong> table", "Public</strong> tables").html_safe %> in CartoDB</h3>
            <form action="#">
              <input type="text" value="" name="table_name" />
              <input type="submit" value="" name="q" />
            </form>
          </div>
          <div class="middle_white_medium">
            <ul class="your_tables">
              <% @tables.each_with_index do |table, i| %>
              <li>
                <div class="meta_info">
                  <span class="info">
                    <h4><%= link_to(table.name, table_path(table), :class=>'tableTitle')  %> </h4>
                    <p class="status public disabled">PUBLIC</p>
                    <p class="columns">
                      <strong>
                        <%= number_to_human_size table.table_size %> / 
                        <%= pluralize(table.rows_counted,'row','rows') rescue '' %> /
                        <%= table.schema.size rescue '' %> columns:
                    </strong>
                    <%= table.schema.map{ |e| e.first }[2...6].join(', ') %>...
                    </p>
                  </span>
                  <span class="tags">
                    <% unless table.updated_at.blank? %>
                    <p class="last_op"><%= time_ago_in_words(table.updated_at) %> ago</p>
                    <% end %>
                    <% unless table.tags.blank? %>
                      <% table.tags.split(',').each do |tag_name| %>
                      <a href="<%= dashboard_path(:tag_name => tag_name) %>"><%= tag_name %></a>
                      <% end %>
                    <% end %>
                  </span>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="bottom_white_medium"></div>
          <%= paginate(@tables) %>
        </div>
        <div class="right">
          <div class="banner">
            <div class="top_white_short"></div>
            <div class="middle_white_short">
              <h3>Wondering how to start with CartoDB?</h3>
              <p>Upload your data to a new table</p>
              <a href="#create_table" class="new_table <%= 'disabled' if current_user.exceeded_quota? %>">Create a new table</a>
            </div>
            <div class="bottom_white_short"></div>
          </div>

          <h4>POPULAR TAGS</h4>
          <% if @tags.count==0 %>
            <span class="no_tags">
              <p>There are no tags any tags yet.</p>
              <p>Tags are useful for organizing and filtering your tables.</p>
              <p>To add tags to your tables, open them and enter them under the name.</p>
            </span>
          <% else %>
            <ul>
              <% @tags.each do |tag| %>
                <li><a href="<%= dashboard_path(:tag_name => tag[:name]) %>"><span style="background-position:<%= tag_width(tag[:count], @tags.last[:count], @tags.first[:count]) %>px 0"><%= tag[:name] %></span></a></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </section>


  <%= content_for(:mamufas) do %>
    <div class="mamufas">
      <div class="create_window">
        <a href="#close_window" class="close_create"></a>
        <div class="inner_">
          <span class="loading">
            <h5>We are creating your table...</h5>
            <p>It shouldn't take long, just a few more seconds ok?</p>
          </span>
          <form action="#import_file" id="import_file" enctype="multipart/form-data" method="post">
            <span class="top">
              <h4>Do you want to import some data to the new table now?</h4>
              <p>You will also be able to do it later.</p>
              <ul>
                <li class="selected">
                  <a href="#">I want to create an empty table</a>
                  <div class="geom_type">
                    <span class="selected"><a href="#point">Point</a></span>
                    <span><a href="#line">Line</a></span>
                    <span><a href="#polygon">Polygon</a></span>
                  </div>
                </li>
                <li>
                  <a href="#">I want to start with some imported data</a>
                  <span class="file">
                    <div class="select_file">
                      <div id="uploader"></div>
                      <p>We support xls, csv, gpx, shp, zip, etc...</p>
                    </div>
                    <div class="progress">
                      <p>Uploading your file...</p>
                      <span class="progress"></span>
                    </div>
                  </span>
                </li>
                <li>
                  <a href="#">I want to add some data from a URL</a>
                  <span class="file">
                    <div class="select_file">
                      <input id="url_txt" type="text" name="url_value" value="Insert a valid URL..."/>
                      <div class="error_url">
                        <p><span>This URL is not valid</span></p>
                      </div>
                    </div>
                  </span>
                </li>
              </ul>
            </span>
            <span class="bottom">
              <a href="#" class="cancel">cancel</a>
              <input id="create_table" type="submit" name="submit" value="Create table"/>
            </span>
          </form>
        </div>
      </div>
    </div>
  <% end %>