
  <% content_for(:page_title) do %>
    <%= current_user.username %> |
  <% end %>
  <%= content_for(:js) do %>
    <%= include_javascripts :common, :cdbjs, :dashboard %>
    <script type="text/javascript">var username = "<%= current_user.username %>", userid = "<%= current_user.id %>";</script>
  <% end %>
  <%= content_for(:css) do %>
    <%= include_stylesheets :common, :media => 'all' %>
  <% end %>

  <%= render 'admin/shared/subheader' %>

  <article>
    <div class="inner">
      <section class="left block tables">
        <div class="head">
          <h2>
            <%= pluralize(@tables_count, 'table', 'tables') %>
            <% if @tag_name %>
            with the tag <%= @tag_name %>
            <% end %>
            <% if !params[:q]%>
              in your account
            <% else %>                
              found
            <% end %>
          </h2>
        </div>
        <div class="content">
          <ul id="tablelist">
            <%= render :partial => 'shared/flash_message' %>
          </ul>
        </div>
      </section>
      <aside class="right">
        <div class="head">
          <a href="#create_new" class="button green">Create a new table</a>
        </div>
        <div class="content"></div>
      </aside>
    </div>
  </article>


