
  <% content_for(:page_title) do %>
    <%= current_user.username %> |
  <% end %>
  <%= content_for(:js) do %>
    <%= javascript_include_tag :application, :cdb, :dashboard %>
    <script type="text/javascript">
      var username = "<%= current_user.username %>"
        , user_data = JSON.parse('<%=raw current_user.data.to_json %>');
    </script>
  <% end %>
  <%= content_for(:css) do %>
    <%= stylesheet_link_tag :common, :tables, :media => 'all' %>
  <% end %>

  <%= render 'admin/shared/subheader' %>

  <article class="no_tables <%= 'active' if @tables_count == 0 %>">
    <div class="inner">
      <section class="block longer empty">
        <div class="content">
          <div class="left">
            <h2>Welcome <%= current_user.username %>!</h2>
            <p class="margin20">Start dropping here your data or just creating a table from scratch. Once you have your data imported you will be able to create your first map!</p>
            <p class="margin40"><a href="#create_a_table" class="green button create_new">Create your first table</a></p>
          </div>
          <div class="right">
            <%= image_tag "layout/empty_dashboard.png", :title => "Drop here!", :alt => "Drop here!" %>
          </div>
        </div>
        <div class="foot">
          <ul>
            <li><h3>Do you need some example data?</h3></li>
            <li><a class="population" href="">Download country borders<br/>with population numbers</a></li>
            <li><a class="twitter" href="">Download tweets around NYC during May, 2012</a></li>
          </ul>
        </div>
      </section>
    </div>
  </article>

  <article class="tables <%= 'active' if @tables_count > 0 %>">
    <div class="inner">   
      <section class="left block tables">
        <div class="head">
          <h2>
            <%= pluralize(@tables_count, 'table', 'tables') %>
          </h2>
          <div class="loader"></div>
        </div>
        <div class="content">
          <ul id="tablelist">
            <%= render :partial => 'shared/flash_message' %>
          </ul>
        </div>
      </section>
      <aside class="right">
        <div class="head">
          <a href="#create_new" class="button green create_new">Create a new table</a>
          <div class="drag_mamufas">
            <span class="file"></span>
            <p class="bigger strong">Drop here your file to create a new table with it</p>
            <div class="mask"></div>
          </div>
        </div>
        <div class="content">
          <ul></ul>
          <ul><li><%= link_to "Popular public tables", "/public", :class => "popular" %></li></ul>
        </div>
      </aside>
      <div class="paginator"></div>
    </div>
  </article>

  <article class="support">
    <div class="inner">   
      <section class="left">
        <h3>Since you are a paid user you have access to dedicated support.</h3>
        <p>We also encourage you to participate in our <a href="https://groups.google.com/d/forum/cartodb" target="_blank">Google Group</a> and share your knowledge.</p>
      </section>
      <aside class="right">
        <a href="mailto:support@cartodb.com" class="button grey">Contact us</a>
      </aside>
    </div>
  </article>

