
  <% content_for(:page_title) do %>
    <%= current_user.username %> |
  <% end %>
  <%= content_for(:js) do %>
    <%= include_javascripts :common, :cdbjs, :dashboard %>
  <% end %>
  <%= content_for(:css) do %>
    <%= include_stylesheets :common, :media => 'all' %>
  <% end %>

  <%= render 'admin/shared/subheader' %>

  <article>
    <div class="inner">
      <section class="left tables">
        <div class="head">
          <h2>
            <%= pluralize(@tables_count, 'table', 'tables') %>
            <% if @tag_name %>
            with the tag <%= @tag_name %>
            <% end %>
            <% if !params[:q]%>
              in your account
            <% else %>                
              found
            <% end %>
          </h2>
          <% if @total_tables > 10 %>            
            <form action="#">
              <input type="text" value="<%= params[:q] %>" name="q" />
              <input type="submit" value="true" name="submit" />
            </form>
          <% end %>
        </div>
        <div class="content">
          <ul>
            <%= render :partial => 'shared/flash_message' %>
            <% @tables.each_with_index do |table, i| %>
              <%= render :partial => 'table_list', :locals => { :table => table } %>
            <% end %>
          </ul>
        </div>
      </section>
      <aside class="right">
        <!-- Disable button if limit has been oversized! -->
        <a href="#create_new" class="button green">Create a new table</a>
        <ul>
          <li><%= link_to "all tables (x)", dashboard_path, :class => ('selected' if !params[:tag_name]) %></li>
          <% @tags.each do |tag| %>
            <li><%= link_to tag[:name] + " (x)",dashboard_path(:tag_name => tag[:name]), :class => ('selected' if params[:tag_name] == tag[:name]) %></li>
          <% end %>
        </ul>
        <ul>
          <li><%= link_to "Popular public tables", "#??" %></li>
        </ul>
      </aside>

      <%= paginate(@tables) %>
    </div>
  </article>
