
  <%= stylesheet_link_merged(:dashboard).html_safe %>
  <%= javascript_include_merged(:dashboard).html_safe %>

<section class="subheader">
  <div class="inner_subheader">
    <div class="left">
      <ul class="tables_list">
        <li class="<%= selected_if(current_path == dashboard_path) %> %>"><a href="<%= dashboard_path %>"><span>Your tables</span></a></li>
        <li><a href="<%= dashboard_public_path %>" class="public <%= selected_if(current_path == dashboard_public_path) %>"><span>Public tables</span></a></li>
      </ul>
    </div>
    <div class="right">
      <p class="settings"><a class="settings" href="#">settings</a></p>
    </div>
  </div>
</section>

<section id="content">
  <div class="inner_content">
    <div class="requests_info">
      <div class="top_white"></div>
      <div class="middle_white">
        <a class="close" href="#close_stats">close</a>
        <h2>Welcome back jatorre</h2>
        <p>You have done <strong>1,253 requests</strong> in the last 22 days</p>
        <img src="http://chart.googleapis.com/chart?chxr=0,6.667,100&chxs=0,676767,0,0,_,676767|1,676767,0,0,_,676767&chxt=x,y&chbh=37,1,1&chs=849x60&cht=bvg&chco=D7E6E8|D7E6E8|D7E6E8|D7E6E8|D7E6E8|D7E6E8|D7E6E8|BFD6D9|BFD6D9|BFD6D9|BFD6D9|BFD6D9|BFD6D9|BFD6D9|9CC0C4|9CC0C4|9CC0C4|9CC0C4|9CC0C4|9CC0C4|9CC0C4|9CC0C4&chd=s1:ibYXZabeaaaglfiiklqpmn,fl9YMYS&chp=0.033" width="849" height="60" alt="Requests stats" />
      </div>
      <div class="bottom_white"></div>
    </div>

    <div class="tables_list">
      <div class="left">
        <div class="top_blue_medium">
          <% if in_my_tables? %>
            <h3><strong><%= pluralize(current_user.tables_count, 'table', 'tables') %></strong> in your account</h3>
          <% else %>
            <h3><strong><%= pluralize(@tables.size, 'table', 'tables') %></strong></h3>
          <% end %>
          <a class="new_table" href="#">Create a new table</a>
        </div>
        <div class="middle_white_medium">
          <% if @tables.size==0 %>
            <div class="no_tables">
              <h5>Hey! You don't have any tables</h5>
              <p>Why do you not start <a href="#">creating a new table</a>?</p>
            </div>        
          <% else %>
            <ul class="your_tables">
              <% @tables.each_with_index do |table| %>
              <li<%= ' class="last"'.html_safe if @tables.last == table %>>
                <h4><%= link_to(table.name, table) %></h4>
                <p class="status <%= css_class_for_privacy(table) %>"><%= table_privacy(table) %></p>
                <div class="meta_info">
                  <span class="info">
                    <% unless table.updated_at.blank? %>
                    <p class="last_op">Last operation <%= time_ago_in_words(table.updated_at) %> ago</p>
                    <% end %>
                    <p class="delete"> | <a href="#" class="delete">delete table</a></p>
                  </span>
                  <span class="tags">
                    <a href="#">History</a>
                    <a href="#">WHS-JK</a>
                    <a href="#">Manus DB</a>
                    <a href="#">Natural</a>
                    <a href="#">DataBase</a>
                    <a href="#">WHS</a>
                    <a href="#">Vizzuality</a>
                    <a href="#">Data</a>
                  </span>
                </div>
              </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="bottom_white_medium"></div>
      </div>
      <div class="right">
        <!-- YOUR TABLES TAGS, NO GLOBAL TABLE TAGS -->
        <h4>BROWSE BY TAGS</h4>
        <ul>
          <li><a href="#"><span style="background-position:-100px 0">Natural</span></a></li>
          <li><a href="#"><span style="background-position:-130px 0">Jamonal</span></a></li>
          <li><a href="#"><span style="background-position:-200px 0">WHS</span></a></li>
          <li><a href="#"><span style="background-position:-205px 0">Oldies</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
