
  <% content_for(:page_title) do %>
    <%= current_user.username %> |
  <% end %>
  <%= content_for(:js) do %>
    <%= include_javascripts :common, :cdbjs, :dashboard %>
    <script type="text/javascript">var username = "<%= current_user.username %>", userid = "<%= current_user.id %>";</script>
  <% end %>
  <%= content_for(:css) do %>
    <%= include_stylesheets :common, :media => 'all' %>
  <% end %>

  <%= render 'admin/shared/subheader' %>

  <article>
    <div class="inner">
      <section class="left block tables">
        <div class="head">
          <h2>
            <%= pluralize(@tables_count, 'table', 'tables') %>
          </h2>
          <div class="loader"></div>
        </div>
        <div class="content">
          <ul id="tablelist">
            <%= render :partial => 'shared/flash_message' %>
          </ul>
        </div>
      </section>
      <aside class="right">
        <div class="head">
          <a href="#create_new" id="create_new" class="button green">Create a new table</a>
        </div>
        <div class="content">
          <ul></ul>
          <ul>
            <li><%= link_to "Popular public tables", "/public", :class => "popular" %></li>
          </ul>
        </div>
      </aside>
    </div>
  </article>