
  <% content_for(:js) do %>
    <%= headjs_include_tag "plugins/jquery.min", "plugins/jquery.color", "admin/tables/public_tables", "admin/tables/import" %>
  <% end %>
  <% content_for(:head) do %>
    <%= stylesheet_link_tag('reset.css','admin/layout','admin/tables/public_tables') %>
  <% end %>

  <%= render 'admin/shared/subheader' %>

  <section id="content">
    <div class="inner_content">

      <div class="tables_list">
        <div class="left">
          <div class="top_blue_medium_big">
            <h3><strong><%= pluralize(@tables.pagination_record_count, "Public</strong> table", "Public</strong> tables").html_safe %> in CartoDB</h3>
            <form action="#">
              <input type="text" value="" name="table_name" />
              <input type="submit" value="" name="q" />
            </form>
          </div>
          <div class="middle_white_medium">
            <% if @tables.current_page_record_count == 0 %>
            <div class="no_tables">
              <h5>Ouch! There are not tables for your search</h5>
              <p>You can try with different terms or you can <a href="#">create your own table</a></p>
            </div>
            <% else %>
              <ul class="your_tables">
                <% @tables.each_with_index do |table, i| %>
                <li<%= ' class="last"'.html_safe if i == @tables.current_page_record_count - 1%>>
                  <div class="meta_info">
                    <span class="info">
                      <h4><%= link_to(table.name, table, :class=>"tableTitle") %></h4>
                      <p class="status <%= table_privacy_text(table).downcase %>"><%= table_privacy_text(table) %></p>
                      <span class="watching">
                        <a href="#" class="no_watching">Stop watching</a>
                      </span>
                    </span>
                    <div class="tags">
                    <span class="tags">
                      <% unless table.updated_at.blank? %>
                      <p class="last_op"><%= time_ago_in_words(table.updated_at) %> ago</p>
                      <% end %>
                      <% unless table.tags.blank? %>
                        <% table.tags.split(',').each do |tag_name| %>
                        <a href="#"><%= tag_name %></a>
                        <% end %>
                      <% end %>
                    </span>
                  </div>
                </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="bottom_white_medium"></div>

          <%= paginate(@tables) %>

        </div>
        <div class="right">
          <div class="banner">
            <div class="top_white_short"></div>
            <div class="middle_white_short">
              <h3>Can't find what you are looking for?</h3>
              <p>Upload your data to a new table</p>
              <a href="#create_table" class="new_table">Create a new table</a>
            </div>
            <div class="bottom_white_short"></div>
          </div>

          <h4>BROWSE BY TAGS</h4>
          <% unless @tags.empty? %>
            <ul>
              <% @tags.each do |tag| %>
                <li><a href="#"><span style="background-position:<%= tag_width(tag[:count], @tags.last[:count], @tags.first[:count]) %>px 0"><%= tag[:name] %></span></a></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <%= content_for(:mamufas) do %>
    <div class="mamufas">

      <div class="create_window">
        <a href="#close_window" class="close_create"></a>
        <div class="inner_">
          <span class="loading">
            <h5>We are creating your table...</h5>
            <p>It's not gonna be a lot of time. Just a few seconds, ok?</p>
          </span>
          <form action="#import_file" id="import_file" enctype="multipart/form-data" method="post">
            <span class="top">
              <h4>Do you want to import some data to the new table?</h4>
              <p>You will also be available to do it later.</p>
              <ul>
                <li class="selected"><a href="#">I want to create an empty table</a></li>
                <li>
                  <a href="#">I want to start importing some data...</a>
                  <span class="file">
                    <div class="select_file">
                      <a href="#select_file">Select files...</a>
                      <p>You can import .csv and .xls files</p>
                      <input type="file" value="select your file" name="file"/>
                    </div>
                    <div class="progress">
                      <p>Uploading your file...</p>
                      <span class="progress"></span>
                    </div>
                  </span>
                  <span class="georeference">
                    <h4>Do you want to georeference your data now?</h4>
                    <ul>
                      <li class="selected">
                        <a href="#nope">No</a>
                        <p>I'll do it later</p>
                      </li>
                      <li>
                        <a href="#lets_geocode">Yes, I want to geocode it</a>
                        <p>I have a column that needs to be georeferenced</p>
                        <!-- <div class="select_box">
                          <h5>Option 1</h5>
                          <ul>
                            <li><a href="#">Option 1</a></li>
                            <li><a href="#">Option 2</a></li>
                            <li><a href="#">Option 3</a></li>
                            <li><a href="#">Option 4</a></li>
                          </ul>
                        </div> -->
                      </li>
                      <li>
                        <a href="#yes_lets_join">Yes, I want to join it with another dataset</a>
                        <p>I want to join it with a country data, region, etc...</p>
                      </li>
                    </ul>
                  </span>
                </li>
              </ul>
            </span>
            <span class="bottom">
              <a href="#" class="cancel">cancel</a>
              <input id="create_table" type="submit" name="submit" value="Create table"/>
            </span>
          </form>
        </div>
      </div>
    </div>
  <% end %>
