  <%= content_for(:js) do %>
    <%= headjs_include_tag "plugins/jquery.min", "plugins/general_functions", "plugins/tumblr", "plugins/file_uploader", "admin/tables/dashboard", "plugins/jquery.color", "admin/tables/import"  %>
  <% end %>
  <%= content_for(:head) do %>
    <%= stylesheet_link_tag('reset.css','admin/layout','admin/tables/dashboard') %>
  <% end %>

  <%= render 'admin/shared/subheader' %>

  <section id="content">
    <div class="inner_content">

      <div class="notification section">
        <div class="top_white"></div>
        <div class="middle_white">
          <a class="close" href="#close_notification">close</a>
          <p>Your table has been removed</p>
        </div>
        <div class="bottom_white"></div>
      </div>

      <div class="requests_info section">
        <div class="top_white"></div>
        <div class="middle_white">
          <a class="close" href="#close_stats">close</a>
          <h2>Welcome to CartoDB!</h2>
          <p>As a beta tester we really appreciate your feedback. Get in touch via <%= link_to "email", "mailto:wadus@cartodb.com"%> &amp; <%= link_to "twitter", "http://twitter.com/cartodb" %>, or read our <%= link_to "blog", "http://blog.cartodb.com/"%>  for the latest info. Have fun!</p>
          <span class="block">
            <label>1</label>
            <h3>Create your first table</h3>
            <p>You can import data or start from scratch. <a href="#create_table" class="new_table">Create a table</a></p>
          </span>
          <span class="block">
            <label>2</label>
            <h3>Read the documentation</h3>
            <p>Take a look at the <a href="<%= APP_CONFIG[:developers_host] %>">developers area</a> to make the most of CartoDB</p>
          </span>
          <span class="block last">
            <label>3</label>
            <h3>Give us your feedback</h3>
            <p>Please <a href="mailto:wadus@cartodb.com">send us</a> your questions or requests!</p>
          </span>
        </div>
        <div class="bottom_white"></div>
      </div>

      <div class="tables_list">
        <div class="left">
          <div class="top_blue_medium">
            <h3><strong><%= pluralize(current_user.tables_count, 'table', 'tables') %></strong> in your account</h3>
          </div>
          <div class="middle_white_medium">
            <% if @tables.current_page_record_count == 0 %>
              <div class="no_tables">
                <h5>Hey! You don't have any tables</h5>
                <p>Why don't you start by <a href="#create_table" class="new_table">creating a new table</a>?</p>
              </div>
            <% else %>
              <ul class="your_tables">
                <% @tables.each_with_index do |table, i| %>
                <li<%= ' class="last"'.html_safe if i == @tables.current_page_record_count - 1%>>
                  <div class="meta_info">
                    <span class="info">
                      <h4><%= link_to(table.name, table, :class=>'tableTitle')  %> </h4>
                      <p class="status <%= table_privacy_text(table).downcase %>"><%= table_privacy_text(table) %></p>
                      <p class="delete"> | <a table-name="<%= table.name %>" href="#" class="delete">delete table</a></p>
                      <p class="columns"><strong><%= pluralize(table.rows_counted,'row','rows') rescue '' %> / <%= table.schema.size rescue '' %> columns:</strong>
                      <%= table.schema.map{ |e| e.first }[1...4].join(', ') %>...</p>
                    </span>
                    <span class="tags">
                      <% unless table.updated_at.blank? %>
                      <p class="last_op"><%= time_ago_in_words(table.updated_at) %> ago</p>
                      <% end %>
                      <% unless table.tags.blank? %>
                        <% table.tags.split(',').each do |tag_name| %>
                        <a href="#"><%= tag_name %></a>
                        <% end %>
                      <% end %>
                    </span>
                  </div>
                </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="bottom_white_medium"></div>
          <%= paginate(@tables) %>
        </div>
        <div class="right">

          <div class="banner">
            <div class="top_white_short"></div>
            <div class="middle_white_short">
              <h3>Wondering where to start?</h3>
              <p>Upload your data to a new table</p>
              <a href="#create_table" class="new_table">Create a new table</a>
            </div>
            <div class="bottom_white_short"></div>
          </div>


          <h4>BROWSE BY TAGS</h4>
          <% if @tags.empty? %>
            <span class="no_tags">
              <p>You have not added any tags yet.</p>
              <p>Tags are useful for organizing and filtering your tables.</p>
              <p>To add tags to your tables, open them and enter them under the name.</p>
            </span>
          <% else %>
            <ul>
              <% @tags.each do |tag| %>
                <li><a href="#"><span style="background-position:<%= tag_width(tag[:count], @tags.last[:count], @tags.first[:count]) %>px 0"><%= tag[:name] %></span></a></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </section>


  <%= content_for(:mamufas) do %>
    <div class="mamufas">

      <div class="create_window">
        <a href="#close_window" class="close_create"></a>
        <div class="inner_">
          <span class="loading">
            <h5>We are creating your table...</h5>
            <p>It shouldn't take long, just a few more seconds ok?</p>
          </span>
          <form action="#import_file" id="import_file" enctype="multipart/form-data" method="post">
            <span class="top">
              <h4>Do you want to import some data to the new table now?</h4>
              <p>You will also be able to do it later.</p>
              <ul>
                <li class="selected">
                  <a href="#">I want to create an empty table</a>
                  <div class="geom_type">
                    <span class="selected"><a href="#point">Point</a></span>
                    <span><a href="#line">Line</a></span>
                    <span><a href="#polygon">Polygon</a></span>
                  </div>
                </li>
                <li>
                  <a href="#">I want to start with some imported data</a>
                  <span class="file">
                    <div class="select_file">
                      <div id="uploader"></div>
                      <p>You can import .csv, .xls or .zip files</p>
                    </div>
                    <div class="progress">
                      <p>Uploading your file...</p>
                      <span class="progress"></span>
                    </div>
                  </span>
                </li>
              </ul>
            </span>
            <span class="bottom">
              <a href="#" class="cancel">cancel</a>
              <input id="create_table" type="submit" name="submit" value="Create table"/>
            </span>
          </form>
        </div>
      </div>

      <div class="delete_window">
        <a href="#close_window" class="close_delete"></a>
        <div class="inner_">
          <span class="top">
            <h3>You are about to delete this table</h3>
            <p>You will not be able to recover this information. We really recommend you <a href="#">export the data</a> before deleting it.</p>
          </span>
          <span class="bottom">
            <a href="#close_window" class="cancel">cancel</a>
            <a href="#confirm_delete" class="confirm_delete">Delete this table</a>
          </span>
        </div>
      </div>
    </div>
  <% end %>