  <% content_for(:page_title) do %>
    <%= @table.name %> |
  <% end %>

  <% content_for(:css) do %>
    <%= include_stylesheets :common, :media => 'all' %>
  <% end %>

  <script>
    var table_name = '<%= @table.name %>'
      , table_id = '<%= @table.id %>'
      , user_name = '<%= current_user.username %>';
  </script>

  <% content_for(:js) do %>
    <%= include_javascripts :common, :cdbjs, :table %>
  <% end %>



  <div class="globalerror"></div>
  <div class="panes">
  </div>
