  <% content_for(:page_title) do %>
    <%= @table.name %> |
  <% end %>

  <% content_for(:css) do %>
    <%= include_stylesheets :common, :media => 'all' %>
  <% end %>

  <script>
      var table_name = '<%= @table.name %>';
      var table_id = '<%= @table.id %>';
  </script>

  <% content_for(:js) do %>
    <%= include_javascripts :common, :cdbjs, :table %>
  <% end %>


  <div class="panes">
  </div>

  <section class="table_panel">
    <div class="sidebar">
      <nav class="tools">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
      </nav>
      <nav class="edit">
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
      </nav>
    </div>
    <div class="views">
      <div class="sql">
        sql
      </div>
    </div>
  </section>