  <% content_for(:js) do %>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>


    <%= headjs_include_tag(
      # PLUGINS
      "plugins/jquery.min",
      "plugins/jquery-ui.min",
      "plugins/jquery.mousewheel",
      "plugins/jscrollpane.min",
      "plugins/jquery.color",
      "plugins/codemirror/codemirror.js",
      "plugins/codemirror/plsql.js",
      "plugins/codemirror/css.js",
      "plugins/ZeroClipboard.js",
      "plugins/underscore",
      "plugins/mustache",
      "plugins/tag-it",
      "plugins/file_uploader",
      "plugins/jquery.cookie",
      "plugins/jquery.favicon",
      "plugins/rgbcolor",
      "plugins/jquery.history.min",
      "plugins/jquery.caret.1.02",
      # VIEW
      "admin/show/view/loader_queue_messages",
      "admin/show/view/loader_queue",
      "admin/show/view/geocoding",
      "admin/show/view/view_templates",
      "admin/show/view/view",
      # TABLE
      "admin/show/table/carto_table",
      "admin/show/table/table_templates",
      # MAP
      "admin/show/map/wax.g",
      "admin/show/map/map_templates",
      "admin/show/map/map_widgets",
      "admin/show/map/color_ramps",
      "admin/show/map/carto_map",
      "admin/show/map/map",
      # APP
      "admin/show/view/GOD",
      "admin/show/helpers",
      "admin/show/app"
    )%>

    <script type="text/javascript">
      var table_id = <%= @table.id %>
      	, status = "<%= table_privacy_text(@table).downcase %>"
      	, table_name = "<%= @table.name %>"
      	, user_id = "<%= current_user.id %>"
      	, user_name = "<%= current_user.username %>"
      	, map_enabled = <%= current_user.map_enabled.to_s %>
      	, privacy_enabled = <%= current_user.private_tables_enabled.to_s %>
      	, map_key = "<%= current_user.get_map_key %>";
      <% if flash[:alert] %>
        var error_message = '<%= flash[:alert] %>';
      <% end %>
    </script>
  <% end %>

  <% content_for(:page_title) do %>
    <%= @table.name %> -
  <% end %>


  <% content_for(:head) do %>
    <%= stylesheet_link_tag('reset.css','admin/table/view','admin/table/table', 'admin/table/map' ) %>
  <% end %>

  <section class="subheader">
    <div class="outer">
      <div class="inner_subheader">
        <div class="left">
          <span class="query">
            <h3></h3>
            <p></p>
          </span>
          <span class="normal">
            <h2><a href="#change_title"><%= @table.name %></a></h2>
            <p class="status">
              <a class="<%= table_privacy_text(@table).downcase %>" href="#change_privacy"><%= table_privacy_text(@table) %></a>
            </p>
            <span class="tags">
              <% unless @table[:tags_names].blank? %>
                <% tagsSize=@table[:tags_names].split(',').size %>
                <% @table[:tags_names].split(',').each_with_index do |tag_name,index| %>
                <% if index==tagsSize-1 %>
                  <p class="last"><%= tag_name %></p>
                <% else %>
                  <p><%= tag_name %></p>
                <% end %>
                <% end %>
              <% end %>
              <a href="#" class="add">edit tags</a>
            </span>
          </span>
          <ul class="tab_menu">
            <li class="selected"><a href="#view_table">Table</a></li>
            <li class="<%= ((!current_user.map_enabled)? 'disabled' : '') %>"><a href="#view_map">Map</a></li>
            <li>
              <% if true %>
                <a href="#share_this_map" class="share <%= 'disabled' if @table.private? %>">SHARE THIS MAP</a>
                <span class="share_tooltip">
                  <p>Make your <a href="#make_public">table public</a> for sharing the map</p>
                </span>
              <% else %>
                <a href="#share_this_map" class="share">SHARE THIS MAP</a>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="right">
          <p class="settings">
            <a class="delete" table-id="<%= @table.id %>" href="#delete_table">delete table</a> | <a class="open_georeference" href="#show_georeference_window">georeference</a> | <a class="settings selected" href="#show_advanced_options">advanced</a>
          </p>
          <span class="paginate">
            <a id="nextButton"class="next" href="#next_column">Next column</a>
            <a id="previousButton" class="previous" href="#prev_column">Previous column</a>
          </span>
        </div>
      </div>
    </div>
  </section>

  <div class="table_position">
    <table border="0" id="carto_table" cellspacing="0"></table>
  </div>
  <div class="map_window"></div>


  <%= content_for(:mamufas) do %>
    <div class="mamufas"></div>
  <% end %>



