  <% content_for(:page_title) do %>
    <%= @table.name %> |
  <% end %>

  <% content_for(:css) do %>
    <%= include_stylesheets :common, :media => 'all' %>
  <% end %>

  <script>
      var table_name = '<%= @table.name %>';
      var table_id = '<%= @table.id %>';
  </script>

  <% content_for(:js) do %>
    <%= include_javascripts :common, :cdbjs, :table %>
  <% end %>


  <div class="panes">
  </div>
