<div class="MapCard">
  <a href="<%- url %>" class="MapCard-header js-header"></a>
  <div class="MapCard-content">
    <div class="MapCard-contentBody">
      <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
        <h3 class="MapCard-title DefaultTitle CDB-Text is-semibold CDB-Size-large u-ellipsLongText">
          <a class="DefaultTitle-link" title="<%- title %>" href="<%- url %>"><%- title %></a>
        </h3>
      </div>
      <div class="MapCard-contentBodyRow MapCard-contentBodyRow--flex">
        <div class="MapCard-desc js-item-description">
          <div class="DefaultDescription" title="asdfasdf">
            <p><%- description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="MapCard-contentFooter CDB-Size-medium u-altTextColor">
      <div class="MapCard-contentFooterDetails--left">
        <div class="MapCard-contentFooterTimeDiff DefaultTimeDiff">
          <i class="CDB-IconFont CDB-IconFont-clock DefaultTimeDiff-icon"></i>
          <%- timeDiff %>
        </div>
      </div>
    </div>
  </div>
</div>
