<div class="MergeDatasets">
  <div class="MergeDatasets-list">
    <div class="List List--selections">
      <div class="List-row">
        <div class="List-rowItem List-rowItem--tight js-left-table"></div>
      </div>
      <div class="List-row is-disabled">
        <div class="List-rowItem">
          <div class="List-rowItemContentLeft">
            <div class="RadioButton">
              <button class="RadioButton-input is-checked is-disabled" />
            </div>
            <div>
              <div class="DefaultTitle"><%- leftKeyColumn.get('name') %></div>
              <p class="DefaultParagraph DefaultParagraph--tertiary"><%- leftKeyColumn.get('type') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="js-left-columns"></div>
  </div>

  <div class="MergeDatasets-ornaments">
    <div class="MergeDatasets-ornamentsTop js-ornaments" style="<%= hasSelectedRightTable ? '': 'display: none;' %>"></div>
    <div class="MergeDatasets-ornamentsBottom js-ornaments-bottom" style="display: none;">
      <p class="MergeDatasets-ornamentsBottomText DefaultParagraph DefaultParagraph--tertiary js-ornaments-text"></p>
    </div>
  </div>

  <div class="MergeDatasets-list">
    <% if (hasSelectedRightTable) { %>
      <div class="List List--selections">
        <div class="List-row">
          <div class="List-rowItem List-rowItem--tight js-right-table"></div>
        </div>
        <div class="List-row is-disabled">
          <div class="List-rowItem">
            <div class="List-rowItemContentLeft">
              <div class="RadioButton">
                <button class="RadioButton-input is-checked" />
              </div>
              <div>
                <div class="DefaultTitle"><%- rightKeyColumn.get('name') %></div>
                <p class="DefaultParagraph DefaultParagraph--tertiary"><%- rightKeyColumn.get('type') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } else { %>
      <div class="List">
        <div class="List-row">
          <div class="List-rowItem List-rowItem--tight js-right-tables"></div>
        </div>
      </div>
    <% } %>

    <% if (hasSelectedRightTable) { %>
      <div class="js-right-columns"></div>
      <div class="List js-count-merge-method-info" style="display: none;">
        <div class="List-row MergeDatasets-desc">
          <i class="MergeDatasets-countDescIcon"></i>
          <div class="MergeDatasets-countDesc">
            <p class="DefaultParagraph">This will count the number of features in your dataset intersecting the geometries in a second dataset.</p>
          </div>
        </div>
      </div>
      <div class="List MergeDatasets-list MergeDatasets-fixedAboveFooter">
        <div class="List-row">
          <div class="List-rowItem List-rowItem--withoutSideMargins TabsPanel js-merge-methods"></div>
        </div>
      </div>
    <% } %>
  </div>
</div>
