<div class="MergeDatasets">
  <div class="MergeDatasets-list">
    <div class="List">
      <div class="List-row">
        <select disabled="disabled">
          <option><%- leftTableName %></option>
        </select>
      </div>
      <div class="List-row">
        <div class="List-rowItem">
          <div class="RadioButton">
            <button class="RadioButton-input is-checked" />
          </div>
          <div>
            <div class="DefaultTitle"><%- leftKeyColumn.get('name') %></div>
            <p class="DefaultParagraph DefaultParagraph--tertiary"><%- leftKeyColumn.get('type') %></p>
          </div>
        </div>
        <div></div>
      </div>
    </div>

    <div class="List js-left-columns"></div>

    <% /* temporary fix until the list styles are done, so select-all-toggle is visible… */ %>
    <br/><br/><br/><br/><br/>
  </div>

  <div class="MergeDatasets-list">
    <div class="List">
      <% if (rightTableName) { %>
        <div class="List-row">
          <select disabled="disabled">
            <option><%- rightTableName %></option>
          </select>
        </div>
        <div class="List-row">
          <div class="List-rowItem">
            <div class="RadioButton">
              <button class="RadioButton-input is-checked" />
            </div>
            <div>
              <div class="DefaultTitle"><%- rightKeyColumn.get('name') %></div>
              <p class="DefaultParagraph DefaultParagraph--tertiary"><%- rightKeyColumn.get('type') %></p>
            </div>
          </div>
          <div></div>
        </div>
      <% } else { %>
        <div class="List-row">
          <select class="js-right-tables">
            <option>select dataset</option>
          </select>
        </div>
      <% } %>
    </div>

    <% if (rightTableName) { %>
      <div class="List js-right-columns"></div>
      <div class="js-calc-options"></div>
    <% } %>
  </div>
</div>
