<% unless (current_user.feature_flags.include? 'new_dashboard') && params[:controller] == 'admin/visualizations' %>
<footer>
  <div class="inner">
    <nav class="left">
      <%= link_to "Feature tour", "http://cartodb.com/tour" %>
      <%= link_to "Getting started", "#{Cartodb.config[:developers_host]}/tutorials.html" %>
      <%= link_to "Documentation", Cartodb.config[:developers_host] %>
      <%= link_to "Support", "http://cartodb.com/docs/#support" %>
      <%= link_to "Contact", "mailto:contact@cartodb.com" %>
    </nav>
    <p class="right">CartoDB is a product of <%= link_to "Vizzuality", "http://vizzuality.com", :target => "blank" %></p>
  </div>
</footer>
<% end %>
