<% unless (current_user.feature_flags.include? 'new_dashboard') && params[:controller] == 'admin/visualizations' %>
<header>
  <div class="inner">
    <h1 class="left"><%= link_to "CartoDB", CartoDB.path(self, 'dashboard', {trailing_slash: true}) %></h1>
    <ul class="right">
      <li><%= link_to 'tables', CartoDB.path(self, 'tables_index'), :class => :tables %></a></li>
      <li><%= link_to 'visualizations', CartoDB.path(self, 'visualizations_index'), :class => :visualizations %></a></li>
      <% if ::CommonData.new.is_enabled? %>
        <li><%= link_to 'common data', CartoDB.path(self, 'dashboard_common_data'), :class => selected_if(current_path.include? 'common_data') %></a></li>
      <% end %>
      <li><%= link_to 'documentation', Cartodb.config[:developers_host] %></a></li>
      <li>
        <a class="dropdown account separator" href="<%= current_user.account_url(request.protocol) %>"><%= current_user.username %><span>|</span></a>
      </li>
    </ul>
  </div>
</header>
<%= yield :account_settings %>
<% end %>
