<div class="IntermediateInfo">
  <div class="LayoutIcon">
    <i class="iconFont iconFont-Map"></i>
  </div>
  <% if @total_count > 0 %>
    <h3 class="IntermediateInfo-title"><%= @name %> doesn't have any items on this page</h3>
    <p class="DefaultParagraph">Try the <%= link_to 'first page', @first_page_url %> instead</p>
  <% else  %>
    <h3 class="IntermediateInfo-title"><%= @name %> doesn't have any public <%= @content_type === 'maps' ? 'maps' : 'datasets' %> yet</h3>
    <p class="DefaultParagraph">But maybe they have some very interesting <%= link_to @content_type === 'maps' ? 'datasets' : 'maps', alt_url %></p>
  <% end %>
</div>
