<div class="Filters is-relative">
  <div class="u-inner">
    <div class="Filters-inner">
      <span class="Filters-separator"></span>
      <div class="Filters-row">
        <div class="Filters-type">
          <ul class="Filters-list">
            <li class="Filters-typeItem"><a href="<%= profile_user_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/users_profile" %>">Profile</a></li>
            <li class="Filters-typeItem"><a href="<%= account_user_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/users_account" %>">Account</a></li>
            <li class="Filters-typeItem"><a href="<%= api_key_credentials_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/client_applications_api_key" %>">Your API keys</a></li>
            <li class="Filters-typeItem"><a href="<%= oauth_credentials_url(user_domain: params[:user_domain]) %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/client_applications_oauth" %>">Your OAuth credentials</a></li>
            <% if (!Cartodb.config[:cartodb_com_hosted].present? && (!current_user.organization.present? || current_user.organization_owner?))  %>
              <li class="Filters-typeItem"><a href="<%= plan_url %>" class="Filters-typeLink">Your plan</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>