<div class="Filters is-relative js-org-subheader Filters__margin-fix">
  <div class="Filters-inner">
    <span class="Filters-separator"></span>
    <div class="Filters-row">
      <ul class="Filters-group CDB-Text CDB-Size-medium">
        <% if current_user.organization_owner? %>
          <li class="Filters-typeItem">
            <a href="<%= current_user_url('organization_settings') %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/organizations_settings" %>">
              Organization profile
            </a>
          </li>
          <li class="Filters-typeItem">
            <a href="<%= current_user_url('organization_auth') %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/organizations_auth" %>">
              Auth settings
            </a>
          </li>
        <% end %>
        <li class="Filters-typeItem">
          <a href="<%= current_user_url('organization_users') %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/organizations_show" %>">
            <%= current_user.organization.users.count %>/<%= current_user.organization.total_seats %> users
          </a>
        </li>
        <li class="Filters-typeItem">
          <a href="<%= current_user_url('organization_groups') %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/organizations_groups" %>">
            Groups
          </a>
        </li>
        <li class="Filters-typeItem">
          <a href="<%= current_user_url('organization_notifications_admin') %>" class="Filters-typeLink <%= 'is-selected' if "#{params[:controller]}_#{params[:action]}" == "admin/organizations_notifications" || "#{params[:controller]}_#{params[:action]}" == "admin/organizations_new_notification" %>">
            Notifications
          </a>
        </li>
        <% if show_billing  %>
          <li class="Filters-typeItem">
            <a href="<%= current_user.plan_url(request.protocol) %>" class="Filters-typeLink">Billing</a>
          </li>
        <% end %>
        <%= render :partial => 'admin/shared/org_subheader_extension' %>
      </ul>
    </div>
  </div>
</div>
