<div class="Header" id="header">
  <div class="u-inner Header-inner">
    <div class="Header-navigation">
      <ul class="Header-navigationList">
        <li class="js-logo">
          <a href="<%= CartoDB.url(self, 'root') %>">
            <span class="Logo Logo--avatar">
              <i class="CDB-IconFont CDB-IconFont-cartoFante"></i>
            </span>
          </a>
        </li>
        <li>
          <ul class="Header-navigationBreadcrumb">
            <% if current_user.has_organization? %>
              <li class="Header-navigationBreadcrumbItem"><p class="Header-navigationBreadcrumbParagraph"><%= current_user.organization.name %></p> /</li>
            <% end %>
            <li class="Header-navigationBreadcrumbItem">
              <% if params[:controller] != "admin/visualizations" %>
                <p class="Header-navigationBreadcrumbParagraph"><%= link_to current_user.name_or_username, CartoDB.url(self, 'dashboard', {}, current_user), :class => "Header-navigationBreadcrumbLink" %></p> /
              <% else %>
                <p class="Header-navigationBreadcrumbParagraph"><%= current_user.name_or_username %></p> /
              <% end %>
            </li>
            <li class="Header-navigationBreadcrumbItem js-breadcrumb-dropdown"></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="Header-settings">
      <ul class="Header-settingsList">
        <% unless cartodb_com_hosted? %>
        <li class="Header-settingsItem">
          <a target="_blank" href="https://cartodb.com/gallery/" class="Header-settingsLink Header-settingsLink--dashboard">Gallery</a>
        </li>
        <li class="Header-settingsItem">
          <a target="_blank" href="http://docs.cartodb.com/" class="Header-settingsLink Header-settingsLink--dashboard">Documentation</a>
        </li>
        <li class="Header-settingsItem Header-settingsItemNotifications js-user-notifications">
          <a href="#/notifications" class="UserNotifications">
            <i class="UserNotifications-Icon CDB-IconFont CDB-IconFont-Alert"></i>
          </a>
        </li>
        <% end %>
        <li class="Header-settingsItem Header-settingsItem--avatar">
          <button class="UserAvatar js-settings-dropdown">
            <img src="<%= current_user.avatar %>" class='UserAvatar-img UserAvatar-img--medium' />
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
