<% light = false if !light.present? %>

<footer id="Footer" class="Footer <%= 'Footer--light' if light %> Footer--public u-pr">
  <div class="u-inner">
    <div class="Footer-inner Footer-inner--public">
      <div class="Grid">
        <ul class="Grid-inner Footer-columns Grid-inner--nopadding">
          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title">CartoDB</dt>
              <dd><a class="Footer-link" href="https://cartodb.com/platform/">Platform</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/editor/">Editor</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/extras/">Extras</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/enterprise/">Enterprise</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/on-premises/">On-premises</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/open-in-cartodb/">Open in CartoDB</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/gallery/">Gallery</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/basemaps/">Basemaps</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/pricing/">Pricing</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title">Industries</dt>
                <dd><a class="Footer-link" href="https://cartodb.com/industries/banking-and-finance/">Banking and Finance</a></dd>
                <dd><a class="Footer-link" href="https://cartodb.com/industries/business-intelligence-and-analytics/">BI and Analytics</a></dd>
                <dd><a class="Footer-link" href="https://cartodb.com/industries/earth-observation-and-space/">Earth Observation and Space</a></dd>
                <dd><a class="Footer-link" href="https://cartodb.com/industries/education-and-research/">Education and Research</a></dd>
                <dd><a class="Footer-link" href="https://cartodb.com/industries/government/">Government</a></dd>
                <dd><a class="Footer-link" href="https://cartodb.com/industries/journalism/">Journalism and New Media</a></dd>
                <dd><a class="Footer-link" href="https://cartodb.com/industries/natural-resources/">Natural Resources</a></dd>
                <dd><a class="Footer-link" href="https://cartodb.com/industries/non-profits/">Non-profits</a></dd>
                <dd><a class="Footer-link" href="https://cartodb.com/industries/real-estate/">Real Estate</a></dd>
                <dd><a class="Footer-link" href="https://cartodb.com/industries/web-mobile/">Web and Mobile Development</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title">Solutions</dt>
              <dd><a class="Footer-link" href="https://cartodb.com/solutions/cartodb-on-google-platform/">On Google Platform</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/solutions/twitter-maps/">Make Twitter Maps</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/use-cases/map-excel-data/">Map Excel Data</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/use-cases/situation-room/">Create Dashboards</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/use-cases/election-maps/">Map Elections</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/use-cases/build-store-locator/">Build a Store Locator</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/gis-online-software/">Make Online GIS Maps</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/solutions/satellite-aerial-image/">Satellite Imagery</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/solutions/dropbox/">CartoDB for Dropbox</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/solutions/mailchimp/">Mailchimp maps</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/solutions/google-drive/">CartoDB for GDrive</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/solutions/arcgis/">CartoDB for ArcGIS&trade;</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title">Learn</dt>
              <dd><a class="Footer-link" href="https://cartodb.com/docs/">Documentation</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/webinars/">Webinars</a></dd>
              <dd><a class="Footer-link" href="http://docs.cartodb.com/tutorials.html">Tutorials</a></dd>
              <dd><a class="Footer-link" href="http://academy.cartodb.com/">The Map Academy</a></dd>
              <dd><a class="Footer-link" href="https://github.com/CartoDB/cartodb/">View source</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title">Help</dt>
              <dd><a class="Footer-link js-ContactLink" href="mailto:sales@cartodb.com">Contact Sales</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/request-live-demo/">Request a demo</a></dd>
            </dl>
          </li>

          <li class="Grid-cell Grid-cell--col2 Grid-cell--col4--tablet Grid-cell--col6--mobile Footer-column">
            <dl>
              <dt class="Footer-title">About us</dt>
              <dd><a class="Footer-link" href="https://cartodb.com/team/">Team</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/jobs/">Jobs</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/media/">Media</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/press/">Press</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/partners/">Partners</a></dd>
              <dd><a class="Footer-link" href="https://cartodb.com/attributions/">Attributions</a></dd>
              <dd><a class="Footer-link" href="http://blog.cartodb.com/">Blog</a></dd>
            </dl>
          </li>
        </ul>
      </div>

      <div class="Footer-colophon">
        <div class="Grid">
          <ul class="Grid-inner Grid-inner--vcenter Grid-inner--nopadding">
            <li class="Grid-cell Grid-cell--col5 Grid-cell--col12--mobile u-tspace-l">
              <a href="http://cartodb.com" class="Footer-brand u-iblock">
                <span class="Logo Logo--avatar Logo--footer">
                  <i class="iconFont iconFont-CartoFante"></i>
                </span>
              </a>
              <p class="Footer-credits u-iblock u-txt-left"><span>CartoDB™ 2015</span><br /><a href="https://cartodb.com/love/" class="Footer-link">Love</a> · <a href="https://cartodb.com/terms/" class="Footer-link">Terms of service</a> · <a href="https://cartodb.com/privacy/" class="Footer-link">Privacy policy</a></p>
            </li>

            <li id="newsletter" class="Grid-cell Grid-cell--col7 Grid-cell--col12--mobile Grid">
              <div class="Grid-inner Grid-inner--vcenter">
                <% hubspot_form = Cartodb.config[:metrics].present? && Cartodb.config[:metrics]['hubspot'].present? && Cartodb.config[:metrics]['hubspot']['token'].present? && Cartodb.config[:metrics]['hubspot']['form_id'].present? %>

                <ul class="Grid-cell <%= hubspot_form ? "Grid-cell--col6" : "Grid-cell--col12" %> Grid-cell--col12--mobile u-tspace-l u-ilist Social-links">
                  <li class="Social-item"><a class="Social-link" href="https://twitter.com/cartodb"><i class="iconFont iconFont-Twitter Navmenu-icon Navmenu-icon--twitter"></i></a></li>
                  <li class="Social-item"><a class="Social-link" href="https://www.facebook.com/CartoDB"><i class="iconFont iconFont-FacebookSquare Navmenu-icon"></i></a></li>
                  <li class="Social-item"><a class="Social-link" href="https://www.linkedin.com/company/cartodb"><i class="iconFont iconFont-Linkedin Navmenu-icon"></i></a></li>
                </ul>

                <% if hubspot_form %>
                  <div class="Grid-cell Grid-cell--col6 Grid-cell--col12--mobile u-tspace-l">
                    <div class="Newsletter">
                      <script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
                      <script>
                        hbspt.forms.create({
                          portalId: "<%= Cartodb.config[:metrics]['hubspot']['token'] %>",
                          formId: "<%= Cartodb.config[:metrics]['hubspot']['form_id'] %>",
                          submitButtonClass: 'hs-newsletter',
                          css: '<%= render "admin/shared/hubspot_css" %>'
                       });
                      </script>
                    </div>
                  </div>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
