<div class="Header <%= header_class ||= '' %>" id="header">
  <div class="u-inner Header-inner">
    <div class="Header-navigation">
      <ul class="Header-navigationList">
        <%# TODO: Apply js styleguide "js-Logo" %>
        <li class="Header-navigationItem js-logo">
          <a href="<%= cartodb_com_hosted? ? CartoDB.url(self, 'root') : "http://cartodb.com" %>">
            <span class="Logo Logo--avatar">
              <i class="iconFont iconFont-CartoFante Logo-icon <%= logo_icon_class ||= '' %>"></i>
            </span>
          </a>
        </li>

        <% if cartodb_com_hosted? %>
          <li class="Header-navigationItem u-hideOnMobile">
            <a href="<%= CartoDB.url(self, 'root') %>" class="Header-navigationLink">CartoDB</a>
          </li>
        <% else %>
          <li class="Header-navigationItem js-user-tour u-hideOnMobile">
            <a href="http://cartodb.com" class="Header-navigationLink js-dropdown-target">Tour <i class="Header-darrow iconFont iconFont-ArrowMenu"></i></a>
          </li>

          <li class="Header-navigationItem js-user-industries u-hideOnMobile">
            <a href="#/industries" class="Header-navigationLink js-dropdown-target">Industries <i class="Header-darrow iconFont iconFont-ArrowMenu"></i></a>
          </li>

          <li class="Header-navigationItem u-hideOnMobile">
            <a href="http://cartodb.com/gallery/" class="Header-navigationLink">Gallery</a>
          </li>

          <li class="Header-navigationItem u-hideOnMobile">
            <a href="http://cartodb.com/pricing/" class="Header-navigationLink">Pricing</a>
          </li>

          <li class="Header-navigationItem js-user-resources u-hideOnMobile">
            <a href="#/resources" class="Header-navigationLink js-dropdown-target">Resources <i class="Header-darrow iconFont iconFont-ArrowMenu"></i></a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="Header-navigation">
      <ul class="Header-navigationList js-user-settings">
        <li class="Header-navigationItem js-login">
          <a href="<%= CartoDB.url(self, 'login') %>" class="Header-navigationLink">Login</a>
        </li>

        <% unless cartodb_com_hosted? %>
          <li class="Header-navigationItem">
            <a href="http://cartodb.com/signup" class="Button Button--headerPositive">
              <span>Sign up</span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
