<section class="subheader">
  <div class="inner_subheader">
    <div class="left">
      <ul class="tables_list">
        <li class="<%= selected_if(current_path == dashboard_path) %>"><a class="oth <%= selected_if(current_path == dashboard_path) %>" href="<%= dashboard_path %>">Your tables</a></li>
        <!--<li class="<%= selected_if(current_path == "") %>"><a class="oth <%= selected_if(current_path == "") %>" href="<%= "" %>">Public tables</a></li>-->
        <li class="<%= selected_if(controller_name == "client_applications") %>"><a class="oth <%= selected_if(controller_name == "client_applications") %>" href="<%= oauth_credentials_path %>">Your api keys</a></li>
      </ul>
    </div>
    <% if CartoDB.account_host %>
    <div class="right">
      <p class="settings"><%= link_to 'settings', account_url, :class=>"settings" %></p>
    </div>
    <% end %>
  </div>
</section>