<header class="table">
  <div class="inner">
    <div class="left">
      <hgroup>
        <h1><%= link_to "CartoDB", root_path %></h1>
        <h2 class="special"><%= link_to "", "#change_title", :class => "change_title" %></h2>
        <a class="clearview button_header rounded_white" href="#clearview">clear view</a>
        <a href="#change_status" class="status button_header rounded_white">.</a>
      </hgroup>
      <span class="table_description"><p></p></span>
      <span class="tags"></span>
      <nav>
        <%= link_to "table",        "#table",   :class => "smaller strong uppercase tab selected" %>
        <%= link_to "map view",     "#map",     :class => "smaller strong uppercase tab" %>
      </nav>
    </div>
    <ul class="right options">
      <li><%= link_to "georeference", "#georeference", :class => "georeference" %></li>
      <li><%= link_to "options", "#options", :class => "dropdown options" %></li>
      <li><%= link_to current_user.username, "#" + current_user.username, :class => "dropdown account" %></li>
    </ul>
  </div>
  <div class="globalerror"></div>
</header>

