<header class="table">
  <div class="inner">
    <div class="left">
      <hgroup>
        <%= link_to "Back", root_path, :class => "back" %>
        <span class="vis_type">T</span>
        <h1><%= link_to "", "#change_title", :class => "change_title" %></h1>
        <a href="#clearview" class="clearview button_header rounded white">clear view</a>
        <a href="#change_status" class="status button_header rounded white"></a>
        <span class="tags"></span>
      </hgroup>
      <span class="table_description"><p></p></span>
      <nav>
        <%= link_to "Table",    "#/table", :class => "smaller strong tab selected" %>
        <%= link_to "Map view", "#/map",   :class => "smaller strong tab" %>
      </nav>
    </div>
    <ul class="right options">
      <li><%= link_to "options", "#options", :class => "dropdown options" %></li>
      <li><%= link_to current_user.username, "#" + current_user.username, :class => "dropdown account" %></li>
      <li><%= link_to "visualize", "#/map", :class => "rounded green share" %></li>
    </ul>
    <div class="shadow"></div>
  </div>
  <div class="globalerror"></div>
</header>

