<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Protected map — CARTO</title>
    <%= stylesheet_link_tag 'password_protected.css' %>
  </head>

  <body class='Session-body Session-background--navyBlue'>
    <div class='Session-centerContainer'>
      <div class='Session-container'>

        <div class='Session-header'>
          <div class="Session-logo">
            <a href="<%= cartodb_com_hosted? ? CartoDB.url(self, 'root') : "https://carto.com" %>">
              <img src="<%= image_path "layout/carto-logo.svg" %>" alt="CARTO">
            </a>
          </div>
        </div>

        <p class='CDB-Text CDB-Size-large is-light u-whiteTextColor u-bSpace--xl'>This map is protected with password</p>

        <div class='Session-form'>
          <%= form_tag "embed_protected?#{request.query_string}", method: :post do %>

            <div class='Session-input-withTooltip'>
              <%= password_field_tag 'password', params[:password], class: "Session-form--inputText RoundBorders-all CDB-Text CDB-Size-medium is-light u-whiteTextColor #{ flash[:error].present? ? 'is-alert' : ''}", placeholder: 'Insert your password'%>

              <%- if flash[:error].present? %>
                <div class="Session-inputTooltip CDB-InfoTooltip CDB-InfoTooltip--left is-error">
                  <p class='CDB-Text CDB-Size-medium CDB-InfoTooltip-text'><%= flash[:error] %></p>
                </div>
              <% end %>
            </div>

          <% end %>
        </div>

        <p class='CDB-Text CDB-Size-medium is-light u-hintTextColor u-tSpace-xl'>Contact with the owner in case you want access to it.</p>
      </div>
    </div>

    <div class='Session-footer'>
      <p class='u-bSpace--xl'>
        <a href='https://carto.com' class='CDB-Text CDB-Size-medium is-light u-hintTextColor'>Go to CARTO.com</a>
      </p>
    </div>
  </body>
</html>
