<ul class="NotificationsList">
  <li class="NotificationsList-item NotificationsList-header">
    <i class="NotificationsList-icon Notifications-iconCount <%- unreadItems > 0 ? 'new--items' : '' %>"><%- items.length %></i>
    <h5 class="NotificationsList-title">notification<%- items.length === 1 ? '' : 's' %></h5>
  </li>
  <% if (items.length > 0) { %>
    <% _.each(items, function(item){ %>
      <% if (!item.opened) { %>
        <li class="NotificationsList-item is--new">
          <i class="NotificationsList-icon iconFont iconFont-<%- item.type %>"></i>
          <p class="NotificationsList-text is--new"><%= cdb.core.sanitize.html(item.msg) %></p>
        </li>
      <% } %>
    <% }) %>

    <% _.each(items, function(item){ %>
      <% if (item.opened) { %>
        <li class="NotificationsList-item">
          <i class="NotificationsList-icon iconFont iconFont-<%- item.type %>"></i>
          <p class="NotificationsList-text"><%= cdb.core.sanitize.html(item.msg) %></p>
        </li>
      <% } %>
    <% }) %>

  <% } else { %>
    <li class="NotificationsList-item">
      <p class="NotificationsList-text">There are no notifications :)</p>
    </li>
  <% } %>
</ul>
