<ul class="NotificationsList ">
  <% if (items.length > 0) { %>
    <% _.each(items, function(item){ %>
      <% if (!item.opened) { %>
        <li class="u-flex NotificationsList-item is-new CDB-Text CDB-Size-medium">
          <i class="u-hintTextColor u-flex u-alignCenter u-justifyCenter NotificationsList-icon CDB-IconFont <%- item.iconFont %> <%- item.severity %>"></i>
          <p class="NotificationsList-text u-altTextColor"><%= cdb.core.sanitize.html(item.msg) %></p>
        </li>
      <% } %>
    <% }) %>

    <% _.each(items, function(item){ %>
      <% if (item.opened) { %>
        <li class="u-flex NotificationsList-item CDB-Text CDB-Size-medium">
          <i class="u-hintTextColor  u-flex u-alignCenter u-justifyCenter NotificationsList-icon CDB-IconFont <%- item.iconFont %>"></i>
          <p class="NotificationsList-text u-altTextColor"><%= cdb.core.sanitize.html(item.msg) %></p>
        </li>
      <% } %>
    <% }) %>

  <% } else { %>
    <li class="u-flex u-alignCenter NotificationsList-item CDB-Text CDB-Size-medium">
      <p class="NotificationsList-text u-altTextColor">There are no notifications :)</p>
    </li>
  <% } %>
</ul>
