<div class="pane-quota geocoding-quota">
  <div class="message">
    <% if (estimation_rows !== undefined && estimation_cost !== undefined) { %>
      <% if (estimation_cost === 0 || hard_limit) { %>

        <% if (estimation_rows === 0) { %>
          <p>No rows will be geocoded. Drop your 'cartodb_georef_status' column or mark as NULL the records you want to geocode.</p>
        <% } else { %>
          <p>This geocoding task will not cost anything<% if (hard_limit) { %>, but it will only geocode as many locations as your available credits permit.<% } else { %>.<% } %></p>
        <% } %>

      <% } else if (estimation_cost > 0) { %>
        <p>According to your plan this geocoding operation will <em>cost you a max of $<%= Math.ceil(estimation_cost/100) %></em>.</p>
      <% } else { %>
        <p>Unfortunately there was a problem getting the estimation cost of this geocoding task.</p>
      <% } %>
    <% } else { %>
      <span class="loading">Checking possible estimation cost</span>
    <% } %>
  </div>
  <div class="pane-progress geocoding-progress">
    <p class="small">
      <% if ((quota - monthly_use) > 0) { %>
        <%= cdb.Utils.formatNumber(quota - monthly_use) %> credits left
      <% } else { %>
        0 credits left
      <% } %>
      <i class="icon help" title="
        <% if ((quota - monthly_use) > 0) { %>
          <% if (!hard_limit) { %>
            After available credits, each <%= block_size %> new geocodings will cost $<%= block_price/100 %>.
          <% } else { %>
            The task will only geocode as max rows as your available credits.
          <% } %>
        <% } else { %>
          <% if (!hard_limit) { %>
            You have no more geocoding credits left, you will be charged $<%= block_price/100 %>/<%= cdb.Utils.formatNumber(block_size) %> geocodings from now on this billing period.
          <% } %>
        <% } %>
      ">?</i>
    </p>

    <div class="progress-bar">
      <% var type = '', per = 0 %>
      <% if (quota === null || quota === 0 || monthly_use === null) { per = 100 } else { per = ( monthly_use * 100 ) / quota } %>
      <% if (per > 75) { type = per > 90 ? 'danger' : 'caution' } %>
      <span class="bar-2 <%= type %>" style="width:<%= per %>%"></span>
    </div>
  </div>
</div>

<div class="geocoding-pane-content margin30">
  <div class="geocoding-pane-content-wrapper">
    <div class="geocoding-pane-step first">
      <div class="geocoding-pane-title">
        <h4>Select the column(s) that has your street address</h4>
      </div>
      <div class="geocoding-pane-options">
        <ul>
          <li>
            <label class="geocoding-pane-label">Which column are your street addresses stored in?</label>
            <div class="geocoding-pane-select address"></div>
          </li>
          <div class="geocoding-additional-columns">
            <a href="#/add-column" class="add_column" title="For multi-part addresses add additional columns that will be merged with spaces">ADD AN ADDITIONAL COLUMN/TEXT</a>
          </div>
          <li>
            <label class="geocoding-pane-label">State/province where address is located, if known</label>
            <div class="geocoding-pane-select state"></div>
          </li>
          <li>
            <label class="geocoding-pane-label">Country where street address is located, if known</label>
            <div class="geocoding-pane-select country"></div>
          </li>
        </ul>
      </div>
      <div class="infobox"></div>
    </div>
  </div>
</div>

<div class="geocoding-pane-foot">

  <% if (typeof agreement !== "undefined") { %>
    <div class="geocoding-pane-terms">
      <a href="#/accept" class="checkbox <%= agreement ? 'enabled' : ''%>" id="geocoding-address-terms">
        <span class="check"></span>
      </a>
      <label for="geocoding-address-terms">Accept the possible cost of this task according to our <a href="http://cartodb.com/terms" target="_blank">terms and conditions</a></label>
    </div>
  <% } %>

  <a class="ok button grey disabled" href="#/continue">Continue</a>
</div>
