<%= form_for @user, url: (@user.new? ? superadmin_users_path : superadmin_user_path(@user)) do |form| %>
  <%= form.hidden_field :table_quota %>
  <%= form.hidden_field :private_tables_enabled %>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, :class => @user.errors[:username].present? ? 'error' : nil %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :class => @user.errors[:email].present? ? 'error' : nil %>
  </div>
  <div class="field">
    <%= label_tag 'user[password]', 'Password' %>
    <%= password_field_tag 'user[password]', nil, :class => @user.errors[:password].present? ? 'error' : nil %>
  </div>
  <div class="field">
    <label>Quota in bytes</label>
    <%= form.text_field :quota_in_bytes, :class => @user.errors[:quota_in_bytes].present? ? 'error' : nil %>
  </div>
  <%= form.submit nil, :class => "green button new small" %>
<% end %>
