<%= render 'header', page_title: 'Manage your account' %>

<h3>Everyone in your account</h3>
<%= render partial: 'shared/flash_message' %>

<ul>
<% User.all.each do |u| %>
  <li>
    <strong><%= link_to u.username, edit_superadmin_user_path(u) %></strong>
    <%= "OWNER" if u.admin %>
    <%= number_to_human_size(u.db_size_in_bytes) %> / 
    <%= number_to_human_size(u.quota_in_bytes) %>
    </li>
<% end %>
</ul>

<p><%= link_to "Create new account", new_superadmin_user_path %></p>

<%= content_from_plugins_for(:user_admin) %>
