
  <%= content_for(:head) do %>
    <%= stylesheet_link_tag('reset.css','admin/layout','admin/tables/dashboard', 'superadmin/layout') %>
  <% end %>
  
  <%= render :partial => 'admin/tables/subheader' %>

  <section id="content">
    <div class="inner_content">

      <% [:success, :error].each do |key| %>
        <% if flash[key] %>
          <div class="flash <%= key %>"><%= flash[key] %></div>
        <% end %>
      <% end %>

      <div class="tables_list">
        <div class="left">
          <div class="top_blue_medium">
            <h3><strong>CartoDB</strong> users</h3>
            <%= link_to 'Add new user', new_superadmin_user_path, :class=>"new_table" %>
          </div>
          <div class="middle_white_medium">
              <ul class="your_tables users">
                <% @users.each_with_index do |user,i| %>
                  <li class="<%= (@users.size-1==i)?"last":""%>">
                    <h4><%= link_to "#{user.username}", superadmin_user_path(user) %></h4>
                    <p class="status <%= (user.enabled)?'public':'private' %>"><%= user.enabled ? 'Enabled' : 'Disabled' %> user</p>
                    <p class="info"><%= user.email %></p>
                  </li>
                <% end %>
              </ul>
          </div>
          <div class="bottom_white_medium"></div>
        </div>
        <div class="right">
          <%= render :partial => 'right_part' %>
        </div>
      </div>
    </div>
  </section>

