<%= content_for(:head) do %>
  <%= stylesheet_link_tag('reset.css','admin/layout','admin/tables/dashboard', 'superadmin/layout') %>
<% end %>

<%= render :partial => 'admin/shared/subheader' %>

<section id="content">
  <div class="inner_content">
    <div class="tables_list">
      <div class="left">
        <div class="top_blue_medium">
          <h3><strong>Create a new user</strong></h3>
        </div>
        <div class="middle_white_medium">
          <%= render 'form' %>
        </div>
        <div class="bottom_white_medium"></div>
      </div>
      <div class="right">
        <%= render :partial => 'right_part' %>
      </div>
    </div>
  </div>
</section>