<% content_for :js do %>
  <%= headjs_include_tag "plugins/jquery.min", "rails" %>
<% end %>

<%= content_for(:head) do %>
  <%= stylesheet_link_tag('reset.css','admin/layout','admin/tables/dashboard', 'superadmin/layout') %>
<% end %>

<%= render :partial => 'admin/shared/subheader' %>

<section id="content">
  <div class="inner_content">
    <div class="tables_list">
      <div class="left">
        <div class="top_blue_medium">
          <h3><strong><%= @user.username %></strong></h3>
          <%= link_to 'Edit user data', edit_superadmin_user_path, :class=>"new_table" %>
        </div>
        <div class="middle_white_medium">
          <span>Id: <%= @user.id %></span><br />
          <span>Username: <%= @user.username %></span><br />
          <span>E-mail: <%= @user.email %></span><br />
          <span>Database name: <%= @user.database_name %></span><br />
          <span>Tables count: <%= @user.tables_count %></span><br />
          <% if @user.admin %>
          <span>Has administrator role</span><br />
          <% end %>
          <span><%= @user.enabled ? 'Enabled' : 'Disabled' %> user</span>
          <span><%= @user.map_enabled ? 'Map tab enabled' : 'Map tab disabled' %></span>
          <%= link_to 'Remove user', superadmin_user_path(@user), :confirm => 'Are you sure?', :method => :delete, :class=>"remove" %>
        </div>
        <div class="bottom_white_medium"></div>
      </div>
      <div class="right">
         <%= render :partial => 'right_part' %>
      </div>
    </div>
  </div>
</section>




