<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title><%= yield :page_title %>CartoDB</title>
    <link id="favicon" rel="shortcut icon" href="<%= asset_path "favicon.ico" %>" />
    <%= yield :css %>
    <%= yield :js %>
    <%= csrf_meta_tag %>
    <%= render 'shared/analytics' %>
    <noscript><meta http-equiv="refresh" content="0;url=/no_javascript.html"></noscript>
  </head>
  <body>
    <% if ( controller_name != "tables" || action_name != "show" ) %>
      <%= render 'admin/shared/header' %>
    <% else %>
      <%= render 'admin/shared/table_header' %>
    <% end %>
    <%= yield %>
    <% if controller_name != "tables" || action_name != "show" %>
      <%= render 'admin/shared/footer' %>
    <% end %>
  </body>
</html>
