<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title><%= yield :page_title %>CartoDB</title>
    <link id="favicon" rel="shortcut icon" href="/favicons/favicon.ico" />
    <%= yield :css %>
    <!--[if gt IE 8]><%= stylesheet_link_tag :fonts_ie %><![endif]-->
    <%= yield :js %>
    <%= csrf_meta_tag %>
    <%= insert_google_analytics('primary') %>
    <noscript><meta http-equiv="refresh" content="0;url=/no_javascript.html"></noscript>
  </head>
  <body>
    <%= render 'admin/shared/public_vis_header' %>
    <%= yield %>
    <%= render 'admin/shared/footer' %>
  </body>
</html>
