<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title><%= yield :page_title -%>CARTO</title>
    <%= favicon_link_tag "favicons/favicon.ico" %>
    <%= stylesheet_link_tag 'common_new.css', :media => 'all' %>
    <%= yield :css -%>
    <%= csrf_meta_tag -%>
    <%= insert_google_tag_manager('primary') %>
  </head>
  <body>
    <%= insert_google_tag_manager_no_script('primary') %>
    <% if ( ( controller_name != "visualizations" && controller_name != "tables" )  || action_name != "show" ) %>

      <% unless ( controller_name == 'users') %>
        <%= render 'admin/shared/new_private_header' %>
      <% end %>

    <% else %>
      <%= render 'admin/shared/vis_header' %>
    <% end %>

    <%= yield %>
    <% if ( ( controller_name == "visualizations" || controller_name == "tables" ) && action_name == "show" ) %>
      <%= render 'shared/olark' -%>
    <% end %>

    <%= insert_trackjs() -%>
    <%= yield :js -%>

    <% unless ( controller_name == 'users' ) %>
      <%= javascript_include_tag 'header', 'footer' %>
    <% end %>

    <%= render 'admin/shared/intercom' %>
  </body>
</html>
