<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <%= favicon_link_tag "/favicons/favicon.ico" %>
    <title><%= yield :title %> | CARTO</title>
    <%= stylesheet_link_tag 'password_protected.css' %>
    <!--[if gte IE 9]>
    <style type="text/css">
      .gradient { filter: none; }
    </style>
    <![endif]-->
  </head>
  <body class="protected">
    <div class="bkg"></div>
    <div class="block modal creation">
      <div class="head">
        <h3>This map is protected by password</h3>
      </div>

      <div class="content">
        <%= yield :pass %>
      </div>

      <div class="foot">Contact with the owner in case you want access to it.</div>
    </div>

    <%= javascript_include_tag 'cdb.js' %>

    <% if (flash[:error]) %>
      <%= javascript_include_tag "tipsy.js" %>
      <script type="text/javascript">
        $(function() {
          $("span.icon.error").tipsy({ gravity: "s", fade: true });
        });
      </script>
    <% end %>

    <%= insert_trackjs('embeds') %>
    <%= insert_google_analytics('embeds', true) %>
    <%= insert_hubspot() %>
  </body>
</html>
