<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag "/favicons/favicon.ico" %>
    <title><%= yield :title %></title>
    <meta name="description" content="<%= yield :description %>">
    <meta name="keywords" content="<%= @visualization.name.gsub(/ /,", ").gsub(/_/,", ") %>, datasets, maps, data visualization, spatial data, geospatial, cartodb">
    <meta name="author" content="<%= @visualization.user.username %>">
    <meta charset='utf-8' />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="<%= yield :title %>" />
    <meta property="og:description" content="<%= yield :description %>" />
    <meta property="og:type" content="visualization" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_path "layout/cartofante_blue.png" %>" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cartodb">
    <meta name="twitter:creator" content="<%= @twitter_username.nil? ? "@cartodb" : @twitter_username %>">
    <meta name="twitter:title" content="<%= yield :title %>">
    <meta name="twitter:description" content="<%= yield :description %>">
    <meta name="twitter:image" content="<%= yield :twitter_card %>">
    <meta name="twitter:url" content="<%= request.original_url %>" />

    <%= yield :css %>

    <!--[if lt IE 9]>
      <%= javascript_include_tag 'modernizr' %>
    <![endif]-->
  </head>
  <body class="<%= yield :body_class %>">
    <%= yield :content %>
    <%= yield :js %>
  </body>
</html>
