<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag "/favicons/favicon.ico" %>
    <title><%= yield :page_title %></title>
    <meta name="description" content="<%= yield :description %>">
    <meta name="keywords" content="<%= @table.name.gsub(/ /,", ").gsub(/_/,", ") %>, datasets, maps, data visualization, spatial data, geospatial, cartodb">
    <meta name="author" content="<%= @table.owner.username %>">
    <meta charset='utf-8' />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="<%= yield :title %>" />
    <meta property="og:description" content="<%= yield :description %>" />
    <meta property="og:type" content="visualization" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= yield :twitter_card %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cartodb">
    <meta name="twitter:creator" content="<%= @twitter_username.nil? ? "@cartodb" : "@#{@twitter_username}" %>">
    <meta name="twitter:title" content="<%= yield :page_title %>">
    <meta name="twitter:description" content="<%= yield :description %>">
    <meta name="twitter:image" content="<%= yield :twitter_card %>">

    <%= yield :css %>
    <!--[if gt IE 8]><%= stylesheet_link_tag 'fonts_ie.css' %><![endif]-->
    <%= csrf_meta_tag %>

    <!--[if lt IE 9]>
      <%= javascript_include_tag 'modernizr' %>
    <![endif]-->
  </head>
  <body class="public">
    <%= render 'admin/shared/old_public_header', :clone => true, :signin => false %>
    <%= yield %>
    <%= yield :js %>
    <%= insert_trackjs() %>
    <%= insert_google_analytics('primary') %>
  </body>
</html>
