<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title><%= yield :page_title %>CartoDB</title>
    <link id="favicon" rel="shortcut icon" href="/img/favicon.ico" />
    <%= yield :css %>
    <%= yield :js %>
    <%= csrf_meta_tag %>
    <noscript><meta http-equiv="refresh" content="0;url=/no_javascript.html"></noscript>
    <%= render 'shared/analytics' %>
  </head>
  <body>
    <%= render 'admin/shared/header' %>
    <%= yield %>
    <%= render 'admin/shared/footer', :visible => true %>
    <%#= yield :mamufas %>
  </body>
</html>
