<!DOCTYPE html>
<html lang="en">
  <head>
    <link id="favicon" rel="shortcut icon" href="/favicons/favicon.ico" />
    <title><%= yield :title %></title>
    <meta name="description" content="<%= yield :description %>">
    <meta name="keywords" content="<%= @name %>, datasets, maps, visualizations, CartoDB">
    <meta name="author" content="<%= @name %>">
    <meta charset='utf-8' />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="Maps by <%= @name %> on CartoDB" />
    <meta property="og:description" content="<%= @name %> is creating maps and visualizations using CartoDB" /> 
    <meta property="og:type" content="Visualizations list"/>
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= @avatar_url %>">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cartodb">
    <meta name="twitter:creator" content="@cartodb">
    <meta name="twitter:title" content="Maps by <%= @name %> on CartoDB">
    <meta name="twitter:description" content="<%= @name %> is creating maps and visualizations using CartoDB.">
    <meta name="twitter:image" content="<%= @avatar_url %>">
    <meta name="twitter:url" content="<%= request.original_url %>" />

    <%= stylesheet_link_tag "cartodb.css", "public_dashboard" %>

    <!--[if gt IE 8]><%= stylesheet_link_tag "fonts_ie" %><![endif]-->
    <%= csrf_meta_tag %>

    <!--[if lt IE 9]>
      <%= javascript_include_tag 'modernizr' %>
    <![endif]-->
  </head>
  <body>
    <%= render 'admin/shared/public_header', :clone => false, :signin => true %>
    <%= yield %>
    <%= render 'admin/shared/public_footer' %>
    <%= yield :js %>
    <%= insert_google_analytics('primary', [{title: "Public Pages", value: action_name == "datasets" ? "Other" : "Home", num: 3}] ) %>
  </body>
</html>
