<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title><%= yield :page_title -%>CartoDB</title>
    <%= favicon_link_tag "/favicons/favicon.ico" -%>
    <%= stylesheet_link_tag 'cartodb.css', 'common.css', :media => 'all' %>
    <%= yield :css -%>
    <%= csrf_meta_tag -%>
  </head>
  <body>
    <% if ( ( controller_name != "visualizations" && controller_name != "tables" )  || action_name != "show" ) %>
      <%= render 'admin/shared/private_header' %>

      <div class="FlashMessage">
        <div class="u-inner">
          <p class="FlashMessage-info">Tonight you are invited to a special CartoDB secret party! Join us in the backyard of <a href='http://www.crownvicbar.com/'>Crown Victoria</a> at 11PM to celebrate OSM!</p>
        </div>
      </div>
      <% if current_user.notification.present? %>
        <div class="FlashMessage">
          <div class="u-inner">
            <p class="FlashMessage-info"><%= current_user.notification %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= render 'admin/shared/vis_header' %>
    <% end %>

    <%= yield %>
    <% if ( ( controller_name == "visualizations" || controller_name == "tables" ) && action_name == "show" ) %>
      <%= render 'shared/olark' -%>
    <% end %>

    <%= insert_trackjs() -%>
    <!-- TODO: remove mixpanel -->
    <%= render 'shared/mixpanel' -%>
    <%= yield :js -%>
    <%= insert_google_analytics('primary') -%>
    <%= render 'shared/hubspot' -%>
  </body>
</html>
