<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title><%= yield :page_title -%>CartoDB</title>
    <%= favicon_link_tag "/favicons/favicon.ico" -%>
    <%= stylesheet_link_tag 'cartodb.css', 'common.css', :media => 'all' %>
    <%= yield :css -%>
    <%= csrf_meta_tag -%>
  </head>
  <body>
    <% if ( ( controller_name != "visualizations" && controller_name != "tables" )  || action_name != "show" ) %>
      <%= render 'admin/shared/private_header' %>

      <% if current_user.notification.present? %>
        <div class="FlashMessage">
          <div class="u-inner">
            <p class="FlashMessage-info"><%= raw current_user.notification %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= render 'admin/shared/vis_header' %>
    <% end %>

    <%= yield %>
    <% if ( ( controller_name == "visualizations" || controller_name == "tables" ) && action_name == "show" ) %>
      <%= render 'shared/olark' -%>
    <% end %>

    <%= insert_trackjs() -%>
    <%= yield :js -%>
    <%= insert_google_analytics('primary') -%>
    <%= insert_hubspot() -%>
  </body>
</html>
