<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title><%= yield :page_title %>CartoDB</title>
    <%= favicon_link_tag "/favicons/favicon.ico" %>
    <%= yield :css %>
    <!--[if gt IE 8]><%= stylesheet_link_tag 'fonts_ie.css' %><![endif]-->
    <%= insert_rollbar() %>
    <%= insert_google_analytics('primary') %>
    <%= render 'shared/mixpanel' %>
    <%= yield :js %>
    <%= csrf_meta_tag %>
    <noscript><meta http-equiv="refresh" content="0;url=/no_javascript.html"></noscript>
  </head>
  <body>
    <% if ( ( controller_name != "visualizations" && controller_name != "tables" )  || action_name != "show" ) %>
      <%= render 'admin/shared/header' %>
    <% else %>
      <%= render 'admin/shared/vis_header' %>
    <% end %>
    <%= yield %>
    <% if ( ( controller_name != "visualizations" && controller_name != "tables" ) || action_name != "show" ) %>
      <%= render 'admin/shared/footer' %>
    <% end %>
  </body>
</html>
