<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title>Maps by <%= @username %> on CartoDB</title>
    <link id="favicon" rel="shortcut icon" href="/favicons/favicon.ico" />

    <meta name="description" content="<%= @username %> is creating maps and visualizations using CartoDB">
    <meta name="keywords" content="<%= @username %>, maps, visualizations, CartoDB">
    <meta name="author" content="<%= @username %>">
    <meta property="og:title" content="Maps by <%= @username %> on CartoDB" />
    <meta property="og:description" content="<%= @username %> is creating maps and visualizations using CartoDB" /> 
    <meta property="og:type" content="Visualizations list"/>
    <meta property="og:url" content="<%= request.fullpath %>" />

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <%= yield :css %>
    <!--[if gt IE 8]><%= stylesheet_link_tag :fonts_ie %><![endif]-->
    <%= insert_rollbar() %>
    <%= insert_google_analytics('primary') %>
    <%= yield :js %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render 'admin/shared/public_header' %>
    <%= yield %>
    <%= render 'admin/shared/public_footer' %>
  </body>
</html>

