<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title>CartoDB - Documentation</title>
    <link rel="shortcut icon" href="/favicon/favicon_32x32.ico" />
    <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/admin/others/layout_dev.css" media="screen" rel="stylesheet" type="text/css" />
    <% if env['PATH_INFO'] == '/' || env['PATH_INFO'].blank? %>
      <link href="/stylesheets/admin/others/developers.css" media="screen" rel="stylesheet" type="text/css" />
    <% else %>
      <link href="/stylesheets/admin/others/developing.css" media="screen" rel="stylesheet" type="text/css" />
    <% end %>
    <script src="/javascripts/plugins/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/plugins/jquery-syntax/public/jquery.syntax.min.js" type="text/javascript" charset="utf-8"></script>
    <% if env['PATH_INFO'] != '/' || !env['PATH_INFO'].blank? %>
      <script src="/javascripts/admin/api/doc.js" type="text/javascript" charset="utf-8"></script>
    <% end %>
    <% if Rails.env.production? %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20934186-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
<% end %>
  </head>
  <body>
    <div class="header">
      <a class="logo" href="<%= CartoDB.hostname %>">CartoDB</a>
      <ul>
        <li><a href="<%= APP_CONFIG[:developers_host] %>">Developers</a></li>
        <li><a href="http://cartodb.tumblr.com" target="_blank">Blog</a></li>
        <li class="last">
          <% if env['warden'].authenticated?(request.subdomain) %>
            <a href="<%= CartoDB.hostname %>/dashboard"><%= env['warden'].user.email %></a>
            <span><a href="<%= CartoDB.hostname %>/logout">(close session)</a></span>
          <% else %>
            <a href="<%= CartoDB.hostname %>/login">Login</a>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="section outer_content">
      <div class="mesh1"></div>
      <div class="mesh2"></div>
      <div class="content">
        <% if env['PATH_INFO'] != '/' %>
        <div class="top">
          <ul class="tables_list">
            <li class="selected"><a class="oth" href="/">Documentation</a></li>
            <li><a class="oth" href="/galleries/">Gallery</a></li>
          </ul>
          <a class="get_key" href="<%= CartoDB.hostname %>/your_apps/oauth">GET YOUR API KEY</a>
        </div>
        <% end %>
        {{yield}}
      </div>
    </div>

    <div class="footer">
      <div class="prefooter">
        <%=  File.read(CartoDB::LAST_BLOG_POSTS_FILE_PATH) if File.file?(CartoDB::LAST_BLOG_POSTS_FILE_PATH) %>
      </div>
      <div class="outer_footer">
        <div class="section_footer">
          <a class="logo" href="<%= CartoDB.hostname %>">CartoDB</a>
          <div class="long">
            <p class="rights">All rights reserved 2012. <a href="#" target="_blank">Contact us</a> / <a href="#" target="_blank">Give us your feedback</a> / <a href="#" target="_blank">Read the TOS</a></p>
            <span class="poweredby">
            <p class="vizzuality">A product by </p><a href="http://www.vizzuality.com" target="_blank">Vizzuality</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        jQuery(function($) {
            $.syntax();
        });
    </script>
  </body>
</html>
