<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8 />
    <title>CartoDB - Documentation</title>
    <link rel="shortcut icon" href="/favicon/favicon_32x32.ico" />
    <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/admin/layout.css" media="screen" rel="stylesheet" type="text/css" />
    <% if env['PATH_INFO'] == '/' || env['PATH_INFO'].blank? %>
      <link href="/stylesheets/admin/others/developers.css" media="screen" rel="stylesheet" type="text/css" />
    <% else %>
      <link href="/stylesheets/admin/others/developing.css" media="screen" rel="stylesheet" type="text/css" />
    <% end %>
    <script src="/javascripts/plugins/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/plugins/jquery-syntax/public/jquery.syntax.min.js" type="text/javascript" charset="utf-8"></script>
    <% if env['PATH_INFO'] != '/' || !env['PATH_INFO'].blank? %>
      <script src="/javascripts/admin/api/doc.js" type="text/javascript" charset="utf-8"></script>
    <% end %>
    <% if Rails.env.production? %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20934186-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
<% end %>
  </head>
  <body>
    <header>
      <a class="logo" href="<%= APP_CONFIG[:app_host] %>">CartoDB</a>
      <ul>
        <li><a href="<%= APP_CONFIG[:developers_host] %>">Developers</a></li>
        <li><a href="http://cartodb.tumblr.com" target="_blank">Blog</a></li>
        <li class="last">
          <% if env['warden'].authenticated? %>
            <a href="<%= APP_CONFIG[:app_host] %>/dashboard"><%= env['warden'].user.email %></a>
            <span><a href="<%= APP_CONFIG[:app_host] %>/logout">(close session)</a></span>
          <% else %>
            <a href="<%= APP_CONFIG[:app_host] %>/login">Login</a>
          <% end %>
        </li>
      </ul>
    </header>
    <section class="outer_content">
      <div class="mesh1"></div>
      <div class="mesh2"></div>
      <div class="content">
        <% if env['PATH_INFO'] != '/' %>
        <div class="top">
          <ul class="tables_list">
            <li class="selected"><a class="oth" href="/"><span>Documentation</span></a></li>
            <li><a class="oth" href="/galleries/"><span>Gallery</span></a></li>
          </ul>
          <a class="get_key" href="<%= APP_CONFIG[:app_host] %>/your_apps/oauth">GET YOUR API KEY</a>
        </div>
        <% end %>
        {{yield}}
      </div>
    </section>

    <footer>
      <section class="prefooter">
        <%=  File.read(CartoDB::LAST_BLOG_POSTS_FILE_PATH) if File.file?(CartoDB::LAST_BLOG_POSTS_FILE_PATH) %>
      </section>
      <div class="outer_footer">
        <section class="footer">
          <a class="logo" href="<%= APP_CONFIG[:app_host] %>">CartoDB</a>
          <div class="long">
            <p class="rights">All rights reserved 2011. <a href="#" target="_blank">Contact us</a> / <a href="#" target="_blank">Give us your feedback</a> / <a href="#" target="_blank">Read the TOS</a></p>
            <span class="poweredby">
            <p class="vizzuality">A product by </p><a href="http://www.vizzuality.com" target="_blank">Vizzuality</a>
            </span>
          </div>
        </section>
      </div>
    </footer>
    <script type="text/javascript">
        jQuery(function($) {
            $.syntax();
        });
    </script>
  </body>
</html>