<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>CARTO | Login</title>
    <%= favicon_link_tag "/favicons/favicon.ico" %>
    <%= stylesheet_link_tag 'old_common.css', 'front.css', :media => 'all' %>
    <%= insert_google_tag_manager('primary') %>
  </head>
  <body class="sessions">
    <%= insert_google_tag_manager_no_script('primary') %>
    <%= yield %>
    <%= insert_trackjs() %>
    <%= yield :js %>
    <%= insert_google_analytics('primary', true) %>
  </body>
</html>
