<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <%= render 'admin/shared/public_head' %>

  <body class="PublicBody">
    <%= render partial: 'admin/shared/public_header', locals: { header_class: 'Header--tall Header--dark', logo_icon_class: 'Logo-icon--dark' } %>

    <%= render 'admin/shared/public_footer' %>

    <%= javascript_include_tag 'cdb.js', 'public_data_dashboard_deps', 'public_data_dashboard' %>
    <%= yield :js %>

    <%= insert_trackjs() -%>
    <%= insert_google_analytics('primary') -%>
    <%= insert_hubspot() -%>
    <%# TODO: remove mixpanel -%>
    <%= render 'shared/mixpanel' -%>
  </body>
</html>
