<%= content_for(:title) do %>
  Protected embed
<% end %>

<%= content_for(:pass) do %>
  <%= form_tag(CartoDB.url(self, 'protected_embed_map', {:protocol => Rails.env.development? ? 'http' : 'https'}) + '?' + request.query_string, {:method=>'POST',:authenticity_token=>false}) do %>
    <input type="password" name="password" placeholder="Insert your password" <% if (flash[:placeholder]) %>value="<%= flash[:placeholder] %>"<% end %> />
    <span class="icon"></span>
    <% if (flash[:error]) %>
      <span class="icon error" original-title="The password is not ok"></span>
    <% end %>
  <% end %>
<% end %>

<%= content_for(:ua) do %>
  embeds
<% end %>