<% content_for(:page_title) do -%>
  <%= current_user.username -%> |
<% end -%>
<%= content_for(:js) do -%>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'templates.js', 'application.js', 'dashboard.js' -%>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var user_data = <%= safe_js_object current_user.data.to_json %>;
    var config = <%= safe_js_object frontend_config %>;
    var upgrade_url = "<%= current_user.upgrade_url(request.protocol) %>";
    var dashboard_first_time = <%= @first_time %>;
    var just_logged_in = <%= @just_logged_in ? 'true' : 'false' %>;
    var mixpanel_token = "<%= Cartodb.config[:mixpanel]['token'] if Cartodb.config[:mixpanel].present? %>";
  </script>
<% end %>

<%= content_for(:css) do -%>
  <%= stylesheet_link_tag 'common.css', 'dashboard.css', :media => 'all' %>
<% end %>


<%= render 'admin/shared/subheader' %>

<div class="bar_loader"></div>

<div class="main_loader">
  <i></i>
</div>

<%= render 'admin/visualizations/index/tables' %>

<div class="drag_mamufas">
  <span class="file"></span>
  <p class="bigger strong">Drop your file onto the browser window to create a new table</p>
  <div class="mask"></div>
</div>

<div class="bars"></div>
<article class="support"></article>