<% content_for(:page_title) do -%>
  <%= current_user.username -%> |
<% end -%>
<%= content_for(:js) do -%>
  <% if current_user.new_dashboard_enabled %>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'templates.js', 'application.js', 'new_dashboard.js' -%>
  <% else %>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'templates.js', 'application.js', 'dashboard.js' -%>
  <% end %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>"
    , user_data = <%=raw current_user.data.to_json.html_safe %>
    , config = <%=raw frontend_config.html_safe %>
    , upgrade_url = "<%= upgrade_url %>"
    , dashboard_first_time = <%= @first_time %>
    , just_logged_in = <%= @just_logged_in ? 'true' : 'false' %>
    , mixpanel_token = "<%= Cartodb.config[:mixpanel]['token'] if Cartodb.config[:mixpanel].present? %>";
  </script>
<% end %>

<%= content_for(:css) do -%>
  <% if current_user.new_dashboard_enabled %>
    <%= stylesheet_link_tag 'common.css', 'new_dashboard.css', :media => 'all' %>
  <% else %>
    <%= stylesheet_link_tag 'common.css', 'dashboard.css', :media => 'all' %>
  <% end %>
<% end %>

<% unless current_user.new_dashboard_enabled %>
  <%= render 'admin/shared/subheader' %>

  <div class="bar_loader"></div>

  <div class="main_loader">
    <i></i>
  </div>

  <%= render 'admin/visualizations/index/tables' %>

  <div class="drag_mamufas">
    <span class="file"></span>
    <p class="bigger strong">Drop your file onto the browser window to create a new table</p>
    <div class="mask"></div>
  </div>

  <div class="bars"></div>
  <article class="support"></article>
<% else %>
  <div class="DashboardFilters">
    <div class="DashboardFilters-inner">

      <ul class="FilterList FilterList--vertically-centered">
        <li class="is-selected">
          <a href="#"><strong>13</strong> Maps</a>
          <div class="shadow"></div>
        </li>
        <li>
          <a href="#"><strong>7</strong> Liked maps</a>
          <div class="shadow"></div>
        </li>
      </ul>


      <div class="DashboardFilters-order">
        <span class="iconFont iconFont-check">
        </span>
        <ul>
          <li class="is-selected">
            <a href="#time" class=""></a>
          </li>
          <li>
            <a href="#views"></a>
          </li>
          <li>
            <a href="#likes"></a>
          </li>
        </ul>

      </div>

      <a href="#new-map" class="Button Button--green">
        <span>New Map</span>
      </a>

    </div>
  </div>
<% end %>
