<% content_for(:page_title) do -%>
  <%= current_user.username -%> |
<% end -%>
<%= content_for(:js) do -%>
  <% if current_user.new_dashboard_enabled %>
    <%= javascript_include_tag 'cdb.js', 'models.js', 'templates.js', 'application.js', 'new_dashboard.js' -%>
  <% else %>
    <%= javascript_include_tag 'cdb.js', 'models.js', 'templates.js', 'application.js', 'dashboard.js' -%>
  <% end %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var user_data = <%=raw current_user.data.to_json.html_safe %>;
    var config = <%=raw frontend_config.html_safe %>;
    var upgrade_url = "<%= upgrade_url %>";
    var dashboard_first_time = <%= @first_time %>;
    var just_logged_in = <%= @just_logged_in ? 'true' : 'false' %>;
    var mixpanel_token = "<%= Cartodb.config[:mixpanel]['token'] if Cartodb.config[:mixpanel].present? %>";
  </script>
<% end %>

<%= content_for(:css) do -%>
  <% if current_user.new_dashboard_enabled %>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'common.css', 'new_dashboard.css', :media => 'all' %>
  <% else %>
    <%= stylesheet_link_tag 'common.css', 'dashboard.css', :media => 'all' %>
  <% end %>
<% end %>

<% unless current_user.new_dashboard_enabled %>
  <%= render 'admin/shared/subheader' %>

  <div class="bar_loader"></div>

  <div class="main_loader">
    <i></i>
  </div>

  <%= render 'admin/visualizations/index/tables' %>

  <div class="drag_mamufas">
    <span class="file"></span>
    <p class="bigger strong">Drop your file onto the browser window to create a new table</p>
    <div class="mask"></div>
  </div>

  <div class="bars"></div>
  <article class="support"></article>
<% else %>

  <div class="Header">
    <div class="u-inner">
      <div class="Header-navigation">
        <ul class="Header-navigationList">
          <li>
            <a href="/dashboard/" class="Logo Logo--text">CartoDB</a>
          </li>
          <li>
            <ul class="Header-navigationBreadcrumb">
              <li class="Header-navigationBreadcrumbItem">
                <% if current_user.has_organization? %>
                  <%= current_user.organization.name %> /
                <% end %>
              </li>
              <li class="Header-navigationBreadcrumbItem"><%= current_user.name || current_user.username %> /</li>
              <li class="Header-navigationBreadcrumbItem"><a class="Header-navigationBreadcrumbLink" href="#/maps">Maps</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="Header-settings">
        <ul class="Header-settingsList">
          <li class="Header-settingsItem">
            <a href="#" class="Header-settingsLink">Explore</a>
          </li>
          <li class="Header-settingsItem">
            <a href="#" class="Header-settingsLink">Learn</a>
          </li>
          <li class="Header-settingsItem">
            <a href="#" class="UserNotifications">
              <i class="UserNotifications-Icon"></i>
              <span class="UserNotifications-Count">2</span>
            </a>
          </li>
          <li class="Header-settingsItem">
            <a href="#" class="UserAvatar">
              <%= image_tag current_user.avatar_url, class: "UserAvatar--Medium" %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="DashboardFilters">
    <div class="u-inner">

      <div class="DashboardFilters-type">
        <ul class="DashboardFilters-list">
          <li class="DashboardFilters-typeItem">
            <a href="#maps" class="DashboardFilters-typeLink is-selected"><strong>13</strong> Maps</a>
          </li>
          <li class="DashboardFilters-typeItem">
            <a class="DashboardFilters-typeLink" href="#shared-with-you"><strong>7</strong> Shared with you</a>
          </li>
          <li class="DashboardFilters-typeItem">
            <a class="DashboardFilters-typeLink" href="#likes"><strong>7</strong> Liked Maps</a>
          </li>
        </ul>
      </div>

      <div class="DashboardFilters-order">
        <ul class="DashboardFilters-list">
          <li class="DashboardFilters-orderItem">
            Order by
          </li>
          <li class="DashboardFilters-orderItem">
            <a class="DashboardFilters-orderLink DashboardFilters-orderLink--clock is-selected" href="#time"></a>
          </li>
          <li class="DashboardFilters-orderItem">
            <a class="DashboardFilters-orderLink DashboardFilters-orderLink--graph" href="#views"></a>
          </li>
          <li class="DashboardFilters-orderItem">
            <a class="DashboardFilters-orderLink DashboardFilters-orderLink--heart" href="#likes"></a>
          </li>
        </ul>

        <a href="#new-map" class="Button Button--green">
          <span>New Map</span>
        </a>
      </div>

      

    </div>
  </div>

  <div class="VisList">
    <div class="u-inner">

      <div class="VisList-Row">

        <div class="VisList-RowItem">
          <div class="VisCard">
            <div class="VisCard-Header" >
              <div class="VisCard-Shadow"></div>
            </div>
            <div class="u-inner">
              <div class="VisCard-Info">
                <a href="#" class="VisCard-Title">Budapest Marathon</a>
                <p class="VisCard-Description">Data extracted from GARMIN 611 Forerunner during the NYC Marathon…</p>
                <div class="VisCard-Tags">
                  <a href="#tag">Bike</a>, <a href="#tag">Personal</a>, <a href="#tag">Rides</a>
                </div>
              </div>
              <div class="VisCard-Footer">
                <div class="u-inner">
                  <a href="#change-privacy" class="PrivacyIndicator is-public">public</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="VisList-RowItem">
          <div class="VisCard">
            <div class="VisCard-Header"> 
              <div class="VisCard-Shadow"></div>
            </div>
            <div class="u-inner">
              <div class="VisCard-Info">
                <a href="#" class="VisCard-Title">Budapest Marathon</a>
                <p class="VisCard-Description">Data extracted from GARMIN 611 Forerunner during the NYC Marathon…</p>
                <div class="VisCard-Tags">
                  <a href="#tag">Bike</a>, <a href="#tag">Personal</a>, <a href="#tag">Rides</a>
                </div>
              </div>
              <div class="VisCard-Footer">
                <div class="u-inner">
                  <a href="#change-privacy" class="PrivacyIndicator is-private">private</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="VisList-RowItem">
          <div class="VisCard">
            <div class="VisCard-Header">
                <div class="VisCard-Shadow"></div>
              </div>
              <div class="u-inner">
                <div class="VisCard-Info">
                  <a href="#" class="VisCard-Title">Budapest Marathon</a>
                  <p class="VisCard-Description">Data extracted from GARMIN 611 Forerunner during the NYC Marathon…</p>
                  <div class="VisCard-Tags">
                    <a href="#tag">Bike</a>, <a href="#tag">Personal</a>, <a href="#tag">Rides</a>
                  </div>
                </div>
                <div class="VisCard-Footer">
                  <div class="u-inner">
                    <a href="#change-privacy" class="PrivacyIndicator is-public">public</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="VisList-Row">

        <div class="VisList-RowItem">
          <div class="VisCard">
            <div class="VisCard-Header"> 
              <div class="VisCard-Shadow"></div>
            </div>
            <div class="u-inner">
              <div class="VisCard-Info">
                <a href="#" class="VisCard-Title">Budapest Marathon</a>
                <p class="VisCard-Description">Data extracted from GARMIN 611 Forerunner during the NYC Marathon…</p>
                <div class="VisCard-Tags">
                  <a href="#tag">Bike</a>, <a href="#tag">Personal</a>, <a href="#tag">Rides</a>
                </div>
              </div>
              <div class="VisCard-Footer">
                <div class="u-inner">
                  <a href="#change-privacy" class="PrivacyIndicator is-public">public</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="VisList-RowItem">
          <div class="VisCard">
            <div class="VisCard-Header" >
              <div class="VisCard-Shadow"></div>
            </div>
            <div class="u-inner">
              <div class="VisCard-Info">
                <a href="#" class="VisCard-Title">Budapest Marathon</a>
                <p class="VisCard-Description">Data extracted from GARMIN 611 Forerunner during the NYC Marathon…</p>
                <div class="VisCard-Tags">
                  <a href="#tag">Bike</a>, <a href="#tag">Personal</a>, <a href="#tag">Rides</a>
                </div>
              </div>
              <div class="VisCard-Footer">
                <div class="u-inner">
                  <a href="#change-privacy" class="PrivacyIndicator is-public">public</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="VisList-RowItem">
          <div class="VisCard">
              <div class="VisCard-Header">
                <div class="VisCard-Shadow"></div>
              </div>
              <div class="u-inner">
                <div class="VisCard-Info">
                  <a href="#" class="VisCard-Title">Budapest Marathon</a>
                  <p class="VisCard-Description">Data extracted from GARMIN 611 Forerunner during the NYC Marathon…</p>
                  <div class="VisCard-Tags">
                    <a href="#tag">Bike</a>, <a href="#tag">Personal</a>, <a href="#tag">Rides</a>
                  </div>
                </div>
                <div class="VisCard-Footer">
                  <div class="u-inner">
                    <a href="#change-privacy" class="PrivacyIndicator is-public">public</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="VisList-Row">

        <div class="VisList-RowItem">
          <div class="VisCard">
            <div class="VisCard-Header" >
              <div class="VisCard-Shadow"></div>
            </div>
            <div class="u-inner">
              <div class="VisCard-Info">
                <a href="#" class="VisCard-Title">Budapest Marathon</a>
                <p class="VisCard-Description">Data extracted from GARMIN 611 Forerunner during the NYC Marathon…</p>
                <div class="VisCard-Tags">
                  <a href="#tag">Bike</a>, <a href="#tag">Personal</a>, <a href="#tag">Rides</a>
                </div>
              </div>
              <div class="VisCard-Footer">
                <div class="u-inner">
                  <a href="#change-privacy" class="PrivacyIndicator is-public">public</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="VisList-RowItem">
          <div class="VisCard">
            <div class="VisCard-Header" >
              <div class="VisCard-Shadow"></div>
            </div>
            <div class="u-inner">
              <div class="VisCard-Info">
                <a href="#" class="VisCard-Title">Budapest Marathon</a>
                <p class="VisCard-Description">Data extracted from GARMIN 611 Forerunner during the NYC Marathon…</p>
                <div class="VisCard-Tags">
                  <a href="#tag">Bike</a>, <a href="#tag">Personal</a>, <a href="#tag">Rides</a>
                </div>
              </div>
              <div class="VisCard-Footer">
                <div class="u-inner">
                  <a href="#change-privacy" class="PrivacyIndicator is-public">public</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="VisList-RowItem">
          <div class="VisCard">
              <div class="VisCard-Header">
                <div class="VisCard-Shadow"></div>
              </div>
              <div class="u-inner">
                <div class="VisCard-Info">
                  <a href="#" class="VisCard-Title">Budapest Marathon</a>
                  <p class="VisCard-Description">Data extracted from GARMIN 611 Forerunner during the NYC Marathon…</p>
                  <div class="VisCard-Tags">
                    <a href="#tag">Bike</a>, <a href="#tag">Personal</a>, <a href="#tag">Rides</a>
                  </div>
                </div>
                <div class="VisCard-Footer">
                  <div class="u-inner">
                    <a href="#change-privacy" class="PrivacyIndicator is-public">public</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="SupportBanner">
      <div class="u-inner">
        <div class="SupportBanner-Info">
          <h4>As a paying customer you have access to our dedicated support.</h4>
          <p>Remember that there is a lot of information in our community forums.</p>
        </div>
        <div class="SupportBanner-Button">
          <a href="#support" class="Button Button--white Button--border">
            <span>Contact support</span>
          </a>
        </div>
      </div>
    </div>

    <div class="Footer">
      <div class="u-inner">
        <div class="Footer-list">
          <ul>
            <li><a href="http://cartodb.com/tour/">Feature tour</a></li>
            <li><a href="http://docs.cartodb.com/tutorials.html">Getting started</a></li>
          </ul>
        </div>
        <div class="Footer-Logo">
          <span class="Logo Logo--round">CartoDB</span>
        </div>
        <div class="Footer-list">
          <ul>
            <li><a href="http://docs.cartodb.com">Documentation</a></li>
            <li><a href="mailto:support@cartodb.com">Support</a></li>
            <li><a href="mailto:support@cartodb.com">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

  <% end %>
