<% content_for(:page_title) do %>
  <%= current_user.username %> |
<% end %>

<%= content_for(:js) do %>
  <%= javascript_include_tag :application, :cdb, :dashboard %>
  <script src="https://www.google.com/jsapi?key=<%= Cartodb.config[:gdrive]['api_key'] %>"></script>
  <script type="text/javascript">
    google.load('picker', '1');
    var username = "<%= current_user.username %>"
    , user_data = <%=raw current_user.data.to_json.html_safe %>
    , config = <%=raw frontend_config.html_safe %>
    , upgrade_url = "<%= upgrade_url %>"
    , dashboard_first_time = <%= @first_time %>
    , mixpanel_token = "<%= Cartodb.config[:mixpanel]['token'] if Cartodb.config[:mixpanel].present? %>";
  </script>
<% end %>
<%= content_for(:css) do %>
  <%= stylesheet_link_tag :common, :dashboard, :media => 'all' %>
<% end %>

<%= render 'admin/shared/subheader' %>
<%= render 'admin/shared/search' %>
<%= render 'admin/visualizations/tables' %>

<div class="main_loader">
  <i></i>
</div>

<div class="drag_mamufas">
  <span class="file"></span>
  <p class="bigger strong">Drop your file onto the browser window to create a new table</p>
  <div class="mask"></div>
</div>

<div class="bars"></div>
<article class="support"></article>
