<% content_for(:page_title) do -%>
  <%= current_user.username -%> |
<% end -%>
<%= content_for(:js) do -%>
  <% if !@google_maps_query_string.blank? %>
    <%= insert_google_maps(@google_maps_query_string) %>
  <% end %>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var user_data = <%= safe_js_object current_user.data.to_json %>;
    var config = <%= safe_js_object frontend_config %>;
    var upgrade_url = config.upgrade_url;
    var isFirstTimeViewingDashboard = <%= (!!@first_time).to_s %>;
    var isJustLoggedIn = <%= (!!@just_logged_in).to_s %>;
    var default_fallback_basemap = <%= safe_js_object current_user.default_basemap.to_json %>;
    var dashboard_notifications = <%= safe_js_object @dashboard_notifications.to_json %>;
    var organization_notifications = <%= safe_js_object @organization_notifications.to_json %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'dashboard_templates.js', 'dashboard_deps.js', 'dashboard.js' -%>
<% end %>

<%= content_for(:css) do -%>
  <%= stylesheet_link_tag 'dashboard.css', :media => 'all' %>
<% end %>

<div class="ContentController" id="content-controller">
  <div class="Filters"></div>
  <div class="NoDatasets"></div>
  <div class="ContentList" id="content-list"></div>
  <div class="ContentFooter" id="content-footer"></div>
</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/footer' %>
<%= insert_fullstory %>
