<% content_for(:page_title) do -%>
  <%= current_user.username -%> |
<% end -%>
<%= content_for(:js) do -%>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var user_data = <%=raw current_user.data.to_json.html_safe %>;
    var config = <%=raw frontend_config.html_safe %>;
    var upgrade_url = <%= cartodb_com_hosted? ? 'undefined' : "'#{current_user.upgrade_url(request.protocol)}'" %>;
    var isFirstTimeViewingDashboard = <%= (!!@first_time).to_s %>;
    var isJustLoggedIn = <%= (!!@just_logged_in).to_s %>;
    var mixpanel_token = "<%= Cartodb.config[:mixpanel]['token'] if Cartodb.config[:mixpanel].present? %>";
    var defaultFallbackMapBaselayer = <%= raw Cartodb.config[:basemaps].present? ? Cartodb.config[:basemaps]['CartoDB']['positron_rainbow'].to_json : '{}' %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'new_dashboard_templates.js', 'new_dashboard_deps.js', 'new_dashboard.js' -%>
<% end %>

<%= content_for(:css) do -%>
  <%= stylesheet_link_tag 'new_dashboard.css', :media => 'all' %>
<% end %>

<% if current_user.notification.present? %>
  <div class="FlashMessage <%= 'FlashMessage--success' if (flash[:success]) %><%= 'FlashMessage--error' if flash[:error] %>">
    <div class="u-inner">
      <p class="FlashMessage-info"><%= current_user.notification %></p>
    </div>
  </div>
<% end %>

<div class="ContentController" id="content-controller">
  <div class="Filters"></div>
  <div class="NoDatasets"></div>
  <div class="ContentList" id="content-list"></div>
  <div class="ContentFooter" id="content-footer"></div>
</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/new_footer' %>
