<% content_for(:page_title) do -%>
  <%= current_user.username -%> |
<% end -%>
<%= content_for(:js) do -%>
  <script type="text/javascript">
    var username = "<%= current_user.username %>";
    var user_data = <%=raw current_user.data.to_json.html_safe %>;
    var config = <%=raw frontend_config.html_safe %>;
    var upgrade_url = "<%= upgrade_url %>";
    var isFirstTimeViewingDashboard = <%= (!!@first_time).to_s %>;
    var isJustLoggedIn = <%= (!!@just_logged_in).to_s %>;
    var mixpanel_token = "<%= Cartodb.config[:mixpanel]['token'] if Cartodb.config[:mixpanel].present? %>";
    var defaultFallbackMapBaselayer = <%= raw Cartodb.config[:basemaps].present? ? Cartodb.config[:basemaps]['CartoDB']['positron_rainbow'].to_json : '{}' %>;
  </script>
  <%= javascript_include_tag 'cdb.js', 'models.js', 'new_dashboard_templates.js', 'new_dashboard_deps.js', 'new_dashboard.js' -%>
<% end %>

<%= content_for(:css) do -%>
  <%= render 'shared/lato_font' %>
  <%= stylesheet_link_tag 'cartodb.css', 'new_common.css', 'new_dashboard.css', :media => 'all' %>
<% end %>

<%= render 'admin/shared/new_header', :public => false, :home_url => '' %>

<div class="ContentController" id="content-controller">
  <div class="Filters"></div>
  <div class="NoDatasets"></div>
  <div class="ContentList" id="content-list"></div>
  <div class="ContentFooter" id="content-footer">
    <div class="u-inner ContentFooterInner" id="content-footer-inner"></div>
  </div>
</div>

<% if !Cartodb.config[:cartodb_com_hosted].present? %>
  <div class="SupportBanner" id="support-banner"></div>
<% end %>

<%= render 'admin/shared/new_footer' %>
