<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <title><%= @visualization.name.gsub(/_/," ") %> | CartoDB</title>
    <meta name="description" content="<%= @visualization.description || @visualization.name.gsub(/_/," ") %>">
    <meta name="keywords" content="Map,cartodb,<%= @visualization.name.gsub(/_/,",").gsub(/ /,",") %>">
    <meta name="author" content="CartoDB">
    <meta name="DC.title" content="<%= @visualization.description %> | CartoDB">
    <meta property="og:title" content="<%= @visualization.name.gsub(/_/," ") %> | CartoDB"/>
    <meta property="og:description" content="<%= @visualization.description || @visualization.name.gsub(/_/," ") %>"/> 
    <meta property="og:type" content="Visualization"/>
    <meta property="og:url" content="<%= request.fullpath %>" />
    <meta property="og:image" content="<%= asset_path "layout/cartofante_blue.png" %>"/>

    <style type="text/css">
      html, body {height: 100%; padding: 0; margin: 0;}
      #map {height: 629px; padding: 0; margin: 0;}

      #not_supported_dialog {position:absolute; width:356px; height:213px; top:50%; left:50%; margin-top:-107px; margin-left:-178px; padding:0; background-color:#FFF; text-align:center; font-family:'Helvetica', Arial; color:#666666; z-index:10000;}
      #not_supported_dialog h2 {display:inline-block; width:77px; margin:30px 0 0; padding-bottom:16px; font-size:13px; font-weight:bold; border-bottom:1px solid #D9D9D9; vertical-align:top; zoom:1; *display:inline;}
      #not_supported_dialog p {display:block; padding:0 40px; margin:12px 0 0; font-size:15px;}
      #not_supported_dialog ul {position:absolute; bottom:0; left:0; right:0; display:block; margin:0; padding:0; list-style:none; border-top:1px solid #D9D9D9;}
      #not_supported_dialog ul li {float:left; margin:0; padding:0; border-right:1px solid #D9D9D9;}
      #not_supported_dialog ul li a {display:block; width:118px; height:74px; background-repeat:no-repeat; background-position:center center; font-size:0; line-height:0; text-indent:-9999px;}
      #not_supported_dialog ul li.last {border:none;}
      #not_supported_dialog a.safari {background-image:url('/assets/layout/safari.png');}
      #not_supported_dialog a.chrome {background-image:url('/assets/layout/chrome.png');}
      #not_supported_dialog a.firefox {background-image:url('/assets/layout/firefox.png');}

      /* Styles showing up new cartodb text */
      <% if @visualization.user.remove_logo? && !Cartodb.config[:cartodb_com_hosted].present? %>
        <% if !params['cartodb_logo'] || params['cartodb_logo'] == "true" %>
          .cartodb-text {display:block;}
        <% end %>
      <% else %>
        .cartodb-text {display:block;}
      <% end %>

    </style>

    <% if !Rails.env.production? %>
      <%= stylesheet_link_tag 'cdb/themes/css/cartodb' %>
      <!--[if lte IE 8]>
      <%= stylesheet_link_tag 'cdb/themes/css/cartodb.ie' %>
      <![endif]-->
    <% else %>
     <% if request.protocol == 'https://' %>
        <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/themes/css/cartodb.css" />
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/themes/css/cartodb.ie.css" />
        <![endif]-->
     <% else %>
        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.ie.css" />
        <![endif]-->
     <% end %>

    <% end %>

  </head>
  <body>
    <% if @visualization.public? %>
      <div class="cartodb-new-header">
        <div class="inner">

          <a class="logo" href="#">Logo</a>

          <div class="options">
            <a href="#" class="learn">Learn more</a>
            <a href="#" class="signin green button">Sign In</a>
          </div>

        </div>
      </div>
      <div id="map"></div>
      <div id="not_supported_dialog" style="display: none">
        <h2>CartoDB</h2>
        <p>This visualization only works in modern browsers. Upgrade yours and enjoy.</p>
        <ul>
          <li><a href="http://www.apple.com/safari/" class="safari">Safari</a></li>
          <li><a href="https://www.google.com/chrome/" class="chrome">Chrome</a></li>
          <li class="last"><a href="http://www.mozilla.org/en-US/firefox/all/‎" class="firefox">Firefox</a></li>
        </ul>
      </div>

      <div class="cartodb-map-data">
        <div class="cartodb-info">
          <div class="inner">

            <div class="details embed-left-col">
              <div class="content">
                <h1><%= @visualization.name %></h1>
                <p><%= @visualization.description %></p>
              </div>
            </div>

            <div class="user embed-right-col">
              <div class="content">
                <div class="user-info">
                  <h4>by <%= @visualization.user.username %></h4>
                  <h5><%= @visualization_count %> maps created</h5>
                </div>
                <img src="<%= @avatar_url %>" class="avatar" />
              </div>
            </div>

          </div>
        </div>

        <div class="cartodb-body">
          <div class="inner">

            <div class="map-info embed-right-col">
              <div class="content">

                <h2>Datasets used in this map</h2>
                <ul>

                  <% @related_tables.each do |table| %>
                    <li><a href="#" title="<%= table.name %>"><%= table.name %></a><span><%= table.table_size %></span></li>
                  <% end %>

                </ul>
              </div>
            </div>

            <div class="comments embed-left-col">
              <div class="content">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                  var disqus_shortname = 'cartodb'; 

                  (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
              </div>
            </div>

          </div>
        </div>

        <div class="cartodb-footer">
          <div class="inner">

            <div class="copyright embed-left-col">
              <div class="content">
                &copy; 2014 CartoDB - <a href="#">Create your own maps</a>
              </div>
            </div>

            <div class="terms embed-right-col">
              <div class="content">
                <a href="#">Terms of Service</a>
              </div>
            </div>

          </div>
        </div>
      </div>

    <% end %>

    <% if @visualization.map.provider == 'googlemaps' %>
      <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&v=3.12"></script>
    <% else %>
      <!-- if you are using google maps, uncomment the following line -->
      <!-- <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script> -->
    <% end %>

    <% if !Rails.env.production? %>
      <%= javascript_include_tag :cdb %>
    <% else %>
      <% if request.protocol == 'https://' %>
        <script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/cartodb.js"></script>
      <% else %>
        <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
      <% end %>

    <% end %>

    <script>
      reset_disqus = function() {
        DISQUS.reset({
          reload: true
        });
      };

    if (!window.addEventListener) {
      window.attachEvent('orientationchange', reset_disqus, this);
    } else {
      window.addEventListener('orientationchange', reset_disqus);
    }

      function get_url_params(conversion) {

        conversion = conversion || {};

        var tokens = location.search.slice(1).split('&');
        var params = {};

        for (var i = 0; i < tokens.length; ++i) {

          var tk = tokens[i].split('=');
          var fn = conversion[tk[0]] || function(v) { return v };

          if (tk.length === 2) {
            params[tk[0]] = fn(decodeURIComponent(tk[1]));
          }
        }

        return params;
      }

      function manageError(err, layer) {
          if(layer && layer.get('type') === 'torque') {
              $('#not_supported_dialog').show();
              // hide all the overlays
              var overlays = vis.getOverlays()
              for (var i = 0; i < overlays.length; ++i) {
                  var o = overlays[i];
                  o.hide && o.hide();
              }
          }
      }

      $(document).ready(function(){

        var bool_fn = function(v) { return v == 'true' }
        , is_custom_install = <%= Cartodb.config[:cartodb_com_hosted].present? %>
        , logo_fn  = function(v) { return ( <%= !@visualization.user.remove_logo? %> || is_custom_install ) ? true : v == 'true' }
        , layer_fn = function(v) {
          if(!v || !v.length) {
              return null;
          }

          return _.map(v.split("|"), function(v) {
            return { visible: !!parseInt(v, 10) }
          });

        };

        var opt = get_url_params({
          'search':       bool_fn,
          'title':        bool_fn,
          'description':  bool_fn,
          'shareable':    bool_fn,
          'cartodb_logo': logo_fn,
          'scrollwheel':  bool_fn,
          'sublayer_options': layer_fn,
          'layer_selector': bool_fn,
          'legends': bool_fn
        });

        <% if Rails.env.development? || Cartodb.config[:no_cdn] == true %>
        opt.no_cdn = true;
        <% end %>

        opt.title       = false;
        opt.description = false;
        opt.scrollwheel = false;

        cartodb.config.set({
          cartodb_attributions: "CartoDB <a href='http://cartodb.com/attributions?utm_source=Footer_Link&utm_medium=referral&utm_campaign=Embed_v1&utm_content=Attributions&utm_term=<%= @visualization.user.username %>' target='_blank'>attribution</a>",
          cartodb_logo_link: "http://www.cartodb.com?utm_source=Footer_Link&utm_medium=referral&utm_campaign=Embed_v1&utm_content=Logo",
        })

        cartodb.createVis('map', <%=raw @visualization.to_vizjson.to_json %>, opt, function(vis) {
          window.vis = vis;

          var device = /Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

          if (!device) {
            $("#map").css({ height: $(window).height() - 260 }); // - 132 - 68
            $(".cartodb-map-data").css({ top: $(window).height() - 192 });
          }

          if (!device) {
          $(window).on("resize", function() {
            $("#map").css({ height: $(window).height() - 260 }); // - 132 - 68
            $(".cartodb-map-data").css({ top: $(window).height() - 192 });
          });
          }

        }).on('error', manageError);
      });

    </script>
    <%= render partial: 'shared/analytics', locals: { 
      ua:     Cartodb.config[:google_analytics]['embeds'],
      domain: Cartodb.config[:google_analytics]['domain'],
      page_owner: @visualization.user
    } %>
  </body>
</html>
