<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'cartodb.css', 'public_map.css' %>
  <!--[if gt IE 8]><%= stylesheet_link_tag "fonts_ie" %><![endif]-->
<% end %>

<%= content_for(:body_class) do %>
  public-map
<% end %>

<%= content_for(:content) do %>
  <% if @visualization.public? || @visualization.public_with_link? || @visualization.password_protected? || @visualization.organization? %>

    <div class="cartodb-public-wrapper">
      
      <%= render 'admin/shared/public_header', :clone => true, :signin => false %>

      <div class="separator top"></div>

      <div id="map"></div>

      <div id="not_supported_dialog" style="display: none">
        <h2>CartoDB</h2>
        <p>This visualization only works in modern browsers. Upgrade yours and enjoy.</p>
        <ul>
          <li><a href="http://www.apple.com/safari/" class="safari">Safari</a></li>
          <li><a href="https://www.google.com/chrome/" class="chrome">Chrome</a></li>
          <li class="last"><a href="http://www.mozilla.org/en-US/firefox/all/‎" class="firefox">Firefox</a></li>
        </ul>
      </div>
    </div>

    <div class="separator bottom"></div>
    <div class="cartodb-map-data">
      <div class="cartodb-info">
        <div class="inner">

          <div class="details embed-left-col">
            <div class="content">
              <h1><%= @visualization.name %></h1>

              <p class="description"><%= raw @visualization.description_html_safe %></p>
              <p class="options">
                <a href="<%= CartoDB.url(self, 'public_visualizations_embed_map', {id: @visualization.id}) %>" class="iframe">Full page map</a>
              </p>
            </div>
          </div>

          <div class="user embed-right-col">
            <div class="user-info">
              <a href="<%= CartoDB.url(self, 'public_visualizations_home') %>" title="Maps by <%= @name %>" class="content">
                <h4>by <%= @name %></h4>
              </a>

              <h5><%= "#{@visualization_count} #{@visualization_count != 1 ? "maps" :"map"} created" %></h5>
            </div>
            <a href="<%= CartoDB.url(self, 'public_visualizations_home') %>" title="Maps by <%= @name %>" class="content">
              <img src="<%= @avatar_url %>" class="avatar" />
            </a>
          </div>

          <div class="extra_options">
            <div class="left"></div>
            <div class="user-options">

              <a href="#like" class="like button grey js-like">
                <span class="icon"></span>
                <span class="counter"><%= @likes_count %></span>
              </a>

              <a href="<%= CartoDB.url(self, 'public_visualizations_show', {id: @visualization.id}, @visualization.user) %>" class="edit button grey">Edit in CartoDB</a>
            </div>
          </div>

        </div>
      </div>

      <div class="cartodb-body">
        <div class="inner">

          <div class="map-info embed-right-col">
            <div class="content">

              <h2>Datasets used in this map</h2>
              <ul>
                <% if @related_tables.present? %>
                    <% @related_tables.each do |table| %>
                      <% if table.privacy_text == "PUBLIC" %>
                        <li>
                          <a href="<%= CartoDB.url(self, 'public_table', {id: table.name}, @user_domain.nil? ? nil : @related_tables_owners[table.user_id]) %>" title="<%= table.name.gsub(/_/," ") %>"><%= table.name.gsub(/_/, " ") %></a><span><%= number_to_human_size(table.table_size) %></span>
                        </li>
                      <% end %>
                    <% end %>
                <% end %>

                <% if @nonpublic_tables_count.present? && @nonpublic_tables_count > 0 %>
                  <li class="private">
                    <%= @nonpublic_tables_count %> private dataset<%= @nonpublic_tables_count != 1 ? 's' : '' %><span class="help" original-title="This map contains <%= @nonpublic_tables_count %> dataset<%= @nonpublic_tables_count != 1 ? 's' : '' %> made private by the publisher">(?)</span>
                  </li>
                <% end %>
              </ul>

            </div>
          </div>

          <div class="comments embed-left-col">
            <div class="content">
              <div id="disqus_thread"></div>
              <script type="text/javascript">

                var disqus_shortname  = '<%= @disqus_shortname %>';
                var disqus_identifier = '<%= @visualization.id %>';

                (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();

              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript" class="no_script">comments powered by Disqus.</a></noscript>
            </div>
          </div>

        </div>
      </div>
    <%= render 'admin/visualizations/public/public_map_footer' %>
    </div>
  <% end %>
<% end %>

<%= content_for(:js) do %>
  <% if @visualization.map.provider == 'googlemaps' %>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&v=3.12"></script>
  <% else %>
    <!-- if you are using google maps, uncomment the following line -->
    <!-- <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script> -->
  <% end %>

  <script>
    function get_url_params(conversion) {
      conversion = conversion || {};

      var tokens = location.search.slice(1).split('&');
      var params = {};

      for (var i = 0; i < tokens.length; ++i) {

        var tk = tokens[i].split('=');
        var fn = conversion[tk[0]] || function(v) { return v };

        if (tk.length === 2) {
          params[tk[0]] = fn(decodeURIComponent(tk[1]));
        }
      }

      return params;
    }

    var user_name = '<%= @user_domain %>';
    var owner_username = '<%= @visualization.user.username %>';
    var base_url = '<%= @visualization.user.public_url %>';
    var vis_id = "<%= @visualization.id %>";
    var vis_name = "<%= @visualization.name %>";
    var belong_organization = <%= @visualization.user.has_organization? %>;
    var config = <%= safe_js_object frontend_config_public({https_apis: request.protocol == 'https://' }) %>;
    var vizdata = <%= safe_js_object @visualization.to_vizjson({https_request: request.protocol == 'https://'}).to_json %>;

    // Generating map options
    var bool_fn = function(v) { return v == 'true' };
    var is_custom_install = <%= Cartodb.config[:cartodb_com_hosted].present? %>;
    var logo_fn  = function(v) { return ( <%= !@visualization.user.remove_logo? %> || is_custom_install ) ? true : v == 'true' };
    var layer_fn = function(v) {
      if (!v || !v.length) {
        return null;
      }
      return _.map(v.split("|"), function(v) {
        return { visible: !!parseInt(v, 10) }
      });
    };

    var map_options = get_url_params({
      'search':           bool_fn,
      'title':            bool_fn,
      'description':      bool_fn,
      'shareable':        bool_fn,
      'fullscreen':       bool_fn,
      'cartodb_logo':     bool_fn,
      'scrollwheel':      bool_fn,
      'sublayer_options': layer_fn,
      'layer_selector':   bool_fn,
      'legends':          bool_fn
    });

    <% if (@visualization.password_protected? or @visualization.organization?) and @protected_map_tokens %>
      map_options.auth_token = [];
      <% @protected_map_tokens.each do |token| %>
          map_options.auth_token.push('<%= token %>');
      <% end %>
      map_options.https = true; // when auth_token is used tiles should be fetch using https
    <% end %>

    <% if Rails.env.development? || Cartodb.config[:no_cdn] == true %>
      map_options.no_cdn = true;
    <% end %>

    // Logo MUST be hidden in this view
    map_options.cartodb_logo  = false;
    map_options.scrollwheel   = false;
    map_options.mobile_layout = true;

  </script>

  <%= javascript_include_tag 'cdb.js', 'templates.js', 'public_map' %>

  <script>

    $(function() {
      <% if Cartodb.config[:graphite_public] %>
        if (location.protocol.indexOf('https') === -1) {
          jQuery.getScript('<%= javascript_path "statsc.js" %>', function(ready) {
            statsc.connect('http://<%= Cartodb.config[:graphite_public]['host'] %>:<%= Cartodb.config[:graphite_public]['port'] %>/');
            cartodb.core.Profiler.backend(function () {
              statsc.send.apply(statsc, arguments);
            })
            // stop sending stats after 11 seconds
            // statsc send stats in 5 secs interval so allow to send at least twice
            setTimeout(function() {
                cartodb.core.Profiler.backend(null);
            }, 11*1000);
          })
        }
      <% end %>
    });

  </script>

  <%= insert_trackjs() %>

  <%= render partial: 'shared/analytics', locals: { 
    ua:     Cartodb.config[:google_analytics]['primary'],
    domain: Cartodb.config[:google_analytics]['domain'],
    custom_vars: [{title: "Public Pages", value: "Other", num: 3}],
    page_owner: @visualization.user
  } %>
<% end %>
