<%= content_for(:title) do %><%= @visualization.name %><% end %>

<%= content_for(:description) do %><%= @visualization.description_clean ? "#{@visualization.description_clean}. Map created by #{@name} in CartoDB" : "Map created by #{@name} in CartoDB" %><% end %>

<%= content_for(:twitter_card) do %><%= Carto::StaticMapsURLHelper.new.url_for_static_map(request, @visualization, 560, 300) %><% end %>
<%= content_for(:facebook_card) do %><%= Carto::StaticMapsURLHelper.new.url_for_static_map(request, @visualization, 1200, 630) %><% end %>

<%= content_for(:body_class) do %> PublicMap <% end %>

<%= content_for(:css) do %>
  <%= stylesheet_link_tag 'cartodb', 'common', 'public_map' %>
<% end %>

<%= content_for(:content) do %>
  <% if @visualization.public? || @visualization.public_with_link? || @visualization.password_protected? || @visualization.organization? %>
    <%= render 'admin/shared/public_header' %>

    <div class="PublicMap-map js-map" id="map">
      <div class="Spinner Spinner--center"></div>
    </div>

    <%# Legacy from current embed %>
    <div class="NotSupportedDialog" id="not_supported_dialog" style="display: none">
      <h2 class="NotSupportedDialog-title">CartoDB</h2>
      <p class="NotSupportedDialog-desc">This visualization only works in modern browsers. Upgrade yours and enjoy.</p>
      <ul class="NotSupportedDialog-list">
        <li class="NotSupportedDialog-item"><a class="NotSupportedDialog-itemLink NotSupportedDialog-itemLink--Safari" href="http://www.apple.com/safari/" class="safari">Safari</a></li>
        <li class="NotSupportedDialog-item"><a class="NotSupportedDialog-itemLink NotSupportedDialog-itemLink--Chrome" href="https://www.google.com/chrome/" class="chrome">Chrome</a></li>
        <li class="NotSupportedDialog-item is-last"><a class="NotSupportedDialog-itemLink NotSupportedDialog-itemLink--Firefox" href="http://www.mozilla.org/en-US/firefox/all/‎" class="firefox">Firefox</a></li>
      </ul>
    </div>

    <div class="u-inner">
      <div class="Navmenu">
        <div class="PublicMap-block">
          <div class="PublicMap-leftBlock">
            <ul class="Navmenu-list Navmenu-list--avatar">
              <li class="Navmenu-item">
                <a href="<%= CartoDB.url(self, 'public_maps_home', {}, @visualization.user) %>" target="_blank" class="UserAvatar">
                  <img class="UserAvatar-img--medium" src="<%= @visualization.user.avatar %>" alt="<%= @name %>" title="<%= @name %>" />
                </a>
              </li>
            </ul>

            <ul class="Navmenu-list">
              <li class="Navmenu-item">
                <a href="<%= CartoDB.url(self, 'public_maps_home', {}, @visualization.user) %>" class="Navmenu-link"><%= @name %></a>
              </li>

              <li class="Navmenu-item u-hideOnTablet">
                <i class="Navmenu-rarrow iconFont iconFont-Rarrow"></i>
                <a href="<%= CartoDB.url(self, 'public_maps_home', {}, @visualization.user) %>" class="Navmenu-link">Maps</a>
              </li>

              <% if @visualization.tags.size > 0 %>
                <li class="Navmenu-item u-hideOnTablet">
                  <i class="Navmenu-rarrow iconFont iconFont-Rarrow"></i>
                  <a href="<%= CartoDB.url(self, 'public_tag', {tag: @visualization.tags.first}, @visualization.user) %>" class="Navmenu-link"><%= @visualization.tags.first %></a>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="PublicMap-rightBlock u-txt-right">
            <ul class="Navmenu-list">
              <li class="Navmenu-item">
                <a href="<%= CartoDB.url(self, 'public_visualizations_embed_map', {id: @visualization.id}, @visualization.user) %>" target="_blank" class="Navmenu-link">
                  <i class="iconFont iconFont-Fullscreen Navmenu-icon"></i>
                </a>
              </li>

              <li class="Navmenu-item">
                <div class="Navmenu-sep"></div>
                <button class="Navmenu-link js-likes"
                  data-vis-id="<%= @visualization.id %>"
                  data-likes-count="<%= @likes_count %>">
                </button>
              </li>

              <li class="Navmenu-item js-Navmenu-share">
                <div class="Navmenu-sep"></div>
                <a href="#" class="Navmenu-link Navmenu-shareLink js-Navmenu-shareLink">
                  <i class="iconFont iconFont-Share Navmenu-icon"></i>
                </a>

                <ul class="Navmenu-shareList js-Navmenu-shareList">
                  <li class="Navmenu-subItem">
                    <a href="#" class="Navmenu-link">
                      <i class="iconFont iconFont-Twitter Navmenu-icon Navmenu-icon--twitter"></i>
                    </a>
                  </li>

                  <li class="Navmenu-subItem">
                    <a href="#" class="Navmenu-link">
                      <i class="iconFont iconFont-FacebookSquare Navmenu-icon"></i>
                    </a>
                  </li>

                  <li class="Navmenu-subItem">
                    <a href="#" class="Navmenu-link">
                      <i class="iconFont iconFont-Linkedin Navmenu-icon"></i>
                    </a>
                  </li>

                  <li class="Navmenu-subItem u-showOnTablet">
                    <button class="ImportItem-closeButton Navmenu-link js-Navmenu-closeLink">
                      <i class="iconFont iconFont-Close ImportItem-closeButtonIcon"></i>
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="Navmenu-list">
              <li class="Navmenu-item">
                <a class="Navmenu-editLink js-Navmenu-editLink" href="<%= CartoDB.url(self, 'public_visualizations_show', {id: @visualization.id }, @visualization.user) %>">Edit in cartodb</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="PublicMap-info">
        <div class="PublicMap-block">
          <div class="PublicMap-leftBlock PublicMap-leftBlock--large">
            <h1 class="js-PublicMap-title Title Title--m"><%= @visualization.name %></h1>
            <% if @visualization.description_clean %>
              <p class="PublicMap-description"><%= @visualization.description %></p>
            <% end %>

            <div class="PublicMap-meta">
              <ul class="PublicMap-metaList">
                <li class="PublicMap-metaItem">date</li>
                <li class="PublicMap-metaItem">mapviews</li>
                <li class="PublicMap-metaItem">comments</li>
                <li class="PublicMap-metaItem">tags</li>
                <li class="PublicMap-metaItem">license</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="PublicMap-secondary">
      <div class="u-inner">
        <%# Datasets %>
        <div class="PublicMap-block">

        </div>

        <%# DISQUS %>
        <div class="PublicMap-block">
          <div class="PublicMap-leftBlock">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              var disqus_shortname  = '<%= @disqus_shortname %>';
              var disqus_identifier = '<%= @visualization.id %>';

              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
          </div>
        </div>

        <%# Related %>
        <div class="PublicMap-block">

        </div>
      </div>
    </div>

    <%= render 'admin/shared/footer', :light => true %>
  <% end %>
<% end %>


<%= content_for(:js) do %>
  <% if @visualization.map.provider == 'googlemaps' %>
    <script type="text/javascript"
        src="//maps.googleapis.com/maps/api/js?sensor=false&v=3.12&<%= @google_maps_query_string %>">
    </script>
  <% end %>

  <script>
    function get_url_params(conversion) {
      conversion = conversion || {};

      var tokens = location.search.slice(1).split('&');
      var params = {};

      for (var i = 0; i < tokens.length; ++i) {

        var tk = tokens[i].split('=');
        var fn = conversion[tk[0]] || function(v) { return v };

        if (tk.length === 2) {
          params[tk[0]] = fn(decodeURIComponent(tk[1]));
        }
      }

      return params;
    }

    var user_name = '<%= @user_domain %>';
    var owner_username = '<%= @visualization.user.username %>';
    var base_url = '<%= @visualization.user.public_url(nil, request.protocol == 'https://' ? 'https' : 'http') %>';
    var vis_id = "<%= @visualization.id %>";
    var vis_name = "<%= @visualization.name %>";
    var belong_organization = <%= @visualization.user.has_organization? %>;
    var config = <%= safe_js_object frontend_config_public({https_apis: request.protocol == 'https://' }) %>;
    var vizdata = <%= safe_js_object @visualization.to_vizjson({https_request: request.protocol == 'https://'}).to_json %>;

    // Generating map options
    var bool_fn = function(v) { return v == 'true' };
    var is_custom_install = <%= Cartodb.config[:cartodb_com_hosted].present? %>;
    var logo_fn  = function(v) { return ( <%= !@visualization.user.remove_logo? %> || is_custom_install ) ? true : v == 'true' };
    var layer_fn = function(v) {
      if (!v || !v.length) {
        return null;
      }
      return _.map(v.split("|"), function(v) {
        return { visible: !!parseInt(v, 10) }
      });
    };

    var map_options = get_url_params({
      'search':           bool_fn,
      'title':            bool_fn,
      'description':      bool_fn,
      'shareable':        bool_fn,
      'fullscreen':       bool_fn,
      'cartodb_logo':     bool_fn,
      'scrollwheel':      bool_fn,
      'sublayer_options': layer_fn,
      'layer_selector':   bool_fn,
      'legends':          bool_fn
    });

    <% if (@visualization.password_protected? or @visualization.organization?) and @protected_map_tokens %>
      map_options.auth_token = [];
      <% @protected_map_tokens.each do |token| %>
          map_options.auth_token.push('<%= token %>');
      <% end %>
      map_options.https = true; // when auth_token is used tiles should be fetch using https
    <% end %>

    <% if Rails.env.development? || Cartodb.config[:no_cdn] == true %>
      map_options.no_cdn = true;
    <% end %>

    // Description and title should be hidden
    // because we already have that info
    map_options.description = false;
    map_options.title = false;
    // Logo MUST be hidden in this view
    map_options.cartodb_logo  = false;
    // Fullscreen button should be hidden
    // because we already have a full page button
    map_options.fullscreen    = false;
    map_options.scrollwheel   = false;
    map_options.mobile_layout = true;

  </script>

  <%= javascript_include_tag 'cdb.js', 'templates.js', 'public_map_deps', 'public_map'  %>

  <script>

    $(function() {
      <% if Cartodb.config[:graphite_public] %>
        if (location.protocol.indexOf('https') === -1) {
          jQuery.getScript('<%= javascript_path "statsc.js" %>', function(ready) {
            statsc.connect('http://<%= Cartodb.config[:graphite_public]['host'] %>:<%= Cartodb.config[:graphite_public]['port'] %>/');
            cartodb.core.Profiler.backend(function () {
              statsc.send.apply(statsc, arguments);
            })
            // stop sending stats after 11 seconds
            // statsc send stats in 5 secs interval so allow to send at least twice
            setTimeout(function() {
              cartodb.core.Profiler.backend(null);
            }, 11*1000);
          })
        }
      <% end %>
    });

  </script>

  <%= insert_trackjs() %>

  <%= render partial: 'shared/analytics', locals: {
    ua:     Cartodb.config[:google_analytics]['primary'],
    domain: Cartodb.config[:google_analytics]['domain'],
    custom_vars: [{title: "Public Pages", value: "Other", num: 3}],
    page_owner: @visualization.user
  } %>
<% end %>
