<%= content_for(:page_title) do %>CartoDB · <%= @table.name.gsub(/_/," ") %><% end %>

<%= content_for(:description) do %><%= @table.description || "#{@table.name.gsub(/_/," ")} published by #{@name} in CartoDB" %><% end %>

<% content_for(:css) do %>
  <%= stylesheet_link_tag 'cartodb.css', 'public_table.css', :media => 'all' %>
  <!--[if gt IE 8]><%= stylesheet_link_tag "fonts_ie" %><![endif]-->
<% end %>

<% content_for(:js) do %>
    <% if @table.map.provider == 'googlemaps' %>
        <script type="text/javascript"
            src="//maps.googleapis.com/maps/api/js?sensor=false&v=3.12&client=<%= @user.google_maps_client_id %>">
        </script>
    <% end %>

  <%= javascript_include_tag 'cdb.js', 'templates.js', 'public_table.js' %>

  <script>
    var table_name          = '<%=raw @table.owner.sql_safe_database_schema %>.<%= @table.name %>';
    var table_id            = '<%= @table.id %>';
    var schema              = <%= safe_js_object @table.schema.to_json %>;
    var user_name           = '<%= @user.username %>';
    var owner_username      = '<%= @table.owner.username %>';
    var belong_organization = <%= @table.owner.has_organization? %>;
    var map                 = <%= safe_js_object @table.map.to_json %>;
    var config              = <%= safe_js_object frontend_config_public({https_apis: request.protocol == 'https://' }) %>;
    var vizjson             = <%= safe_js_object @vizjson.to_json %>;
    var auth_token          = <%= safe_js_object @auth_tokens.to_json %>;
    var use_https           = <%= @use_https =%>;
    var api_key             = <%= safe_js_object @api_key.to_json %>;

    var debug = false;
    <% if Rails.env.development? || Cartodb.config[:no_cdn] == true %>
      debug = true;
    <% end %>

    cdb.config.set('debug', debug);

    $(function() {
      <% if Cartodb.config[:graphite_public] %>
        if (location.protocol.indexOf('https') === -1) {
          jQuery.getScript('<%= javascript_path "statsc.js" %>', function(ready) {
            statsc.connect('http://<%= Cartodb.config[:graphite_public]['host'] %>:<%= Cartodb.config[:graphite_public]['port'] %>/');
              cartodb.core.Profiler.backend(function () {
              statsc.send.apply(statsc, arguments);
            })
            // stop sending stats after 11 seconds
            // statsc send stats in 5 secs interval so allow to send at least twice
            setTimeout(function() {
                cartodb.core.Profiler.backend(null);
            }, 11*1000);

          })
        }
      <% end %>
    });
  </script>
  
<% end %>


  <div class="globalerror"></div>
  <div class="panes"></div>

  <div class="navigation">
    <ul>
      <li><%= link_to "Table view", "#/table", :class => 'smaller strong tab selected' %></li>
      <li><%= link_to "Map view", "#/map"%></li>
    </ul>
  </div>

  <div class="separator_shadow"></div>
  <div class="separator bottom"></div>
  <div class="cartodb-map-data">
    <div class="cartodb-info">
      <div class="inner">

        <div class="user_details">
          
          <div class="details embed-left-col">
            <div class="content">
              <h1><%= @visualization.name %></h1>
              <p><%=raw @visualization.description_html_safe %></p>
            </div>
          </div>

          <div class="user embed-right-col">
            <div class="user-info">
              <a href="<%= public_datasets_home_url %>" title="Datasets by <%= @name %>" class="content">
                <h4>by <%= @name %></h4>
              </a>

              <h5><%= "#{@public_tables_count} dataset#{@public_tables_count != 1 ? "s" :""} created" %></h5>
            </div>

            <a href="<%= public_datasets_home_url %>" title="Datasets by <%= @name %>" class="content">
              <img src="<%= @avatar_url %>" class="avatar" />
            </a>
          </div>
        </div>

        <div class="extra_options">
          <div class="left">
            <div class="row_count"><%= number_with_delimiter(@table.rows_counted) %> row<%= @table.rows_counted != 1 ? 's' : '' %></div>
            <div class="download_options"></div>
          </div>
          <div class="user-options">
            <% if !Cartodb.config[:cartodb_com_hosted].present? %>
              <a href="http://oneclick.cartodb.com/?file=<%= CGI.escape( @export_sql_api_url ) %>&provider=<%= URI.encode(@table.owner.username) %>&logo=<%= URI.encode(@avatar_url) %>" class="oneclick button grey">
                CREATE MAP
              </a>
            <% end %>

            <a href="#like" class="like button grey js-like">
              <span class="icon"></span>
              <span class="counter"><%= @likes_count %></span>
            </a>
            <a href="<%= CartoDB.url(self, 'public_tables_show', {id: @table.name}, @table.owner.organization ? @table.owner : nil) %>" class="edit button grey">Edit in CartoDB</a>
          </div>
        </div>
      </div>
    </div>

    <div class="cartodb-body">
      <div class="inner">

        <div class="map-info embed-right-col">
          <div class="content">

            <h2>Maps using this data</h2>
            <ul>

              <% if @total_visualizations.count == 0 && @total_nonpublic_total_vis_count == 0 %>
                <li class="private">This dataset is not used in any map</li>
              <% end %>

              <% @total_visualizations.each do |vis| %>
                <% if vis.privacy == "public" %>
                  <li>
                    <a href="<%= CartoDB.url(self, 'public_visualizations_public_map', {id: vis.id}, @table.owner) %>" title="<%= vis.name.gsub(/_/," ") %>"><%= vis.name.gsub(/_/, " ") %></a>
                  </li>
                <% end %>
              <% end %>

              <% if @total_nonpublic_total_vis_count > 0 %>

                <li class="private">
                  <%= @total_nonpublic_total_vis_count %> private map<%= @total_nonpublic_total_vis_count != 1 ? 's' : '' %><span class="help" original-title="This dataset is used in <%= @total_nonpublic_total_vis_count %> map<%= @total_nonpublic_total_vis_count != 1 ? 's' : '' %> made private by the publisher">(?)</span>
                </li>
              <% end %>
            </ul>

          </div>
        </div>

        <div class="comments embed-left-col">
          <div class="content">
            <div id="disqus_thread"></div>
            <script type="text/javascript">

              var disqus_shortname  = '<%= @disqus_shortname %>';
              var disqus_identifier = '<%= @table.id %>';

              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();

            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript" class="no_script">comments powered by Disqus.</a></noscript>
          </div>
        </div>

      </div>
    </div>

    <%= render 'admin/visualizations/public/old_public_map_footer' %>
  </div>
