  <% content_for(:page_title) do %>
    <%= @visualization.name %> |
  <% end %>

  <% content_for(:css) do %>
    <%= stylesheet_link_tag 'embeds.css' %>
    <%= stylesheet_link_tag 'common.css', 'table.css', 'map.css', :media => 'all' %>
  <% end %>

  <script>
    var table_name = '<%= @table.name %>'
      , table_id = '<%= @table.id %>'
      , schema = <%=raw @table.schema.to_json %>
      , user_name = '<%=raw @table.owner.username %>'
      , map = <%=raw @table.map.to_json %>
      , config = <%=raw frontend_config_public.html_safe %>
      , vizjson = <%=raw @vizjson.to_json %>
  </script>
  <script>
    var debug = false;
    <% if Rails.env.development? %>
      debug = true;
    <% end %>
    cdb.config.set('debug', debug);
  </script>

  <% content_for(:js) do %>
      <script type="text/javascript"
          src="https://maps.google.com/maps/api/js?sensor=false&v=3.12">
      </script>
    <%= javascript_include_tag 'cdb.js', 'application.js', 'models.js', 'table_public.js', 'templates.js' %>
  <% end %>

  <div class="globalerror"></div>
  <div class="panes"></div>
