<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <title>Embed protected | CartoDB</title>
    <%= stylesheet_link_tag 'embeds/password_protected' %>
    <!--[if gte IE 9]>
    <style type="text/css">
      .gradient { filter: none; }
    </style>
    <![endif]-->
  </head>
  <body class="protected">
    <div class="bkg"></div>
    <div class="block modal creation">
      <div class="head">
        <h3>This map is protected by password</h3>
      </div>

      <div class="content">
        <%= form_tag(protected_public_map_url(:protocol => Rails.env.development? ? 'http' : 'https') + '?' + request.query_string, {:method=>'POST',:authenticity_token=>false}) do %>
          <input type="password" name="password" placeholder="Insert your password" <% if (flash[:placeholder]) %>value="<%= flash[:placeholder] %>"<% end %> />
          <span class="icon"></span>
          <% if (flash[:error]) %>
            <span class="icon error" original-title="The password is not ok"></span>
          <% end %>
        <% end %>
      </div>

      <div class="foot">Contact with the owner in case you want access to it.</div>

    </div>

    <% if !Rails.env.production? %>
      <%= javascript_include_tag :cdb %>

    <% else %>
      <% if request.protocol == 'https://' %>
        <script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/cartodb.js"></script>
      <% else %>
        <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
      <% end %>

    <% end %>

    <% if (flash[:error]) %>

      <%= javascript_include_tag :"jquery.tipsy" %>
      <script type="text/javascript">
        $(function() {
          $("span.icon.error").tipsy({ gravity: "s", fade: true });
        });
      </script>
    <% end %>

    <%= render partial: 'shared/analytics', locals: { 
      ua:     Cartodb.config[:google_analytics]['primary'],
      domain: Cartodb.config[:google_analytics]['domain']
    } %>
  </body>
</html>
