  <% content_for(:page_title) do %>
    <%= @visualization.name %> |
  <% end %>

  <% content_for(:css) do %>
    <%= editor_stylesheet_link_tag  'old_common_without_core.css', 'common.css', 'cdb.css', 'table.css', 'editor.css', 'map.css', :media => 'all' %>
  <% end %>

  <script type="text/javascript" id="dropboxjs" src="//www.dropbox.com/static/api/1/dropins.js" data-app-key="<%= Cartodb.config[:dropbox_api_key] %>"></script>
  <script>
    var vis_data = <%= safe_js_object @visualization.to_hash.to_json %>;
    var user_data = <%= safe_js_object current_user.data({ show_api_calls: false }).to_json %>;
    var config = <%= safe_js_object frontend_config %>;
    var map_data = <%= safe_js_object @visualization.map.public_values.to_json %>;
    var basemaps = <%=raw Cartodb.config[:basemaps].present? ? Cartodb.config[:basemaps].to_json.html_safe: 'null' %>;
    var authTokens = <%= safe_js_object @auth_tokens.to_json %>;
  </script>

  <% content_for(:js) do %>
    <% if @visualization.user.google_maps_query_string.present? %>
      <%= insert_google_maps(@visualization.user.google_maps_query_string) %>
    <% end %>
    <%= editor_javascript_include_tag 'cdb.js','models.js', 'templates.js', 'templates_mustache.js', 'table.js', 'editor.js' %>
  <% end %>

  <div class="panes"></div>
