  <% content_for(:page_title) do %>
    <%= @visualization.name %> |
  <% end %>

  <% content_for(:css) do %>
    <%= stylesheet_link_tag 'common.css', 'table.css', 'cdb.css', 'map.css', :media => 'all' %>
  <% end %>

  <script src="https://www.google.com/jsapi?key=<%= Cartodb.config[:gdrive]['api_key'] %>"></script>
  <script type="text/javascript" id="dropboxjs" src="//www.dropbox.com/static/api/1/dropins.js" data-app-key="<%= Cartodb.config[:dropbox_api_key] %>"></script>
  <script>
    if (typeof(google) !== 'undefined') {
      google.load('picker', '1');
    }
    var vis_data = <%=raw @visualization.to_hash.to_json %>
    , user_data = <%=raw current_user.data.to_json.html_safe %>
    , config = <%=raw frontend_config.html_safe %>
    , map_data = <%=raw @visualization.map.public_values.to_json %>
    , mixpanel_token = "<%= Cartodb.config[:mixpanel]['token'] if Cartodb.config[:mixpanel].present? %>"
  </script>

  <% content_for(:js) do %>
      <script type="text/javascript"
          src="https://maps.google.com/maps/api/js?sensor=false&v=3.12">
      </script>
    <%= javascript_include_tag 'cdb.js','models.js', 'templates.js', 'templates_mustache.js', 'application.js', 'table.js' %>
  <% end %>
  
  <div class="panes"></div>
