<% if (1 < pagesCount && pagesCount >= currentPage) { %>
  <span class="DefaultDescription Pagination-label">
    Page <%= currentPage %> of <%= pagesCount %>
  </span>
  <ul class="Pagination-list">
    <% m.pagesToDisplay().forEach(function(page) { %>
    <li class="Pagination-listItem <%= m.isCurrentPage(page) ? 'is-current' : '' %>">
      <a class="Pagination-listItemLink" href="<%= m.urlTo(page) %>"><%= page %></a>
    </li>
    <% }) %>
  </ul>
<% } %>
